<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.smstemplate.SmstemplateMapper">	
	<resultMap id="BaseResultMap" type="com.tzg.entitys.smstemplate.Smstemplate">
		<result property="id" jdbcType="INTEGER" column="id"/>
		<result property="itype" jdbcType="INTEGER" column="iType"/>
		<result property="vcPhones" jdbcType="VARCHAR" column="vcPhones"/>
		<result property="vcTemplate" jdbcType="VARCHAR" column="vcTemplate"/>
		<result property="istate" jdbcType="INTEGER" column="iState"/>
		<result property="dtModify" jdbcType="TIMESTAMP" column="dtModify"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        id ,iType ,vcPhones ,vcTemplate ,iState ,dtModify 
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.tzg.entitys.smstemplate.Smstemplate" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
	      SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	<![CDATA[
		INSERT INTO tbsmstemplate (
        	iType ,
        	vcPhones ,
        	vcTemplate ,
        	iState ,
        	dtModify 
		) VALUES (
        	#{itype,jdbcType=INTEGER} ,
        	#{vcPhones,jdbcType=VARCHAR} ,
        	#{vcTemplate,jdbcType=VARCHAR} ,
        	#{istate,jdbcType=INTEGER} ,
        	#{dtModify,jdbcType=TIMESTAMP} 
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.smstemplate.Smstemplate">
		UPDATE tbsmstemplate
		<set>
			<if test="itype != null">
	        iType = #{itype,jdbcType=INTEGER} ,
	        </if>
			<if test="vcPhones != null">
	        vcPhones = #{vcPhones,jdbcType=VARCHAR} ,
	        </if>
			<if test="vcTemplate != null">
	        vcTemplate = #{vcTemplate,jdbcType=VARCHAR} ,
	        </if>
			<if test="istate != null">
	        iState = #{istate,jdbcType=INTEGER} ,
	        </if>
			<if test="dtModify != null">
	        dtModify = #{dtModify,jdbcType=TIMESTAMP} 
	        </if>
	    </set>
		WHERE 
	        id = #{id,jdbcType=INTEGER} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM tbsmstemplate WHERE
        id = #{id} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM tbsmstemplate 
		WHERE 
        id = #{id} 
	]]>
	</select>
	
	<!-- 根据状态返回可用的记录 -->
	<select id="findByType" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM tbsmstemplate 
		WHERE 
        iType = #{itype,jdbcType=INTEGER} 
        and iState = 1
	]]>
	</select>	
	 
	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from tbsmstemplate where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from tbsmstemplate where 1=1
		<include refid="queryWhere"/> 
	    <![CDATA[ ORDER BY id DESC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
	
	<sql id="queryWhere">
		<if test="id != null and id.trim() != ''">
		and id = #{id}
		</if>
		<if test="itype != null and itype.trim() != ''">
		and iType = #{itype}
		</if>
		<if test="vcPhones != null and vcPhones.trim() != ''">
		and vcPhones = #{vcPhones}
		</if>
		<if test="vcTemplate != null and vcTemplate.trim() != ''">
		and vcTemplate = #{vcTemplate}
		</if>
		<if test="istate != null and istate.trim() != ''">
		and iState = #{istate}
		</if>
		<if test="dtModifyBegin != null and dtModifyBegin.trim() != ''">
		and dtModify >= #{dtModifyBegin}
		</if>
		<if test="dtModifyEnd != null and dtModifyEnd.trim() != ''">
		and dtModify &lt;= #{dtModifyEnd}
		</if>
	</sql>
</mapper>


