<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.helpdetail.HelpdetailMapper">	
	<resultMap id="BaseResultMap" type="com.tzg.entitys.helpdetail.Helpdetail">
		<result property="id" jdbcType="INTEGER" column="id"/>
		<result property="ihelpCategyId" jdbcType="INTEGER" column="iHelpCategyID"/>
		<result property="vcQuestion" jdbcType="VARCHAR" column="vcQuestion"/>
		<result property="vcAnswer" jdbcType="VARCHAR" column="vcAnswer"/>
		<result property="istate" jdbcType="INTEGER" column="iState"/>
		<result property="dtCreate" jdbcType="TIMESTAMP" column="dtCreate"/>
		<result property="iSort" jdbcType="INTEGER" column="iSort"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        id ,iHelpCategyID ,vcQuestion ,vcAnswer ,iState ,dtCreate ,iSort
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.tzg.entitys.helpdetail.Helpdetail" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
	      SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	<![CDATA[
		INSERT INTO tbhelpdetail (
        	iHelpCategyID ,
        	vcQuestion ,
        	vcAnswer ,
        	iState ,
        	dtCreate ,
        	iSort
		) VALUES (
        	#{ihelpCategyId,jdbcType=INTEGER} ,
        	#{vcQuestion,jdbcType=VARCHAR} ,
        	#{vcAnswer,jdbcType=VARCHAR} ,
        	#{istate,jdbcType=INTEGER} ,
        	#{dtCreate,jdbcType=TIMESTAMP} ,
        	#{iSort,jdbcType=INTEGER}
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.helpdetail.Helpdetail">
		UPDATE tbhelpdetail
		<set>
			<if test="ihelpCategyId != null">
	        iHelpCategyID = #{ihelpCategyId,jdbcType=INTEGER} ,
	        </if>
			<if test="vcQuestion != null">
	        vcQuestion = #{vcQuestion,jdbcType=VARCHAR} ,
	        </if>
			<if test="vcAnswer != null">
	        vcAnswer = #{vcAnswer,jdbcType=VARCHAR} ,
	        </if>
			<if test="istate != null">
	        iState = #{istate,jdbcType=INTEGER} ,
	        </if>
			<if test="dtCreate != null">
	        dtCreate = #{dtCreate,jdbcType=TIMESTAMP} ,
	        </if>
	        <if test="iSort != null">
	        iSort = #{iSort,jdbcType=INTEGER} ,
	        </if>
	    </set>
		WHERE 
	        id = #{id,jdbcType=INTEGER} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM tbhelpdetail WHERE
        id = #{id} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM tbhelpdetail 
		WHERE 
        id = #{id} 
	]]>
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from tbhelpdetail where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from tbhelpdetail where 1=1
		<include refid="queryWhere"/> 
	    <![CDATA[ ORDER BY iSort ASC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
	
	<sql id="queryWhere">
		<if test="id != null and id.trim() != ''">
		and id = #{id}
		</if>
		<if test="ihelpCategyId != null and ihelpCategyId.trim() != ''">
		and iHelpCategyID = #{ihelpCategyId}
		</if>
		<if test="vcQuestion != null and vcQuestion.trim() != ''">
		and vcQuestion like "%"#{vcQuestion}"%"
		</if>
		<if test="vcAnswer != null and vcAnswer.trim() != ''">
		and vcAnswer = #{vcAnswer}
		</if>
		<if test="istate != null and istate.trim() != ''">
		and iState = #{istate}
		</if>
		<if test="dtCreateBegin != null and dtCreateBegin.trim() != ''">
		and dtCreate >= #{dtCreateBegin}
		</if>
		<if test="dtCreateEnd != null and dtCreateEnd.trim() != ''">
		and dtCreate &lt;= #{dtCreateEnd}
		</if>
		<if test="iSort != null and iSort.trim() != ''">
		and iSort = #{iSort}
		</if>
	</sql>
</mapper>


