#set($pageName = "关于铜掌柜")
#set($topbar = { "title": $pageName })

<div class="l-mn2">
	<div class="f-mtb2 f-tlc"><img src="$!{staticPath}/images/logo2.png" width="130" alt="铜掌柜"></div>
	<div class="m-sct">
		<p>　　铜掌柜是全国首家构建消费信用生态圈的互联网金融服务平台，自2014年7月成立以来，已形成由跨境电商、供应链金融、消费分期等为载体的金融业务主体，通过全方位的风控尽调及风险数据分析模型，实现完整的风险控制闭环。未来，铜掌柜将持续致力于生活消费金融化，为投资者提供低风险、高收益的标准化投资理财产品。</p>
		<p>　　铜掌柜平台运营主体为河北融佰通金融服务有限公司，是浙江首批获得“互联网金融服务”资质的公司之一，目前已获上市公司“中来股份”战略入股。</p>
	</div>
</div>

<div class="l-mn2 f-mt4 f-mb5">
	<h3 class="u-sctTtl">联系我们</h3>

	<table class="m-cttLst">
		<tr>
			<th><i class="u-icoCtcTel"></i></th>
			<td>客服电话: <a href="tel:4006082233">400-0311-798</a></th>
		</tr>
		<tr>
			<th><i class="u-icoCtcEml"></i></th>
			<td>客服邮箱: <a href="mailto:kefu@tzg.cn">kefu@tzg.cn</a></th>
		</tr>
		<tr>
			<th><i class="u-icoCtcTelWX"></i></th>
			<td>微信公众号: tzgcn8</td>
		</tr>
		<tr>
			<th><i class="u-icoCtcURL"></i></th>
			<td>公司网址: <a href="$!{basePath}/">www.tzg.cn</a></th>
		</tr>
		<tr>
			<th><i class="u-icoCtcAddr"></i></th>
			<td>浙江省杭州市余杭区良睦路1288号梦想小镇8号楼</td>
		</tr>
	</table>
</div>


