html{height:100%;font-size:10px;background-color:#fff;}
@media screen and (max-width:640px){html{font-size:8.533333333px}}
@media screen and (max-width:560px){html{font-size:7.466666667px}}
@media screen and (max-width:480px){html{font-size:6.4px}}
@media screen and (max-width:400px){html{font-size:5.333333333px}}
@media screen and (max-width:320px){html{font-size:4.266666667px}}
body {
    margin:0 auto;
    max-width:750px;
    min-width:320px;
    min-height:100%;
    font-size: 1rem;
    background-color: #871973;
    -webkit-text-size-adjust: none;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topic-container {
    position: relative;
}

.floor {
    position: absolute;
    z-index: 20;
}

/* 图片
 ------------------------------------------- */
.topic-images img {
    width: 100%;
    vertical-align: top;
}


/*砸金蛋*/
.btn_pride{
    position: absolute;
    right: 5.6%;
    top:59.7%;
    width: 36%;
}
.btn_pride img{
    width: 100%;
}

.table-ct{
    position: absolute;
    left: 50%;
    width: 90%;
    margin-left: -45%;
    top:61.5%;
    height: 13.5%;
}
.rank-table{
    width: 100%;
    background: #b077f2;
    font-size: 2.8rem;
    font-weight: normal;
    font-family: "Microsoft YaHei",SimSun;
    color:#000000;
    text-align: center;
    border-radius: 25px 25px 0 0;
    overflow: hidden;
    border-collapse: collapse;

}
.rank-table td,.rank-table th{
    border:1px solid #bd88f6;
    width: 50%;
    font-weight: normal;
}
.rank-table tbody td{
    height: 1.6%;
}
.rank-table .even{
    background: #d5a9ff;
}
.rank-list{
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    list-style: none;
    border: 1px solid #bd88f6;
    border-radius:0 0 25px 25px;
    color: #000;
    height: 88.888%;
}
.rank-list li{
    float: left;
    width: 100%;
    height: 12.4%;
}
.rank-list .odd{
    background: #d5a9ff;
}
.rank-list .even{
    background: #c299f2;
}
.rank-list .col{
    float: left;
    font-size: 2.8rem;
    text-align: center;
    height: 100%;
    overflow: hidden;
    line-height: 180%;
    vertical-align: middle;
    box-sizing: border-box;
    width: 50%;
}
@media screen and (min-width:500px){
    .rank-list .col{

        line-height: 4rem;
    }
}
.rank-list .col1{
    border-right:1px solid #bd88f6 ;
}
.rank-list .col2{

}
.egg-ct{
    position: absolute;
    top:48.7%;
    left: 0;
    z-index: 1;
    width: 100%;
}

.egg-list{
    width: 92%;
    /*overflow: hidden;*/
    padding: 0 4%;
}
.egg-list li{
    position: relative;
    float: left;
    margin: 0 0 0 1.2%;

    background: url("images/egg.png");
    background-size: cover;
    cursor: pointer;
    width: 15.2%;
}
.egg-list li img{
    width: 100%;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}  /* for IE/Mac */
.egg-list .hammer{
    display: none;
    position: absolute;
    width: 80px;
    height: 56px;
    background: url("images/hammer.png");
    top: -30px;
    left: 28px;
    background-size: cover;
    z-index: 5;
}
.egg-list .flower{
    display: none;
    position: absolute;
    width: 80px;
    height: 33px;
    background: url("images/flower.png");
    top: 40px;
    left: 0;
    background-size: cover;
}

.egg-list .open1{
    background: url("images/egg_open1.png");
    /*top:-40px;*/
    background-size: cover;
    cursor: default;
}
.egg-list .open2{
    background: url("images/egg_open2.png");
    /*top:-40px;*/
    background-size: cover;
    cursor: default;
}
.egg-list .open3{
    background: url("images/egg_open3.png");
    /*top:-40px;*/
    background-size: cover;
    cursor: default;
}
.egg-list .open4{
    background: url("images/egg_open4.png");
    /*top:-40px;*/
    background-size: cover;
    cursor: default;
}
.egg-list .open5{
    background: url("images/egg_open5.png");
    /*top:-40px;*/
    background-size: cover;
    cursor: default;
}
.egg-list .open0{
    background: url("images/egg_open6.png");
    /*top:-40px;*/
    background-size: cover;
    cursor: default;
}
.egg-list .open-flower .flower{
    display: block;
    /*top:-40px;*/
    /*cursor: default;*/
}


/*中奖消息提示框*/
.pride-msg-dialog .xm-dialog_win{
    padding: 40px 8% 3.33%;
    background-image: none;
    background-color: #b077f2;
    border:10px #8e55e0 solid;
    border-radius: 20px;
}
.pride-msg-dialog .xm-dialog_close{
    display: none;
}
.pride-msg-dialog .xm-dialog_content{
    color: #000000;
}
.pride-msg-dialog .xm-dialog_btn{
    background-color: #781cab;
    display: block;
    margin: 0 auto;
    padding: 5% 0;
    width: 140px;
    height: 20px;
    line-height: 20px;
    border: none;
    font-size:3rem;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

/*中奖记录提示框*/
.pride-history-dialog .xm-dialog_win{
    background-color: #8e55e0;
    padding: 40px 8px 8px 8px;
    background-image: none;
    background-color: #8e55e0;
    border:none;
    border-radius: 10px;
}
.pride-history-dialog .xm-dialog_content{
    margin-bottom: 0;
}
.pride-history-dialog .xm-dialog_close{
    background-color: #781cab;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 28px;
    border-radius: 10px;
}
.pride-history-dialog .xm-dialog_content{
    color: #000000;

}
.pride-history-dialog .xm-dialog_btn{
    background-color: #781cab;
    display: block;
    margin: 0 auto;
    padding: 5% 0;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: none;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}
.history-ct{
    overflow: hidden;
    border-radius: 10px;
    margin-top: 0px;
    width: 100%;
}
.pride-history-dialog .col1{
    width: 50%;
    border-right: 1px solid #d4a8fe;
}
.pride-history-dialog .even .col1{
    border-right: 1px solid #c299f2;
}
.pride-history-dialog .col2{
    width: 225px;
}
.pride-history-dialog .col{
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 3rem;
    font-weight: bold;
    color: #000;
    box-sizing: border-box;
    width: 50%;
}
.pride-history-dialog .history-header .col{
    background-color: #b077f2;
}
.pride-history-dialog .history-header{
    overflow: hidden;

}
.history-body{
    overflow: hidden;
    max-height: 120px;
}
.pride-history-dialog .history-body li{
    float: left;
    width: 100%;
}
.pride-history-dialog .history-body .odd{
    background-color: #c299f2;
    overflow: hidden;

}
.pride-history-dialog .history-body .even{
    background-color: #d5a9ff;
    overflow: hidden;
}






/* 模拟弹框
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.xm-dialog {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 200%;
    background-color: rgba(0,0,0,.46);
}
.xm-dialog_inner {
    position: relative;
    top: 15%;
    margin: auto;
    max-width: 750px;
    min-width: 320px;
}
.xm-dialog_win {
    box-sizing: border-box;
    margin: auto;
    padding: 11em 8% 3.33%;
    width: 72.67%;
    border: .8em solid #fff;
    border-radius: 1.5em;
    font-size: 2.4rem;
    background: #fed600 url(images/cat.png) no-repeat center 0;
    -webkit-background-size: auto 10em;
    background-size: auto 10em;
}
.xm-dialog_content {
    margin-bottom: 5%;
    font-size: 3rem;
    color: #8b00e4;
    text-align: center;
}
.xm-dialog_btn {
    display: block;
    padding: 5% 0;
    width: 100%;
    border: none;
    font-size: 2.4rem;
    border-radius: .2em;
    text-align: center;
    color: #fff;
    background: #ef2df1;
    /*background: -moz-linear-gradient(top, #ef2df1 0%, #e30054 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef2df1), color-stop(100%,#e30054));*/
    /*background: -webkit-linear-gradient(top, #ef2df1 0%,#e30054 100%);*/
    /*background: -ms-linear-gradient(top, #ef2df1 0%,#e30054 100%);*/
    /*background: linear-gradient(to bottom, #ef2df1 0%,#e30054 100%);*/
    /*box-shadow: 0 .15em .2em rgba(249, 88, 0, .75);*/
}
.xm-dialog_close {
    position: absolute;
    top: 2%;
    right: 15%;
    width: 1em;
    height: 1em;
    font-size: 4rem;
    color: #8b00e4;
    line-height: 1;
    text-align: center;
}


.btn {
    box-sizing: border-box;
    display:inline-block;
    padding:0 3%;
    overflow:visible;
    border:0;
    font-size:4.2rem;
    line-height:2;
    font-family: "micrsoft yahei";
    border-radius:1rem;
    background-color:#b9b9b9
}
.btn.-primary {
    color:#fff;
    background-color:#f87382
}
.btn.-c3 {
    color:#fff;
    background-color:#4dd2bb
}
.btn.-gray,.btn.-loading,.btn[disabled],.btn:disabled {
    background:#c3c3c3
}
.btn.-full {
    padding:0;
    width:100%;
    text-align:center
}
.btn.-small {
    font-size: 3.2rem;
    border-radius:.5rem;
}
.btn.-hollow {
    border: 1px solid #f87382;
    color: #f87382;
    background-color: #fff;
}
.btn.-loading {
    font-size:0
}
.btn.-loading:after {
    content:"\e60c";
    display:inline-block;
    font-family:tzg-icon;
    font-size:4.2rem;
    -webkit-animation:icon-spin 1.5s infinite linear;
    -moz-animation:icon-spin 1.5s infinite linear;
    animation:icon-spin 1.5s infinite linear
}
.btn.-small.-loading:after {
    font-size:3.2rem;
}


.ipt {
    display: inline-block;
    padding: .5em;
    border: 1px solid #e6e6e6;
    font-size: 3rem;
    font-family: "micrsoft yahei";
    line-height: 1.5;
}
.ipt:focus {
    border-color: #70abf1;
}
.ipt.-full {
    box-sizing: border-box;
    width: 100%;
}

.captcha {
    position: relative;
}
.captcha_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    color: #fff !important;
    font-size: 2rem;
    line-height: 3.8;
    text-align: center;
    background-color: #4e96ef;
}
.captcha_btn.z-gray {
    background-color: #c0c0c0;
}
.captcha_ipt {
    width: 60%;
}

/*~~~~~~~~~~~~~~~~~
	协议弹框
 ~~~~~~~~~~~~~~~~~*/
.protocol-popup {
    position:fixed;
    top:0;
    left:150%;
    z-index:105;
    width:100%;
    height:100%;
    font-size: 3rem;
    background-color:#fff;
    -webkit-transition:left .2s ease-out;
    -moz-transition:left .2s ease-out;
    transition:left .2s ease-out;
    -webkit-overflow-scrolling: touch;
}
.protocol-popup.-opened {
    left:0;
    -webkit-transition:left .2s ease-out;
    -moz-transition:left .2s ease-out;
    transition:left .2s ease-out
}
.protocol-popup_hd,.protocol-popup_ft {
    position:absolute;
    left:0;
    z-index:3;
    width:100%;
    height:2.5em;
    text-align:center;
    background-color:#fff
}
.protocol-popup_hd {
    top:0;
    line-height:2.5;
    -webkit-box-shadow:0 3px 3px rgba(102,153,255,.3);
    -moz-box-shadow:0 3px 3px rgba(102,153,255,.3);
    box-shadow:0 3px 3px rgba(102,153,255,.3)
}
.protocol-popup_ft {
    bottom:0;
    text-align:center;
    -webkit-box-shadow:0 -3px 3px rgba(102,153,255,.3);
    -moz-box-shadow:0 -3px 3px rgba(102,153,255,.3);
    box-shadow:0 -3px 3px rgba(102,153,255,.3)
}
.protocol-popup_ft .button {
    border:0;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-size: 3rem;
    background:transparent
}
.protocol-popup_bd {
    position:absolute;
    top:2.5em;
    right:0;
    bottom:2.5em;
    left:0;
    padding:0 3%;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
}

/*~~~~~~~~~~~~~~~~~
	登录/注册表单
 ~~~~~~~~~~~~~~~~~*/
.public-form {
    font-size: 3rem;
}
.public-form li {
    margin: 3% 0;
}
.public-form .form-item {
    padding-left: 3em;
}
.public-form .form-label {
    float: left;
    margin-top: .5em;
    margin-left: -3em;
}
.public-form.-label-4c .form-item {
    padding-left: 6em;
}
.public-form.-label-4c .form-label {
    margin-left: -6em;
}
.public-form .form-content .captcha .ipt {
    margin-top: 0;
}
.public-form .ipt.z-err {
    border-color: #c00;
}
.public-form label.z-err {
    color: #c00;
}
.public-form a {
    color: #4e96ef;
}

/*~~~~~~~~~~~~~~~~~
	登录注册弹框
 ~~~~~~~~~~~~~~~~~*/
.ui-dialog {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(79, 150, 240, 0.3);
}
.lt-ie9 .ui-dialog {
    border: 1px solid #c4dcfa;
}
.ui-dialog-grid {
    border-collapse: collapse;
}
.ui-dialog-header {
    padding: 3% 0;
    color: #fff;
    background-color: #f87382;
}
.ui-dialog-close {
    display: block;
    position: absolute;
    top: 1.5%;
    right: 2%;
    font-size: 5rem;
    line-height: 1;
    color: #fff;
}
.ui-dialog-close:hover {
    color: rgba(255, 255, 255, 0.7);
}
.ui-dialog-close:active {
    color: rgba(255, 255, 255, 0.4);
}
.lt-ie7 .ui-dialog-close .ui-dialog-close {
    position: absolute;
    height: 26px;
    background: #FFF;
}
.ui-dialog-title {
    text-align: center;
    font-size: 3rem;
}
.ui-dialog-content {
    box-sizing: border-box;
    padding: 5%;
    overflow: auto;
    font-size: 3rem;
}

.m-pppMsg {
    position: fixed;
    left: 0;
    top: 70%;
    z-index: 200;
    width: 100%;
    font-size: 2.4rem;
}
.m-pppMsg-inn {
    position: absolute;
    top: 10px;
    padding: 5px 8px;
    max-width: 360px;
    border-radius: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.z-show .m-pppMsg-inn {
    opacity: 1;
    top: 0;
    -webkit-transition: opacity, top .2s ease-out;
    -moz-transition: opacity, top .2s ease-out;
    transition: opacity, top .2s ease-out;
}
