#set($layout = '/layout/blank.vm')
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>多财介绍</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<style>
html {
	height: 100%;
}
body {
	margin: 0 auto;
	max-width: 750px;
	min-width: 320px;
	max-height: 100%;
	background-color: #fff;
}
.page-hd {
	box-sizing: border-box;
	padding: 30px 20px;
	height: 178px;
	font-size: 14px;
	line-height: 24px;
	color: #222;
	background: #fffaea url(/app/images/jiaxiquan-intro.png) no-repeat left bottom;
	-webkit-background-size: 100% auto;
			background-size: 100% auto;
}

.dataset {
	border-collapse: collapse;
	width: 100%;
	border-top: 10px solid #f5f5f5;
}
.dataset thead th {
	padding: 10px 0;
	border-bottom: 1px solid #e6e6e6;
	font-size: 14px;
	font-weight: normal;
	line-height: 25px;
}
.dataset tbody td {
	padding: 17px 0;
	border-bottom: 1px solid #e6e6e6;
	font-size: 12px;
	line-height: 21px;
	color: #5f5f5f;
}
.dataset tbody td:first-child {
	border-bottom-color: #fff;
}

.dataset th,
.dataset td {
	text-align: left;
	vertical-align: top;
}
.dataset td:nth-child(2) {
	padding-left: 10px;
}
.dataset th:last-child,
.dataset td:last-child {
	padding-right: 5%;
	text-align: right;
}
</style>
</head>
<body>
	<div class="page-hd">
		多财取自成语“多财善贾”，意指本钱多，生意就做得开。同样对于投资理财来说，您的投资金额越大，收益就越高。
	</div>

	<table class="dataset">
		<thead>
			<tr>
				<th width="5%">&nbsp;</th>
				<th width="15%">序号</th>
				<th>投资金额</th>
				<th width="30%">收益率</th>
			</tr>
		</thead>
		<tbody>
			#set($baseRate = $subject.numInterestRate + $subject.numRewardRate)
			#set($index = 0)
			#foreach ($item in $investmentIncomeList)
				#set($index = $index + 1)
				#if ($index >= 10)
				#set($indexStr = "$!{index}")
				#else
					#set($indexStr = "0$!{index}")
				#end
				<tr>
					<td>&nbsp;</td>
					<td>$!{indexStr}</td>
					#if ($item.numMaxInvestAmt > 1000000000)
						<td>$!{item.numMinInvestAmt} ≤ 投资金额 ＜  ∞</td>
					#else
						<td>$!{item.numMinInvestAmt} ≤ 投资金额  ＜ $!{item.numMaxInvestAmt}</td>
					#end
					
					<td>$!{baseRate}%+$!{item.numExtraInterestRate}%</td>
				</tr>
			#end
		</tbody>
	</table>
</body>
</html>
