#set($pageTitle = "投资记录_我的账户_投资人")
#set($bodyClass = "body--gray")
#set($topbar = {
	"title": '投资记录',
	"backLink": "$!{basePath}/user/home" ,
	"sub":  [{ "title": "全部", "link": "#", "dataParam": "{'istate':''}", "current": "yes" },
			{ "title": "投资中", "link": "#", "dataParam": "{'istate':2}" },
			{ "title": "回款中", "link": "#", "dataParam": "{'istate':4}" },
			{ "title": "回款结束", "link": "#", "dataParam": "{'istate':5}" }]
})

#set($pageFootCode = '<script>seajs.use("page/invest-record")</script>')

<div class="m-topHnt">投资合同请登录电脑端查看</div>
<div class="experience-plan-box">
    <a href="${basePath}/user/investRecord/experience/page"  style="" target="_self">查看体验标投资记录</a>
</div>
<script type="text/template" id="j_list_template">
[@each rows as item]
	<div class="m-lst-itm[@if item.istate == 4||item.istate == 5] z-gray[@/if]">
		<div class="m-lst-itm-topInfo">
			<div class="m-LIT-sd u-clGrayLgt">成交时间 $[item.dtInvestStr]</div>
			<div class="m-LIT-mn">
			[@if item.istate == 5]回款结束
			[@else if item.istate == 4]回款中
			[@else]投标中[@/if]
			</div>
		</div>

		<div class="m-lst-itm-boxHd">$[item.projectName] $[item.vcName]</div>
		<div class="m-lst-itm-boxBd">
			<ul class="m-dataGrp z-3col l-mn">
				<li>
					<span class="m-dataGrp-lbl">融资规模</span>
					<span class="m-dataGrp-val">$[item.numTotalFinancing]</span>
				</li>
				<li>
					<span class="m-dataGrp-lbl">年化利率</span>
					<span class="m-dataGrp-val">$[item.totalInterestRate]%[@if item.otherRate && item.otherRate != '0.00']<span class="c-second u-fsSml u-clScd">+$[item.otherRate]%</span>[@/if]</span>
				</li>
				<li>
					<span class="m-dataGrp-lbl">期限</span>
					<span class="m-dataGrp-val">$[item.numPeriod]天</span>
				</li>
				<li>
					<span class="m-dataGrp-lbl">投资金额</span>
					<span class="m-dataGrp-val">$[item.numInvest]元</span>
				</li>
				<li>
					<span class="m-dataGrp-lbl">预估收益</span>
					<span class="m-dataGrp-val">$[item.numProfit]元</span>
				</li>
				<li>
					<span class="m-dataGrp-lbl">下一还款日期</span>
					<span class="m-dataGrp-val">$[item.dtNextRepayStr]</span>
				</li>
			</ul>

			<div class="m-LIBB-btn">
				<a href="$[basePath]/user/investRepayRecord/page?subjectId=$[item.isubjectId]&investRecordId=$[item.id]&type=$[item.type]" class="u-btn z-sml[@if item.istate != 4 && item.istate != 5] z-prm[@/if]">回款详情</a>
			</div>
		</div>
	</div>
[@/each]
</script>



<div class="m-lst z-lne l-mn" id="j_list_container"></div>
<div class="m-loadMr" id="j_load_more" style="display:none">
	<a href="#" class="u-loadMr">点击查看更多</a>
	<i class="u-fntIco--ldg"></i>
</div>
