#set($pageTitle = "回款详情_我的账户_投资人")
#set($bodyClass = "body--gray")
#set($topbar = { "title": '回款详情' })

#set($pageFootCode = '<script>seajs.use("page/invest-repay-record")</script>')

<div class="l-mn">
	<ul class="m-kvLst">
		<li>
			<span class="m-kvLst-lbl">标的名称</span>
			<span class="m-kvLst-val">$!{projectName}$!{subjectName}</span>
		</li>
		<li>
			<span class="m-kvLst-lbl">标的还款方式</span>
			<span class="m-kvLst-val">
				#if($iRepayMode ==1) 到期还本付息 
				#elseif($iRepayMode ==2) 每日付息到期还本
				#elseif($iRepayMode ==3) 每月付息到期还本
				#elseif($iRepayMode ==4) 等额本息
				#elseif($iRepayMode ==5) 按季付息到期还本
				#end
			</span>
		</li>
	</ul>

	<div class="m-lst" id="j_list_container"></div>
	<div class="m-loadMr" id="j_load_more" style="display:none">
		<a href="#" class="u-loadMr">点击查看更多</a>
		<i class="u-fntIco--ldg"></i>
	</div>
</div>

<script type="text/template" id="j_list_template">
[@each rows as item]
<div class="m-lst-itm">
	<div class="m-lst-itm-boxHd">
		[@if item.istate==1]未回款
		[@else if item.istate==2]已回款
		[@/if]
	</div>
	<div class="m-lst-itm-boxBd">
		<ul class="m-dataGrp l-mn">
			<li>
				<span class="m-dataGrp-lbl">期次</span>
				<span class="m-dataGrp-val">
				[@if item.numCurrentPeriod==0]募集期利息
				[@else]$[item.numCurrentPeriod]
				[@/if]
				</span>
			</li>
			<li>
				<span class="m-dataGrp-lbl">还款日</span>
				<span class="m-dataGrp-val">$[item.dtRepayStr]</span>
			</li>
			<li>
				<span class="m-dataGrp-lbl">应收本息（元）</span>
				<span class="m-dataGrp-val">$[item.numRepayAmount|toCurrency]</span>
			</li>
			<li>
				<span class="m-dataGrp-lbl">应收本金（元）</span>
				<span class="m-dataGrp-val">$[item.numRepayCorpus|toCurrency]</span>
			</li>
			<li>
				<span class="m-dataGrp-lbl">应收利息（元）</span>
				<span class="m-dataGrp-val">$[item.numRepayInterest|toCurrency]</span>
			</li>
			<li>
				<span class="m-dataGrp-lbl">剩余本金（元）</span>
				<span class="m-dataGrp-val">$[item.numUnrepayCorpus|toCurrency]</span>
			</li>
		</ul>
	</div>
</div>
[@/each]
</script>

