#set($pageTitle = "推荐好友_我的账户_投资人")
#set($topbar = {
	"title": '推荐好友',
	"backLink": "$!{basePath}/user/home"
})

<div class="m-rcmBs l-mn2">
	<img src="$!{staticPath}/images/recom.png" alt="推荐好友" class="m-rcmBs-img">
	<ul class="m-rcmBs-lst">
		<li>获得红包：<span class="u-clScd">$!numbers.toCurrency($!{recommendRedNum})</span>元</li>
		<li>累计推荐：$!{recommendFriendsNum} 人</li>
	</ul>
</div>

<div class="u-dsdLn"></div>

<div class="f-tlc f-mtb4">
	方式一：
	<div class="m-blcLnk z-sml f-mtb">$!{recommendPath}</div>
	<span class="u-loadMr--up">长按以上链接复制发送给好友</span>
</div>

<div class="f-tlc f-mtb4">
	方式二：
	<div class="m-blcLnk z-sml f-mtb">注册邀请码：$!{vcRecommendCode}</div>
	<span class="u-loadMr--up">好友在注册时填写注册邀请码</span>
</div>

<div class="m-tips l-mn2 f-mtb2">
	<div class="m-tips-ttl">温馨提示：</div>
	<div class="m-tips-cnt">
		<ul class="m-txtLst z-ul">
			<li>请不要发送推荐信给不熟悉的人，避免给别人带来不必要的困扰。</li>
			<li>请把上面的推荐链接发给您的好友，邀请他注册，好友通过此链接成功注册您就成了他的推荐者。</li>
			<li>将注册邀请码告知您的好友，在对方注册时填入该码，您也将成为他的推荐者。</li>
			<li>推荐用户成功投资您即可获得红包，红包可在投资时抵用。</li>
		</ul>
	</div>
</div>
