#set($layout = "/layout/v3/default.vm")
#set($bodyClass = 'bg-gray')
#set($topbar = {"title": "奖励记录", "backLink": "$!{basePath}/user/home"})
#set($noPrimaryNav = true)

<ul class="reward-list">
	<li class="-redpacket">
		<a href="$!{basePath}/user/redRecord/page">
			<span class="reward-list_label">红包记录</span>
			<span class="reward-list_content">可用红包$numbers.toCurrency($availableRed)元</span>
		</a>
	</li>
	<li class="-ticket">
		<a href="$!{basePath}/user/interestTicket/page">
			<span class="reward-list_label">加息券</span>
		#if ($ticketCount)
			<span class="reward-list_content">可用加息券$!{ticketCount}张</span>
		#else
			<span class="reward-list_content">可用加息券0张</span>
		#end
		</a>
	</li>
</ul>
