#set($layout = "/layout/v3/default.vm")
#set($topbar = {"title": "加息券", "backLink": "$!{basePath}/user/home"})
#set($pageScript = 'ticket-detail')
#set($noPrimaryNav = true)

<div class="ticket-base">
	<ul class="ticket-info">
		<li>
			<div class="amount">$!{effectiveNum}<sub>张</sub></div>
			<div class="ticket-info_label">可用加息券 <a href="#" class="ticket-tips" id="rule_btn">使用规则</a></div>
		</li>
		<li>
			<div class="amount">$!{urgentCount}<sub>张</sub></div>
			<div class="ticket-info_label">7天内将过期加息券</div>
		</li>
	</ul>
</div>## .ticket-base

<ul class="tab -cc3" id="tab">
	<li class="-active"><a href="pageDate?iStatus=1">未使用</a></li>
	<li><a href="pageDate?iStatus=3">已使用</a></li>
	<li><a href="pageDate?iStatus=2">已失效</a></li>
</ul>


## 未使用
<div j-tab-content>
	<div class="ticket-list" j-list-container></div>
	<a href="#" class="load-more" j-loadmore>点击加载更多</a>

	<script type="text/tpl" j-tpl>
	[@each formatRows as yearItems, year]
		<div class="ticket-list_year">$[year]</div>
		[@each yearItems as item, index]
			<div class="ticket-list_item">
				<div class="ticket-list_item_date">$[item.dtReceiveStr.substr(5, 5).replace('-', '/')]</div>
				<ul class="ticket-list_item_props">
					<li>
						<div class="ticket-list_item_props_label">获得方式</div>
						<div class="ticket-list_item_props_content">
							[@if item.iactionType == 1]投资[@else if item.iactionType == 2]兑换[@else]-[@/if]
						</div>
					</li>
					<li>
						<div class="ticket-list_item_props_label">加息面值</div>
						<div class="ticket-list_item_props_content c-second">+$[item.numInterestRate]%</div>
					</li>
					<li>
						<div class="ticket-list_item_props_label">最高加息本金</div>
						<div class="ticket-list_item_props_content">$[item.numMaxInterestAmt|toCurrency]元</div>
					</li>
					<li>
						<div class="ticket-list_item_props_label">最长加息时间</div>
						<div class="ticket-list_item_props_content">$[item.imaxInterestDay]天</div>
					</li>
					<li>
						<div class="ticket-list_item_props_label">有效期至</div>
						<div class="ticket-list_item_props_content">$[item.dtExpiredStr.substr(0, 10)]</div>
					</li>
				</ul>
			</div>
		[@/each]
	[@/each]
	</script>
</div>

## 已使用
<div j-tab-content style="display:none">
	<div class="ticket-list" j-list-container></div>
	<a href="#" class="load-more" j-loadmore>点击加载更多</a>

	<script type="text/tpl" j-tpl>
	[@each formatRows as yearItems, year]
		<div class="ticket-list_year">$[year]</div>
		[@each yearItems as item, index]
			<div class="ticket-list_item">
				<div class="ticket-list_item_date">$[item.dtReceiveStr.substr(5, 5).replace('-', '/')]</div>
				<ul class="ticket-list_item_props">
					<li>
						<div class="ticket-list_item_props_label">使用方式</div>
						<div class="ticket-list_item_props_content">
							[@if item.iactionType == 1]投资[@else if item.iactionType == 2]兑换[@else]-[@/if]
						</div>
					</li>
					<li>
						<div class="ticket-list_item_props_label">加息面值</div>
						<div class="ticket-list_item_props_content c-green">+$[item.numInterestRate]%</div>
					</li>
					<li>
						<div class="ticket-list_item_props_label">最高加息本金</div>
						<div class="ticket-list_item_props_content">$[item.numMaxInterestAmt|toCurrency]元</div>
					</li>
					<li>
						<div class="ticket-list_item_props_label">最长加息时间</div>
						<div class="ticket-list_item_props_content">$[item.imaxInterestDay]天</div>
					</li>
					<li>
						<div class="ticket-list_item_props_label">有效期至</div>
						<div class="ticket-list_item_props_content">$[item.dtExpiredStr.substr(0, 10)]</div>
					</li>
				</ul>
			</div>
		[@/each]
	[@/each]
	</script>
</div>

## 已失效
<div j-tab-content style="display:none">
	<div class="ticket-list" j-list-container></div>
	<a href="#" class="load-more" j-loadmore>点击加载更多</a>

	<script type="text/tpl" j-tpl>
	[@each formatRows as yearItems, year]
		<div class="ticket-list_year">$[year]</div>
		[@each yearItems as item, index]
			<div class="ticket-list_item">
				<div class="ticket-list_item_date">$[item.dtReceiveStr.substr(5, 5).replace('-', '/')]</div>
				<ul class="ticket-list_item_props">
					<li>
						<div class="ticket-list_item_props_label">使用方式</div>
						<div class="ticket-list_item_props_content">已过期</div>
					</li>
					<li>
						<div class="ticket-list_item_props_label">加息面值</div>
						<div class="ticket-list_item_props_content c-green">+$[item.numInterestRate]%</div>
					</li>
					<li>
						<div class="ticket-list_item_props_label">最高加息本金</div>
						<div class="ticket-list_item_props_content">$[item.numMaxInterestAmt|toCurrency]元</div>
					</li>
					<li>
						<div class="ticket-list_item_props_label">最长加息时间</div>
						<div class="ticket-list_item_props_content">$[item.imaxInterestDay]天</div>
					</li>
					<li>
						<div class="ticket-list_item_props_label">有效期至</div>
						<div class="ticket-list_item_props_content">$[item.dtExpiredStr.substr(0, 10)]</div>
					</li>
				</ul>
			</div>
		[@/each]
	[@/each]
	</script>
</div>


## 兑换加息券
##=========================================================================

<a href="#" class="v3-topbar-side" id="exchange_btn">兑换</a>

<div class="simple-dialog" id="dialog" style="display:none">
	<form method="post" action="useTicketCode" class="simple-dialog_window" id="exchange_form">
		<div class="simple-dialog_window_hd">红包兑换</div>
		<div class="simple-dialog_window_bd">
			<div class="exchange-block">
				<input type="text" name="code" class="ipt" placeholder="输入加息券兑换" maxlength="20" required>
			</div>
		</div>
		<div class="simple-dialog_window_ft">
			<a href="#" class="simple-dialog_window_btn c-gray-light" j-cancel>取消</a>
			<button type="submit" name="submity" class="simple-dialog_window_btn c-primary" j-ok>兑换</button>
		</div>
	</form>
</div>

## 使用规则
##=========================================================================

<div class="dialog" id="rule_dialog">
	<div class="dialog_window" j-window>
		<div class="dialog_window_hd">
			<h4 class="dialog_window_hd_title">加息券使用规则</h4>
			<a href="#" class="dialog_window_hd_close" j-close></a>
		</div>
		<div class="dialog_window_bd">
			加息券可用标的$!{help}；每种面值的加息券可用标的的周期及投资本金限制各不相同，使用时请参照列表。
		</div>
		<div class="dialog_window_ft">
			<button type="button" class="dialog_window_btn btn -primary" j-ok>知道了</button>
		</div>
	</div>
</div>
