<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.focus.FocusMapper">	
	<resultMap id="BaseResultMap" type="com.tzg.entitys.focus.Focus">
		<result property="id" jdbcType="INTEGER" column="id"/>
		<result property="vcName" jdbcType="VARCHAR" column="vcName"/>
		<result property="vcUrl" jdbcType="VARCHAR" column="vcUrl"/>
		<result property="vcChannel" jdbcType="VARCHAR" column="vcChannel"/>
		<result property="isort" jdbcType="INTEGER" column="iSort"/>
		<result property="istate" jdbcType="INTEGER" column="iState"/>
		<result property="dtCreate" jdbcType="TIMESTAMP" column="dtCreate"/>
		<result property="vcJumpUrl" jdbcType="VARCHAR" column="vcJumpUrl"/>
		<result property="itype" jdbcType="INTEGER" column="iType"/>
		<result property="iblankWindow" jdbcType="INTEGER" column="iBlankWindow"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        id ,vcName ,vcUrl ,vcChannel ,iSort ,iState ,dtCreate ,vcJumpUrl ,iType ,iBlankWindow 
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.tzg.entitys.focus.Focus" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
	      SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	<![CDATA[
		INSERT INTO tbfocus (
        	vcName ,
        	vcUrl ,
        	vcChannel ,
        	iSort ,
        	iState ,
        	dtCreate ,
        	vcJumpUrl ,
        	iType ,
        	iBlankWindow 
		) VALUES (
        	#{vcName,jdbcType=VARCHAR} ,
        	#{vcUrl,jdbcType=VARCHAR} ,
        	#{vcChannel,jdbcType=VARCHAR} ,
        	#{isort,jdbcType=INTEGER} ,
        	#{istate,jdbcType=INTEGER} ,
        	#{dtCreate,jdbcType=TIMESTAMP} ,
        	#{vcJumpUrl,jdbcType=VARCHAR} ,
        	#{itype,jdbcType=INTEGER} ,
        	#{iblankWindow,jdbcType=INTEGER} 
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.focus.Focus">
		UPDATE tbfocus
		<set>
			<if test="vcName != null">
	        vcName = #{vcName,jdbcType=VARCHAR} ,
	        </if>
			<if test="vcUrl != null">
	        vcUrl = #{vcUrl,jdbcType=VARCHAR} ,
	        </if>
			<if test="vcChannel != null">
	        vcChannel = #{vcChannel,jdbcType=VARCHAR} ,
	        </if>
			<if test="isort != null">
	        iSort = #{isort,jdbcType=INTEGER} ,
	        </if>
			<if test="istate != null">
	        iState = #{istate,jdbcType=INTEGER} ,
	        </if>
			<if test="dtCreate != null">
	        dtCreate = #{dtCreate,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="vcJumpUrl != null">
	        vcJumpUrl = #{vcJumpUrl,jdbcType=VARCHAR} ,
	        </if>
			<if test="itype != null">
	        iType = #{itype,jdbcType=INTEGER} ,
	        </if>
			<if test="iblankWindow != null">
	        iBlankWindow = #{iblankWindow,jdbcType=INTEGER} 
	        </if>
	    </set>
		WHERE 
	        id = #{id,jdbcType=INTEGER} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM tbfocus WHERE
        id = #{id} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM tbfocus 
		WHERE 
        id = #{id} 
	]]>
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from tbfocus where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from tbfocus where 1=1
		<include refid="queryWhere"/> 
	    <![CDATA[ ORDER BY isort ASC ]]>
        <![CDATA[ LIMIT #{startRecord,jdbcType=INTEGER},#{endRecord,jdbcType=INTEGER} ]]>
	</select>
	
	<sql id="queryWhere">
		<if test="id != null and id.trim() != ''">
		and id = #{id}
		</if>
		<if test="vcName != null and vcName.trim() != ''">
		and vcName = #{vcName}
		</if>
		<if test="vcUrl != null and vcUrl.trim() != ''">
		and vcUrl = #{vcUrl}
		</if>
		<if test="vcChannel != null and vcChannel.trim() != ''">
		and vcChannel = #{vcChannel}
		</if>
		<if test="isort != null and isort.trim() != ''">
		and iSort = #{isort}
		</if>
		<if test="istate != null and istate.trim() != ''">
		and iState = #{istate}
		</if>
		<if test="dtCreateBegin != null and dtCreateBegin.trim() != ''">
		and dtCreate >= #{dtCreateBegin}
		</if>
		<if test="dtCreateEnd != null and dtCreateEnd.trim() != ''">
		and dtCreate &lt;= #{dtCreateEnd}
		</if>
		<if test="vcJumpUrl != null and vcJumpUrl.trim() != ''">
		and vcJumpUrl = #{vcJumpUrl}
		</if>
		<if test="itype != null and itype.trim() != ''">
		and iType = #{itype}
		</if>
		<if test="iblankWindow != null and iblankWindow.trim() != ''">
		and iBlankWindow = #{iblankWindow}
		</if>
	</sql>
	
	<select id="findPageCountForChannel" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from tbfocus where 1=1
		<if test="istate != null and istate.trim() != ''">
		and iState in 
		<foreach item="item" index="index" collection="istate" open="(" separator="," close=")">  
		  #{item,jdbcType=INTEGER}  
		</foreach>
		</if>
		<if test="itype != null and itype.trim() != ''">
		and iType in 
		<foreach item="item" index="index" collection="itype" open="(" separator="," close=")">  
		  #{item,jdbcType=INTEGER}  
		</foreach>
		</if>
		<if test="vcChannel != null and vcChannel.trim() != ''">
		and (vcChannel = #{vcChannel} or vcChannel is null or vcChannel = '')
		</if>
		<if test="vcChannel == null or vcChannel.trim() == ''">
		and (vcChannel is null or vcChannel = '')
		</if>
	</select>
	
	<select id="findPageForChannel" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from tbfocus where 1=1
			
		<if test="istate != null and istate.trim() != ''">
		and iState in 
		<foreach item="item" index="index" collection="istate" open="(" separator="," close=")">  
		  #{item,jdbcType=INTEGER}  
		</foreach>
		</if>
		<if test="itype != null and itype.trim() != ''">
		and iType in 
		<foreach item="item" index="index" collection="itype" open="(" separator="," close=")">  
		  #{item,jdbcType=INTEGER}  
		</foreach>
		</if>
		<!-- 宋文健2015-12-19  借用 iblankWindow 作为 只 取 活动类 焦点图的 开关 -->
		<if test="iblankWindow != null and iblankWindow.trim() != ''">
		and iIsBrandPromotion =2 
		</if>
		<if test="vcChannel != null and vcChannel.trim() != ''">
		and (vcChannel = #{vcChannel} or vcChannel is null or vcChannel = '')
		</if>
		<if test="vcChannel == null or vcChannel.trim() == ''">
		and (vcChannel is null or vcChannel = '')
		</if>
		<!-- app发现页活动列表 优先按  生成时间倒序 排序 -->
		<if test="iblankWindow != null and iblankWindow.trim() != ''">
	    <![CDATA[ ORDER BY iState ASC,id DESC,isort ASC]]>
	    </if>
	    <!-- 首页焦点图 按 isort 排序 -->
	    <if test="iblankWindow == null or iblankWindow.trim() == ''">
	     <![CDATA[ ORDER BY iState ASC,isort ASC,id DESC]]>
	    </if>
	    
        <![CDATA[ LIMIT #{startRecord,jdbcType=INTEGER},#{endRecord,jdbcType=INTEGER} ]]>
	</select>
</mapper>


