<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}

            //删除确认框
            function delFun(id){
                var flag = confirm("确认删除该记录？")
                if (flag == true){
                    window.location.href="${www}/consoleaccounts/delete?id=" + id;
                }
            }
            
            //重置密码
            function resetPwd(id){
            	var flag = confirm("确认重置该用户密码？")
                if (flag == true){
	            	window.location.href="${www}/consoleaccounts/resetPwd?id=" + id;
            	}
            }
        </script>
        
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>

            <li>
                <a href="${www}/consoleaccounts">账号列表</a>
            </li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>

    <div class="page-content">
<div class="page-header">
    <h1>账号列表</h1>
</div>
<div class="container-fluid">
		#if(${msg})
        	<div>
			#if(${success})
        		<li class="text-success">$!{msg}</li>
   			 #else
        		<li class="text-danger">$!{msg}</li>
   			 #end    	
   			</div>
   		#end	
<div class="dataTables_wrapper">
    <div class="row">
        <div class="col-sm-11">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label>账号：</label>
                    <input type="text" name="vcLoginName" value="$!{vcLoginName}">
                </div>
                <div class="form-group">
                     <label>状态：</label>
                      <select name="iValid">
	                  	<option value="1" #if($iValid ==1) selected #end>有效</option>
	                  	<option value="2" #if($iValid ==2) selected #end>无效</option>
	                  </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-xs btn-primary" type="submit">查询</button>
                </div>
            </form>
        </div>
        <div class="col-sm-1 text-right">
            <a href="${www}/consoleaccounts/new" class="btn btn-success btn-xs">添加</a>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover dataTable">
        <thead>
        <tr>
            <th>账号</th>
            <th>姓名</th>
            <th>手机号</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            #foreach($row in $result.rows)
            <tr>
            <td> $!{row.vcLoginName} </td>
            <td> $!{row.vcRealName} </td>
            <td> $!{row.vcPhone} </td>
            <td>#if($row.iValid ==1) 有效 #else <span class="red">无效</span> #end</td>
            <td><a href="${www}/consoleaccounts/find?id=${row.id}">修改</a> |
            	<a href="javascript:resetPwd(${row.id});">重置密码</a> 
				##  ｜<a data-code="2270" class="biaoRepaying" href="javascript:delFun(${row.id});">删除</a>
			</td>
            </tr>
            #end
	 	</tbody>
	 </table>
    <div class="row">
        <div class="col-sm-12">
            <div class="dataTables_paginate paging_bootstrap">
                <ul class="pagination">
				    #set($pageRequestURL="${www}/consoleaccounts?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
				    #paginationHelper($result $pageRequestURL)
                </ul>
            </div>
        </div>
    </div>

</div>
</div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->