<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>

            <li class="active">项目产品列表</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>
	<div class="page-content">
		<div class="page-header">
		    <h1>项目产品列表</h1>
		</div>
		
		#if(${msg})
        	<div>
			#if(${success})
        		<li class="text-success">$!{msg}</li>
   			 #else
        		<li class="text-danger">$!{msg}</li>
   			 #end    	
   			</div>
   		 #end 
		
		<div class="container-fluid">
		    <div class="dataTables_wrapper">
		        <div class="row">
		            <div class="col-sm-11">
		                <form class="form-inline" role="form">
		                    <div class="form-group">
		                        <label>类型名称：</label>
		                        <input type="text" name="vcName" value="$!{query.vcName}">
		                    </div>
		                    <div class="form-group">
		                        <label>状态：</label>
		                        <select name="istate">
	                                <option value="1" #if($query.istate && $query.istate ==1) selected #end>有效</option>
	                                <option value="2" #if($query.istate && $query.istate ==2) selected #end>无效</option>
	                            </select>
		                    </div>
		                    <div class="form-group">
		                        <button class="btn btn-xs btn-primary" type="submit">查询</button>
		                    </div>
		                </form>
		            </div>
                    <div class="col-sm-1">
                        <a href="$!{www}/projectcategy/new" class="btn btn-success btn-xs">添加</a>
                    </div>
		        </div>
		        <table class="table table-striped table-bordered table-hover dataTable">
		            <thead>
		            <tr>
		            	<th>类型名称</th>
		                <th>排列顺序</th>
		                <th>状态</th>
		                <th>操作</th>
		            </tr>
		            </thead>
		            <tbody>
		                #foreach($row in $result.rows)
		                <tr>
		                	<td> 
		                		$!{row.vcName}
		                	</td>
		                	<td> 
		                		$!{row.isort}
		                	</td>
		                	<td> 
		                		#if($row.istate == 1)
		                			有效
		                		#elseif($row.istate == 2)
		                			无效
		                		#end
		                	</td>
		                	<td>
		                		<a href="$!{www}/projectcategy/find?id=$!{row.id}">修改</a> 
		                	</td>
		                </tr>
		                #end
		            </tbody>
		        </table>
		        <div class="row">
		            <div class="col-sm-12">
		                <div class="dataTables_paginate paging_bootstrap">
		                    <ul class="pagination">
		                    	#set($pageRequestURL="$!{www}/projectcategy?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
		                    	#paginationHelper($result $pageRequestURL)
		                    </ul>
		                </div>
		            </div>
		       </div>
		       
		    </div>
		</div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->