<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName" xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd ">
	<context:component-scan base-package="com.tzg.common.service.*" />

	<bean id="springContextHolder" class="com.tzg.common.utils.SpringContextHolder" lazy-init="false" />

	<!-- <context:property-placeholder location="file:/opt/resource/system-param.properties" ignore-unresolvable="true" /> -->
	<!-- 
			字段   允许值   允许的特殊字符
			秒    0-59    , - * /
			分    0-59    , - * /
			小时    0-23    , - * /
			日期    1-31    , - * ? / L W C
			月份    1-12 或者 JAN-DEC    , - * /
			星期    1-7 或者 SUN-SAT    , - * ? / L C #
			年（可选）    留空, 1970-2099    , - * / 
			- 区间  
			* 通配符  
			? 你不想设置那个字段
			CRON表达式    含义 
			"0 0 12 * * ?"    每天中午十二点触发 
			"0 15 10 ? * *"    每天早上10：15触发 
			"0 15 10 * * ?"    每天早上10：15触发 
			"0 15 10 * * ? *"    每天早上10：15触发 
			"0 15 10 * * ? 2005"    2005年的每天早上10：15触发 
			"0 * 14 * * ?"    每天从下午2点开始到2点59分每分钟一次触发 
			"0 0/5 14 * * ?"    每天从下午2点开始到2：55分结束每5分钟一次触发 
			"0 0/5 14,18 * * ?"    每天的下午2点至2：55和6点至6点55分两个时间段内每5分钟一次触发 
			"0 0-5 14 * * ?"    每天14:00至14:05每分钟一次触发 
			"0 10,44 14 ? 3 WED"    三月的每周三的14：10和14：44触发 
			"0 15 10 ? * MON-FRI"    每个周一、周二、周三、周四、周五的10：15触发 
			"0 0 0 * * ? *"    每天 的00：00触发 
			0 0 1 * * ?       每天 的01：00触发
			30 * * * * ?    每半分钟触发一次
     -->
	<task:scheduler id="scheduler" pool-size="2" />
    <task:scheduled-tasks>   
    <!-- ref指定的是任务类  method是指定需要运行的方法 cron是定时任务的表达式-->
         <task:scheduled ref="taskJobService" method="updateByGrantType" cron="0 0 0 * * ? "/>   
         <task:scheduled ref="taskJobService" method="updateByGrantType2" cron="0 0 0 * * ? "/>   
         <task:scheduled ref="taskJobService" method="caculateProjectTotalScore" cron="0 0 1 * * ? "/>
       <!--  <task:scheduled ref="taskJobService" method="caculateProjectTotalScore" cron="0 0 1 * * ? "/> -->
      <task:scheduled ref="taskJobService" method="caculateProjectTotalScore" cron="10 * * * * ? "/> 
       <!--   <task:scheduled ref="taskJobService" method="updateUserPop" cron="10 * * * * ? "/>  -->
    </task:scheduled-tasks>   
	

</beans>