<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>

            <li>
                <a href="${www}/subject">标的列表</a>
            </li>
            <li class="active">标的详情</li>
        </ul><!-- .breadcrumb -->
    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>标的详情</h1>
        </div>
        <form action="${www}/subject/approval" method="post" class="form-horizontal" id="auditForm">
        	<input type="hidden" name="token" value="$!{token}"/>
        	<input type="hidden" name="id" value="$!{param.id}"/>
			<input type="hidden" id="iIsAutoOpenSubject" name="iIsAutoOpenSubject" value="$!{param.iIsAutoOpenSubject}" />
            <div class="row">
                <div class="col-xs-12 col-md-5">
                	<div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">所属项目名称：</label>
                        <div class="col-md-8 col-sm-8">
                            $!{projectName}
                        </div>
                    </div>
                    
					  <div class="form-group">
						<label class="col-md-4 col-sm-2 control-label">项目编号：</label>
						<div class="col-md-8 col-sm-8">$!{projectVccode}</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 col-sm-2 control-label">借款人：</label>
						<div class="col-md-8 col-sm-8">$!{iLoginAccountName}</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 col-sm-2 control-label">还款方式：</label>
						<div class="col-md-8 col-sm-8">
						 		#if($projectIrepayMode ==1)  到期还本付息
                                 #elseif($projectIrepayMode ==2) 每日付息到期还本
                                 #elseif($projectIrepayMode ==3) 每月付息到期还本
                                 #elseif($projectIrepayMode ==4) 等额本息
                                 #elseif($projectIrepayMode ==5) 按季付息到期还本
                                 #end
						</div>
					</div>
					
                     <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">标的类型：</label>
                        <div class="col-md-8 col-sm-8">
	                            #if($param.itype && $param.itype ==1) 普通标
	                            #elseif($param.itype && $param.itype ==2) 新手标
								#elseif($param.itype && $param.itype ==3) 普通活动标
								#elseif($param.itype && $param.itype ==4) 新手活动标
								#elseif($param.itype && $param.itype ==5) 秒杀标
								#elseif($param.itype && $param.itype ==6) 爆款标
								#elseif($param.itype && $param.itype ==7) 多财标
	                            #end
                        </div>
                    </div>                       
                    
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">标的名称：</label>
                        <div class="col-md-8 col-sm-8">
                        	$!{param.vcName}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">标的概括：</label>
                        <div class="col-md-8 col-sm-8">
                            $!{param.vcShortDesp}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">奖励说明 ：</label>
                        <div class="col-md-8 col-sm-8">
                            $!{param.vcAwardsDesp}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">预计年利率：</label>
                        <div class="col-md-8 col-sm-8">$!{param.numInterestRate}%
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">奖励年利率：</label>
                        <div class="col-md-8 col-sm-8">$!{param.numRewardRate}%
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">管理费利率：</label>
                        <div class="col-md-8 col-sm-8">$!{param.numManagementRate}%
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">融资金额：</label>
                        <div class="col-md-8 col-sm-8">$!{param.numTotalFinancing}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">起息日 ：</label>
                        <div class="col-md-8 col-sm-8">
	                            #if($param.ivalueDateType =='1') T(成交日)+0 #end
	                            #if($param.ivalueDateType =='2') T(成交日)+1 #end
	                            #if($param.ivalueDateType =='3') T(成交日)+2 #end
	                            #if($param.ivalueDateType =='4') T(成交日)+3 #end
	                            #if($param.ivalueDateType =='5') 结束时计息 #end
	                            #if($param.ivalueDateType =='6') 满标计息 #end
	                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">递投金额：</label>
                        <div class="col-md-8 col-sm-8">$!{param.numDelivery}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">起投金额：</label>
                        <div class="col-md-8 col-sm-8">$!{param.numMinInvest}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">最大可投资金额：</label>
                        <div class="col-md-8 col-sm-8">$!{param.numMaxInvest}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">平台服务费率：</label>
                        <div class="col-md-8 col-sm-8">$!{param.numPlatFormFee}%
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">平台服务费类型 ：</label>
                        <div class="col-md-8 col-sm-8">
	                            #if($param.iplatFormFeeType =='1') 募集总额的百分比 #end
	                            #if($param.iplatFormFeeType =='2') 年利率(一年按365天算) #end
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">保证金费率：</label>
                        <div class="col-md-8 col-sm-8">$!{param.numBond}%
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">保证金类型：</label>
                        <div class="col-md-8 col-sm-8">
                        	#if($param.ibondType =='1') 募集总额的百分比 #end
	                        #if($param.ibondType =='2') 年利率(一年按365天算) #end
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">借款人提现费率：</label>
                        <div class="col-md-8 col-sm-8">
                         #if($param.numWithdrawFeestr) $!{param.numWithdrawFeestr}% #end
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">借款期限(天数)：</label>
                        <div class="col-md-8 col-sm-8">$!{param.numPeriod}
                        </div>
                    </div>
					<div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">募集期限(天数)：</label>
                        <div class="col-md-8 col-sm-8">$!{param.iAutoOpenDay}
                        </div>
                    </div>
					<div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">期限等级：</label>
                        <div class="col-md-8 col-sm-8">$!{param.iSubjectPeriodGradeName}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">预告开始时间：</label>
                        <div class="col-md-8 col-sm-8">$!{param.dtTrailerStr}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">募集开始时间：</label>
                        <div class="col-md-8 col-sm-8">$!{param.dtCollectStartStr}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">募集结束时间：</label>
                        <div class="col-md-8 col-sm-8">$!{param.dtCollectEndStr}
                        </div>
                    </div>
                    #if($param.itype && $param.itype ==5)
                     <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">平台-贴现支出：</label>
                        <div class="col-md-8 col-sm-8">$!{param.numDiscount}
                        </div>
                    </div>
                    #end
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">项目合同模板：</label>
                        <div class="col-md-8 col-sm-8">
                        	$!{contractName}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">最终还款日期：</label>
                        <div class="col-md-8 col-sm-8">
                             $!{param.dtRepaymentStr}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">标的状态：</label>
                        <div class="col-md-8 col-sm-8">
                            #if($param.istate =='1')新录入#end
		                    #if($param.istate =='2')待审核 #end
		                    #if($param.istate =='3')退回 #end
		                    #if($param.istate =='4')作废 #end
		                    #if($param.istate =='5')审核通过#end
		                    #if($param.istate =='6')待预告 #end
		                    #if($param.istate =='10')待开标#end
		                    #if($param.istate =='11')投标中 #end
		                    #if($param.istate =='12')还款中#end
		                    #if($param.istate =='13')结束 #end
                        </div>
                    </div>
                    #if($param.istate =='2')
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">当前审核等级：</label>
                        <div class="col-md-8 col-sm-8">
                            $!{vcApprovalName}
                        </div>
                    </div>
                    #end
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">创建时间：</label>
                        <div class="col-md-8 col-sm-8">
                            $!{param.dtCreateStr}
                        </div>
                    </div>
               	</div>
            </div>
            #if($!{approvalToken}&&$!{token})
            #if($!{result.rows})
        	<div class="page-header">
			    <h1>历史审核记录</h1>
			</div>
			<div class="container-fluid">
			    <div class="dataTables_wrapper">
        			<table class="table table-striped table-bordered table-hover dataTable">
			            <thead>
			            <tr>
			                <th width="90px">审核等级</th>
			                <th width="90px">审核人</th>
			                <th width="90px">审核状态</th>
			                <th>审核意见</th>
			                <th width="150px">审核时间</th>
			            </tr>
			            </thead>
			            <tbody>
			                #foreach($row in $result.rows)
			                <tr>
			                	<td> $!{row.vcApprovalName} </td>
			                	<td> $!{row.vcApproverName} </td>
			                	<td>
			                		#if($!{row.iState}==1) 审核通过 #end
			                	  	#if($!{row.iState}==2) 终止 #end
			                	  	#if($!{row.iState}==3) 退回 #end
			                	</td>
			                	<td> $!{row.vcApproveIdea} </td>
			                	<td> $!{row.dtApproveStr} </td>
			                </tr>
			                #end
			            </tbody>
			        </table>
			    	</div>
			    </div>
			    #end
		    <div class="page-header">
            	<h1>审核意见</h1>
        	</div>
        	<div class="row">
                <div class="col-xs-12 col-md-5">
                	<div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">审核结果：</label>
                        <div class="col-md-8 col-sm-8">
                            <select name="auditResult">
                            	<option value="">请选择</option>
	                            <option value="1">通过</option>
	                            <option value="3">退回</option>
	                            <option value="2">作废</option>
	                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">审核意见：</label>
                        <div class="col-md-8 col-sm-8">
                        	<textarea name="vcApproveIdea" id="vcApproveIdea" style="margin: 0px; width: 587px; height: 127px;"></textarea>
                        </div>
                    </div>
                    <div class="red">$!{request.getParameter("msg")}$!{msg}</div>
                </div>
            </div>
            #end
            <div class="clearfix form-actions">
                <div class="col-sm-offset-2 col-md-9">
                	#if($!{approvalToken}&&$!{token})
    					<input type= "hidden" name="lastFlow"  id="lastFlow" value="${lastFlow}"/>
    					#if($!lastFlow == "1")  
    						<input type="button" value="获取验证码" id="getVerifyCode" style="margin-left:10px;margin-right:10px;"/> 
    						验证码：<input type="text" style="width:80px" name="code" id="code"  style="margin-left:10px;"/>
    				    #end 	
                    <button class="btn btn-info" type="button" onclick="checkForm()">
                        <i class="icon-ok bigger-110"></i>完成审核
                    </button>
                    #end
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		            <button class="btn" type="button" onclick="javascript:history.go(-1);">
		                <i class="icon-arrow-left bigger-110"></i>返回
		            </button>
                </div>
            </div>
</form>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->
<script type="text/javascript">
function checkForm(){
	 	var vcApproveIdea = document.getElementById("vcApproveIdea");
	 	var auditForm = document.getElementById("auditForm");
	 	if(vcApproveIdea.value == ""){
    		alert("审核意见不能为空");
    		vcApproveIdea.focus();
    		return false;
	    }
		if($("#lastFlow").val()=='1'){
			if($("#code").val()==""){
    			alert("短信验证码不能为空");
        		$("#code").focus();
        		return false;
    		}
    		jQuery.post("${www}/dynamicValidateCode/subjectAudit/verifyCode",{code:$("#code").val(),iIsAutoOpenSubject:$("#iIsAutoOpenSubject").val()},
        		function(r){
    				if(r.success){
    					auditForm.submit();
    				}else{
    					alert("验证码错误");
						return false;
    				}
    		});
		}else{
			auditForm.submit();
		}
					
}
$(function(){

    	if($("#lastFlow").val()=='1'){
    	 	$("#code").blur(function(){
    			jQuery.post("${www}/dynamicValidateCode/subjectAudit/verifyCode",{"code":$("#code").val(),"iIsAutoOpenSubject":$("#iIsAutoOpenSubject").val()},
    			function(r){
    				if(r.success){
    					 
    				}else{
    					alert("验证码错误");
    				}
    			
    			});
    		});
    	 	$("#getVerifyCode").click(function(){
    			jQuery.post("${www}/dynamicValidateCode/subjectAudit/send",{"id":${param.id}},function(){alert("发送成功，请注意接收短信。");});
    		});
		}
	
});
</script>