<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>

            <li>
                <a href="${www}/roleinfos">角色列表</a>
            </li>
            <li class="active">修改角色</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>修改角色</h1>
        </div>
        
        				#if(${msg})
        	<div>
			#if(${success})
        		<li class="text-success">$!{msg}</li>
   			 #else
        		<li class="text-danger">$!{msg}</li>
   			 #end    	
   			</div>
   		#end	
        
        <form id="inputForm" action="${www}/roleinfos/update" method="post" class="form-horizontal">
        	<input type="hidden" name="id" id="id" value=" $!{roleInfo.id}"/>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">角色名称：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" id="vcRoleName" name="vcRoleName" value="$!{roleInfo.vcRoleName}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">审批等级：</label>
                        <div class="col-md-8 col-sm-8">
                             <select class="col-sm-12" name="iApprovalRatingID">
                             	<option value="">请选择</option>
                             	#foreach($approvalRating in $approvalRatings)
                             		<option value="${approvalRating.id}" #if($approvalRating.id ==$roleInfo.iApprovalRatingID) selected #end>${approvalRating.vcApprovalName}</option>
                             	#end
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">资源选择：</label>
                        <div class="col-md-8 col-sm-8">
                        	## 树菜单开始
                            <div class="tree tree-selectable">
                            #foreach($first in $resources)
                            #if($first.children.size()>0)
                            	<div class="tree-folder #if(!$first.checked) fold#end">
                                    <i class="tree-status"></i>
                                    <label class="tree-folder-header">
                                        <input type="checkbox" name="resourcesId" value="${first.id}" #if($first.checked) checked#end>
                                        <div class="tree-folder-name">${first.vcName}</div>
                                    </label>
                                    <div class="tree-folder-content">
 										#foreach($second in $first.children)
 										#if($second.children.size()>0)
		                            	<div class="tree-folder #if(!$second.checked) fold#end">
		                                    <i class="tree-status"></i>
		                                    <label class="tree-folder-header">
		                                        <input type="checkbox" name="resourcesId" value="${second.id}" #if($second.checked) checked#end>
		                                        <div class="tree-folder-name">${second.vcName}</div>
		                                    </label>
		                                    <div class="tree-folder-content">
		                                    	#foreach($button in $second.children)
		                                        <label class="tree-item">
		                                            <input type="checkbox" name="resourcesId" value="${button.id}" #if($button.checked) checked#end>
		                                            <div class="tree-item-name">
		                                                ${button.vcName}
		                                            </div>
		                                        </label>
		                                        #end
		                                	</div>
                                		</div>
		                                #else
		                                <label class="tree-item">
                                            <input type="checkbox" name="resourcesId" value="${second.id}" #if($second.checked) checked#end>
                                            <div class="tree-item-name">
                                                ${second.vcName}
                                            </div>
                                        </label>
                                        #end
                                        #end
                                    </div>
                                </div>
                            #else
                            	<label class="tree-item">
                                    <input type="checkbox" name="resourcesId" value="${first.id}" #if($first.checked) checked#end>
                                    <div class="tree-item-name">
                                        ${first.vcName}$!{first.levelDown}
                                    </div>
                                </label>
                            #end
                            #end
                            </div>
                            ## 树菜单结束
                            <script>
                                $(function() {
                                    $(".tree-status").click(function () {
                                        $(this).parents(".tree-folder:first").toggleClass("fold");
                                    });
                                })
                            </script>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix form-actions">
                <div class="row">
                    <div class="col-md-8">
                        <div class="col-sm-offset-4 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="icon-ok bigger-110"></i>提交
                            </button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn" type="button" onclick="javascript:history.go(-1);">
                                <i class="icon-arrow-left bigger-110"></i>返回
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->