#set($layout = "/layout/default2.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>掌薪计划服务协议</title>
    <link type="text/css" rel="stylesheet" media="all" href="$!{staticPath}/css/protocol.css" />
</head>
<body>
<h1>掌薪计划服务协议</h1>
<p>
    编号：$!{fixedbaoinvestrecord.vcAgreementNo}
</p>
<p>
   甲方（投资人）：$!{investorName}<br/>
   铜掌柜注册用户名： $!{investorPhone}<br/>
   身份证号码： $!{investorCardCode}<br/>

</p>
<p>
 乙方（平台服务商）：河北融佰通金融服务有限公司<br/>
 住所地：杭州市余杭区良睦路1288号梦想小镇<br/>
</p>
<p>
	鉴于乙方为铜掌柜平台（www.tzg.cn）的运营主体，在铜掌柜平台推出“铜钱宝”理财服务。甲方为铜掌柜平台注册用户，系具有完全民事权利/行为能力的自然人。现甲、乙双方就甲方投资铜钱宝项目的相关事宜达成如下协议：<br/>

</p>
<h3>一、定义</h3>
<p>除非本协议另有约定，以下用于在本协议中定义如下：</p>
<p>1、掌薪计划服务：乙方为加入掌薪计划服务的投资人提供的具有固定收益的短期理财服务。乙方根据投资人的委托，对合作机构推荐的产品（包括但不限于借款项目、债权转让项目、收益权转让项目等）进行分散筛选，协助投资人将其所投资金出借给借款客户、及/或受让优质债权、及/或受让收益权。服务到期后投资人通过借款人还款或债权/收益权转让人赎回的方式退出掌薪计划，并获取投资本金及收益。投资人加入掌薪计划的投资起点为人民币100元，且投资金额须为100元的整数倍。</p>
<p>2、铜掌柜：乙方经营管理的互联网金融信息服务平台（网址：www.tzg.cn，以下简称“铜掌柜”），乙方主要通过铜掌柜平台为债权投融资交易提供信息中介和居间服务。</p>
<p>3、铜掌柜账户：指投资人以其自身名义在铜掌柜平台注册后系统自动产生的虚拟账户。</p>
<p>4、合作机构：指与本公司建立合作关系的机构，包括但不限于保理公司、融资租赁公司、担保公司、资产管理公司、小额贷款公司、基金公司等。</p>

<h3>二、掌薪计划项目的加入</h3>
<p>1、甲方按照铜掌柜平台的相关规则，通过对掌薪计划项目点击“投资”链接，进入投资理财详细信息界面，填写完成投资理财信息后并点击同意《掌薪计划投资及服务协议》（以下简称“本协议”），则本协议成立，即视为甲方向乙方发出不可撤销的授权，授权乙方委托相应的第三方支付机构或合作银行，在甲方绑定的银行账户或铜掌柜账户中，冻结当笔投资金额。</p>
<p>2、当笔投资金额冻结后，乙方根据甲方委托完成当笔投资资金的委托投标，并将当笔投资资金划转至投标项目所对应的借款人、债权或收益权转让人指定的账户。</p>
<p>3、本协议自乙方完成甲方投资资金的划转之日起生效，甲方投资掌薪计划项目成功，并获得本协议项下的收益权。</p>
<p>4、甲方本次投资掌薪计划项目的投资本金为人民币【$!{fixedbaoinvestrecord.numInvest}】元（大写：人民币【$!{bigMoney}】）。</p>
<p>5、预期收益：甲方投资掌薪计划项目后，有权按照预期年化【$!{numInterestRate}】%获取利息收益，起息日为甲方成功支付投资本金的次日，结息日为甲方退出掌薪计划服务的次日。</p>

<h3>三、投资及资产管理</h3>
<p>1、本协议生效后，即视为甲方不可撤销的授权乙方通过网站系统按一定比例自动配置投资于各类资产，包括但不限于：借款项目、权益转让融资类项目、债权转让项目等。</p>
<p>2、甲方委托乙方按照本协议约定，对其所投资金进行出借给借款客户、受让优质债权、收益权等，并授权乙方在完成上述投资行为后以甲方名义代为在线或线下签署相关合同（包括但不限于借款合同、债权转让或受让合同、权益转让类融资合同等）。甲方对上述自动投标和代为签署相关合同之安排已充分知悉并理解，乙方代为签署的合同均视为甲方真实意思的表示，甲方对该等合同的效力均予以认并无条件接受该等合同之约束。</p>

<h3>四、锁定期规定</h3>
<p>甲方在线完成投资款支付之日起至当期掌薪计划项目到期为止的封闭时间段为锁定期，锁定期内甲方不得提前退出掌薪计划。甲方当期所投资金的锁定期为【#if($fixedbaoproject.numPeriod==1)1
				#elseif($fixedbaoproject.numPeriod==2)3
				#elseif($fixedbaoproject.numPeriod==3)6
				#elseif($fixedbaoproject.numPeriod==4)12
				#end】个月，自$!{beginTime}起至 $!{endTime}为止。乙方有权通过在铜掌柜平台发布规则的方式变更对锁定期的相关规定。</p>

<h3>五、掌薪计划项目的退出</h3>
<p>1、锁定期结束日当日，甲方通过借款人还款或债权/收益权转让人回购权益的方式退出掌薪计划，并根据本协议第三条规定获取投资收益。</p>
<p>2、甲方委托乙方代为收取借款人支付的还款本息，或收益权转让人支付的赎回款等款项，此等款项为甲方应得的投资回款及收益。乙方在锁定期结束的次日，将此等款项划入甲方的铜掌柜账户。</p>
<p>3、自甲方收到投资回款及相关收益后，甲方丧失其基于掌薪计划而获取的债权/收益权等权利。</p>

<h3>六、甲方的权利和义务</h3>
<p>1、甲方自签署本协议之日，即视为其自愿接受本协议所有条款所规定的的内容。</p>
<p>2、甲方有权在退出掌薪计划时收回投资本金并获得相应利息收益。甲方通过掌薪计划所获收益，如果产生相关税费，由甲方自行向主管税务机构申报、缴纳。</p>
<p>3、甲方声明与保证其所用于投资掌薪计划的资金来源合法，甲方是该资金的合法所有人，如果第三方对资金归属、合法性问题发生争议，由甲方自行负责解决。</p>
<p>4、甲方变更账户信息、通讯地址、电话号码等信息，须在该事实发生后三个工作日内通知乙方。否则，因甲方未及时通知乙方而导致甲方自身遭受的损失，均由甲方自行承担。</p>

<h3>七、乙方的权利和义务</h3>
<p>1、乙方应当按照本协议约定，恪尽职守，以诚实、信用、谨慎的原则为甲方进行服务。</p>
<p>2、乙方有义务在锁定期结束后协助甲方完成退出掌薪计划的相关事宜。</p>
<p>3、若甲方提供任何不真实、不准确、不完整的身份信息，或乙方有合理理由怀疑甲方提供的信息为不真实、不准确、不完整时，乙方有权利全部或部分终止对甲方的服务，乙方对此不承担任何责任。</p>

<h3>八、服务费用</h3>
<p>1、甲方投资掌薪计划的收益按本服务计划所投项目确定各笔借款当期应还利息及/或甲方受让的收益权应得收益加权计算后，超过掌薪计划预期年化收益的部分视为乙方向甲方收取的管理费，归乙方所有。</p>
<p>2、乙方有权通过在铜掌柜平台公示的方式变更服务费收费标准，而不再做个别通知。</p>

<h3>九、不可抗力</h3>
<p>由于地震、火灾、战争等不可抗力以及软件、系统服务设备维护检修、黑客袭击、基础电信业务经营者电信线路服务中止等突发事件导致的交易中断、延误的，各方互不承担责任。但应在条件允许的情况下，应采取一切必要的补救措施以减小不可抗力造成的损失。</p>

<h3>十、本协议的修改与终止</h3>
<p>1、法律适用：本协议的全部事项，包括但不限于本协议的效力、解释、履行以及争议的解决均受中国法律管辖。本协议中的任何条款或部分条款因违反中国法律而无效的，不影响本协议其他条款的效力。</p>
<p>2、协议或调整后的内容，乙方将以电子文件形式通知甲方，包括但不限于：通过铜掌柜平台发布公告、及/或通过甲方提供的手机号码发送手机短信、及/或通过铜掌柜系统对甲方铜掌柜账户发送站内信等方式。</p>
<p>3、本协议以不违反国家相关法律法规和监管政策为前提，若本协议中任意一条或多条被司法机关认定为违反了相关法律法规或监管政策，则该条视为无效，但该条的无效并不影响其他条款的效力。</p>

<h3>十一、特别声明</h3>
<p>1、本协议、铜掌柜网站注册服务协议等相关协议，以及乙方在铜掌柜平台不时公示之交易规则、说明、公告等涉及各方权利义务的法律文件，共同构成了约束本服务项下各方行为之协议整体，各方均须予以遵守，如有违反，应当自行承担相关法律后果。</p>
<p>2、各方在签署本协议以前已认真阅读本协议有关条款，对有关条款不存在任何疑问或异议，并对协议各方的权利、义务、责任与风险有清楚和准确的理解。</p>
<p>3、双方委托乙方保管所有与本协议有关的书面文件和电子信息，对双方均具有法律约束力。双方确认乙方保管的书面文件和电子信息作为本协议有关事项的终局证明。</p>
<p>4、本协议项下产生的纠纷，双方先行协商解决，协商不成的，任何一方可向乙方所在地人民法院提起诉讼。诉讼期间，本协议中不涉及争议的条款仍须继续履行。</p>

<p>甲方：$!{investorName}<br/>日期：$!{fixedbaoinvestrecord.dtInvestStr}</p>
<p>乙方：河北融佰通金融服务有限公司<br/>日期：$!{fixedbaoinvestrecord.dtInvestStr}</p>

</body>
</html>
