/Tzg-Biz/.settings
/Tzg-facade/.project
/Tzg-rest/*.project
/Tzg-rmi-server/.project
/Tzg-wap/.project
/.settings
/*.project
/Tzg-Biz/.project
/Tzg-Biz/.classpath
/Tzg-common/.settings
/Tzg-common/.project
/Tzg-common/.classpath
/Tzg-common-service/.settings
/Tzg-common-service/.project
/Tzg-common-service/.classpath
/Tzg-facade/.settings
/Tzg-facade/.classpath
/Tzg-rest/.settings
/Tzg-rest/.classpath
/Tzg-rmi-server/.settings
/Tzg-rmi-server/.classpath
/Tzg-wap/.settings
/Tzg-wap/.classpath
