#set($pageTitle = "账户提现_我的账户_投资人")
#set($bodyClass = "body--gray")
#set($topbar = {"title": '提现'})

#set($pageFootCode = '<script>seajs.use("page/cash")</script>')

<form method="post" action="$!{basePath}/user/cash/cash" id="j_cash_form">
	<ul class="m-frm">
		<li class="m-frm-itm">
			<label class="m-frm-lbl">请输入银行卡信息</label>
			<div j-bank-selected-wrapper></div>
			<input type="hidden" name="bankCardId" j-bankid-input>
		</li>
		<li class="m-frm-itm" style="display:none" j-cardno-input-item>
			<div class="icon-input">
				<input type="text" name="cardNo" class="u-ipt" placeholder="请输入银行卡号" required j-cardno-input>
				<i>&#xe617;</i>
			</div>
			<div class="m-frm-itm--hnt2">请务必使用与持卡人信息一致的储蓄卡</div>
		</li>
		<li class="m-frm-itm">
			<input type="number" name="numCash" class="u-ipt" min="$!{minCash}" placeholder="请输入提现金额" required>
			<div class="m-frm-itm--hnt2">该卡本次最高可提现金额<span class="u-clScd" id="j_max_cash_amount"></span>元</div>
		</li>
		<li class="m-frm-itm--btn">
			<button class="u-btn z-prm z-fll z-ldg" type="submit">确 认</button>
		</li>
	</ul>
</form>

<div class="f-tlc u-clScd"><img src="$!{basePath}/assets3/build/statics/images/safeguard-icon.png" style="width:16px;vertical-align:middle" alt="安全保障"> 账户资金盗转盗用由人保财险承保</div>

<div class="selector" id="j_selector">
	<div class="selector_operators">
		<div class="selector_operators_left" j-operator-left>ffffffffff</div>
		<div class="selector_operators_right" j-operator-right></div>
	</div>
	<div class="selector_title" j-menu-title></div>
	<div class="selector_menu" j-menu></div>
</div>

<textarea cols="50" id="j_bank_list" style="display:none">
[null
#foreach($item in $cardResult)
,{
	"id":"$!{item.ibankInfoId}",
	"name":"$!{item.vcName}（尾号$!stringUtil.hideBankCard($!{item.vcBankCardNo})）",
	"numSingleLimitStr":"$!{item.numSingleLimitStr}",
	"numDayLimitStr":"$!{item.numDayLimitStr}",
	"numMonthLimitStr":"$!{item.numMonthLimitStr}",
	"bankCode":"$!{item.vcBankCode}",
	"cardNo":"$!{item.vcBankCardNo}",
	"thisLimitStr":$!{item.maxCashAmt}
}
#end
]
</textarea>

<input type="hidden" value="$!{numAvailable}" id="j_balance">
