#set($pageTitle = "提现确认_我的账户_投资人")
#set($bodyClass = "body--gray")
#set($topbar = {"title": '提现确认'})

#set($pageFootCode = '<script>seajs.use("page/confirm-cash")</script>')



#* 
<div class="m-frmBlkHnt">
	<ul class="m-txtKVLst">
		<li><span class="m-txtKVLst-lbl">提现银行：</span>$!{bankCardName}（尾号$!{cardNo}）</li>
		<li><span class="m-txtKVLst-lbl">提现金额：</span>$!numbers.toCurrency($!{numCash})元</li>
		<li><span class="m-txtKVLst-lbl">手续费：</span>#if($todayCashCount>0)$!numbers.toCurrency($!{numCashFee})元#else<del>$!numbers.toCurrency($!{numCashFee})元</del>#end（每日首次免提现费）</li>
		<li><span class="m-txtKVLst-lbl">实际到账：</span>$!numbers.toCurrency($!{actualCash})元</li>
	</ul>
</div>

<form method="post" action="$!{basePath}/user/cash/confirmCash" id="j_confirm_cash_form">
	<ul class="m-frm">
		<li class="m-frm-itm u-fsSml u-clGrayLgt">
			为加强资金安全，需填写开户行信息。如您已用该卡成功提现过，则无需修改以下信息
		</li>
		<li class="m-frm-itm">
			<label class="m-frm-lbl">开户行所在省份：</label>
			<div class="m-frm-cnt">
				<select name="bankProvince" class="u-slt" data-selected-region-code="$!{parentCode}">
					<option value="">请选择省份</option>
				</select>
			</div>
		</li>
		<li class="m-frm-itm">
			<label class="m-frm-lbl">开户行所在城市：</label>
			<div class="m-frm-cnt">
				<select name="cityCode" class="u-slt" data-selected-region-code="$!{cityCode}">
					<option value="">请选择城市</option>
				</select>
			</div>
		</li>
		<li class="m-frm-itm">
			<label class="m-frm-lbl">开户行名称：</label>
			<div class="m-frm-cnt">
				<input type="text" name="brabankName" value="$!{brabankName}" placeholder="请输入开户行名称" maxlength="100" class="u-ipt">
			</div>
			<div class="f-mt u-fsSml u-clGrayLgt">
				<span class="u-clScd">特别提醒：</span>此处无需重复填写银行名称与省市，只需填写具体支行名称。例如：学院路支行
			</div>
		</li>
		<li class="m-frm-itm"><div class="u-dsdLn"></div></li>
		<li class="m-frm-itm">
			<label class="m-frm-lbl">交易密码：</label>
			<div class="m-frm-cnt">
				<input type="password" name="payPassword" placeholder="请输入交易密码" class="u-ipt">
			</div>
		</li>
		<li class="m-frm-itm f-tlr">
			<a href="$!{basePath}/user/payPassword/forgetPayPassword/page" class="u-clPrm">忘记交易密码？</a>
		</li>
		<li class="m-frm-itm">
			<label class="m-frm-lbl">验证码：</label>
			<div class="m-frm-cnt g-6a4 z-captcha">
				<a href="javascript:;" class="g-6a4-sd u-btn z-scs z-noBrdRds" id="j_send_captcha">发送验证码</a>
				<input type="number" name="dynamicVerifyCode" class="g-6a4-mn u-ipt" placeholder="请输入验证码" maxlength="6" required>
			</div>
		</li>
		<li class="m-frm-itm--btn">
			<button class="u-btn z-prm z-fll z-ldg" type="submit">确认提现</button>
		</li>
	</ul>
	<input type="hidden" name="bankCardId" value="$!{bankCardId}">
	<input type="hidden" name="numCash" value="$!{numCash}">
	<input type="hidden" name="numCashFee" value="$!{numCashFee}">
</form>

<div class="m-tips l-mn2 f-mtb2">
	<div class="m-tips-ttl">温馨提示：</div>
	<div class="m-tips-cnt">
		<ul class="m-txtLst z-ol">
			<li>如在提现过程中遇到问题，请联系平台客服：<a href="tel:4006082233">400-0311-798</a></li>
		</ul>
	</div>
</div>
 *#
