html{height:100%;font-size:10px;background-color:#fff;}
@media screen and (max-width:640px){html{font-size:8.533333333px}}
@media screen and (max-width:560px){html{font-size:7.466666667px}}
@media screen and (max-width:480px){html{font-size:6.4px}}
@media screen and (max-width:400px){html{font-size:5.333333333px}}
@media screen and (max-width:320px){html{font-size:4.266666667px}}
body {margin:0 auto;max-width:750px;min-width:320px;min-height:100%;background-color: #790023;font-size: 1rem;-webkit-text-size-adjust: none;}
a{text-decoration: none;color: #000;}
img{display: block; border: none; vertical-align: bottom;}
ul,li{padding: 0; margin:0; list-style: none;}

.con-rel{position: relative;}
.con-abs{position: absolute;}

.rule-btn{right: 0; top: 10%; width: 10%; position: fixed; z-index: 20;}
.btn-share{right: 5%; top: 0; width: 10%; z-index: 20; display: none;}
.banner2 .cloud{width: 16%; right: 0%; top: 0; -webkit-animation: moveLeft1 18s ease-in-out infinite; animation: moveLeft1 18s ease-in-out infinite;}

.p-number{left:0; top: 27%; padding-left: 41%;}
.amount{width: 150px; margin: 0 auto;}
.amount .d{position: relative; float: left; height:1em; line-height: 1em; overflow: hidden; color: #231815; font-size: 4rem; font-weight: bold; text-align: center;}
.amount .d ul {position: relative;}

.praise{width: 20%; left: 50%; top: 40%; margin-left: -10%; z-index: 0;
    -webkit-animation: materia 5s ease-in-out infinite;
    -webkit-transform-origin:50% 0;
    animation: materia 5s ease-in-out infinite;
    transform-origin:50% 0;}
.praise:after{position: absolute; width: 99%; height: 86.3%; border:#f7b626 solid 1px; left: 0; top: 12%; border-radius: 50%; content:""; z-index: 0;
    -webkit-animation: zoom 1s ease-in-out infinite;
    animation: zoom 1s ease-in-out infinite;
}
.praise:before{position: absolute; width: 99%; height: 86.3%; border:#fbc647 solid 1px; left: 0; top: 12%; border-radius: 50%; content:""; z-index: 0;
    -webkit-animation: zoom2 1s ease-in-out infinite;
    animation: zoom2 1s ease-in-out infinite;
}
.praise a.hammer{position: relative; z-index: 9; display: block;}
.praise a.hammer span.effec{width: 70px; position: absolute;; right: 20%; bottom: 15%;
    -webkit-animation: zoom3 1s ease-in-out infinite;
    animation: zoom3 1s ease-in-out infinite; display: none;
}
.praise a.hammer span.effec-duang{width: 110px; position: absolute;; right: -20px; top: 0;
    -webkit-animation: shake 1s ease-in-out infinite;
    animation: shake 1s ease-in-out infinite; display: none;
}
.lo-box{top: 0; left: 0; width: 100%; height: 100%;}
ul.ui-lottery-box{width: 72%; height: 64%; margin:0 auto; padding-top:10%; }
ul.ui-lottery-box li{height: 100%;}
ul.ui-lottery-box li a.l-box{text-align: center; position: relative; width: 100%; height: 100%; display: block;}
ul.ui-lottery-box li a.l-box img.ui-box{position: absolute; left: 0; bottom: 0; z-index: 9;}
ul.ui-lottery-box li a.l-box span.ui-tips{position: absolute; z-index: 0; width: 30%; left: 35%; top: -20%; display: none;
    -webkit-animation:hvr_vertical 0.8s 0.5s ease-in-out infinite;
    animation:hvr_vertical 0.8s 0.5s ease-in-out infinite;
}
ul.ui-lottery-box li a.l-box span.ui-box{position: absolute; width: 56%; left: 22%; top: 21.7%;}
ul.ui-lottery-box li a.l-box span.ui-box i.ui-box-top{display: block; position: relative; z-index: 10;}
ul.ui-lottery-box li a.l-box span.ui-box .l-txt{background: #a60823; color: #fff9aa; display: block; width: 76%; height: 60px; margin:0 auto; padding: 5% 0; font-size:2em;}

ul.ui-lottery-box li a.active span.ui-box{
    -webkit-animation: open_box 0.4s ease-in-out;
    animation: open_box 0.4s ease-in-out;
    top: 0%;
}
ul.ui-lottery-box li a.active span.ui-tips{left: -9999px;}

ul.where-box{width: 50%; bottom: 14%; left: 25%;}
ul.where-box li{text-align: center; color: #231815; font-size:2.4em; line-height: 1.6em;}
ul.where-box li span{font-weight:bold;}

@-webkit-keyframes materia {
    0% { -webkit-transform: rotate(0); }
    10% { -webkit-transform: rotate(9deg); }
    20% { -webkit-transform: rotate(-8deg); }
    30% { -webkit-transform: rotate(7deg); }
    40% { -webkit-transform: rotate(-6deg); }
    50% { -webkit-transform: rotate(5deg); }
    60% { -webkit-transform: rotate(-4deg); }
    70% { -webkit-transform: rotate(3deg); }
    80% { -webkit-transform: rotate(-2deg); }
    90% { -webkit-transform: rotate(1deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@keyframes materia {
    0% { transform: rotate(0); }
    10% { transform: rotate(9deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(7deg); }
    40% { transform: rotate(-6deg); }
    50% { transform: rotate(5deg); }
    60% { transform: rotate(-4deg); }
    70% { transform: rotate(3deg); }
    80% { transform: rotate(-2deg); }
    90% { transform: rotate(1deg); }
    100% { transform: rotate(0deg); }
}
@keyframes zoom {
    0% { transform: scale(0); opacity: 0;}
    10% { transform: scale(1.1); opacity: 0.3; }
    20% { transform: scale(1.17); opacity: 0.4; }
    30% { transform: scale(1.3); opacity: 1; }
    55% { transform: scale(1.3); opacity: 0; }
    100% { transform: rotate(1.3); opacity: 0; }
}
@-webkit-keyframes zoom2 {
    0% { -webkit-transform: scale(0); opacity: 0;}
    10% { -webkit-transform: scale(0); opacity: 0.3; }
    20% { -webkit-transform: scale(1.05); opacity: 0.4; }
    30% { -webkit-transform: scale(1.1); opacity: 0.6; }
    65% { -webkit-transform: scale(1.1); opacity: 0; }
    100% { -webkit-transform: rotate(1.1); opacity: 0; }
}
@keyframes zoom2 {
    0% { transform: scale(0); opacity: 0;}
    10% { transform: scale(0); opacity: 0.3; }
    20% { transform: scale(1.05); opacity: 0.4; }
    30% { transform: scale(1.1); opacity: 0.6; }
    65% { transform: scale(1.1); opacity: 0; }
    100% { transform: rotate(1.1); opacity: 0; }
}
@-webkit-keyframes zoom3 {
    0% { -webkit-transform: scale(0); opacity: 0;}
    10% { -webkit-transform: scale(1.1); opacity: 0.3; }
    20% { -webkit-transform: scale(1.3); opacity: 0.4; }
    30% { -webkit-transform: scale(1.6); opacity: 0.7; }
    55% { -webkit-transform: scale(1.6); opacity: 0; }
    100% { -webkit-transform: rotate(1.6); opacity: 0; }
}
@keyframes zoom3 {
    0% { transform: scale(0); opacity: 0;}
    10% { transform: scale(1.1); opacity: 0.3; }
    20% { transform: scale(1.3); opacity: 0.4; }
    30% { transform: scale(1.6); opacity: 0.7; }
    55% { transform: scale(1.6); opacity: 0; }
    100% { transform: rotate(1.6); opacity: 0; }
}
@-webkit-keyframes shake {
    0% { -webkit-transform: rotate(0deg); opacity: 0;}
    10% { -webkit-transform: rotate(0deg); opacity: 0;}
    100% { -webkit-transform: rotate(0deg); opacity: 0; }
}
@keyframes shake {
    0% { transform: rotate(15deg); opacity: 0.1;}
    5% { transform: rotate(-14deg); opacity: 0.2;}
    10% { transform: rotate(13deg); opacity: 0.3;}
    15% { transform: rotate(-12deg); opacity: 0.4;}
    20% { transform: rotate(11deg); opacity: 0.5;}
    50% { transform: rotate(-10deg); opacity: 1;}
    100% { transform: rotate(0deg); opacity: 0; }
}

@-webkit-keyframes hvr_vertical {
    8% {-webkit-transform: translateY(8px);}
    14% {-webkit-transform: translateY(-6px);}
    20% {-webkit-transform: translateY(4px);}
    30% {-webkit-transform: translateY(-2px);} 36% {-webkit-transform: translateY(1px);}
    40% {-webkit-transform: translateY(0);}
    100% {-webkit-transform: translateY(0);}
}

@keyframes hvr_vertical {
    8% {transform: translateY(8px);}
    14% {transform: translateY(-6px);}
    20% {transform: translateY(4px);}
    30% {transform: translateY(-2px);} 36% {transform: translateY(1px);}
    40% {transform: translateY(0);}
    100% {transform: translateY(0);}
}
@-webkit-keyframes open_box {
    0% {top:21.7%;}
    100% {top:0%;}
}
@keyframes open_box {
    0% {top:21.7%;}
    100% {top:0%;}
}
@-webkit-keyframes moveLeft1 {
	0% {-webkit-transform: translateX(0); transform: translateX(0);}
    50% {-webkit-transform: translateX(-40px); transform: translateX(-40px);}
    100% {-webkit-transform: translateX(0); transform: translateX(0);}
}
@keyframes moveLeft1 {
	0% {-webkit-transform: translateX(0); transform: translateX(0);}
    50% {-webkit-transform: translateX(-40px); transform: translateX(-40px);}
    100% {-webkit-transform: translateX(0); transform: translateX(0);}
}

body .ui-dialog{ box-shadow: none; border-radius: 10px; overflow: hidden;}
.pop-now-recommend{ background: #fff; position: relative; padding-top: 30px;}
.pop-now-recommend a.close-btn{position: absolute; right: -4px; top:0; font-size: 30px; z-index: 99;}
.pop-now-recommend .title-img{width: 117%; position: absolute;; left: -27px; top: -13px;}
.pop-now-recommend .pop-content{padding: 20px 3%;}
.pop-now-recommend .pop-content .ipt{width: 65%;}
.pop-now-recommend .pop-content .btn{width: 30%; height: 40px; line-height: 40px; font-size: 1em;}

.pop-now-recommend span.cl-second{background: #e2e2e2; display: block; padding: 10px 0;}


/************************************************/

.xm-dialog {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
	width: 100%;
	height: 200%;
	background-color: rgba(0,0,0,.46);
}
.xm-dialog_inner {
	position: relative;
	top: 15%;
	margin: auto;
	max-width: 750px;
	min-width: 320px;
}
.xm-dialog_win {
	box-sizing: border-box;
	margin: auto;
	padding: 3em 8% 3.33%;
	width: 72.67%;
	border: .8em solid #c10d23;
	border-radius: 1em;
	font-size: 2.4rem;
	background: #c10d23;
	-webkit-background-size: auto 10em;
			background-size: auto 10em;
}
.xm-dialog_content {
	margin-bottom: 5%;
	font-size: 2.4rem;
	color: #fff9aa;
	text-align: center;
}
.xm-dialog_btn {
	padding: 5% 0; display: block;
	width: 100%;
	border: none;
	font-size: 2.4rem;
	border-radius: .2em;
	text-align: center;
	color: #000;
	background: #f8b62d;
	background: -moz-linear-gradient(top, #f8b62d 0%, #f8ff2d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8b62d), color-stop(100%,#f8ff2d));
	background: -webkit-linear-gradient(top, #f8b62d 0%,#f8ff2d 100%);
	background: -ms-linear-gradient(top, #f8b62d 0%,#f8ff2d 100%);
	background: linear-gradient(to bottom, #f8b62d 0%,#f8ff2d 100%);
	box-shadow: 0 .15em .2em rgba(249, 88, 0, .75);
}
.xm-dialog_close {
	position: absolute;
	top: 1%;
	right: 15%;
	width: 1em;
	height: 1em;
	font-size: 4rem;
	color: #fff9aa;
	line-height: 1;
	text-align: center;
}

.btn {
	box-sizing: border-box;
	display:inline-block;
	padding:0 3%;
	overflow:visible;
	border:0;
	font-size:4.2rem;
	line-height:2;
	font-family: "micrsoft yahei";
	border-radius:1rem;
	background-color:#b9b9b9
}
.btn.-primary {
	color:#fff;
	background-color:#f87382
}
.btn.-c3 {
	color:#fff;
	background-color:#4dd2bb
}
.btn.-gray,.btn.-loading,.btn[disabled],.btn:disabled {
	background:#c3c3c3
}
.btn.-full {
	padding:0;
	width:100%;
	text-align:center
}
.btn.-small {
	font-size: 3.2rem;
	border-radius:.5rem;
}
.btn.-hollow {
	border: 1px solid #f87382;
	color: #f87382;
	background-color: #fff;
}
.btn.-loading {
	font-size:0
}
.btn.-loading:after {
	content:"\e60c";
	display:inline-block;
	font-family:tzg-icon;
	font-size:4.2rem;
	-webkit-animation:icon-spin 1.5s infinite linear;
	-moz-animation:icon-spin 1.5s infinite linear;
	animation:icon-spin 1.5s infinite linear
}
.btn.-small.-loading:after {
	font-size:3.2rem;
}


.ipt {
	display: inline-block;
	padding: .5em;
	border: 1px solid #e6e6e6;
	font-size: 3rem;
	font-family: "micrsoft yahei";
	line-height: 1.5;
}
.ipt:focus {
	border-color: #70abf1;
}
.ipt.-full {
	box-sizing: border-box;
	width: 100%;
}

.captcha {
	position: relative;
}
.captcha_btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 40%;
	height: 100%;
	color: #fff !important;
	font-size: 2rem;
	line-height: 3.8;
	text-align: center;
	background-color: #4e96ef;
}
.captcha_btn.z-gray {
	background-color: #c0c0c0;
}
.captcha_ipt {
	width: 60%;
}

/*~~~~~~~~~~~~~~~~~
	协议弹框
 ~~~~~~~~~~~~~~~~~*/
.protocol-popup {
	position:fixed;
	top:0;
	left:150%;
	z-index:105;
	width:100%;
	height:100%;
	font-size: 3rem;
	background-color:#fff;
	-webkit-transition:left .2s ease-out;
	-moz-transition:left .2s ease-out;
	transition:left .2s ease-out;
	-webkit-overflow-scrolling: touch;
}
.protocol-popup.-opened {
	left:0;
	-webkit-transition:left .2s ease-out;
	-moz-transition:left .2s ease-out;
	transition:left .2s ease-out
}
.protocol-popup_hd,.protocol-popup_ft {
	position:absolute;
	left:0;
	z-index:3;
	width:100%;
	height:2.5em;
	text-align:center;
	background-color:#fff
}
.protocol-popup_hd {
	top:0;
	line-height:2.5;
	-webkit-box-shadow:0 3px 3px rgba(102,153,255,.3);
	-moz-box-shadow:0 3px 3px rgba(102,153,255,.3);
	box-shadow:0 3px 3px rgba(102,153,255,.3)
}
.protocol-popup_ft {
	bottom:0;
	text-align:center;
	-webkit-box-shadow:0 -3px 3px rgba(102,153,255,.3);
	-moz-box-shadow:0 -3px 3px rgba(102,153,255,.3);
	box-shadow:0 -3px 3px rgba(102,153,255,.3)
}
.protocol-popup_ft .button {
	border:0;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-size: 3rem;
	background:transparent
}
.protocol-popup_bd {
	position:absolute;
	top:2.5em;
	right:0;
	bottom:2.5em;
	left:0;
	padding:0 3%;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
}


/*~~~~~~~~~~~~~~~~~
	登录/注册表单
 ~~~~~~~~~~~~~~~~~*/
.public-form {
	font-size: 3rem;
}
.public-form li {
	margin: 3% 0;
}
.public-form .form-item {
	padding-left: 3em;
}
.public-form .form-label {
	float: left;
	margin-top: .5em;
	margin-left: -3em;
}
.public-form.-label-4c .form-item {
	padding-left: 6em;
}
.public-form.-label-4c .form-label {
	margin-left: -6em;
}
.public-form .form-content .captcha .ipt {
	margin-top: 0;
}
.public-form .ipt.z-err {
	border-color: #c00;
}
.public-form label.z-err {
	color: #c00;
}
.public-form a {
	color: #4e96ef;
}

/*~~~~~~~~~~~~~~~~~
	登录注册弹框
 ~~~~~~~~~~~~~~~~~*/
.ui-dialog {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(79, 150, 240, 0.3);
}
.lt-ie9 .ui-dialog {
  border: 1px solid #c4dcfa;
}
.ui-dialog-grid {
  border-collapse: collapse;
}
.ui-dialog-header {
  padding: 3% 0;
  color: #fff;
  background-color: #f87382;
}
.ui-dialog-close {
  display: block;
  position: absolute;
  top: 1.5%;
  right: 2%;
  font-size: 5rem;
  line-height: 1;
  color: #fff;
}
.ui-dialog-close:hover {
  color: rgba(255, 255, 255, 0.7);
}
.ui-dialog-close:active {
  color: rgba(255, 255, 255, 0.4);
}
.lt-ie7 .ui-dialog-close .ui-dialog-close {
  position: absolute;
  height: 26px;
  background: #FFF;
}
.ui-dialog-title {
  text-align: center;
  font-size: 3rem;
}
.ui-dialog-content {
  box-sizing: border-box;
  padding: 5%;
  overflow: auto;
  font-size: 3rem;
}

.m-pppMsg {
  position: fixed;
  left: 0;
  top: 70%;
  z-index: 200;
  width: 100%;
  font-size: 2.4rem;
}
.m-pppMsg-inn {
  position: absolute;
  top: 10px;
  padding: 5px 8px;
  max-width: 360px;
  border-radius: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.z-show .m-pppMsg-inn {
  opacity: 1;
  top: 0;
  -webkit-transition: opacity, top .2s ease-out;
  -moz-transition: opacity, top .2s ease-out;
  transition: opacity, top .2s ease-out;
}

.rule-popup{
	background: #c10d23;
}
.rule-popup .protocol-popup_hd,.rule-popup .protocol-popup_bd,.rule-popup .protocol-popup_ft {
	background: #c10d23; color: #fff9aa;
	-webkit-box-shadow:0 3px 3px rgba(120,1,21,.4);
	-moz-box-shadow:0 3px 3px rgba(120,1,21,.4);
	box-shadow:0 3px 3px rgba(120,1,21,.4);
}
.rule-popup .protocol-popup_ft {
	bottom:0;
	text-align:center;
	-webkit-box-shadow:0 -3px 3px rgba(120,1,21,.4);
	-moz-box-shadow:0 -3px 3px rgba(120,1,21,.4);
	box-shadow:0 -3px 3px rgba(120,1,21,.4);
}

.rule-popup .protocol-popup_bd{overflow-y:auto; overflow-x:hidden; word-wrap:break-word; padding: 0; top: 0;}
.rule-popup .protocol-popup_ft .button{color: #fff9aa;}