<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>

            <li>
                <a href="${www}/friendlylink">友情链接列表</a>
            </li>
            <li class="active">修改友情链接</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>修改友情链接</h1>
        </div>
        
       #if(${msg})
        	<div>
			#if(${success})
        		<li class="text-success">$!{msg}</li>
   			 #else
        		<li class="text-danger">$!{msg}</li>
   			 #end    	
   			</div>
   		#end	        
        
        <form id="inputForm" action="${www}/friendlylink/update" method="post" class="form-horizontal">
        	<input type="hidden" name="id" id="id" value="$!{param.id}"/>
        	<div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">名称：</label>
                        <div class="col-md-8 col-sm-8">
                        	<input type="text" class="col-sm-12" id="vcName" name="vcName" value="$!{param.vcName}" />
                        </div>
                    </div>
                </div>
             </div>
             
    		<div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">链接地址：</label>
                        <div class="col-md-8 col-sm-8">
                        	<input type="text" class="col-sm-12" id="vcUrl" name="vcUrl" value="$!{param.vcUrl}" />
                        </div>
                    </div>
                </div>
             </div>             
             
             <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">顺序：</label>
                        <div class="col-md-8 col-sm-8">
                        	<input type="number" class="col-sm-12" id="isort" name="isort" value="$!{param.isort}" />
                        </div>
                    </div>
                </div>
             </div> 
             <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">状态：</label>
                        <div class="col-md-8 col-sm-8">
                        	<select class="col-sm-12" name="istate">
                                <option value="1" #if($param.istate ==1) selected #end>有效</option>
                                <option value="2" #if($param.istate ==2) selected #end>无效</option>
                            </select>
                        </div>
                    </div>
                </div>
             </div> 
             
             <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">是否添加rel=&quot;external nofollow&quot;：</label>
                        <div class="col-md-8 col-sm-8">
                        	<select class="col-sm-12" name="iAddCss">
                                <option value="0" #if($param.iAddCss ==0) selected #end>否</option>
                                <option value="1" #if($param.iAddCss ==1) selected #end>是</option>
                            </select>
                        </div>
                    </div>
                </div>
             </div> 


            <div class="clearfix form-actions">
                <div class="row">
                    <div class="col-md-8">
                        <div class="col-sm-offset-4 col-md-9">
         					  <button class="btn btn-info" type="submit">
                                <i class="icon-ok bigger-110"></i>提交
                            </button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn" type="button" onclick="javascript:history.go(-1);">
                                <i class="icon-arrow-left bigger-110"></i>返回
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    </div>            
    </form>
</div><!-- /.page-content -->
</div><!-- /.main-content -->
