<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.subjectclass.SubjectclassMapper">	
	<resultMap id="BaseResultMap" type="com.tzg.entitys.subjectclass.Subjectclass">
		<result property="id" jdbcType="INTEGER" column="id"/>
		<result property="iclassType" jdbcType="INTEGER" column="iClassType"/>
		<result property="vcClassName" jdbcType="VARCHAR" column="vcClassName"/>
		<result property="itype" jdbcType="INTEGER" column="iType"/>
		<result property="vcTypeName" jdbcType="VARCHAR" column="vcTypeName"/>
		<result property="icreate" jdbcType="INTEGER" column="iCreate"/>
		<result property="dtCreate" jdbcType="TIMESTAMP" column="dtCreate"/>
		<result property="icheck" jdbcType="INTEGER" column="iCheck"/>
		<result property="dtCheck" jdbcType="TIMESTAMP" column="dtCheck"/>
		<result property="istatus" jdbcType="INTEGER" column="iStatus"/>
		<result property="iticket" jdbcType="INTEGER" column="iTicket"/>
    </resultMap>
	
	
	<sql id="columns">
	    <![CDATA[
        id ,iClassType ,vcClassName ,iType ,vcTypeName ,iCreate ,dtCreate ,iCheck ,dtCheck ,iStatus,iticket 
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.tzg.entitys.subjectclass.Subjectclass" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
	      SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	<![CDATA[
		INSERT INTO tbsubjectclass (
        	iClassType ,
        	vcClassName ,
        	iType ,
        	vcTypeName ,
        	iCreate ,
        	dtCreate ,
        	iCheck ,
        	dtCheck ,
        	iStatus ,
        	iticket 
		) VALUES (
        	#{iclassType,jdbcType=INTEGER} ,
        	#{vcClassName,jdbcType=VARCHAR} ,
        	#{itype,jdbcType=INTEGER} ,
        	#{vcTypeName,jdbcType=VARCHAR} ,
        	#{icreate,jdbcType=INTEGER} ,
        	#{dtCreate,jdbcType=TIMESTAMP} ,
        	#{icheck,jdbcType=INTEGER} ,
        	#{dtCheck,jdbcType=TIMESTAMP} ,
        	#{istatus,jdbcType=INTEGER} ,
        	#{iticket,jdbcType=INTEGER}
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.subjectclass.Subjectclass">
		UPDATE tbsubjectclass
		<set>
			<if test="iclassType != null">
	        iClassType = #{iclassType,jdbcType=INTEGER} ,
	        </if>
			<if test="vcClassName != null">
	        vcClassName = #{vcClassName,jdbcType=VARCHAR} ,
	        </if>
			<if test="itype != null">
	        iType = #{itype,jdbcType=INTEGER} ,
	        </if>
			<if test="vcTypeName != null">
	        vcTypeName = #{vcTypeName,jdbcType=VARCHAR} ,
	        </if>
			<if test="icreate != null">
	        iCreate = #{icreate,jdbcType=INTEGER} ,
	        </if>
			<if test="dtCreate != null">
	        dtCreate = #{dtCreate,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="icheck != null">
	        iCheck = #{icheck,jdbcType=INTEGER} ,
	        </if>
			<if test="dtCheck != null">
	        dtCheck = #{dtCheck,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="istatus != null">
	        iStatus = #{istatus,jdbcType=INTEGER} ,
	        </if>
	        <if test="iticket != null">
	         iTicket = #{iticket,jdbcType=INTEGER} 
	        </if>
	    </set>
		WHERE 
	        id = #{id,jdbcType=INTEGER} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM tbsubjectclass WHERE
        id = #{id} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM tbsubjectclass 
		WHERE 
        id = #{id} 
	]]>
	</select>
	
	<select id="maxItypeid" resultType="java.lang.Integer" parameterType="java.lang.Integer">
	    select max(iType)  from tbsubjectclass  where  iClassType = #{iclassType} 
	</select>

	<select id="findSubjectClass" resultMap="BaseResultMap" parameterType="java.util.Map">
    	select <include refid="columns"/> from tbsubjectclass where 1=1
		<include refid="queryWhere"/>
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from tbsubjectclass where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from tbsubjectclass where 1=1
		<include refid="queryWhere"/> 
	    <![CDATA[ ORDER BY id asc ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
	
<sql id="queryWhere">
		<if test="id != null and id.trim() != ''">
		and id = #{id}
		</if>
		<if test="iclassType != null and iclassType.trim() != ''">
		and iClassType = #{iclassType}
		</if>
		<if test="vcClassName != null and vcClassName.trim() != ''">
		and vcClassName = #{vcClassName}
		</if>
		<if test="itype != null and itype.trim() != ''">
		and iType = #{itype}
		</if>
		<if test="vcTypeName != null and vcTypeName.trim() != ''">
		and vcTypeName = #{vcTypeName}
		</if>
		<if test="icreate != null and icreate.trim() != ''">
		and iCreate = #{icreate}
		</if>
		<if test="dtCreateBegin != null and dtCreateBegin.trim() != ''">
		and dtCreate >= #{dtCreateBegin}
		</if>
		<if test="dtCreateEnd != null and dtCreateEnd.trim() != ''">
		and dtCreate &lt;= #{dtCreateEnd}
		</if>
		<if test="icheck != null and icheck.trim() != ''">
		and iCheck = #{icheck}
		</if>
		<if test="dtCheckBegin != null and dtCheckBegin.trim() != ''">
		and dtCheck >= #{dtCheckBegin}
		</if>
		<if test="dtCheckEnd != null and dtCheckEnd.trim() != ''">
		and dtCheck &lt;= #{dtCheckEnd}
		</if>
		<if test="istatus != null and istatus.trim() != ''">
		and iStatus = #{istatus}
		</if>
		<if test="iticket != null and iticket.trim() != ''">
		and iTicket = #{iticket}
		</if>
		<if test="notItype != null and notItype.trim() != ''">
		and iType &lt;&gt; #{notItype}
		</if>
		
	</sql>
</mapper>


