## 体验标 列表项juicer模板
## =====================================
<a href="$!{basePath}/subject/experiencedetail?subjectId=$[item.id]" class="m-sbjItm z-experience">
	<div class="m-sbjItm-n">体验标 $[item.vcName]</div>
	<div class="m-sbjItm-prgr">
		<div class="m-SP-hnt">
			[@if item.irepayMode==1]到期还本付息
			[@else if item.irepayMode==2]每日付息到期还本
			[@else if item.irepayMode==3]每月付息到期还本
			[@else if item.irepayMode==4]等额本息
			[@else if item.irepayMode==5]到期返还收益
			[@/if]
		</div>
		<div class="m-prgr2"><span class="m-prgr2-bar" style="width:$[item.percent]%"></span></div>
	</div>
	
	<div class="m-sbjItm-prps g-3c-n">
		<span class="g-3c-n_left">
			<span class="u-clScd">$[item.totalRate]%</span>
		</span>
		<span class="g-3c-n_middle">$[item.numPeriod] <span class="u-fsSml u-clGrayLgt">天</span></span>
		<span class="g-3c-n_right">$[item.numTotalFinancingStr] </span>
	</div>

	<div class="m-sbjItm-sd">
		[@if item.istate == 10]
			<span class="u-btn z-prm z-sml">$[item.dtCollectStartStr|substr,11,5]开标</span>
		[@else]
			<span class="u-btn z-prm z-sml">立即投资</span>
		[@/if]
	</div>
</a>

