## 标题栏
## ------------------------------------
#* 
<div class="topbar" id="j_topbar">
	<h1 class="topbar_title">$!topbar.title</h1>
	#if ($topbar.backLink != "no")
		#if ($topbar.backLink)
			<a href="$!topbar.backLink" class="topbar_back"></a>
		#else
			<a href="javascript:self.history.go(-1)" class="topbar_back"></a>
		#end
	#end

	#if ($topbar.sub)
		<div class="topbar_sub">
			#foreach ($!{item} in $!{topbar.sub})
				<a href="$!{item.link}"#if ($item.current) class="z-atv"#end#if ($item.dataParam) data-param="$!{item.dataParam}"#end>$!{item.title}</a>
			#end
		</div>
	#end
</div>
 *#
#if ($topbar)
<header class="f-hd f-hd-v2" id="j_topbar">
	<h2 class="f-hd-v2-title">
		$!topbar.title #if ($topbar.sub)<i class="u-icoArrDwn"></i><i class="u-icoArrUp"></i>#end
	</h2>
	#if ($topbar.backLink != "no")
		#if ($topbar.backLink)
			<a href="$!topbar.backLink" class="btn_back"><i class="u-icoArrBck-blue"></i></a>
		#else
			<a href="javascript:self.history.go(-1)" class="btn_back"><i class="u-icoArrBck-blue"></i></a>
		#end
	#end
	#if ($topbar.sub)
		<div class="m-topbar-sub">
			#foreach ($!{item} in $!{topbar.sub})
				<a href="$!{item.link}"#if ($item.current) class="z-atv"#end#if ($item.dataParam) data-param="$!{item.dataParam}"#end>$!{item.title}</a>
			#end
		</div>
	#end
</header>
#end