#set($layout = "/layout/blank.vm")
#set($topicStaticPath = "$!{basePath}/assets/pics/topics/register20151130")
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>铜掌柜：咳咳咳，我要发红包了！</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telphone=no,email=no">
<meta name="basepath" content="$!{basePath}" id="j_basepath">
<meta name="staticpath" content="$!{staticPath}" id="j_staticpath">
<meta name="staticversion" content="1" id="j_staticversion">
<link rel="stylesheet" href="$!{topicStaticPath}/style.css">
</head>
<body class="bg-gray">

<div class="topic-container">
	#if ($invitePhone && $invitePhone != "")<div class="user">好友$!{invitePhone}邀请您</div>#end
	<div class="topic-banner"><img src="$!{topicStaticPath}/images/bg.png" alt="铜掌柜" class="main-img"></div>
	<div class="index-banner">
		<div class="red-account"><em>188</em>元</div>
		<img src="$!{topicStaticPath}/images/index-banner.png" alt="注册成功最高可领取60元红包">
	</div>

	<form method="post" action="$!{basePath}/register/invitePhone" class="form register-step-1" id="j_register_form_step_1">
		<ul class="form-ipt-items">
			<li class="form-ipt-item" data-icon="&#xe904;">
				<input type="text" name="phoneNumber" placeholder="请输入手机号码" class="ipt">
			</li>
		</ul>
		<div class="form-items">
			<div class="form-item"><button type="submit" name="submity" class="btn">立即领取</button></div>
			<div class="form-item">
				<label class="item-inner-agree-protocol">
					<input type="checkbox" name="agreeProtocol" value="true" checked> 同意
					<a href="https://upload.tzg.cn/upload/201505/RegisteregProtocol.html" id="j_open_protocol_btn">《融佰通注册协议》</a>
				</label>
			</div>
		</div>
		<input type="hidden" name="inviteCode" value="$!{inviteCode}">
	</form>

	<div class="ft">账户资金盗转盗用由人保财险承保</div>
	<div class="ft-placeholder"></div>
</div>

<div style="display:none" id="j_register_phone_hint">
	<div class="registered-phone-hint">
		<div class="hint-word">手机号码已经注册</div>
		<a href="$!{basePath}/login/page" class="hint-link">直接登录</a>
	</div>
</div>

<div class="protocol-popup" id="j_protocol_popup">
	<div class="protocol-popup_hd">《融佰通注册协议》</div>
	<div class="protocol-popup_bd">
		<iframe frameborder="0" scrolling="scroll" width="100%" height="100%" src="https://upload.tzg.cn/upload/201505/RegisteregProtocol.html"></iframe>
	</div>
	<div class="protocol-popup_ft">
		<button type="button" class="button" ppclosebtn>确 定</button>
	</div>
</div>


<script src="$!{staticPath}/js/lib/sea.js" id="seajsnode"></script>
<script>seajs.use("$!{topicStaticPath}/js/index")</script>

<div style="position:fixed;left:-150px;width:100px;">
##百度统计
<img src="$sc.getBaidu($request,$response,'b274beec7e93e435fc242fc634bb5c73')" width="0" height="0" />
##cnzz统计
<img src="$sc.getCnzz($request,$response,1254699603)" width="0" height="0" />
</div>

</body>
</html>
