#set($layout = "/layout/blank.vm")
#set($topicStaticPath = "$!{basePath}/assets/pics/topics/register20151130")
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>铜掌柜：咳咳咳，我要发红包了！</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telphone=no,email=no">
<meta name="basepath" content="$!{basePath}" id="j_basepath">
<meta name="staticpath" content="$!{staticPath}" id="j_staticpath">
<meta name="staticversion" content="1" id="j_staticversion">
<link rel="stylesheet" href="$!{topicStaticPath}/style.css">
</head>
<body class="bg-gray">

<div class="topic-container">
	<form method="post" action="$!{basePath}/register/inviteIndex" class="form register-step-1" id="j_register_form_step_2">
		<ul class="form-ipt-items">
			<li class="form-ipt-item" data-icon="&#xe90a;">
				<div class="sms-captcha">
					<input type="text" name="dynamicVerifyCode" placeholder="请输入验证码" class="ipt sms-captcha_ipt">
					<button type="button" class="sms-captcha_btn" id="j_send_captcha">获取验证码</button>
				</div>
			</li>
			<li class="form-ipt-item" data-icon="&#xe90b;">
				<input type="password" name="password" placeholder="请输入登录密码" autocomplete="off" class="ipt">
			</li>
		</ul>
		<div class="error-label-container" id="j_error_label_container"></div>
		<div class="form-items" style="margin-top: 10.67%">
			<div class="form-item"><button type="submit" name="submity" class="btn">立即领取</button></div>
		</div>
		<input type="hidden" name="inviteCode" value="$!{registerRequest.inviteCode}">
		<input type="hidden" name="phoneNumber" value="$!{registerRequest.phoneNumber}">
	</form>

	<div class="ft">账户资金盗转盗用由人保财险承保</div>
	<div class="ft-placeholder"></div>
</div>



<script src="$!{staticPath}/js/lib/sea.js" id="seajsnode"></script>
<script>seajs.use("$!{topicStaticPath}/js/register-password")</script>

<div style="position:fixed;left:-150px;width:100px;">
##cnzz统计
<img src="$sc.getCnzz($request,$response,1254699603)" width="0" height="0" />
</div>

</body>
</html>
