<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.kff.qfindex.QfIndexMapper">
	<resultMap id="BaseResultMap" type="com.tzg.entitys.kff.qfindex.QfIndex">
		<result property="qfIndexId" jdbcType="INTEGER" column="qf_index_id" />
		<result property="userId" jdbcType="INTEGER" column="user_id" />
		<result property="contributeContent" jdbcType="DOUBLE" column="contribute_content" />
		<result property="lockedPosition" jdbcType="DOUBLE" column="locked_position" />
		<result property="liveness" jdbcType="DOUBLE" column="liveness" />
		<result property="influence" jdbcType="DOUBLE" column="influence" />
		<result property="communityAssessment" jdbcType="DOUBLE" column="community_assessment" />
		<result property="healthDegree" jdbcType="DOUBLE" column="health_degree" />
		<result property="statusHierarchyDesc" jdbcType="VARCHAR" column="status_hierarchy_desc" />
		<result property="statusHierarchyType" jdbcType="INTEGER" column="status_hierarchy_type" />
		<result property="yxpraise" jdbcType="INTEGER" column="yxpraise" />
		<result property="createTime" jdbcType="TIMESTAMP" column="createTime" />
		<result property="updateTime" jdbcType="TIMESTAMP" column="updateTime" />
		<result property="yxComments" jdbcType="INTEGER" column="yx_comments" />
		<result property="yxSharePost" jdbcType="INTEGER" column="yx_share_post" />

	</resultMap>

	<sql id="columns">
	    <![CDATA[
        qf_index_id ,
        user_id ,
        contribute_content ,
        locked_position ,
        liveness ,
        influence ,
        community_assessment ,
        health_degree ,
        status_hierarchy_desc ,
        status_hierarchy_type ,
        yxpraise ,
        yx_comments ,
        yx_share_post ,
        createTime ,
        updateTime
        
	    ]]>
	</sql>

	<insert id="save" parameterType="com.tzg.entitys.kff.qfindex.QfIndex" useGeneratedKeys="true" keyProperty="qfIndexId">
		<selectKey resultType="java.lang.Integer" keyProperty="qfIndexId" order="AFTER">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
	<![CDATA[
		INSERT INTO tbqfindex (
        	user_id ,
	        contribute_content ,
	        locked_position ,
	        liveness ,
	        influence ,
	        community_assessment ,
	        health_degree ,
	        status_hierarchy_desc ,
	        status_hierarchy_type ,
	        yxpraise ,
	        yx_commnets ,
	        yx_share_post ,
        	createTime ,
        	updateTime
		) VALUES (
		
        	#{userId,jdbcType=INTEGER} ,
        	#{contributeContent,jdbcType=DOUBLE} ,
        	#{lockedPosition,jdbcType=DOUBLE} ,
        	#{liveness,jdbcType=DOUBLE} ,
        	#{influence,jdbcType=DOUBLE} ,
        	#{communityAssessment,jdbcType=DOUBLE} ,
        	#{healthDegree,jdbcType=DOUBLE} ,
        	#{statusHierarchyDesc,jdbcType=VARCHAR} ,
        	#{statusHierarchyType,jdbcType=INTEGER} ,
        	#{yxpraise,jdbcType=INTEGER} ,
        	#{yxComments,jdbcType=INTEGER} ,
        	#{yxSharePost,jdbcType=INTEGER} ,
        	#{createTime,jdbcType=TIMESTAMP} ,
        	#{updateTime,jdbcType=TIMESTAMP} 
        	
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.kff.qfindex.QfIndex">
		UPDATE tbqfindex
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER} ,
			</if>
			<if test="contributeContent != null">
				contribute_content = #{contributeContent,jdbcType=INTEGER} ,
			</if>
			<if test="liveness != null">
				liveness = #{liveness,jdbcType=DOUBLE} ,
			</if>
			<if test="influence != null">
				influence = #{influence,jdbcType=DOUBLE} ,
			</if>
			<if test="communityAssessment != null">
				community_assessment = #{communityAssessment,jdbcType=DOUBLE} ,
			</if>
			<if test="healthDegree != null">
				health_degree = #{healthDegree,jdbcType=DOUBLE} ,
			</if>
			<if test="statusHierarchyDesc != null">
				status_hierarchy_desc = #{statusHierarchyDesc,jdbcType=VARCHAR} ,
			</if>
			<if test="statusHierarchyType != null">
				status_hierarchy_type = #{statusHierarchyType,jdbcType=INTEGER} ,
			</if>
			<if test="yxpraise != null">
				yxpraise = #{yxpraise,jdbcType=INTEGER} ,
			</if>
			<if test="yxComments != null">
				yx_comments = #{yxComments,jdbcType=INTEGER} ,
			</if>
			<if test="yxSharePost != null">
				yx_share_post = #{yxSharePost,jdbcType=INTEGER} ,
			</if>
			<if test="createTime != null">
				createTime = #{createTime,jdbcType=TIMESTAMP} ,
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime,jdbcType=TIMESTAMP}
			</if>


		</set>
		WHERE
		qf_index_id = #{qfIndexId,jdbcType=INTEGER}
	</update>

	<update id="updateYxPraise" parameterType="java.lang.Integer">
		UPDATE
		tbqfindex
		set
		yxpraise = yxpraise - 1,updateTime= NOW()
		WHERE
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateYxComments" parameterType="java.lang.Integer">
		UPDATE
		tbqfindex
		set
		yx_comments = yx_comments - 1,updateTime= NOW()
		WHERE
		user_id = #{userId,jdbcType=INTEGER}
	</update>

	<update id="updateyxSharePost" parameterType="java.lang.Integer">
		UPDATE
		tbqfindex
		set
		yx_share_post = yx_share_post - 1,updateTime= NOW()
		WHERE
		user_id = #{userId,jdbcType=INTEGER}
	</update>

	<update id="updateYxAll" parameterType="java.lang.Integer">
		UPDATE
		tbqfindex
		set
		yxpraise = floor(status_hierarchy_type * 0.1),
		yx_comments=floor(status_hierarchy_type * 0.1),
		yx_share_post=floor(status_hierarchy_type * 0.1),
		updateTime= NOW()
	</update>

	<update id="updateYxPraiseValid" parameterType="java.lang.Integer">
		UPDATE
		tbqfindex
		set
		yxpraise = floor(status_hierarchy_type * 0.1),updateTime= NOW()

	</update>




	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM tbqfindex WHERE
        qf_index_id = #{qfIndexId} 
	]]>
	</delete>

	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT
		<include refid="columns" /> 
	<![CDATA[
		FROM tbqfindex 
		WHERE 
         qf_index_id = #{qfIndexId} 
	]]>
	</select>

	<select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT
		<include refid="columns" /> 
	<![CDATA[
		FROM tbqfindex 
		WHERE 
        user_id = #{userId}
	]]>
	</select>

	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(*) from tbqfindex where 1=1
		<include refid="queryWhere" />
	</select>

	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="columns" />
		from tbqfindex where 1=1
		<include refid="queryWhere" /> 
	    <![CDATA[ ORDER BY qf_index_id DESC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>



	<select id="findByUserIds" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="columns" />
		from tbqfindex where 1=1
		<include refid="queryWhere" />

	</select>

	<!-- 查询rewardToken(赠送的奖励)个人总数量 -->
	<!-- <select id="findUserSumRewardToken" parameterType="java.lang.Integer"> select sum(*) from tbtokenaward where 1=1 <include refid="queryWhere"/> </select> -->
	<!-- 查询单人的邀请字段 -->
	<sql id="queryWhere">

		<if test="qfIndexId != null and qfIndexId.trim() != ''">
			and qf_index_id = #{qfIndexId}
		</if>
		<if test="userId != null and userId.trim() != ''">
			and user_id = #{userId}
		</if>
		<if test="contributeContent != null and contributeContent.trim() != ''">
			and contribute_content = #{contributeContent}
		</if>
		<if test="lockedPosition != null and lockedPosition.trim() != ''">
			and locked_position = #{lockedPosition}
		</if>
		<if test="liveness != null and liveness.trim() != ''">
			and liveness = #{liveness}
		</if>
		<if test="influence != null and influence.trim() != ''">
			and influence = #{influence}
		</if>
		<if test="communityAssessment != null and communityAssessment.trim() != ''">
			and community_assessment = #{communityAssessment}
		</if>
		<if test="healthDegree != null and healthDegree.trim() != ''">
			and health_degree >= #{healthDegree}
		</if>
		<if test="statusHierarchyDesc != null and statusHierarchyDesc.trim() != ''">
			and status_hierarchy_desc &lt;= #{statusHierarchyDesc}
		</if>
		<if test="statusHierarchyType != null and statusHierarchyType.trim() != ''">
			and status_hierarchy_type = #{statusHierarchyType}
		</if>
		<if test="yxpraise != null and yxpraise.trim() != ''">
			and yxpraise >= #{yxpraise}
		</if>
		<if test="yxComments != null and yxComments.trim() != ''">
			and yx_comments >= #{yxComments}
		</if>
		<if test="yxSharePost != null and yxSharePost.trim() != ''">
			and yx_share_post >= #{yxSharePost}
		</if>
		<if test="createTime != null and createTime.trim() != ''">
			and createTime &lt;= #{createTime}
		</if>
		<if test="updateTime != null and updateTime.trim() != ''">
			and updateTime = #{updateTime}
		</if>
		<if test="userIds != null and userIds.trim() != ''">
			and user_id in
			<foreach collection="userIds" item="userId" index="index" open="(" separator="," close=")">
				#{userId}
			</foreach>
		</if>

	</sql>
</mapper>


