html{height:100%;font-size:10px;background-color:#fff;}
@media screen and (max-width:640px){html{font-size:8.533333333px}}
@media screen and (max-width:560px){html{font-size:7.466666667px}}
@media screen and (max-width:480px){html{font-size:6.4px}}
@media screen and (max-width:400px){html{font-size:5.333333333px}}
@media screen and (max-width:320px){html{font-size:4.266666667px}}
body {
	margin:0 auto;
	max-width:750px;
	min-width:320px;
	min-height:100%;
	font-size: 1rem;
	background-color: #871973;
	-webkit-text-size-adjust: none;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.topic-container {
	position: relative;
}

.floor {
	position: absolute;
	z-index: 20;
}

/* 图片
 ------------------------------------------- */
.topic-images img {
	width: 100%;
	vertical-align: top;
}

/* 进度
 ------------------------------------------- */
.floor-progress {
	top: 1.48%;
	margin-left: 3.6%;
	width: 40.2%;
	height: 2.7%;
	overflow: hidden;
}
.topic-progress {
	position: absolute;
	top: 120%;
	left: 0;
	width: 100%;
	height: 100%;
}
.topic-progress-stars {
	position: absolute;
	top: 7%;
	left: 10%;
	z-index: 25;
	width: 87.38%;
	opacity: 0.75;
}
.topic-progress-mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 22;
	width: 100%;
}

/* 风车
 ------------------------------------------- */
.floor-wind-powers {
	top: 5.55%;
	left: 4%;
	width: 96%;
	height: 2.3%;
}
.floor-wind-powers a {
	float: left;
	margin-right: 1.5%;
	width: 23%;
	height: 100%;
}
.floor-wind-powers img {
	display: block;
	margin-left: 21%;
	width: 57.83%;

	-webkit-animation: m 2s linear infinite;
	   -moz-animation: m 2s linear infinite;
		-ms-animation: m 2s linear infinite;
			animation: m 2s linear infinite;
} 

@-webkit-keyframes m {
	from {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
				transform: rotate(359deg);
	}
}
@keyframes m {
	from {
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
		   -moz-transform: rotate(359deg);
			-ms-transform: rotate(359deg);
				transform: rotate(359deg);
	}
}

/* 总投资金额
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.floor-total-invest {
	top: 12.4%;
	left: 0;
	width: 100%;
	font-size: 5.4rem;
	line-height: 1;
	text-align: center;
	color: #fff8a5;
}
.floor-total-invest .amount {
	display: inline-block;
	vertical-align: middle;
}
.floor-total-invest .d,
.floor-total-invest span {
	position: relative;
	float: left;
	padding: 0 1px;
	height: 1.5em;
	overflow: hidden;
	line-height: 1.5;
}
.floor-total-invest .d ul {
	position: relative;
}
.floor-total-invest .d li {
	padding: 0.25em 0;
	line-height: 1;
}


/* 标
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.floor-subjects {
	top: 19.6%;
	left: 5%;
	width: 95%;
	height: 2%;
}
.floor-subjects li {
	float: left;
	margin-right: 5%;
	width: 15%;
	height: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background: url(images/ball.png) no-repeat center 0;
	-webkit-background-size: 100% auto;
			background-size: 100% auto;
}
.floor-subjects a {
	display: block;
	margin-bottom: 7%;
	height: 66.8%;
	text-align: center;
	line-height: 290px;
	background: url(images/subject-types_03.png) no-repeat center 250%;
	-webkit-background-size: 80% auto;
			background-size: 80% auto;
}
.floor-subjects a.type-sk {
	background-image: url(images/subject-types_03.png);
}
.floor-subjects a.type-hs {
	background-image: url(images/subject-types_05.png);
}
.floor-subjects a.type-ex {
	background-image: url(images/subject-types_07.png);
}

.floor-subjects .past {
	color: #ea5514;
}
.floor-subjects .past a {
	background-position: center -150%;
}

/* 列表一
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.data-tab {
	position: relative;
}
.data-tab a {
	box-sizing: border-box;
	float: left;
	padding: 1% 0;
	width: 50%;
	height: 200%;
	text-align: center;
	font-size: 2.8rem;
}
.data-tab a:first-child {
	border-top-left-radius: .8em;
}
.data-tab a:last-child {
	border-top-right-radius: .8em;
}
.data-tab a.active {
	position: relative;
	box-shadow: 0 0 .3em #000;
}
.data-tab a div {
	color: #fff;
}

.data-tab-1 {
	margin: auto;
	width: 98.4%;
}

.tab-item-1 {
	background: #6fc3ad;
	background: -moz-linear-gradient(left, #6fc3ad 0%, #38b5a9 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6fc3ad), color-stop(100%,#38b5a9));
	background: -webkit-linear-gradient(left, #6fc3ad 0%,#38b5a9 100%);
	background: -ms-linear-gradient(left, #6fc3ad 0%,#38b5a9 100%);
	background: linear-gradient(to right, #6fc3ad 0%,#38b5a9 100%);
}
.tab-item-2 {
	background: #eb6969;
	background: -moz-linear-gradient(left, #eb6969 0%, #e83e4b 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eb6969), color-stop(100%,#e83e4b));
	background: -webkit-linear-gradient(left, #eb6969 0%,#e83e4b 100%);
	background: -ms-linear-gradient(left, #eb6969 0%,#e83e4b 100%);
	background: linear-gradient(to right, #eb6969 0%,#e83e4b 100%);
}

.floor-lists-1 {
	top: 45.1%;
	right: 0;
	width: 61%;
	height: 4.8%;
	font-size: 2.4rem;
}
.floor-lists-1 ul {
	height: 100%;
}
.floor-lists-1 li {
	box-sizing: border-box;
	padding: 5% 0;
	height: 17.5%;
}
.floor-lists-1 .col {
	float: left;
	width: 50%;
}


/* 昨日获奖名单
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.floor-yestoday-list {
	top: 52.4%;
	left: 6%;
	width: 90%;
	font-size: 2.4rem;
}
.floor-yestoday-list table {
	border-collapse: collapse;
	width: 100%;
}
.floor-yestoday-list table td {
	padding: 2% 0;
	width: 33.333%;
	text-align: center;
}
.floor-yestoday-list thead td {
	color: #7e318e;
}

.floor-yestoday-list-2 {
	top: 56.6%;
}



/* 今日获奖名单
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.data-tab-2 {
	margin: auto;
	width: 98.4%;
}

.tab-item-3 {
	background: #009edd;
	background: -moz-linear-gradient(left, #009edd 0%, #0089ca 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#009edd), color-stop(100%,#0089ca));
	background: -webkit-linear-gradient(left, #009edd 0%,#0089ca 100%);
	background: -ms-linear-gradient(left, #009edd 0%,#0089ca 100%);
	background: linear-gradient(to right, #009edd 0%,#0089ca 100%);
}
.tab-item-4 {
	background: #a8cb35;
	background: -moz-linear-gradient(left, #a8cb35 0%, #62b85d 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a8cb35), color-stop(100%,#62b85d));
	background: -webkit-linear-gradient(left, #a8cb35 0%,#62b85d 100%);
	background: -ms-linear-gradient(left, #a8cb35 0%,#62b85d 100%);
	background: linear-gradient(to right, #a8cb35 0%,#62b85d 100%);
}

.floor-today-lists {
	top: 67.6%;
	left: 8%;
	width: 90%;
	height: 8%;
	overflow: hidden;
	font-size: 2.4rem;
}
.floor-today-lists ul {
	height: 100%;
	overflow: hidden;
}
.floor-today-lists li {
	box-sizing: border-box;
	height: 17%;
	overflow: hidden;
}
.floor-today-lists .col {
	float: left;
	padding-top: 2%;
	width: 40%;
}
.floor-today-lists .col:first-child {
	padding-top: 0;
	width: 38%;
}
.floor-today-lists .col:last-child {
	width: 22%;
}


/* 金条
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.floor-winning {
	top: 82.2%;
	right: 4.5%;
	height: 4.8%;
	font-size: 2.4rem;
}
.floor-winning li {
	height: 17%;
}
.floor-winning a {	
	color: #ea5514;
}

/* 底部按钮
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* .foot-btn {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 30;
	width: 100%;
	height: 10em;
	overflow: hidden;
	outline: none;
	text-indent: -1000em;
	background: url(images/foot-btn.png) no-repeat center bottom;
	-webkit-background-size: auto 100%;
			background-size: auto 100%;
} */
.foot-btn {
	position: fixed;
	bottom: 0;
	left: 50%;
	z-index: 30;
	margin-left: -100px;
	width: 200px;
	height: 75px;
	overflow: hidden;
	outline: none;
	text-indent: -1000em;
	background: url(images/foot-btn.png) no-repeat center bottom;
	-webkit-background-size: auto 100%;
			background-size: auto 100%;
}
.ft-topic {
	position: fixed;
	z-index: 30;
}



/* 模拟弹框
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.xm-dialog {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
	width: 100%;
	height: 200%;
	background-color: rgba(0,0,0,.46);
}
.xm-dialog_inner {
	position: relative;
	top: 15%;
	margin: auto;
	max-width: 750px;
	min-width: 320px;
}
.xm-dialog_win {
	box-sizing: border-box;
	margin: auto;
	padding: 11em 8% 3.33%;
	width: 72.67%;
	border: .8em solid #fff;
	border-radius: 1.5em;
	font-size: 2.4rem;
	background: #fed600 url(images/cat.png) no-repeat center 0;
	-webkit-background-size: auto 10em;
			background-size: auto 10em;
}
.xm-dialog_content {
	margin-bottom: 5%;
	font-size: 2.4rem;
	color: #8b00e4;
	text-align: center;
}
.xm-dialog_btn {
	display: block;
	padding: 5% 0;
	width: 100%;
	border: none;
	font-size: 2.4rem;
	border-radius: .2em;
	text-align: center;
	color: #fff;
	background: #ef2df1;
	background: -moz-linear-gradient(top, #ef2df1 0%, #e30054 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef2df1), color-stop(100%,#e30054));
	background: -webkit-linear-gradient(top, #ef2df1 0%,#e30054 100%);
	background: -ms-linear-gradient(top, #ef2df1 0%,#e30054 100%);
	background: linear-gradient(to bottom, #ef2df1 0%,#e30054 100%);
	box-shadow: 0 .15em .2em rgba(249, 88, 0, .75);
}
.xm-dialog_close {
	position: absolute;
	top: 1%;
	right: 15%;
	width: 1em;
	height: 1em;
	font-size: 4rem;
	color: #8b00e4;
	line-height: 1;
	text-align: center;
}


.btn {
	box-sizing: border-box;
	display:inline-block;
	padding:0 3%;
	overflow:visible;
	border:0;
	font-size:4.2rem;
	line-height:2;
	font-family: "micrsoft yahei";
	border-radius:1rem;
	background-color:#b9b9b9
}
.btn.-primary {
	color:#fff;
	background-color:#f87382
}
.btn.-c3 {
	color:#fff;
	background-color:#4dd2bb
}
.btn.-gray,.btn.-loading,.btn[disabled],.btn:disabled {
	background:#c3c3c3
}
.btn.-full {
	padding:0;
	width:100%;
	text-align:center
}
.btn.-small {
	font-size: 3.2rem;
	border-radius:.5rem;
}
.btn.-hollow {
	border: 1px solid #f87382;
	color: #f87382;
	background-color: #fff;
}
.btn.-loading {
	font-size:0
}
.btn.-loading:after {
	content:"\e60c";
	display:inline-block;
	font-family:tzg-icon;
	font-size:4.2rem;
	-webkit-animation:icon-spin 1.5s infinite linear;
	-moz-animation:icon-spin 1.5s infinite linear;
	animation:icon-spin 1.5s infinite linear
}
.btn.-small.-loading:after {
	font-size:3.2rem;
}


.ipt {
	display: inline-block;
	padding: .5em;
	border: 1px solid #e6e6e6;
	font-size: 3rem;
	font-family: "micrsoft yahei";
	line-height: 1.5;
}
.ipt:focus {
	border-color: #70abf1;
}
.ipt.-full {
	box-sizing: border-box;
	width: 100%;
}

.captcha {
	position: relative;
}
.captcha_btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 40%;
	height: 100%;
	color: #fff !important;
	font-size: 2rem;
	line-height: 3.8;
	text-align: center;
	background-color: #4e96ef;
}
.captcha_btn.z-gray {
	background-color: #c0c0c0;
}
.captcha_ipt {
	width: 60%;
}

/*~~~~~~~~~~~~~~~~~
	协议弹框
 ~~~~~~~~~~~~~~~~~*/
.protocol-popup {
	position:fixed;
	top:0;
	left:150%;
	z-index:105;
	width:100%;
	height:100%;
	font-size: 3rem;
	background-color:#fff;
	-webkit-transition:left .2s ease-out;
	-moz-transition:left .2s ease-out;
	transition:left .2s ease-out;
	-webkit-overflow-scrolling: touch;
}
.protocol-popup.-opened {
	left:0;
	-webkit-transition:left .2s ease-out;
	-moz-transition:left .2s ease-out;
	transition:left .2s ease-out
}
.protocol-popup_hd,.protocol-popup_ft {
	position:absolute;
	left:0;
	z-index:3;
	width:100%;
	height:2.5em;
	text-align:center;
	background-color:#fff
}
.protocol-popup_hd {
	top:0;
	line-height:2.5;
	-webkit-box-shadow:0 3px 3px rgba(102,153,255,.3);
	-moz-box-shadow:0 3px 3px rgba(102,153,255,.3);
	box-shadow:0 3px 3px rgba(102,153,255,.3)
}
.protocol-popup_ft {
	bottom:0;
	text-align:center;
	-webkit-box-shadow:0 -3px 3px rgba(102,153,255,.3);
	-moz-box-shadow:0 -3px 3px rgba(102,153,255,.3);
	box-shadow:0 -3px 3px rgba(102,153,255,.3)
}
.protocol-popup_ft .button {
	border:0;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-size: 3rem;
	background:transparent
}
.protocol-popup_bd {
	position:absolute;
	top:2.5em;
	right:0;
	bottom:2.5em;
	left:0;
	padding:0 3%;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
}

/*~~~~~~~~~~~~~~~~~
	登录/注册表单
 ~~~~~~~~~~~~~~~~~*/
.public-form {
	font-size: 3rem;
}
.public-form li {
	margin: 3% 0;
}
.public-form .form-item {
	padding-left: 3em;
}
.public-form .form-label {
	float: left;
	margin-top: .5em;
	margin-left: -3em;
}
.public-form.-label-4c .form-item {
	padding-left: 6em;
}
.public-form.-label-4c .form-label {
	margin-left: -6em;
}
.public-form .form-content .captcha .ipt {
	margin-top: 0;
}
.public-form .ipt.z-err {
	border-color: #c00;
}
.public-form label.z-err {
	color: #c00;
}
.public-form a {
	color: #4e96ef;
}

/*~~~~~~~~~~~~~~~~~
	登录注册弹框
 ~~~~~~~~~~~~~~~~~*/
.ui-dialog {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(79, 150, 240, 0.3);
}
.lt-ie9 .ui-dialog {
  border: 1px solid #c4dcfa;
}
.ui-dialog-grid {
  border-collapse: collapse;
}
.ui-dialog-header {
  padding: 3% 0;
  color: #fff;
  background-color: #f87382;
}
.ui-dialog-close {
  display: block;
  position: absolute;
  top: 1.5%;
  right: 2%;
  font-size: 5rem;
  line-height: 1;
  color: #fff;
}
.ui-dialog-close:hover {
  color: rgba(255, 255, 255, 0.7);
}
.ui-dialog-close:active {
  color: rgba(255, 255, 255, 0.4);
}
.lt-ie7 .ui-dialog-close .ui-dialog-close {
  position: absolute;
  height: 26px;
  background: #FFF;
}
.ui-dialog-title {
  text-align: center;
  font-size: 3rem;
}
.ui-dialog-content {
  box-sizing: border-box;
  padding: 5%;
  overflow: auto;
  font-size: 3rem;
}

.m-pppMsg {
  position: fixed;
  left: 0;
  top: 70%;
  z-index: 200;
  width: 100%;
  font-size: 2.4rem;
}
.m-pppMsg-inn {
  position: absolute;
  top: 10px;
  padding: 5px 8px;
  max-width: 360px;
  border-radius: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.z-show .m-pppMsg-inn {
  opacity: 1;
  top: 0;
  -webkit-transition: opacity, top .2s ease-out;
  -moz-transition: opacity, top .2s ease-out;
  transition: opacity, top .2s ease-out;
}
