<script src="${www}/js/my97DatePicker/WdatePicker.js"></script>
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>

            <li class="active">加息券申请列表</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>
	<div class="page-content">
		<div class="page-header">
		    <h1>加息券申请列表</h1>
		</div>
		<div class="container-fluid">
		    <div class="dataTables_wrapper">
		        <div class="row">
		            <div class="col-sm-10">
		                <form class="form-inline" role="form">
		                   <div class="form-group">
		                        <label>申请时间：</label>
		                        <input type="text" name="dtCreateBegin" id="dtCreateBegin" onFocus="WdatePicker({lang:'zh-cn'})" value="$!{query.dtCreateBegin}" class="input-date">
								-
								<input type="text" name="dtCreateEnd"  id="dtCreateEnd" onFocus="WdatePicker({lang:'zh-cn'})" value="$!{query.dtCreateEnd}" class="input-date">
		                    </div>
		                    <div class="form-group">
		                        <label>状态：</label>
								 <select  name="istatus" id="istatus">
                                    <option value="">全部</option>
                                    <option value="1" #if($query.istatus && $query.istatus =='1') selected #end>待审核</option>
                                    <option value="2" #if($query.istatus && $query.istatus =='2') selected #end>审核中</option>
    								<option value="3" #if($query.istatus && $query.istatus =='3') selected #end>审核通过</option>
    								<option value="4" #if($query.istatus && $query.istatus =='4') selected #end>退回</option>
    								<option value="5" #if($query.istatus && $query.istatus =='5') selected #end>无效</option>
    								<option value="6" #if($query.istatus && $query.istatus =='6') selected #end>已发布</option>
                                </select>
		                    </div>
		                    <div class="form-group">
		                        <label>申请类型：</label>
								 <select  name="iapplyType" >
                                    <option value="">全部</option>
                                    <option value="1" #if($query.iapplyType && $query.iapplyType =='1') selected #end>新增</option>
                                    <option value="2" #if($query.iapplyType && $query.iapplyType =='2') selected #end>追加</option>
                                </select>
		                    </div>
		                    <div class="form-group">
		                        <button class="btn btn-xs btn-primary" type="submit">查询</button>
		                    </div>
		                </form>
		            </div>
                    <div class="col-sm-1">
                        <a href="$!{www}/interestticketapply/new" class="btn btn-success btn-xs">申请加息券活动</a>
                    </div>
		        </div>
		        <table class="table table-striped table-bordered table-hover dataTable">
		            <thead>
		            <tr>
		                <th>活动名称</th>
		                <th>申请类型</th>
		                <th>申请时间</th>
		                <th>活动起止日期</th>
		                <th>最大预算金额</th>
		                <th>加息券有效期</th>
		                <th>发放方式</th>
		                <th>状态</th>
		                <th>操作</th>
		            </tr>
		            </thead>
		            <tbody>
		                #foreach($row in $result.rows)
		                <tr>
		                	<td> $!{row.vcInterestTicketAccountName} </td>
		                	<td> #if($row.iapplyType==1)新增#else追加#end </td>
		                	<td> $!{row.dtApplyStr} </td>
		                	<td> $!{row.dtStartStr}-$!{row.dtEndStr} </td>
		                	<td> $!{row.numApplyAmt} </td>
		                	<td> $!{row.dtExpireStr} </td>
		                	<td> #if($row.iactionType==1)人工定向发放#elseif($row.iactionType==2)专项活动#end </td>
		                	<td> #if($row.istatus =='1')待审核
		                    	 #elseif($row.istatus =='2')审核中 
		                    	 #elseif($row.istatus =='3')审核通过
		                    	 #elseif($row.istatus =='4')退回
		                    	 #elseif($row.istatus =='5')无效
		                    	 #elseif($row.istatus =='6')已发布#end </td>
		                    <td>
		                        <a href="$!{www}/interestticketapply/detail?id=$!{row.id}">查看</a>   
		                  		#if($!{row.istatus}==4)
									#if($row.iapplyType =='1')
										 |	<a href="$!{www}/interestticketapply/find?id=$!{row.id}">修改</a>   
									#elseif($row.iapplyType =='2')
									 |	<a href="$!{www}/interestticketapply/interestticketapplyEdit?id=$!{row.id}">修改</a>   
									#end
								  #end
								#if($!{row.istatus}==1||$!{row.istatus}==2)
                          			#foreach($audit in $auditList)
                          				#if($!{row.vcCurrentFlow}==$audit)
                          			| 	<a href="$!{www}/interestticketapply/interestticketapplyAudit?id=$!{row.id}">审核</a> 
                          				#end
                          			#end
                          		 #end
                          		 #if($!{row.iactionType}!=1 && $!{row.iapplyType}==1 && $!{row.istatus}==6)
		                    |		<a href="$!{www}/interestticketapply/interestticketapplyAppend?id=$!{row.id}">追加</a>   
								 #end
		                    </td>
		                </tr>
		                #end
		            </tbody>
		        </table>
		        <div class="row">
		            <div class="col-sm-12">
		                <div class="dataTables_paginate paging_bootstrap">
		                    <ul class="pagination">
		                    	#set($pageRequestURL="$!{www}/interestticketapply/list?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
		                    	#paginationHelper($result $pageRequestURL)
		                    </ul>
		                </div>
		            </div>
		       </div>
		       
		    </div>
		</div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->