<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.kff.activity.PostShareMapper">
  <resultMap id="BaseResultMap" type="com.tzg.entitys.kff.activity.PostShare">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="activity_id" jdbcType="INTEGER" property="activityId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, created_at, updated_at, user_id, type, article_id, activity_id
  </sql>
  
  <sql id="table_name">
		activity_post_share
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from <include refid="table_name" />
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from <include refid="table_name" />
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteById" parameterType="java.lang.Integer" >
		delete from <include refid="table_name" />  where id=#{id} 
  </delete>
  
  <insert id="save" parameterType="com.tzg.entitys.kff.activity.PostShare" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into <include refid="table_name" /> (id, created_at, updated_at, 
      user_id, type, article_id, activity_id)
    values (#{id,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, 
      #{activityId,jdbcType=INTEGER})
      <selectKey resultType="int" keyProperty="id">  
       SELECT  
       LAST_INSERT_ID()  
     </selectKey>
  </insert>
  <update id="update" parameterType="com.tzg.entitys.kff.activity.PostShare">
    update <include refid="table_name" />
    <set>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from <include refid="table_name" />
		<include refid="condition"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select *  from <include refid="table_name" />
		<include refid="condition"/>
	    <![CDATA[ ORDER BY id DESC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
	
	<sql id="condition">
    	<where>
	    	<if test="id != null">
			 id = #{id,jdbcType=INTEGER}
			</if>
			<if test="userId!=null">
    		  and user_id = #{userId}
    		</if>
    		<if test="activityId!=null">
    		  and activity_id = #{activityId}
    		</if>
			<if test="startTime!=null and endTime==null">
    		  and created_at &gt;= #{startTime}
    		</if>
    		<if test="startTime==null and endTime!=null">
    		  and created_at &lt;= #{endTime}
    		</if>
    		<if test="startTime!=null and endTime!=null">
    		  and created_at &gt;= #{startTime} and created_at &lt;= #{endTime}
    		</if>
    	</where>
    </sql>
    
    <select id="findListByAttr" resultMap="BaseResultMap" parameterType="java.util.Map">
		select * from <include refid="table_name" />
		<include refid="condition"/>
	    <![CDATA[ ORDER BY id DESC ]]>
	</select>
  
</mapper>