## APP 版体验标介绍

## 还款方式
#if($project.iRepayMode==1)#set($repayMode = "到期还本付息")
#elseif($project.iRepayMode==2)#set($repayMode = "每日付息 到期还本")
#elseif($project.iRepayMode==3)#set($repayMode = "每月付息 到期还本")
#elseif($project.iRepayMode==4)#set($repayMode = "等额本息")
#end

#set($pageTitle = "项目信息-当前$!{project.vcName}$!{repayMode}网贷理财产品项目信息 - 铜掌柜")
#set($pageKeywords = "")
#set($pageDescription = "")
<style type="text/css">body .f-doc .f-hd{display: none;}</style>
<div class="experience-desc-banner"><img src="$!{staticPath}/pics/experience-desc-banner.png" alt="体验标"></div>

<div class="experience-desc-floor">
    <h4 class="experience-desc-title">项目描述</h4>
    <p>&quot;我出本金，您拿收益&quot;体验标是铜掌柜平台为用户提供的体验项目。让新用户更熟悉流程，让老用户享更多福利！</p>
    <p class="u-clGrayLgt">* 体验标投资金额仅限计算收益基数，不能视为任何形式的现金或者等价物。到期后获得利息归用户，平台扣除体验金。</p>
</div>

<div class="experience-desc-floor">
    <h4 class="experience-desc-title -t2">参与资格</h4>
    <p>体验标会不定期针对不同属性用户（新用户或老用户）开展。<br>
        参与资格，请在登录状态下，留意标的页面的资格提醒！<br>
        获得参与资格的用户只需进行账户充值，确保账户余额大于等于1元，即可投资体验标。
    </p>
</div>

<div class="experience-desc-floor -noborder">
    <h4 class="experience-desc-title -t3">到期收益</h4>
    <p><strong>$!{numInvest}元</strong>体验金，<strong>$!{numPeriod}天</strong>到期后收益<strong>$!{investmentIncome}元</strong>。<br>
        体验标到期后，收益转入用户资金账户的可用余额中。</p>
</div>
