#set($pageName = "转入申请成功")
#set($bodyClass = "body--gray")
#set($topbar = { "title": $pageName })

<div class="msg-sign -success"></div>

<div class="f-mt5 f-tlc">
	<div class="u-clGrayDrk u-fsH">转入金额 <span class="u-clScd">$numbers.toCurrency($!{investAmt})元</span></div>
</div>

<div class="f-mt5 f-mlr4">
	<a href="$!{basePath}/user/home" class="u-btn z-prm z-fll">确定</a>
</div>