#set($layout = "/layout/azalea.vm")
#set($pageScript = "'pages/repay-plan'")

#set($pageTitle = "还款计划-当前网贷理财产品项目信息 - 铜掌柜")
#set($pageKeywords = "")
#set($pageDescription = "")

#set($topbar = { "title": "$!{subject.projectName} $!{subject.vcName}", "backLink": "$!{basePath}/subject/detail?subjectId=$!{subject.id}" })
#parse("/include/titleBar.vm")

<ul class="tab2 -col3">
	<li><a href="$!{basePath}/subject/projectInfo/page?isubjectId=$!{subject.id}" class="item-inner">项目信息</a></li>
	##<li><a href="$!{basePath}/subject/safety/page?isubjectId=$!{subject.id}" class="item-inner">安全保障</a></li>
	<li><a href="$!{basePath}/subject/investRecord/page?isubjectId=$!{subject.id}" class="item-inner">投资记录</a></li>
	<li class="-on"><span class="item-inner">还款计划</span></li>
</ul>

<script type="text/template" id="j_list_template">
[@each rows as item]
	<tr>
		<td>$[item.dtRepayStr]</td>
		<td>$[item.numRepayAmount|toCurrency]元</td>
		<td>
			[@if item.itype==1]本息
			[@else if item.itype==2]本金
			[@else if item.itype==3]利息
			[@/if]
		</td>
	</tr>
[@/each]
</script>

<table class="record-list">
	<thead>
		<tr>
			<th>还款时间</th>
			<th>还款金额（元）</th>
			<th>还款类型</th>
		</tr>
	</thead>
	<tbody id="j_list_container"></tbody>
</table>

<div class="load-more" id="j_load_more" style="display:none">点击查看更多</div>

