#**
 * 铜钱宝(活期宝)列表项 juicer 模板
 * Author: 吴岸林
 *#

<a class="pitem -currentbao" href="$[basePath]/currentBao/project/detail">
	<div class="pitem_title">铜钱宝</div>
	<ul class="pitem_props">
		<li><div class="percent">$[currentbaoresult.numIntetrestRate|toCurrency]<sub>%</sub></div></li>
		<li>
			<div class="amount">$[currentbaoresult.numMinAmount|toCurrency]<sub>元</sub>
			<sub class="c-gray-light">起购</sub></div>
		</li>
	</ul>
	<div class="pitem_ft">随存随取</div>
</a>
