#**
 * 涨薪计划(定期宝)列表项 juicer 模板
 * Author: 吴岸林
 *#

<a class="pitem" href="$[basePath]/subject/fixedbaodetail?projectId=$[item.id]">
	<div class="pitem_title">掌薪计划$[item.vcName]</div>
	<ul class="pitem_props">
		<li>
			<div class="percent">$[item.numIntetrestRate|toCurrency]<sub>%</sub></div>
			<div class="pitem_props_title">年化率</div>
		</li>
		<li>
			<div class="amount">$[item.numPeriod]<sub>天</sub></div>
			<div class="pitem_props_title">锁定期</div>
		</li>
		<li>
			<div class="pillar-progress">
				<span style="width:$[item.percent]%" class="pillar-progress_bar"></span>
			</div>
			<div class="pitem_props_title">已投$[item.percent]%</div>
		</li>
	</ul>

	<div class="pitem_ft">
		<div class="pitem_ft_starting">$[item.numMinAmount|toCurrency]元起投</div>
		<div class="pitem_ft_tags">
			<i class="tag-interest-interval"></i>
			<i class="tag-add-interest"></i>
			<i class="tag-redpacket"></i>
			<i class="tag-discount"></i>
		</div>
	</div>
</a>