#set($layout = "/app/layout/default.vm")
#set($pageName="关于我们")
#set($imagePath = "$!{basePath}/app/images")

<div class="swiper-container">
	<ul class="swiper-pagination about-tab">
		<li class="-active"><a href="javascript:;">公司背景</a></li>
		<li><a href="javascript:;">团队背景</a></li>
		<li><a href="javascript:;">联系我们</a></li>
	</ul>
    <div class="swiper-wrapper">
        <div class="swiper-slide" title="公司背景">
        	<div class="container-spacing">
				<ul class="about-item" id="j_about_list">
					<li>
						<div class="fs-h3"><i class="icon-arr"></i>平台介绍</div>
						<div class="text-indent-p">
							<p>铜掌柜是全国首家构建消费信用生态圈的互联网金融服务平台，自2014年7月成立以来，已形成由跨境电商、融资租赁、供应链金融、消费分期等为载体的金融业务主体，通过全方位的风控尽调及风险数据分析模型，实现完整的风险控制闭环。未来，铜掌柜将持续致力于生活消费金融化，为投资者提供低风险、高收益的标准化投资理财产品。</p>
							<p>铜掌柜平台运营主体为河北融佰通金融服务有限公司，是浙江首批获得“互联网金融服务”资质的公司之一，目前已获上市公司“中来股份”战略入股。</p>
						</div>
					</li>
					<li>
						<div class="fs-h3"><i class="icon-arr"></i>公司愿景</div>
						<div class="text-indent-p">
							<p>成为国内领先的互联网消费金融服务平台</p>
						</div>
					</li>
					<li>
						<div class="fs-h3"><i class="icon-arr"></i>铜掌柜寓意</div>
						<div class="text-indent-p">
							<p>在现代金融领域，掌柜是“理财顾问”、“理财专家”的代名词。铜，为中国古代流通货币主要铸造材质，寓意稳定、厚重，更给人以坚固、安全的感觉。</p>
							<p>铜掌柜将“铜”与“掌柜”结合，立足安全、稳定的同时，还体现了平台贴近投资者日常理财、生活消费的服务宗旨。</p>
						</div>
					</li>
					<li>
						<div class="fs-h3"><i class="icon-arr"></i>里程碑事件</div>
						<div class="text-indent-p process-p">
							<p>2015年12月26日<br>平台累积交易额突破40亿元</p>
							<p>2015年12月2日<br>铜掌柜获浙银资本A轮融资，并与盈方微、欧浦智网、和佳股份3家上市公司达成战略合作。</p>
							<p>2015年10月16日<br>杭州市委书记赵一德在西博会期间调研铜掌柜</p>
							<p>2015年10月15日<br>中央电视台记者团来访</p>
							<p>2015年9月7日<br>中央财经领导小组办公室主任、国家发改委副主任刘鹤和浙江省委副书记、省长李强、杭州市市长张鸿铭一行视察铜掌柜</p>
							<p>2015年8月25日<br>平台累积交易额突破10亿</p>
							<p>2015年7月25日<br>入选2015胡润财富榜“财富新势力50强” </p>
							<p>2015年6月19日<br>获“2015最具投资价值互联网金融平台”奖项</p>
							<p>2015年6月2日<br>公司更名为河北融佰通金融服务有限公司</p>
							<p>2015年5月26日<br>平台累积交易额破亿</p>
							<p>2015年5月<br>铜掌柜推出跨境电商金融业务,为全国首家专注跨境电商的互联网金融平台</p>
							<p>2015年4月底<br>与中国人保财险(PICC)达成战略合作关系</p>
							<p>2015年4月21日<br>上市公司中来股份战略入股</p>
							<p>2015年3月15日<br>铜掌柜正式上线运营</p>
							<p>2014年7月9日<br>浙江铜米网络科技有限公司成立</p>
							
						</div>
					</li>
					<!-- 2016-02-17 去掉 证照展示
					<li>
						<div class="fs-h3"><i class="icon-arr"></i>证照展示</div>
						<div class="text-indent-p">
							<img alt="" src="$!{imagePath}/about-business-01.jpg" width="100%">
							<img alt="" src="$!{imagePath}/about-business-02.jpg" width="100%">
							<img alt="" src="$!{imagePath}/about-business-03.jpg" width="100%">
						</div>
					</li>
					-->
					
					<li>
						<div class="fs-h3 open"><i class="icon-arr"></i>办公环境</div>
						<div class="text-indent-p">
							<img alt="" src="$!{imagePath}/about-small_01.jpg" width="100%">
							<img alt="" src="$!{imagePath}/about-small_02.jpg" width="100%">
							<img alt="" src="$!{imagePath}/about-small_03.jpg" width="100%">
							<img alt="" src="$!{imagePath}/about-small_04.jpg" width="100%">
							<img alt="" src="$!{imagePath}/about-small_17.jpg" width="100%">
							<img alt="" src="$!{imagePath}/about-small_06.jpg" width="100%">
							<img alt="" src="$!{imagePath}/about-small_07.jpg" width="100%">
							<img alt="" src="$!{imagePath}/about-small_08.jpg" width="100%">
							<img alt="" src="$!{imagePath}/about-small_16.jpg" width="100%">
							<img alt="" src="$!{imagePath}/about-small_10.jpg" width="100%">
							<img alt="" src="$!{imagePath}/about-small_11.jpg" width="100%">
							<img alt="" src="$!{imagePath}/about-small_12.jpg" width="100%">
							<img alt="" src="$!{imagePath}/about-small_13.jpg" width="100%">
							<img alt="" src="$!{imagePath}/about-small_14.jpg" width="100%">
							<img alt="" src="$!{imagePath}/about-small_15.jpg" width="100%">
						</div>
					</li>
					<li>
						<div class="fs-h3"><i class="icon-arr"></i>上市背景</div>
						<div class="text-indent-p">
							<p class="txt-blue">战略入股背景</p>
							<p>中来股份（股票代码300393）作为一家全球领先的光伏产业上市公司，此番战略入股铜掌柜，将给铜掌柜注入资本、业务、品牌、管理等诸多助力。</p>
							<p class="txt-blue">中来股份介绍</p>
							<p>苏州中来光伏新材股份有限公司（股票代码：300393），是全球太阳能电池背板行业的龙头企业，也是聚焦光伏领域先进材料研发及制造的国家重点高新技术企业。目前，公司在夯实背板业务的基础上布局光伏电站领域，以电站金融、建设、运维等多个环节为切入点，致力于打造光伏电站投融资和增值服务生态链，积极推动公司战略转型与升级。</p>
						</div>
					</li>
				</ul>
        	</div>
        </div>
        <div class="swiper-slide" title="团队背景">
		    <div class="container-spacing container-r-spacing">
                <div class="team-p-tit"><img alt="" src="$!{imagePath}/about-p_01.png" width="40%"><div class="fr"><h2>张   焱</h2>创始人 董事长兼CEO</div></div>
                <p class="team-txt">
                    10年以上银行、各类金融机构、上市公司金融顾问从业经历。长期为企业、个人提供投融资服务。拥有丰富的信贷风险控制、投融资业务创新经验。2014年开始，致力于通过互联网金融模式创新实现惠普金融。在投融资、金融创新产品研发以及金融风险控制方面具有丰富的经验和独到的见解。
                </p>

                <div class="team-p-tit txt-fr"><img alt="" src="$!{imagePath}/about-p_02.png" width="40%"><div class="fl"><h2>吴   洲</h2>合伙人 首席战略官 </div></div>
                <p class="team-txt">
                    曾先后出任恒基控股（中国）有限公司 副总裁兼战略投资发展部总经理、九好集团副总裁。为大型企业进行战略投资规划及资本运营操作。
                </p>

                <div class="team-p-tit"><img alt="" src="$!{imagePath}/about-p_03.png" width="40%"><div class="fr"><h2>胡彩文</h2>合伙人 首席运营官</div></div>
                <p class="team-txt">
                    上市公司团队管理背景，从事互联网产品运营管理相关工作10年， 7年大型互联网金融平台架构与运营经验，熟悉互联网金融业务知识，成功主导过多家大型互联网金融平台架构及交易模式设计，资深的互联网金融产品运营管理人。
                </p>

                <div class="team-p-tit txt-fr"><img alt="" src="$!{imagePath}/about-p_04.png" width="40%"><div class="fl"><h2>金少策</h2>合伙人 首席信息官</div></div>
                <p class="team-txt">
                    长期从事平台推广工作，十年新闻媒体工作经验，曾担任知名财经媒体主编，专注金融领域报道，熟悉金融业务知识，擅长信息获取和处理，拥有丰富的策划能力和推广经验，曾主导推动数起知名品牌宣传推广项目。
                </p>

                <div class="team-p-tit"><img alt="" src="$!{imagePath}/about-p_05.png" width="40%"><div class="fr"><h2>周   岚</h2>合伙人 常务副总</div></div>
                <p class="team-txt">
                    曾担任多家企业常务副总经理，协助总经理完成公司战略规划和日常执行工作。拥有丰富的行政管理能力和统筹协调能力，在商务沟通、协调工作方面有着成功的实践，在组织结构优化、规范化管理、市场资源整合等方面有优异表现。
                </p>

                <div class="team-p-tit txt-fr"><img alt="" src="$!{imagePath}/about-p_06.png" width="40%"><div class="fl"><h2>谢   舟</h2>合伙人 活动策划总监</div></div>
                <p class="team-txt">
                    8年广告、媒体从业经验。曾任某集团公司下属传媒机构企划总监、执行CEO。曾任商务部旗下某渠道杂志执行主编、驻京办内刊杂志执行主编、曾任浙江电视台时尚生活类、少儿类某栏目主编、浙江省排名前三甲报业集团商业部全媒体总监。
                </p>

                <div class="team-p-tit"><img alt="" src="$!{imagePath}/about-p_07.png" width="40%"><div class="fr"><h2>俞   海</h2>风控总监</div></div>
                <p class="team-txt">
                    银行从业21年,曾先后在中国银行和广发银行工作,从事过客户经理、信贷审查、贸易融资、资产管理等银行多个岗位。历任广发银行支行信贷部总经理、支行行长、分行贸易金融部副总经理、公司银行部、资产部副总经理等职务。有丰富的信贷实战经验,较强的风控管理能力,对供应链融资有独到的风险管理能力。
                </p>

                <div class="team-p-tit txt-fr"><img alt="" src="$!{imagePath}/about-p_08.png" width="40%"><div class="fl"><h2>张春阳</h2>法务总监</div></div>
                <p class="team-txt">
                    浙江大学法律硕士毕业，多年大型上市公司集团法务经验及省内知名律师事务所执业律师经验。具有丰富的企业法律服务经验和各类诉讼经验，熟悉互联网商业模式及相关法律风险防范。
                </p>
			</div>
        </div>
        <div class="swiper-slide" title="联系我们">
			<div class="container-spacing container-r-spacing pb30">
				<table cellpadding="0" cellspacing="0" width="100%" border="0">
					<tr>
						<th class="tab-tit">客户服务</th>
						<th>&nbsp;</th>
					</tr>
					<tr>
						<td class="tab-tit">客服热线：</td>
						<td>400-0311-798</td>
					</tr>
					<tr>
						<td class="tab-tit">客服 QQ：</td>
						<td>4008272999</td>
					</tr>
					<tr>
						<td>服务时间：</td>
						<td>工作日：8:30-20:30<br>节假日：9:00-18:00</td>
					</tr>
					<tr>
						<td class="b-line">客服邮箱：</td>
						<td class="b-line">kefu@tzg.cn</td>
					</tr>
					<tr>
						<th>市场合作</th>
						<th></th>
					</tr>
					<tr>
						<td>联系电话：</td>
						<td>0571-89986310</td>
					</tr>
					<tr>
						<td class="b-line">电子邮箱：</td>
						<td class="b-line">market@tzg.cn</td>
					</tr>
					<tr>
						<th>媒体采访</th>
						<th></th>
					</tr>
					<tr>
						<td>联系电话：</td>
						<td>0571-89986315</td>
					</tr>
					<tr>
						<td class="b-line">电子邮箱：</td>
						<td class="b-line">tzgmedia@tzg.cn</td>
					</tr>
					<tr>
						<th>公司总部</th>
						<th></th>
					</tr>
					<tr>
						<td>地　　址：</td>
						<td>浙江省杭州市余杭区良睦路1288号梦想小镇8号楼</td>
					</tr>
					<tr>
						<td class="b-line">邮　　编：</td>
						<td class="b-line">311100</td>
					</tr>
					<tr>
						<th colspan="2">梦想小镇班车</th>
					</tr>
					<tr>
						<td colspan="2" class="b-line">08:15文二路古墩路路口--蒋村公交站(08:30)--梦想小镇<br>
						18:15梦想小镇--蒋村公交站--文二路古墩路路口</td>
					</tr>
					<tr>
						<th>公交车</th>
						<th></th>
					</tr>
					<tr>
						<td colspan="2">杭师大仓前校区</td>
					</tr>
					<tr>
						<td colspan="2">286路、332路、467路、461A路、461路</td>
					</tr>
					<tr>
						<td colspan="2">齐北弓桥或省委党校仓前校区</td>
					</tr>
					<tr>
						<td colspan="2">311路、599路、785路</td>
					</tr>
				</table>
			</div>
        </div>
    </div>    
</div>
<script src="$!{basePath}/assets/js/modules/swiper.min.js"></script>
<script>
(function() {
	var listContainer = document.getElementById("j_about_list");
	var items = listContainer.getElementsByTagName("li");
	for (var i=0,l=items.length; i<l; i++) {
		items[i].addEventListener("click", function (e) {
			this.className = ( this.className.indexOf("-open") > -1 ? "" : "-open" );
		}, false);
	}

	var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true
    });
})();
</script>
