#set($layout = "/app/layout/default.vm")
#set($pageName="联系我们")
#set($imagePath = "$!{basePath}/app/images")

	
<ul class="about-tab">
	<li><a href="$!{basePath}/app/article/aboutUs">公司背景</a></li>
	<li><a href="$!{basePath}/app/article/teamContext">团队背景</a></li>
	<li class="-active"><a href="$!{basePath}/app/article/contactUs">联系我们</a></li>
</ul>


<div class="container-spacing pb30">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
		<tr>
			<th class="tab-tit">客户服务</th>
			<th>QQ在线联系</th>
		</tr>
		<tr>
			<td class="tab-tit">客服热线：</td>
			<td>400-0311-798</td>
		</tr>
		<tr>
			<td>服务时间：</td>
			<td>工作日：8:30-20:30<br>节假日：9:00-18:00</td>
		</tr>
		<tr>
			<td class="b-line">客服邮箱：</td>
			<td class="b-line">kefu@tzg.cn</td>
		</tr>
		<tr>
			<th>市场合作</th>
			<th></th>
		</tr>
		<tr>
			<td>联系电话：</td>
			<td>0571-89986310</td>
		</tr>
		<tr>
			<td class="b-line">电子邮箱：</td>
			<td class="b-line">market@tzg.cn</td>
		</tr>
		<tr>
			<th>媒体采访</th>
			<th></th>
		</tr>
		<tr>
			<td>联系电话：</td>
			<td>0571-89986315</td>
		</tr>
		<tr>
			<td class="b-line">电子邮箱：</td>
			<td class="b-line">tzgmedia@tzg.cn</td>
		</tr>
		<tr>
			<th>公司总部</th>
			<th></th>
		</tr>
		<tr>
			<td>地　　址：</td>
			<td>浙江省杭州市余杭区良睦路1288号梦想小镇8号楼</td>
		</tr>
		<tr>
			<td class="b-line">邮　　编：</td>
			<td class="b-line">311100</td>
		</tr>
		<tr>
			<th colspan="2">梦想小镇班车</th>
		</tr>
		<tr>
			<td colspan="2" class="b-line">08:15文二路古墩路路口--蒋村公交站(08:30)--梦想小镇<br>
			18:15梦想小镇--蒋村公交站--文二路古墩路路口</td>
		</tr>
		<tr>
			<th>公交车</th>
			<th></th>
		</tr>
		<tr>
			<td colspan="2">杭师大仓前校区</td>
		</tr>
		<tr>
			<td colspan="2">286路、332路、467路、461A路、461路</td>
		</tr>
		<tr>
			<td colspan="2">齐北弓桥或省委党校仓前校区</td>
		</tr>
		<tr>
			<td colspan="2">311路、599路、785路</td>
		</tr>
	</table>
</div>
