#set($layout = "/app/layout/default.vm")
#set($pageName="团队介绍")
#set($imagePath = "$!{basePath}/app/images")

	
<ul class="about-tab">
	<li ><a href="$!{basePath}/app/article/aboutUs">公司背景</a></li>
	<li class="-active"><a href="$!{basePath}/app/article/teamContext">团队背景</a></li>
	<li><a href="$!{basePath}/app/article/contactUs">联系我们</a></li>
</ul>


<div class="container-spacing container-r-spacing">
	<div class="team-p-tit"><img alt="" src="$!{imagePath}/about-p_01.png" width="40%"><div class="fr"><h2>张   焱</h2>创始人、董事长兼CEO</div></div>
	<p class="team-txt">
        10年以上银行、各类金融机构、上市公司金融顾问从业经历。长期为企业、个人提供投融资服务。拥有丰富的信贷风险控制、投融资业务创新经验。2014年开始，致力于通过互联网金融模式创新实现惠普金融。在投融资、金融创新产品研发以及金融风险控制方面具有丰富的经验和独到的见解。
	</p>

    <div class="team-p-tit txt-fr"><img alt="" src="$!{imagePath}/about-p_02.png" width="40%"><div class="fl"><h2>吴   洲</h2>合作人、首席战略官 </div></div>
    <p class="team-txt">
        曾先后出任恒基控股（中国）有限公司 副总裁兼战略投资发展部总经理、九好集团副总裁。为大型企业进行战略投资规划及资本运营操作。
    </p>

    <div class="team-p-tit"><img alt="" src="$!{imagePath}/about-p_03.png" width="40%"><div class="fr"><h2>胡彩文</h2>合伙人、首席运营官</div></div>
    <p class="team-txt">
        上市公司团队管理背景，从事互联网产品运营管理相关工作10年， 7年大型互联网金融平台架构与运营经验，熟悉互联网金融业务知识，成功主导过多家大型互联网金融平台架构及交易模式设计，资深的互联网金融产品运营管理人。
    </p>

    <div class="team-p-tit txt-fr"><img alt="" src="$!{imagePath}/about-p_04.png" width="40%"><div class="fl"><h2>金少策</h2>首席信息官</div></div>
    <p class="team-txt">
        长期从事平台推广工作，十年新闻媒体工作经验，曾担任知名财经媒体主编，专注金融领域报道，熟悉金融业务知识，擅长信息获取和处理，拥有丰富的策划能力和推广经验，曾主导推动数起知名品牌宣传推广项目。
    </p>

	<div class="team-p-tit"><img alt="" src="$!{imagePath}/about-p_05.png" width="40%"><div class="fr"><h2>周   岚</h2>合伙人、常务副总</div></div>
	<p class="team-txt">
        曾担任多家企业常务副总经理，协助总经理完成公司战略规划和日常执行工作。拥有丰富的行政管理能力和统筹协调能力，在商务沟通、协调工作方面有着成功的实践，在组织结构优化、规范化管理、市场资源整合等方面有优异表现。
    </p>

    <div class="team-p-tit txt-fr"><img alt="" src="$!{imagePath}/about-p_06.png" width="40%"><div class="fl"><h2>谢   舟</h2>合伙人、活动策划总监</div></div>
    <p class="team-txt">
        8年广告、媒体从业经验。曾任某集团公司下属传媒机构企划总监、执行CEO。曾任商务部旗下某渠道杂志执行主编、驻京办内刊杂志执行主编、曾任浙江电视台时尚生活类、少儿类某栏目主编、浙江省排名前三甲报业集团商业部全媒体总监。
    </p>

    <div class="team-p-tit"><img alt="" src="$!{imagePath}/about-p_07.png" width="40%"><div class="fr"><h2>俞   海</h2>风控总监</div></div>
    <p class="team-txt">
        银行从业21年,曾先后在中国银行和广发银行工作,从事过客户经理、信贷审查、贸易融资、资产管理等银行多个岗位。历任广发银行支行信贷部总经理、支行行长、分行贸易金融部副总经理、公司银行部、资产部副总经理等职务。有丰富的信贷实战经验,较强的风控管理能力,对供应链融资有独到的风险管理能力。
    </p>

	<div class="team-p-tit txt-fr"><img alt="" src="$!{imagePath}/about-p_08.png" width="40%"><div class="fl"><h2>张春阳</h2>法务总监</div></div>
	<p class="team-txt">
        浙江大学法律硕士毕业，多年大型上市公司集团法务经验及省内知名律师事务所执业律师经验。具有丰富的企业法律服务经验和各类诉讼经验，熟悉互联网商业模式及相关法律风险防范。
	</p>
</div>
