#set($layout = "/app/layout/default.vm")
#set($pageName="帮助中心")

	<div class="container-spacing mb20">
		<ul class="qa-list" id="j_qa_list">
			#foreach($item in $helpdetailResult.rows)
			<li>
				<div class="qa-list_title">$!{item.vcQuestion}</div>
				<div class="qa-list_content">
					$!{item.vcAnswer}
				</div>
			</li>
			#end
			
		</ul>
	</div>

<script type="text/javascript">
	(function() {
		var listContainer = document.getElementById("j_qa_list");
		var items = listContainer.getElementsByTagName("li");
		for (var i=0,l=items.length; i<l; i++) {
			items[i].addEventListener("click", function (e) {
				this.className = ( this.className.indexOf("-open") > -1 ? "" : "-open" );
			}, false);
		}
	})();
</script>
