#set($app = "home")

#set($pageTitle = "最新动态,互联网理财金融动态 - 铜掌柜_互联网金融服务平台_网络投资理财首选")
#set($pageKeywords = "理财动态,金融动态,互联网金融资讯")
#set($pageDescription = "铜掌柜官网最新新闻以及互联网金融行业动态，投资网络理财产品相关金融资讯。")

#parse("/include/homeArticleNav.vm")

<div class="container mtb3 bg-white ofh">
	<h3 class="page-title">最新动态</h3>

	<div class="os3">
		<ul class="article-list lc-primary">
			#foreach($item in $result.rows)
			<li class="img-txt-item">
				<a href="$!{basePath}/article/newsDetail?id=$!{item.id}">
					<img src="$!{staticUploadUrl}$!{item.vcImgUrl}" alt="$!{item.vcTitle}" class="img-txt-item_img">
				</a>
				<h4 class="img-txt-item_title"><a href="$!{basePath}/article/newsDetail?id=$!{item.id}">$!{item.vcTitle}</a></h4>
				<div class="img-txt-item_date">$!{item.dtCreateStr}</div>
				<div class="img-txt-item_desc">$!{item.vcSummary}
				<a href="$!{basePath}/article/newsDetail?id=$!{item.id}" class="img-txt-item_view">更多详情&gt;&gt;</a></div>
			</li>
			#end
		</ul>
	</div>
</div>

<div class="pagination">
	#parse("/include/pagination.vm")
</div>
