#set($layout = "/app/layout/default.vm")
#set($imagePath = "$!{basePath}/app/images")
#set($pageName="安全保障")
<div class="safety-pro-tab-box">
    <ul class="swiper-pagination tab">
        <li class="-active"><a href="javascript:;">法律保障</a></li>
        <li><a href="javascript:;">风控保障</a></li>
        <li><a href="javascript:;">渠道保障</a></li>
        <li><a href="javascript:;">资金保障</a></li>
        <li><a href="javascript:;">收益保障</a></li>
        <li><a href="javascript:;">技术保障</a></li>
    </ul>
</div>
<div class="safety-pro-tab-box swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" title="法律保障">
            <div class="safety-pro-ct container-spacing container-r-spacing" j-tab-content>
                <h2 class="safety-h2-title">
                    政策展示
                </h2>
                <h2 class="safety-h2-title">
                    一、内容概要
                </h2>
                <p class="safety-p">
                    根据国家相关规定，铜掌柜平台所有的项目都有企业或个人确实的借款需求，无自融项目，无资金池，不虚拟借款主体，不允许借款人借新还旧，不为借款人保证。平台自身不提供担保，而是引入专业担保机构引入专业的担保方为投资人提供连带责任担保，保障投资者资金安全。铜掌柜为投资人和借款人提供专业的居间服务，严谨签署相关协议，严格审查借款方，严格执行监管程序，充分保护投资者的权益。
                </p>
                <p class="safety-p">
                    <img src="$!{imagePath}/safety/aqbz/aqbz_img1.png" alt=""/>
                </p>
                <h2 class="safety-h2-title">
                    1、借款人与出借人借贷关系的合法性
                </h2>
                <p class="safety-p">
                    我国法律允许公民之间、公民与法人之间、公民与其他组织之间发生借贷关系，并允许出借方到期可以收回本金和符合法律规定的利息。平台投资人作为出借人与借款人之间形成的借贷关系受到法律保护。
                </p>
                <p class="safety-p">
                    《中华人民共和国合同法》第一百九十六条规定：“借款合同是借款人向贷款人借款，到期返还借款并支付利息的合同。”
                </p>
                <p class="safety-p">
                    <img src="$!{imagePath}/safety/aqbz/aqbz_img2.png" alt=""/>
                </p>
                <h2 class="safety-h2-title">
                    2、出借人在铜掌柜获得理财收益的合法性
                </h2>
                <p class="safety-p">
                    铜掌柜平台上出借人向借款人出借资金并按照约定利率收取利息，该等利率未超过银行同类贷款利率的四倍，为合法利息收益，受到法律保护。
                </p>
                <p class="safety-p">
                    根据《关于人民法院审理借贷案件的若干意见》第六条规定:“民间借贷的利率可以适当高于银行的利率，各地人民法院可以根据本地区的实际情况具体掌握，但最高不得超过银行同类贷款利率的四倍(包含利率本数)。超出此限度的，超出部分的利息不予保护。”
                </p>
                <p class="safety-p">
                    <img src="$!{imagePath}/safety/aqbz/aqbz_img3.png" alt=""/>
                </p>
                <h2 class="safety-h2-title">
                    3、铜掌柜平台居间服务的合法性
                </h2>
                <p class="safety-p">
                    铜掌柜是合法设立的中介服务机构，为民间借贷业务提供居间服务，撮合借贷双方形成借贷关系。该行为有着明确的法律依据。
                </p>
                <p class="safety-p">
                    合同法》第四百二十四条规定：“居间合同是居间人向委托人报告订立合同的机会或者提供订立合同的媒介服务，委托人支付报酬的合同。”
                </p>
                <p class="safety-p">
                    <img src="$!{imagePath}/safety/aqbz/aqbz_img4.png" alt=""/>
                </p>
                <h2 class="safety-h2-title">
                    4、电子合同的合法性
                </h2>
                <p class="safety-p">
                    电子合同是法律认可的书面合同形式之一。铜掌柜采取用户网上点击确认的方式签署电子合同，点击确认后的电子合同符合《中华人民共和国合同法》规定的合同成立、生效的要件，其有效性被人民法院的司法实践所接受。
                </p>
                <p class="safety-p">
                    《合同法》第十一条规定：“当事人可以采用合同书、信件和数据电文（包括电报、电传、传真、电子数据交换和电子邮件）等形式订立合同。”
                </p>
                <p class="safety-p">
                    《电子签名法》第三条规定：“当事人约定使用电子签名、数据电文的文书，不得仅因为其采用电子签名、数据电文的形式而否定其法律效力。”
                </p>
                <p class="safety-p">
                    《电子签名法》第十四条规定：“可靠的电子签名与手写签名或者盖章具有同等的法律效力。”
                </p>
                <p class="safety-p">
                    <img src="$!{imagePath}/safety/aqbz/aqbz_img5.png" class="per55" alt=""/>
                </p>
                <h2 class="safety-h2-title">
                    5、担保的合法性
                </h2>
                <p class="safety-p">
                    当借款人不能按时还本付息时，保证人将按照合同约定承担保证责任。
                </p>
                <p class="safety-p">
                    《担保法》第六条规定：“本法所称保证，是指保证人和债权人约定，当债务人不履行债务时，保证人按照约定履行债务或者承担责任的行为。”
                </p>
                <p class="safety-p">
                    最高人民法院关于人民法院审理借贷案件的若干意见》：“有保证人的借贷债务到期后，债务人有清偿能力的，由债务人承担责任；债务人无能力清偿、无法清偿或者债务人下落不明的，由保证人承担连带责任。”
                </p>
                <p class="safety-p">
                    <img src="$!{imagePath}/safety/aqbz/aqbz_img6.png" alt=""/>
                </p>
                <h2 class="safety-h2-title">
                    6、债权转让的合法性
                </h2>
                <p class="safety-p">
                    债券转让是合同债权人通过协议将其全部或部分转让给第三人的行为。债权人转让债权时，只需将债券转让的事实通知债务人，而不必征得债务人的同意。
                </p>
                <p class="safety-p">
                    《合同法》第七十九条规定：“债权人可以将合同的权利全部或部分转让给第三人。”
                </p>
                <p class="safety-p">
                    <img src="$!{imagePath}/safety/aqbz/aqbz_img7.png" alt=""/>
                </p>
                <h2 class="safety-h2-title">
                    律师团队
                </h2>
                <p class="safety-p safety-p-nospace">
                    铜掌柜与国内知名律所——中银律师事务所，展开深度合作。<br/>
                </p>
                <p class="safety-p safety-p-nospace">
                    中银律师事务所成立于1993年1月，是经司法部门批准的我国最早的合伙制律师事务所之一，也是我国最早从事证券法律业务的律师事务所，是以金融证券和法律风险管理为主业的大型专业化律师事务所，在律师界和金融证券界已经牢固树立了“中银律师”的品牌。中银现有律师和工作人员约1800人，大部分律师获得国内及国外著名学府的硕士和博士学位，且多数律师具有在政府、企业、知名律师事务所工作或执业的经历，在法律和商业领域具备了丰富的实务经验。
                </p>
                <p class="safety-p">
                    中银律师被《亚洲法律事务》（ALB）杂志评选为“2013年亚洲律师事务所规模50强”、“2013年中国律所规模20强”、“2014年中国律所规模25强”均位列第三名。
                </p>
                <p class="safety-p">
                    <img src="$!{imagePath}/safety/aqbz/aqbz_img8.png" class="per60" alt=""/>
                </p>
            </div>
        </div>
        <div class="swiper-slide" title="风控保障">
            <div class="safety-pro-ct container-spacing container-r-spacing"  j-tab-content>
                <h2 class="safety-h1-title">
                    风控流程
                </h2>
                <h2 class="safety-h2-title">
                    8道工序概要：
                </h2>
                <p class="safety-p safety-span">
                    <img src="$!{imagePath}/safety/fkbz/fkbz_img1.png" class="per100" alt=""/>
                </p>
                <h2 class="safety-h2-title">
                    1、甄选合作机构
                </h2>
                <p class="safety-p safety-span">
                    <span class="pg-span">定性评估</span>
                    <img src="$!{imagePath}/safety/fkbz/fkbz_img2.png" class="per100" alt=""/>
                </p>
                <p class="safety-p safety-span">
                    <span class="pg-span">定量评估</span>
                    <img src="$!{imagePath}/safety/fkbz/fkbz_img3.png" class="per100" alt=""/>
                </p>
                <p class="safety-p">
                    铜掌柜利用行业资深专家的成熟经验及独有的风控体系，对合作机构进行严格把关，进行定性与定量双重评估，从中甄选出资金实力雄厚、信贷资产质量高、风险管理能力强的合作机构，力求从源头把控风险。
                </p>
                <h2 class="safety-h2-title">
                    2、合作机构筛选推荐项目
                </h2>
                <p class="safety-p safety-span">
                    <img src="$!{imagePath}/safety/fkbz/fkbz_img4.png" class="per100" alt=""/>
                </p>
                <p class="safety-p">
                    合作机构接受客户借款申请，收集客户资料，对银行流水、征信报告等多种材料进行审核，并对借款人进行尽职调查和风险评估，筛选出安全等级高、风险可控的借款项目推荐给铜掌柜。
                </p>
                <h2 class="safety-h2-title">
                    3、铜掌柜初审
                </h2>
                <p class="safety-p safety-span">
                    <img src="$!{imagePath}/safety/fkbz/fkbz_img5.png" class="per100" alt=""/>
                </p>
                <p class="safety-p">
                    铜掌柜对借款项目的合法合规性进行初步审查，确保项目符合我国的产业政策与铜掌柜的风控标准，并对资料的真实性、完整性、有效性进行审查，通过征信信息，对借款人的信用情况和还款能力进行评估。
                </p>
                <h2 class="safety-h2-title">
                    4、实地调查
                </h2>
                <p class="safety-p safety-span">
                    <img src="$!{imagePath}/safety/fkbz/fkbz_img6.png" class="per100" alt=""/>
                </p>
                <p class="safety-p">
                    铜掌柜线下实地考察借款人，通过现场尽职调查，可以更准确地了解借款人的实际情况，确认借款用途，核实还款来源，并从中发现风险点，设计相应的反担保措施，将风险降到最低。最后，由调查人员出具相关的调查报告，递交评审会决议。
                </p>
                <h2 class="safety-h2-title">
                    5、评审会决议
                </h2>
                <p class="safety-p safety-span">
                    <img src="$!{imagePath}/safety/fkbz/fkbz_img7.png" class="per100" alt=""/>
                </p>
                <p class="safety-p">
                    评审团由经验丰富的专业人员组成，对项目的风险点、保证措施等各个方面进行提问，尽职调查人员需经过各路评委的拷问才算“过关”。最后，由评审团成员投票表决，出具具体的操作意见。
                </p>
                <h2 class="safety-h2-title">
                    6、律师审查
                </h2>
                <p class="safety-p safety-span">
                    <img src="$!{imagePath}/safety/fkbz/fkbz_img8.png" class="per100" alt=""/>
                </p>
                <p class="safety-p">
                    铜掌柜与中银合作，由中银律师事务所全程监管铜掌柜操作流程的合法合规性，充分保障投资者的利益。
                </p>
                <h2 class="safety-h2-title">
                    7、上线审核
                </h2>
                <p class="safety-p safety-span">
                    <img src="$!{imagePath}/safety/fkbz/fkbz_img9.png" class="per100" alt=""/>
                </p>
                <p class="safety-p">
                    项目信息经过双重审核后方能上线，确保借款项目真实有效、准确无误。
                </p>
                <h2 class="safety-h2-title">
                    8、贷后管理
                </h2>
                <p class="safety-p safety-span">
                    <img src="$!{imagePath}/safety/fkbz/fkbz_img10.png" class="per100" alt=""/>
                </p>
                <p class="safety-p safety-p-nospace">
                    铜掌柜将监督合作机构的风控流程，并进行定期检查、不定期抽查，确保其符合《铜掌柜借款项目准入标准》。
                </p>
                <p class="safety-p safety-p-nospace">
                    借款发放后，由于借款人的经营环境与生产要素并非一成不变，铜掌柜会定期对借款人进行检查，如出现突发状况进行及时预警，并采取必要的监管措施。
                </p>
                <h2 class="safety-h2-title">
                    风控方式
                </h2>
                <p class="safety-p">
                    铜掌柜平台通过平台自有数据，及来自合作机构、行业公开等其他合法途径获得的数据，以中小企业群为目标体系，进行行业分析、企业环境分析、企业信用调查、数据分析。结合中小企业特点，以实际的佐证材料为据，针对企业和企业法人本身、企业人才库等进行多层次的全面评判。通过建立严格并实际可行的项目质量等级，对项目进行价值和风险判断。
                </p>
                <p class="safety-p ">
                    <img src="$!{imagePath}/safety/fkbz/fkbz_img11.png" class="per100" alt=""/>
                </p>
                <h2 class="safety-h2-title">
                    全程透明
                </h2>
                <p class="safety-p safety-p-nospace">
                    铜掌柜为保障投资人的合法权益，将信息披露制度化、规范化，为各方项目参与者传递真实、准确、及时的项目相关信息。
                </p>
                <p class="safety-p safety-p-nospace">
                    向平台投资者披露的项目信息，包括但不限于项目推荐机构资质、评级等信息、借款人的基本信息、借款用途、期限、利率、是否有抵押物，采取何种还款方式以及保证措施等，并在有必要时对借款人的还款情况作出风险提示，以确保投资人对借款人、借款项目的情况有充分地了解，实现放心理财。
                </p>
                <p class="safety-p safety-p-nospace">
                    向各级相关政府及监管者披露的信息，包括平台的运作模式、经营状况、资金托管状况，以及管理团队构成等。
                </p>
                <p class="safety-p ">
                    <img src="$!{imagePath}/safety/fkbz/fkbz_img12.png" class="per100" alt=""/>
                </p>
            </div>
        </div>
        <div class="swiper-slide" title="渠道保障">
            <div class="safety-pro-ct container-spacing container-r-spacing" j-tab-content>
                <h2 class="safety-h2-title">
                    项目特性
                </h2>
                <h2 class="safety-h2-title">
                    1、抵(质)押标
                </h2>
                <p class="safety-p safety-p-nospace">
                    借款人将自己的房屋、车辆、股票，或是借款企业用库存货品、订单、账款等物作为抵（质）押物，完成抵（质）押手续后所发布的借款标。对于抵押物，平台大都采取非足值抵押，一般为抵押物评估净值的60%-80%。
                </p>
                <p class="safety-p safety-p-nospace">
                    借款人必须在约定期限内如数归还借款，否则出借人有权处理抵押物用以偿还约定的借款本金、利息、罚息违约金等其他费用。
                </p>
                <h2 class="safety-h2-title">
                    2、担保标
                </h2>
                <p class="safety-p safety-p-nospace">
                    由个人或第三方担保机构对借款人的借款提供担保而发布的借款标的。借款人向担保机构申请担保时，不一定要有抵押物，担保方会根据借款者的偿债能力和信用高低，决定部分担保还是本息全额担保。一旦借款人出现逾期未还款的情况，担保人或担保机构有责任对其担保的借款项目承担垫付、追偿等连带责任。
                </p>
                <h2 class="safety-h2-title">
                    项目来源
                </h2>
                <p class="safety-p safety-p-nospace">
                    项目渠道供应充足。铜掌柜平台的项目合作机构，均具备强大的背景资质，项目及风控实力雄厚，确保平台项目供应安全、充足、丰富、多样。
                </p>
                <h2 class="safety-h2-title">
                    1、合作机构
                </h2>
                <p class="safety-p safety-p-nospace">
                    铜掌柜平台上的所有合作金融机构必须持有监管部门颁发的金融业务经营许可证，由金融主管部门进行监管和审查。
                </p>
                <p class="safety-p safety-p-nospace">
                    平台上所有合作的非金融机构均处于行业领先地位且必须经过风控部门对其基本资质进行准入审核，确保其企业运营规范。
                </p>
                <p class="safety-p safety-p-nospace">
                    铜掌柜平台的合作渠道种类多样，覆盖：全国性担保机构、小额贷款公司、融资租赁公司、金融机构。
                </p>
                <p class="safety-p ">
                    <img src="$!{imagePath}/safety/qdbz/qdbz_img1.png?v=1" class="per100" alt=""/>
                </p>
                <h2 class="safety-h2-title">
                    2、合作项目
                </h2>
                <p class="safety-p safety-p-nospace">
                    铜掌柜平台合作项目类型丰富，以供应链金融产品为主，还包含消费金融、车房抵押等。且项目期限多样，涵盖超短期、短期、中长期和长期项目。
                </p>
                <p class="safety-p ">
                    <img src="$!{imagePath}/safety/qdbz/qdbz_img2.png" class="per100" alt=""/>
                </p>
                <h2 class="safety-h2-title">
                    项目来源
                </h2>
                <h2 class="safety-h2-title">
                    1、担保模式
                </h2>
                <p class="safety-p safety-p-nospace">
                    铜掌柜平台与专业且实力雄厚的担保公司或小贷公司等非银行类金融机构合作，担保方为借款项目提供100%连带责任担保，若借款出现逾期时，进行全额本息赔付。
                </p>
                <h2 class="safety-h2-title">
                    2、风险备用金模式
                </h2>
                <p class="safety-p safety-p-nospace">
                    为保证投资人的收益，更好地自律监管，铜掌柜与银行就铜掌柜风险备用金监管问题正式签署协议，设立专门的风险备用金专户。银行对该账户资金进行及时、独立的监管，并针对风险备用金专户资金的实际进出情况每月出具监管报告。
                </p>
                <p class="safety-p safety-p-nospace">
                    当每笔借款成交时，平台从收取的费用中提取出一定比例的资金，计入该“风险备用金账户”。一旦担保方无法全部代偿，铜掌柜会启用风险准备金及时向出借人垫付该笔借款的剩余出借本息，确保资金安全。
                </p>
                <p class="safety-p ">
                    <img src="$!{imagePath}/safety/qdbz/qdbz_img3.png" class="per100" alt=""/>
                </p>
            </div>
        </div>
        <div class="swiper-slide" title="资金保障">
            <div class="safety-pro-ct container-spacing container-r-spacing" j-tab-content>
                <h2 class="safety-h2-title">中国人保财险承保</h2>
                <p class="safety-p safety-p-nospace">
                    为了进一步保障铜掌柜平台投资者权益，铜掌柜与中国人保财险（PICC）达成战略合作协议：用户因他人盗刷、盗用、复制而导致的资金损失由中国人保财险赔偿。为用户的资金账户安全再加上一道监视的防护锁。
                </p>
            </div>
        </div>
        <div class="swiper-slide" title="收益保障">
            <div class="safety-pro-ct container-spacing container-r-spacing" j-tab-content>
                <h2 class="safety-h2-title">
                    一、理财高收益
                </h2>
                <p class="safety-p safety-p-nospace">
                    1、新手专享14.08%高收益，平均标的年化收益12%起。
                </p>
                <p class="safety-p safety-p-nospace">
                    2、关注平台活动更有各种秒杀、爆款标的，年化收益高达15.88%；
                </p>
                <p class="safety-p ">
                    <img src="$!{imagePath}/safety/sybz/sy_img1.png" class="per100" alt=""/>
                </p>
                <h2 class="safety-h2-title">
                    二、送红包送利率
                </h2>
                <p class="safety-p safety-p-nospace">
                    红包和加息券是铜掌柜平台奖励给用户的电子虚拟礼金的一种。其中投资红包一般可以通过新用户注册、推荐新用户投资和参与平台各项主题活动获得。加息券能够提升用户投资项目的年化收益率，可以通过平台各种主题活动获得。
                </p>
                <p class="safety-p ">
                    <img src="$!{imagePath}/safety/sybz/sy_img2.png" class="per100" alt=""/>
                </p>
            </div>
        </div>
        <div class="swiper-slide" title="技术保障">
            <div class="safety-pro-ct container-spacing container-r-spacing" j-tab-content>
                <h2 class="safety-h2-title">
                    数据安全
                </h2>
                <p class="safety-p safety-p-nospace">
                    铜掌柜技术团队成员均来自国内领先的互联网公司和金融机构，对于网络数据安全、并发交易请求处理、资金监管和支付业务等核心技术有丰富实践经验，能够最大限度保障投资人和借款人的交易信息安全。
                </p>
                <p class="safety-p safety-p-nospace">
                    铜掌柜采用国际领先的系统加密及保护技术。铜掌柜承诺全力保障客户信息不外泄，并严格遵守所有关于可辨识个人信息保存的法律法规的要求。
                </p>
                <h2 class="safety-h2-title">
                    1、网络安全
                </h2>
                <p class="safety-p safety-p-nospace">
                    采用SSL128位数据传输加密保护技术，让客户在进行个人账户管理、充值等涉及敏感信息的操作时，信息自动加密，确保信息的安全传输，通过多重防火墙体系确保服务器和数据的安全。
                </p>
                <p class="safety-p safety-p-nospace">
                    采用DDOS防火墙，防止恶意攻击行为，保证网站顺畅体验。
                </p>
                <p class="safety-p safety-p-nospace">
                    采用WAF防火墙，对各类请求进行检测和验证，确保其安全性与合法性，对非法的请求予以实时阻断，对站点进行有效防护。通过硬件防火墙隔离数据库，有效防止病毒及非法入侵，确保用户数据的安全。增加入侵防御体系对网络数据实时监测，让入侵者无处遁形，无功而返。
                </p>
                <p class="safety-p ">
                    <img src="$!{imagePath}/safety/jsbz/jsbz_img1.png" class="per60" alt=""/>
                </p>
                <h2 class="safety-h2-title">
                    2、服务器集群技术
                </h2>
                <p class="safety-p safety-p-nospace">
                    采用负载均衡集群，有效的分摊系统的工作负载，为用户提供高可用的数据服务。
                </p>
                <p class="safety-p ">
                    <img src="$!{imagePath}/safety/jsbz/jsbz_img2.png" class="per100" alt=""/>
                </p>
                <h2 class="safety-h2-title">
                    3、数据安全
                </h2>
                <p class="safety-p safety-p-nospace">
                    多个异地容灾备份点，实时同步系统数据，每份数据具有多个副本，确保数据安全。
                </p>
                <p class="safety-p ">
                    <img src="$!{imagePath}/safety/jsbz/jsbz_img3.png" class="per100" alt=""/>
                </p>
                <h2 class="safety-h2-title">
                    4、先进存储机制确保影像和合同文件数据安全
                </h2>
                <p class="safety-p safety-p-nospace">
                    铜掌柜运营过程中所采用到的所有影像、合同等保密文件均以只读和机密的形式进行存储，避免被恶意篡改和删除。在大规模可扩展集群支持下，确保用户文件的安全性、可靠性，并支持高并发、高可用等数据解决方案。
                </p>
                <p class="safety-p ">
                    <img src="$!{imagePath}/safety/jsbz/jsbz_img4.png" class="per100" alt=""/>
                </p>
                <h2 class="safety-h2-title">
                    5、采用覆盖面更广的内容分发网络（CDN）
                </h2>
                <p class="safety-p safety-p-nospace">
                    其目的是通过在现有的Internet中增加一层新的网络架构，将网站的内容发布到最接近用户的网络"边缘"，使用户可以就近取得所需的内容，解决Internet网络拥堵的状况，提高用户访问网站的响应速度。从技术上全面解决由于网络带宽小、用户访问量大、网点分布不均等原因所造成的用户访问网站响应速度过慢问题。
                </p>
                <h2 class="safety-h2-title">
                    隐私安全
                </h2>
                <p class="safety-p safety-p-nospace">
                    铜掌柜为了提供更优质的服务，使您提供的所有信息都能得到保护，我们采用以下关于信息保护的政策：铜掌柜收集信息的范围仅限于平台开展业务所必需的相关资料；
                </p>
                <p class="safety-p safety-p-nospace">
                    铜掌柜将对客户提供的信息严格保密，除具备下列情形之一外，不会向任何外部机构披露：
                </p>
                <p class="safety-p ">
                    <img src="$!{imagePath}/safety/jsbz/jsbz_img5.png" class="per100" alt=""/>
                </p>
                <p class="safety-p safety-p-nospace">
                    铜掌柜尽力确保对客户的信息记录是准确和及时的；
                </p>
                <p class="safety-p safety-p-nospace">
                    铜掌柜设有严格的安全系统，以防止未经授权的任何人，包括本公司的职员获取客户信息；
                </p>
                <p class="safety-p safety-p-nospace">
                    因服务必要而委托的第三方，在得到铜掌柜许可获取客户的个人信息时，都被要求严格遵守保密责任。
                </p>
            </div>
        </div>
    </div>
</div>
<script src="$!{basePath}/assets/js/modules/swiper.min.js"></script>
<script>
(function(){
	// var tabs = document.querySelectorAll('.tab li');
	// var tabContents = document.querySelectorAll("[j-tab-content]");
	// var activedClass = "-active";
	// var currentIndex = 0;
	
	// function checkTab(index) {
	// 	if (index == currentIndex) {
	// 		return;
	// 	}
		
	// 	tabs[index].className = activedClass;
	// 	tabs[currentIndex].className = "";
	// 	tabContents[index].style.display = "block";
	// 	tabContents[currentIndex].style.display = "none";
	// 	currentIndex = index;
	// };

	// for (var i=0,l=tabs.length; i<l; i++) {
	// 	tabs[i].dataset.tabIndex = i;
	// 	tabs[i].addEventListener("click", function(e){
	// 		//e.preventDefault();
	// 		checkTab(this.dataset.tabIndex);
	// 	}, false);
	// }

	// var locationHash = self.location.hash;
	// if (locationHash && /^#tab\-\d+$/g.test(locationHash)) {
	// 	var lhTabIndex = parseInt(locationHash.substr(5));
	// 	if (!isNaN(lhTabIndex) && lhTabIndex >= 0 && lhTabIndex <= l) {
	// 		checkTab(lhTabIndex);
	// 	}
	// }
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true
    });
})();
</script>
