<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.message.MessageMapper">	
	<resultMap id="BaseResultMap" type="com.tzg.entitys.message.Message">
		<result property="id" jdbcType="INTEGER" column="id"/>
		<result property="imanageId" jdbcType="INTEGER" column="iManageID"/>
		<result property="iloginAccountId" jdbcType="INTEGER" column="iLoginAccountID"/>
		<result property="dtPublish" jdbcType="TIMESTAMP" column="dtPublish"/>
		<result property="istate" jdbcType="INTEGER" column="iState"/>
		<result property="imode" jdbcType="INTEGER" column="iMode"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        id ,iManageID ,iLoginAccountID ,dtPublish ,iState ,iMode
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.tzg.entitys.message.Message" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
	      SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	<![CDATA[
		INSERT INTO tbmessage (
        	iManageID ,
        	iLoginAccountID ,
        	dtPublish ,
        	iState ,
        	iMode
		) VALUES (
        	#{imanageId,jdbcType=INTEGER} ,
        	#{iloginAccountId,jdbcType=INTEGER} ,
        	#{dtPublish,jdbcType=TIMESTAMP} ,
        	#{istate,jdbcType=INTEGER} ,
        	#{imode,jdbcType=INTEGER} 
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.message.Message">
		UPDATE tbmessage
		<set>
			<if test="imanageId != null">
	        iManageID = #{imanageId,jdbcType=INTEGER} ,
	        </if>
			<if test="iloginAccountId != null">
	        iLoginAccountID = #{iloginAccountId,jdbcType=INTEGER} ,
	        </if>
			<if test="dtPublish != null">
	        dtPublish = #{dtPublish,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="istate != null">
	        iState = #{istate,jdbcType=INTEGER} ,
	        </if>
			<if test="imode != null">
	      	  iMode = #{imode,jdbcType=INTEGER} 
	        </if>	        
	    </set>
		WHERE 
	        id = #{id,jdbcType=INTEGER} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM tbmessage WHERE
        id = #{id} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT  a.id ,a.iManageID ,a.iLoginAccountID ,a.dtPublish ,a.iState ,a.iMode,b.vcContent,b.vcTitle ,b.vcSubTitle 
		FROM tbmessage as a left join tbmessagemanage as b on a.imanageId=b.id
		WHERE 
        a.id = #{id} 
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from tbmessage as a where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select a.id ,a.iManageID ,a.iLoginAccountID ,a.dtPublish ,a.iState ,a.iMode,b.vcContent,b.vcTitle ,b.vcSubTitle  
		FROM tbmessage as a left join tbmessagemanage as b on a.imanageId=b.id
		where 1=1
		<include refid="queryWhere"/>
	    <![CDATA[ ORDER BY a.id DESC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
	
	<sql id="queryWhere">
		<if test="id != null and id.trim() != ''">
		and a.id = #{id}
		</if>
		<if test="iloginAccountId != null and iloginAccountId.trim() != ''">
		and a.iLoginAccountID = #{iloginAccountId}
		</if>
		<if test="istate != null and istate.trim() != ''">
		and a.iState = #{istate}
		</if>
		<if test="imode != null and imode.trim() != ''">
		and a.iMode = #{imode}
		</if>		
	</sql>
</mapper>


