<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.projectcataloglist.ProjectcataloglistMapper">	
	<resultMap id="BaseResultMap" type="com.tzg.entitys.projectcataloglist.Projectcataloglist">
		<result property="id" jdbcType="INTEGER" column="id"/>
		<result property="iProjectID" jdbcType="INTEGER" column="iProjectID"/>
		<result property="vcCatalogTypeName" jdbcType="VARCHAR" column="vcCatalogTypeName"/>
		<result property="iCatalogTypeSort" jdbcType="INTEGER" column="iCatalogTypeSort"/>
		<result property="vcCatalogName" jdbcType="VARCHAR" column="vcCatalogName"/>
		<result property="iCatalogSort" jdbcType="INTEGER" column="iCatalogSort"/>
		<result property="vcCatalogIconURL" jdbcType="VARCHAR" column="vcCatalogIconURL"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        id ,iProjectID ,vcCatalogTypeName ,iCatalogTypeSort ,vcCatalogName ,iCatalogSort ,vcCatalogIconURL 
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.tzg.entitys.projectcataloglist.Projectcataloglist" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
	      SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	<![CDATA[
		INSERT INTO tbprojectcataloglist (
        	iProjectID ,
        	vcCatalogTypeName ,
        	iCatalogTypeSort ,
        	vcCatalogName ,
        	iCatalogSort ,
        	vcCatalogIconURL 
		) VALUES (
        	#{iProjectID,jdbcType=INTEGER} ,
        	#{vcCatalogTypeName,jdbcType=VARCHAR} ,
        	#{iCatalogTypeSort,jdbcType=INTEGER} ,
        	#{vcCatalogName,jdbcType=VARCHAR} ,
        	#{iCatalogSort,jdbcType=INTEGER} ,
        	#{vcCatalogIconURL,jdbcType=VARCHAR} 
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.projectcataloglist.Projectcataloglist">
		UPDATE tbprojectcataloglist
		<set>
			<if test="iProjectID != null">
	        iProjectID = #{iProjectID,jdbcType=INTEGER} ,
	        </if>
			<if test="vcCatalogTypeName != null">
	        vcCatalogTypeName = #{vcCatalogTypeName,jdbcType=VARCHAR} ,
	        </if>
			<if test="iCatalogTypeSort != null">
	        iCatalogTypeSort = #{iCatalogTypeSort,jdbcType=INTEGER} ,
	        </if>
			<if test="vcCatalogName != null">
	        vcCatalogName = #{vcCatalogName,jdbcType=VARCHAR} ,
	        </if>
			<if test="iCatalogSort != null">
	        iCatalogSort = #{iCatalogSort,jdbcType=INTEGER} ,
	        </if>
			<if test="vcCatalogIconURL != null">
	        vcCatalogIconURL = #{vcCatalogIconURL,jdbcType=VARCHAR} 
	        </if>
	    </set>
		WHERE 
	        id = #{id,jdbcType=INTEGER} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM tbprojectcataloglist WHERE
        id = #{id} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM tbprojectcataloglist 
		WHERE 
        id = #{id} 
	]]>
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from tbprojectcataloglist where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from tbprojectcataloglist where 1=1
		<include refid="queryWhere"/> 
	   <choose>
	            <when test="sortField != null and sortField != ''">
	               ORDER BY ${sortField} desc
	            </when>
	            <otherwise>
	                 ORDER BY id DESC 
	            </otherwise>
	        </choose>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
	
	<sql id="queryWhere">
		<if test="id != null and id.trim() != ''">
		and id = #{id}
		</if>
		<if test="iProjectID != null and iProjectID.trim() != ''">
		and iProjectID = #{iProjectID}
		</if>
		<if test="vcCatalogTypeName != null and vcCatalogTypeName.trim() != ''">
		and vcCatalogTypeName = #{vcCatalogTypeName}
		</if>
		<if test="iCatalogTypeSort != null and iCatalogTypeSort.trim() != ''">
		and iCatalogTypeSort = #{iCatalogTypeSort}
		</if>
		<if test="vcCatalogName != null and vcCatalogName.trim() != ''">
		and vcCatalogName = #{vcCatalogName}
		</if>
		<if test="iCatalogSort != null and iCatalogSort.trim() != ''">
		and iCatalogSort = #{iCatalogSort}
		</if>
		<if test="vcCatalogIconURL != null and vcCatalogIconURL.trim() != ''">
		and vcCatalogIconURL = #{vcCatalogIconURL}
		</if>
	</sql>
	
	
	<!-- 根据项目编号，查询记录 -->
	<select id="queryInfoByProjectID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select 
		<include refid="columns"/>
		from tbprojectcataloglist
		where iProjectID = #{iProjectID,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByIProjectID" parameterType="java.lang.Integer">
		delete from tbprojectcataloglist
		where iProjectID = #{iProjectID,jdbcType=INTEGER}
	</delete>
	
</mapper>


