<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.kff.tokenrecords.TokenrecordsMapper">
	<resultMap id="BaseResultMap" type="com.tzg.entitys.kff.tokenrecords.Tokenrecords">
		<result property="tokenRecordsId" jdbcType="INTEGER" column="token_records_id" />
		<result property="userId" jdbcType="INTEGER" column="user_id" />
		<result property="tradeCode" jdbcType="VARCHAR" column="trade_code" />
		<result property="tradeType" jdbcType="INTEGER" column="trade_type" />
		<result property="functionDesc" jdbcType="VARCHAR" column="function_desc" />
		<result property="functionType" jdbcType="TINYINT" column="function_type" />
		<result property="amount" jdbcType="DECIMAL" column="amount" />
		<result property="tradeDate" jdbcType="TIMESTAMP" column="trade_date" />
		<result property="balance" jdbcType="DECIMAL" column="balance" />
		<result property="createTime" jdbcType="TIMESTAMP" column="createTime" />
		<result property="updateTime" jdbcType="TIMESTAMP" column="updateTime" />
		<result property="status" jdbcType="INTEGER" column="status" />
		<result property="memo" jdbcType="VARCHAR" column="memo" />
		<result property="rewardGrantType" jdbcType="INTEGER" column="reward_grant_type" />
		<result property="postId" jdbcType="INTEGER" column="postId" />
		<result property="praiseId" jdbcType="INTEGER" column="praiseId" />
		<result property="awardTypeId" jdbcType="INTEGER" column="award_type_id" />
		<result property="awardType" jdbcType="INTEGER" column="award_type" />
	</resultMap>

	<sql id="columns">
	    <![CDATA[
        token_records_id ,user_id ,trade_code ,trade_type ,function_desc ,function_type ,amount ,trade_date ,balance ,createTime ,updateTime ,status ,memo ,reward_grant_type
	   ,postId,praiseId,award_type_id,award_type
	   
	    ]]>
	</sql>

	<insert id="save" parameterType="com.tzg.entitys.kff.tokenrecords.Tokenrecords" useGeneratedKeys="true" keyProperty="tokenRecordsId">
		<selectKey resultType="java.lang.Integer" keyProperty="tokenRecordsId" order="AFTER">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
	<![CDATA[
		INSERT INTO tbtokenrecords (
        	user_id ,
        	trade_code ,
        	trade_type ,
        	function_desc ,
        	function_type ,
        	amount ,
        	trade_date ,
        	balance ,
        	createTime ,
        	updateTime ,
        	status ,
        	memo ,
        	reward_grant_type ,
        	postId ,
        	praiseId ,
        	award_type_id ,
        	award_type
		) VALUES (
        	#{userId,jdbcType=INTEGER} ,
        	#{tradeCode,jdbcType=VARCHAR} ,
        	#{tradeType,jdbcType=INTEGER} ,
        	#{functionDesc,jdbcType=VARCHAR} ,
        	#{functionType,jdbcType=TINYINT} ,
        	#{amount,jdbcType=DECIMAL} ,
        	#{tradeDate,jdbcType=TIMESTAMP} ,
        	#{balance,jdbcType=DECIMAL} ,
        	#{createTime,jdbcType=TIMESTAMP} ,
        	#{updateTime,jdbcType=TIMESTAMP} ,
        	#{status,jdbcType=INTEGER} ,
        	#{memo,jdbcType=VARCHAR} ,
        	#{rewardGrantType,jdbcType=INTEGER} ,
        	#{postId,jdbcType=INTEGER} ,
        	#{praiseId,jdbcType=INTEGER} ,
        	#{awardTypeId,jdbcType=INTEGER} ,
        	#{awardType,jdbcType=INTEGER}
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.kff.tokenrecords.Tokenrecords">
		UPDATE tbtokenrecords
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER} ,
			</if>
			<if test="tradeCode != null">
				trade_code = #{tradeCode,jdbcType=VARCHAR} ,
			</if>
			<if test="tradeType != null">
				trade_type = #{tradeType,jdbcType=INTEGER} ,
			</if>
			<if test="functionDesc != null">
				function_desc = #{functionDesc,jdbcType=VARCHAR} ,
			</if>
			<if test="functionType != null">
				function_type = #{functionType,jdbcType=TINYINT} ,
			</if>
			<if test="amount != null">
				amount = #{amount,jdbcType=DECIMAL} ,
			</if>
			<if test="tradeDate != null">
				trade_date = #{tradeDate,jdbcType=TIMESTAMP} ,
			</if>
			<if test="balance != null">
				balance = #{balance,jdbcType=DECIMAL} ,
			</if>
			<if test="createTime != null">
				createTime = #{createTime,jdbcType=TIMESTAMP} ,
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime,jdbcType=TIMESTAMP} ,
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER} ,
			</if>
			<if test="memo != null">
				memo = #{memo,jdbcType=VARCHAR}
			</if>
			<if test="rewardGrantType != null">
				reward_grant_type = #{rewardGrantType,jdbcType=INTEGER}
			</if>
			<if test="postId != null">
				postId = #{postId,jdbcType=INTEGER} ,
			</if>
			<if test="praiseId != null">
				praiseId = #{praiseId,jdbcType=INTEGER} ,
			</if>

			<if test="awardTypeId != null">
				award_type_id = #{awardTypeId,jdbcType=INTEGER} ,
			</if>

			<if test="awardType != null">
				award_type = #{awardType,jdbcType=INTEGER} ,
			</if>
		</set>
		WHERE
		token_records_id = #{tokenRecordsId,jdbcType=INTEGER}
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM tbtokenrecords WHERE
        token_records_id = #{tokenRecordsId} 
	]]>
	</delete>

	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT
		<include refid="columns" /> 
	<![CDATA[
		FROM tbtokenrecords 
		WHERE 
        token_records_id = #{tokenRecordsId} 
	]]>
	</select>
	<!-- 注册奖励的查询 -->
	<select id="findByUserIdAndFunctionType" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT *
		FROM tbtokenrecords
		WHERE 1=1
		AND
		user_id = #{userId}
		AND
		function_type = 16

	</select>
	<!-- 今天线性发放总额 -->
	<select id="findTodayToken" resultType="java.lang.Double" parameterType="java.util.Map">
		SELECT sum(amount)
		FROM tbtokenrecords
		WHERE 1=1
		AND
		user_id = #{userId}
		AND
		reward_grant_type = 2
		AND
		createTime <![CDATA[ >= ]]>
		#{createTimeBegin}
		AND
		createTime <![CDATA[ <= ]]>
		#{createTimeEnd}
	</select>
	<select id="findAllTokenrecordsUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT *
		FROM tbtokenrecords
		WHERE 1=1
		AND
		user_id = #{userId}
	</select>

	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(*) from tbtokenrecords where 1=1
		<include refid="queryWhere" />
	</select>

	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="columns" />
		from tbtokenrecords where 1=1
		<include refid="queryWhere" /> 
	    <![CDATA[ ORDER BY token_records_id DESC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
	<!-- 查询rewardToken(赠送的奖励)个人总数量 -->
	<select id="findUserSumRewardToken" parameterType="java.lang.Double">
		select sum(*) from tbtokenrecords where 1=1
		<include refid="queryWhere" />
	</select>
	<!-- 查询单人的邀请字段 -->
	<sql id="queryWhere">
		<if test="tokenRecordsId != null and tokenRecordsId.trim() != ''">
			and token_records_id = #{tokenRecordsId}
		</if>
		<if test="userId != null">
			and user_id = #{userId}
		</if>
		<if test="tradeCode != null ">
			and trade_code = #{tradeCode}
		</if>
		<if test="tradeType != null ">
			and trade_type = #{tradeType}
		</if>
		<if test="functionDesc != null ">
			and function_desc = #{functionDesc}
		</if>
		<if test="functionType != null ">
			and function_type = #{functionType}
		</if>
		<if test="amount != null">
			and amount = #{amount}
		</if>
		<if test="tradeDateBegin != null ">
			and trade_date >= #{tradeDateBegin}
		</if>
		<if test="tradeDateEnd != null ">
			and trade_date &lt;= #{tradeDateEnd}
		</if>
		<if test="balance != null ">
			and balance = #{balance}
		</if>
		<if test="createTimeBegin != null">
			and createTime >= #{createTimeBegin}
		</if>
		<if test="createTimeEnd != null ">
			and createTime &lt;= #{createTimeEnd}
		</if>
		<if test="updateTimeBegin != null ">
			and updateTime >= #{updateTimeBegin}
		</if>
		<if test="updateTimeEnd != null ">
			and updateTime &lt;= #{updateTimeEnd}
		</if>
		<if test="status != null ">
			and status = #{status}
		</if>
		<if test="memo != null ">
			and memo = #{memo}
		</if>
		<if test="rewardGrantType != null ">
			and rewardGrantType = #{rewardGrantType}
		</if>

		<if test="postId != null ">
			and postId = #{postId}
		</if>
		<if test="praiseId != null ">
			and praiseId = #{praiseId}
		</if>

		<if test="awardTypeId != null">
			and award_type_id = #{awardTypeId}
		</if>

		<if test="awardType != null">
			and award_type = #{awardType}
		</if>

		<if test="functionTypeAll !=null">

			and (function_type in 
			(10,11,12,13,14,15,16
			,17,18,21
			,23 ,24 ,26
			,27 ,28
			,29 ,80,83)
			)
			

		</if>
	</sql>

	<select id="findAllPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="columns" />
		from tbtokenrecords where 1=1
		<include refid="queryWhere" />
	</select>

	<select id="findByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="columns" />
		from tbtokenrecords where 1=1
		<include refid="queryWhere" />
	</select>

</mapper>


