html{height:100%;font-size:62.5%;background-color:#fff}@media screen and (max-width:640px){html{font-size:53.33333333%}}@media screen and (max-width:560px){html{font-size:46.66666667%}}@media screen and (max-width:480px){html{font-size:40%}}@media screen and (max-width:400px){html{font-size:33.33333333%}}@media screen and (max-width:320px){html{font-size:26.66666667%}}
body {
	position:relative;
	margin:0 auto;
	max-width:750px;
	min-width:320px;
	min-height:100%;
	font-family: "micrsoft yahei";
	background: #e76b00;
}
em {
	font-style: normal;
}
a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'tzg-icon';
	src:url('fonts/tzg-icon.eot?-ayjraa');
	src:url('fonts/tzg-icon.eot?#iefix-ayjraa') format('embedded-opentype'),
		url('fonts/tzg-icon.woff?-ayjraa') format('woff'),
		url('fonts/tzg-icon.ttf?-ayjraa') format('truetype'),
		url('fonts/tzg-icon.svg?-ayjraa#tzg-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@-webkit-keyframes icon-spin {
	0% {
		-webkit-transform:rotate(0deg)
	}
	100% {
		-webkit-transform:rotate(359deg)
	}
}
@keyframes icon-spin {
	0% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg)
	}
	100% {
		-webkit-transform:rotate(359deg);
		transform:rotate(359deg)
	}
}
.cl-pink {
	color:#f87382
}
.btn {
	box-sizing: border-box;
	display:inline-block;
	padding:0 3%;
	overflow:visible;
	border:0;
	font-size:4.2rem;
	line-height:2;
	font-family: "micrsoft yahei";
	border-radius:1rem;
	background-color:#b9b9b9
}
.btn.-primary {
	color:#fff;
	background-color:#f87382
}
.btn.-c3 {
	color:#fff;
	background-color:#4dd2bb
}
.btn.-gray,.btn.-loading,.btn[disabled],.btn:disabled {
	background:#c3c3c3
}
.btn.-full {
	padding:0;
	width:100%;
	text-align:center
}
.btn.-small {
	font-size: 3.2rem;
	border-radius:.5rem;
}
.btn.-hollow {
	border: 1px solid #f87382;
	color: #f87382;
	background-color: #fff;
}
.btn.-loading {
	font-size:0
}
.btn.-loading:after {
	content:"\e60c";
	display:inline-block;
	font-family:tzg-icon;
	font-size:4.2rem;
	-webkit-animation:icon-spin 1.5s infinite linear;
	-moz-animation:icon-spin 1.5s infinite linear;
	animation:icon-spin 1.5s infinite linear
}
.btn.-small.-loading:after {
	font-size:3.2rem;
}


.ipt {
	display: inline-block;
	padding: .5em;
	border: 1px solid #e6e6e6;
	font-size: 3rem;
	font-family: "micrsoft yahei";
	line-height: 1.5;
}
.ipt:focus {
	border-color: #70abf1;
}
.ipt.-full {
	box-sizing: border-box;
	width: 100%;
}

.captcha {
	position: relative;
}
.captcha_btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 40%;
	height: 100%;
	color: #fff !important;
	font-size: 2rem;
	line-height: 3.8;
	text-align: center;
	background-color: #4e96ef;
}
.captcha_btn.z-gray {
	background-color: #c0c0c0;
}
.captcha_ipt {
	width: 60%;
}

.protocol-popup {
	position:fixed;
	top:0;
	left:150%;
	z-index:105;
	width:100%;
	height:100%;
	font-size: 3rem;
	background-color:#fff;
	-webkit-transition:left .2s ease-out;
	-moz-transition:left .2s ease-out;
	transition:left .2s ease-out;
	-webkit-overflow-scrolling: touch;
}
.protocol-popup.-opened {
	left:0;
	-webkit-transition:left .2s ease-out;
	-moz-transition:left .2s ease-out;
	transition:left .2s ease-out
}
.protocol-popup_hd,.protocol-popup_ft {
	position:absolute;
	left:0;
	z-index:3;
	width:100%;
	height:2.5em;
	text-align:center;
	background-color:#fff
}
.protocol-popup_hd {
	top:0;
	line-height:2.5;
	-webkit-box-shadow:0 3px 3px rgba(102,153,255,.3);
	-moz-box-shadow:0 3px 3px rgba(102,153,255,.3);
	box-shadow:0 3px 3px rgba(102,153,255,.3)
}
.protocol-popup_ft {
	bottom:0;
	text-align:center;
	-webkit-box-shadow:0 -3px 3px rgba(102,153,255,.3);
	-moz-box-shadow:0 -3px 3px rgba(102,153,255,.3);
	box-shadow:0 -3px 3px rgba(102,153,255,.3)
}
.protocol-popup_ft .button {
	border:0;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-size: 3rem;
	background:transparent
}
.protocol-popup_bd {
	position:absolute;
	top:2.5em;
	right:0;
	bottom:2.5em;
	left:0;
	padding:0 3%;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
}


.public-form {
	font-size: 3rem;
}
.public-form li {
	margin: 3% 0;
}
.public-form .form-item {
	padding-left: 3em;
}
.public-form .form-label {
	float: left;
	margin-top: .5em;
	margin-left: -3em;
}
.public-form.-label-4c .form-item {
	padding-left: 5em;
}
.public-form.-label-4c .form-label {
	margin-left: -5em;
}
.public-form .form-content .captcha .ipt {
	margin-top: 0;
}
.public-form .ipt.z-err {
	border-color: #c00;
}
.public-form label.z-err {
	color: #c00;
}
.public-form a {
	color: #4e96ef;
}

.progressbar {
	height:.2em;
	overflow:hidden;
	border-radius:100px;
	background:#e6e6e6
}
.progressbar_bar {
	height:100%;
	background:#f87382
}

.project-item {
	display: block;
	position: relative;
	margin: 2% 0;
	padding: 4% 8.5%;
	overflow: hidden;
	/* border: 1px solid #e6e6e6; */
	background-color: #fff;
}
.project-item .item-title {
	color: #606060;
}
.project-item .item-pname,
.project-item .item-sname,
.project-item .item-tags {
	display: inline-block;
	vertical-align: bottom;
}
.project-item .item-pname {
	font-size: 3.2rem;
}
.project-item .item-sname {
	font-size: 2.4rem;
}
.project-item .item-repay-mode,
.project-item .item-progress,
.project-item .item-properties {
	width: 72.65%;
}
.project-item .item-repay-mode {
	margin: 3% 0;
	font-size: 2.4rem;
	color: #c3c3c3;
}
.project-item .item-progress {
	font-size: 5rem;
}
.project-item .item-properties {
	margin-top: 5%;
	overflow: hidden;
}
.project-item .item-properties .property {
	float: left;
	width: 33.333%;
	font-size: 2rem;
	color: #c3c3c3;
}
.project-item .item-properties .property:nth-child(2) {
	text-align: center;
}
.project-item .item-properties .property:last-child {
	text-align: right;
}
.project-item .item-properties .property em {
	padding-right: 2%;
	font-size: 2.6rem;
	color: #606060;
}
.project-item .item-properties .property em.cl-pink {
	color:#f87382;
}
.project-item .item-view,
.project-item .item-date {
	position: absolute;
	right: 3%;
	bottom: 13%;
	width: 23%;
}
.project-item .item-date {
	bottom: 45%;
	width: 30%;
	text-align: right;
	color: #999;
}

.project-item.-new:after,
.project-item.-new-gray:after,
.project-item.-activity:after,
.project-item.-activity-gray:after,
.project-item.-activity-new:after,
.project-item.-activity-new-gray:after,
.project-item.-hot-sales:after,
.project-item.-hot-sales-gray:after,
.project-item.-seckill:after,
.project-item.-seckill-gray:after {
	content:"新客";
	position:absolute;
	top:.7rem;
	left:-8%;
	width:25%;
	text-align:center;
	font-size:2.8rem;
	line-height:1.5;
	color:#fff;
	background-color:#f87382;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg)
}
.project-item.-activity:after,.project-item.-activity-gray:after {
	content:"活动";
	background-color:#56dbc8
}
.project-item.-activity-new:after,.project-item.-activity-new-gray:after {
	content:"新客活动";
	font-size:1.8rem;
	line-height:2.4;
	text-indent:5.5rem;
	background-color:#30d2ba
}
.project-item.-hot-sales:after,.project-item.-hot-sales-gray:after {
	content:"爆款";
	background-color:#e33347
}
.project-item.-seckill:after,.project-item.-seckill-gray:after {
	content:"秒杀";
	background-color:#90cc3a
}
.project-item.-new-gray:after,.project-item.-activity-gray:after,.project-item.-activity-new-gray:after,.project-item.-hot-sales-gray:after,.project-item.-seckill-gray:after {
	background-color:#b9b9b9
}



.icon-mortgage:after,
.icon-guarantee:after {
	display: inline-block;
	font-style: normal;
	font-family: "tzg-icon";
	font-size: 3.4rem;
	line-height: 1;
}
.icon-mortgage.-gray:after,
.icon-guarantee.-gray:after {
	color: #b9b9b9;
}

.icon-mortgage:after {
	content: "\e601";
	color: #d6728f;
}

.icon-guarantee:after {
	content: "\e600";
	color: #77c6c5;
}



/*----------------------------------------------------*/
/* artDialog */
/*--------------------------*\
	Global variables
\*--------------------------*/
/*--------------------------*\
	Less mixins
\*--------------------------*/
.ui-dialog {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(79, 150, 240, 0.3);
}
.lt-ie9 .ui-dialog {
  border: 1px solid #c4dcfa;
}
.ui-dialog-grid {
  border-collapse: collapse;
}
.ui-dialog-header {
	padding: 3% 0;
  color: #fff;
  background-color: #f87382;
}
.ui-dialog-close {
  display: block;
  position: absolute;
  top: 1.5%;
  right: 2%;
  font-size: 5rem;
  line-height: 1;
  color: #fff;
}
.ui-dialog-close:hover {
  color: rgba(255, 255, 255, 0.7);
}
.ui-dialog-close:active {
  color: rgba(255, 255, 255, 0.4);
}
.lt-ie7 .ui-dialog-close .ui-dialog-close {
  position: absolute;
  height: 26px;
  background: #FFF;
}
.ui-dialog-title {
  text-align: center;
  font-size: 3rem;
}
.ui-dialog-content {
	box-sizing: border-box;
	padding: 5%;
  overflow: auto;
  font-size: 3rem;
}
/*----------------------------------------------------*/





.topic-container {
	font-size: 2.8rem;
	overflow: hidden;
}
.big-images img,
.topic-desc img {
	width: 100%;
	vertical-align: top;
}
.topic-desc {
	position: relative;
	color: #fff;
	background: #e44b4e;
}
.topic-desc:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15%;
	background: #e44b4e;

	-webkit-transform: translateY(.3em) skewY(-1.5deg);
	   -moz-transform: translateY(.3em) skewY(-1.5deg);
		-ms-transform: translateY(.3em) skewY(-1.5deg);
			transform: translateY(.3em) skewY(-1.5deg);
}
.topic-desc em {
	font-size: 1.8em;
}
.view-red {
	margin: auto;
	padding: 5% 0 3%;
	width: 92%;
	height: 2.6em;
	text-align: center;
	background-color: #fff4c9;
}
.view-red .s-no-login {
	font-size: 4rem;
}
.view-red .s-no-login img {
	width: 27%;
	vertical-align: middle;
}
.view-red .s-login {
	line-height: 1.2;
	font-size: 2.4rem;
}
.view-red .s-login em {
	font-size: 5rem;
	color: #e34a4d;
}

.share {
	margin: 4% 0;
	text-align: center;
}
.share .title {
	width: 96.53%;
}
.share ul {
	margin: 2% 0 0;
	text-align: center;
	font-size: 2.4rem;
}
.share li {
	display: inline-block;
	margin: 0 1%;
	width: 20%;
}
.share li img {
	display: block;
	margin: 0 auto 5%;
	width: 72%;
}
.share-links {
	margin: 3% 0;
}
.share-links .title {
	text-align: center;
	color: #fff;
}
.share-links input {
	width: 100%;
	margin: 1% 0;
	padding: 1% 0;
	border: none;
	text-align: center;
	font-size: 2.8rem;
	color: #fff;
	background: #ffb26f;
}

.f1 {
	position: relative;
	margin-top: 5%;
}
.f1 .title {
	width: 100%;
	vertical-align: top;
}
.f1 .status {
	position: absolute;
	top: 60%;
	left: 0;
	width: 100%;
	text-align: center;
}
.f1 .status .note {
	margin-bottom: 2%;
	font-size: 4rem;
	color: #e34a4d;
}
.f1 .status .button {
	width: 38.4%;
}
.f1 .hint {
	margin: -2% 0 2%;
	font-size: 2.4rem;
	color: green;
}
.f1 .countdown {
	position: absolute;
	top: 89%;
	left: 0;
	width: 100%;
	font-size: 2.4rem;
	text-align: center;
	color: #ce4d6b;
}
.f1 .countdown em {
	display: inline-block;
	margin: 0 .2%;
	width: 7.47%;
	color: #fff;
	font-size: 5rem;
	vertical-align: middle;
	background: url(images/m_36.png) no-repeat center center;
	-webkit-background-size: 100% auto;
			background-size: 100% auto;
}


.list-wrap {
	
}
.list-wrap .noresult img {
	width: 100%;
	vertical-align: top;
}

.list {
	margin: auto;
	width: 94%;
}

.no-result {
	line-height: 4;
	text-align: center;
}


.f2 {
	margin-top: 5%;
}

.f3 {
	position: relative;
	margin-top: 5%;
	overflow: hidden;
}
.f3 .title {
	text-align: center;
}
.f3 .title img {
	width: 73.33%;
	vertical-align: top;
}
.f3-content {
	margin: 0 auto;
	width: 96%;
	border-right: .3em solid #8c6134;
	background-color: #fff4c9;
}
.f3-content .notes {
	padding: 5%;
}
.f3-content .note-title {
	font-size: 3.6rem;
	font-weight: bold;
	color: #e34a4d;
}
.f3-content .note-content {
	margin: 5% 0;
}
.f3-content .note-content2 {
	color: #e34a4d;
}

.block-title {
	margin: 1px;
	padding: 1% 0;
	text-align: center;
	color: #fff;
	background-color: #009181;
}

.tab {
	margin: 1px;
	overflow: hidden;
	color: #fff;
	background-color: #e34a4d;
}
.tab li {
	box-sizing: border-box;
	float: left;
	padding: 2% 0 2% 1%;
	width: 25%;
	height: 100%;
	border-right: 1px solid #fff;
	font-size: 1.5rem;
}
.tab-col6 li {
	width: 14.2857%;
	text-align: center;
}
.tab li:last-child {
	border-right: none;
}
.tab li.on {
	background-color: #932429;
}
.tab li.off {
	color: #f1a5a6;
}

.data-list {
	margin: 0 3.45%;
	overflow: hidden;
	background-color: #a5d3c5;
}
.data-list .data-title {
	padding: 1% 3%;
	color: #fff;
	background-color: #769fac;
}
.data-list table {
	border-collapse: collapse;
	margin: 3% auto;
	width: 93%;
}
.data-list thead th {
	padding: 2% 0;
	font-weight: normal;
	border-bottom: .1em solid #009774;
}
.data-list tbody td {
	padding: 2% 0;
	text-align: center;
}
.data-list.star tbody tr.item:nth-child(1) td:first-child {
	background: url(images/m_50.png) no-repeat 16% 50%;
	-webkit-background-size: 18.18% auto;
	background-size: 18.18% auto;
}
.data-list.star tbody tr.item:nth-child(2) td:first-child {
	background: url(images/m_53.png) no-repeat 16% 50%;
	-webkit-background-size: 18.18% auto;
	background-size: 18.18% auto;
}
.data-list.star tbody tr.item:nth-child(3) td:first-child {
	background: url(images/m_55.png) no-repeat 16% 50%;
	-webkit-background-size: 18.18% auto;
	background-size: 18.18% auto;
}


.ranking2 {
	margin-top: 5%;
}
.ranking2 .block-title {
	background-color: #e34a4d;
}

.prizes {
	margin: 5%;
	padding-left: 33%;
	overflow: hidden;
	background: url(images/m_62.png) no-repeat left top;
	-webkit-background-size: auto 95%;
	background-size: auto 95%;
}

.prize-list {
}
.prize-list li {
	margin-bottom: 28%;
}
.prize-list .prize-title {
	font-size: 4.4rem;
	font-weight: bold;
}
.prize-list .prize-desc {
	margin-top: 6%;
}
.prize-list .prize-hint {
	color: #e34a4d;
}

.rule-list {
	margin: 5% 0;
}
.rule-list li {
	margin: 2% 0;
	padding-left: 8%;
	background: url(images/m_66.png) no-repeat 0 .08em;
	-webkit-background-size: 5% auto;
	background-size: 5% auto;
}
.rule-list li:last-child {
	padding-left: 7em;
}
.rule-list li:last-child span {
	float: left;
	margin-left: -5.2em;
}

.rules2 {
	margin: 0 2%;
	padding: 5% 0;
	border-top: .1em dashed #e34a4d;
}
.rule-title {
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
	color: #e76b00;
}

.rule-list2 {
	list-style: outside decimal;
	margin: 5% 5% 5% 10%;
}
.rule-list2 li {
	margin: 2% 0;
}
.rule-list2 a {
	color: #2e9ed7;
}


.login-area {
}
.login-area .s-no-login {
	display: block;
}
.login-area .s-login {
	display: none;
}
.login-area.-status-login .s-no-login {
	display: none;
}
.login-area.-status-login .s-login {
	display: block;
}



.tab2-shadow {
	position: relative;
	margin-top: 4%;
	height: .6em;
	overflow: hidden;
	background: #ba0d23;
}
.tab2-shadow:before,
.tab2-shadow:after {
	content: "";
	position: absolute;
	top: -1em;
	width: 1.8em;
	height: 1.8em;
	background-color: #e76b00;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.tab2-shadow:before {
	left: -1.5em;
}
.tab2-shadow:after {
	right: -1.5em;
}
.tab2 {
	position: relative;
	background-color: #880d15;
}
.tab2:after {
	content: "";
	display: block;
	clear: both;
}
.tab2 li {
	box-sizing: border-box;
	float: left;
	padding: 2% 0;
	width: 14.28571428571429%;
	border-right: 1px solid #a10d1c;
	text-align: center;
	color: #fff4c9;
	font-size: 2.4rem;
}
.tab2 li:last-child {
	border-right: none;
}
.tab2 li.off {
	color: #c17c6b;
}
.tab2 li.past {
	color: #9d7c6b;
	background-color: #430d15;
}
.tab2 li.on {
	color: #fff4c9;
	background-color: #00927d;
}

.tab3 {
	margin: 0 auto 4%;
	width: 97.333333%;
	border-bottom: .15em solid #e23e11;
	background-color: #fff4c9;
}
.tab3:after {
	content: "";
	display: block;
	clear: both;
}
.tab3 li {
	box-sizing: border-box;
	float: left;
	padding: 3% 0;
	width: 33.3333%;
	border-right: .15em dotted #e84b5d;
	text-align: center;
	color: #e23e11;
	font-size: 3.5rem;
}
.tab3 li:last-child {
	border-right: none;
}
.tab3 li.on {
	position: relative;
	color: #fff4c9;
	background-color: #009774;
}
.tab3 li.on:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -.4em;
	margin-left: -.5em;
	width: 1em;
	height: 1em;
	background-color: #009774;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	box-shadow: 0.2em 0.1em 0 #e23e11;
}

.invest-now {
	text-align: center;
}
.invest-now img {
	width: 49%;
}

.rule-content-switch {
	display: block;
	margin: 0 auto 5%;
	width: 3em;
	height: 1.5em;
	border-bottom-left-radius: 1.5em;
	border-bottom-right-radius: 1.5em;
	text-align: center;
	background-color: #a5d3c5;	
}
.rule-content-switch:after {
	content: "\e607";
	font-family: tzg-icon;
	font-size: 4rem;
	color: #e34a4d;
}
.rule-content-switch.-fold:after {
	content: "\e608";
}


.fixed-foot {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 20;
	width: 100%;
	font-size: 2.4rem;
}
.fixed-foot ul {
	margin: auto;
	max-width: 750px;
	min-width: 320px;
	overflow: hidden;
	background-color: #962043;
}
.fixed-foot li {
	box-sizing: border-box;
	float: left;
	width: 25%;
	border-right: 1px solid #fff;
	text-align: center;
}
.fixed-foot li:last-child {
	border-right: none;
}
.fixed-foot li.on {
	background-color: #622845;
}
.fixed-foot a {
	display: block;
	padding: 1em 0;
	color: #fff;
}
.fixed-foot-placeholder {
	font-size: 2.4rem;
	height: 4em;
}

.share-hint-layer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	text-align: right;
	background-color: rgba(0,0,0,0.7);
}
.share-hint-layer img {
	margin-top: 1%;
	width: 90%;
}
