html{height:100%;font-size:10px;background-color:#fff;}
@media screen and (max-width:640px){html{font-size:8.533333333px}}
@media screen and (max-width:560px){html{font-size:7.466666667px}}
@media screen and (max-width:480px){html{font-size:6.4px}}
@media screen and (max-width:400px){html{font-size:5.333333333px}}
@media screen and (max-width:320px){html{font-size:4.266666667px}}
body {
	margin:0 auto;
	max-width:750px;
	min-width:320px;
	min-height:100%;
	background-color: #351c5d;
	font-size: 1rem;
	-webkit-text-size-adjust: none;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


.container {
	position: relative;
	padding-bottom: 5%;
}
.banner img {
	width: 100%;
	vertical-align: top;
}
.section {
	margin-top: -.3em;
	padding-bottom: 5%;
	background-color: #682388;
	box-shadow: 0 0 .3em rgba(255, 255, 255, .5) inset;
}

/*- 转盘 -------------------------------------*/
.wheel-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 66%;
	width: 100%;
	text-align: center;
}
.wheel-handle {
	position: absolute;
	left: 37.6%;
	top: 61.5%;
	width: 24.8%;
}
.wheel {
	width: 82.67%;
	-webkit-transform: rotate(0deg);
			transform: rotate(0deg);

	-webkit-transition: all 5s ease-out;
			transition: all 5s ease-out;
}



.block {
	position: relative;
}
.block .title {
	position: absolute;
	left: 2%;

	margin-top: -1.5%;
	padding-bottom: 5%;
	width: 96%;

	text-align: center;
	font-size: 4.5rem;
	font-weight: bold;
	line-height: 2;
	color: #fff;

	background: url(images/title.png) no-repeat center top;
	-webkit-background-size: 100% auto;
			background-size: 100% auto;
}
.block .content {
	margin: auto;
	padding-top: 13%;
	padding-bottom: 5%;
	width: 91.2%;
	border: .3em solid #ef30ce;
	border-radius: 3em;
	font-size: 1rem;
	-webkit-text-size-adjust: none;
	background-color: #ffe3f6;
	box-shadow: 0 1em 3em rgba(0,0,0,0.6);
}

.block2 {
	margin: 0 2%;
	padding: 3% 0;
	border-radius: .42em;

	font-size: 2.4rem;
	background-color: #ee46d8;
	box-shadow: 0 0 1em rgba(0,0,0,0.4) inset;
}

.winner-list {
	margin: auto;
	width: 70%;
	overflow: hidden;
	color: #fff;
}
.winner-list.list-title {
	margin-bottom: 2%;
	color: #8c007a;
}
.winner-list li {
	overflow: hidden;
	text-align: center;
	line-height: 1.5;
}
.winner-list .l {
	float: left;
	width: 50%;
}
.winner-list .r {
	float: right;
	width: 50%;
}

.title2 {
	margin: 4% 0 2%;
	text-align: center;
	color: #00c1de;
	font-size: 2.4rem;
}
.title2 img {
	width: 1em;
	vertical-align: middle;
}

.title3 {
	margin: 4% 0 3% -.25em;
	padding-left: 1.6em;
	height: 2.22em;
	color: #fff;
	font-size: 3.6rem;
	font-weight: bold;
	line-height: 1.7;
	background: url(images/title3.png) no-repeat 0 0;
	-webkit-background-size: auto 100%;
			background-size: auto 100%;
}

.text {
	margin: 2% 7.3%;
	font-size: 2.4rem;
	line-height: 2;
}
.text p {
	margin: 0;
}
.text ol {
	margin: 0 0 0 1em;
	padding: 0;
}


.block-winner-list {
	margin-top: -7%;
}
.block-detail {
	margin-top: 8%;
}

.prize-list {
	margin: 2%;
	text-align: center;
}
.prize-list img {
	width: 87.28%;
}


/************************************************/
.detail {
	text-align: center;
}
.detail img {
	width: 95.2%;
}

.xm-dialog {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
	width: 100%;
	height: 200%;
	background-color: rgba(0,0,0,.46);
}
.xm-dialog_inner {
	position: relative;
	top: 15%;
	margin: auto;
	max-width: 750px;
	min-width: 320px;
}
.xm-dialog_win {
	box-sizing: border-box;
	margin: auto;
	padding: 11em 8% 3.33%;
	width: 72.67%;
	border: .8em solid #fff;
	border-radius: 1.5em;
	font-size: 2.4rem;
	background: #fed600 url(images/icon_msg.png) no-repeat center 0;
	-webkit-background-size: auto 10em;
			background-size: auto 10em;
}
.xm-dialog_content {
	margin-bottom: 5%;
	font-size: 2.4rem;
	color: #8b00e4;
	text-align: center;
}
.xm-dialog_btn {
	padding: 5% 0;
	width: 100%;
	border: none;
	font-size: 2.4rem;
	border-radius: .2em;
	text-align: center;
	color: #fff;
	background: #ef2df1;
	background: -moz-linear-gradient(top, #ef2df1 0%, #e30054 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef2df1), color-stop(100%,#e30054));
	background: -webkit-linear-gradient(top, #ef2df1 0%,#e30054 100%);
	background: -ms-linear-gradient(top, #ef2df1 0%,#e30054 100%);
	background: linear-gradient(to bottom, #ef2df1 0%,#e30054 100%);
	box-shadow: 0 .15em .2em rgba(249, 88, 0, .75);
}
.xm-dialog_close {
	position: absolute;
	top: 1%;
	right: 15%;
	width: 1em;
	height: 1em;
	font-size: 4rem;
	color: #8b00e4;
	line-height: 1;
	text-align: center;
}


.btn {
	box-sizing: border-box;
	display:inline-block;
	padding:0 3%;
	overflow:visible;
	border:0;
	font-size:4.2rem;
	line-height:2;
	font-family: "micrsoft yahei";
	border-radius:1rem;
	background-color:#b9b9b9
}
.btn.-primary {
	color:#fff;
	background-color:#f87382
}
.btn.-c3 {
	color:#fff;
	background-color:#4dd2bb
}
.btn.-gray,.btn.-loading,.btn[disabled],.btn:disabled {
	background:#c3c3c3
}
.btn.-full {
	padding:0;
	width:100%;
	text-align:center
}
.btn.-small {
	font-size: 3.2rem;
	border-radius:.5rem;
}
.btn.-hollow {
	border: 1px solid #f87382;
	color: #f87382;
	background-color: #fff;
}
.btn.-loading {
	font-size:0
}
.btn.-loading:after {
	content:"\e60c";
	display:inline-block;
	font-family:tzg-icon;
	font-size:4.2rem;
	-webkit-animation:icon-spin 1.5s infinite linear;
	-moz-animation:icon-spin 1.5s infinite linear;
	animation:icon-spin 1.5s infinite linear
}
.btn.-small.-loading:after {
	font-size:3.2rem;
}


.ipt {
	display: inline-block;
	padding: .5em;
	border: 1px solid #e6e6e6;
	font-size: 3rem;
	font-family: "micrsoft yahei";
	line-height: 1.5;
}
.ipt:focus {
	border-color: #70abf1;
}
.ipt.-full {
	box-sizing: border-box;
	width: 100%;
}

.captcha {
	position: relative;
}
.captcha_btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 40%;
	height: 100%;
	color: #fff !important;
	font-size: 2rem;
	line-height: 3.8;
	text-align: center;
	background-color: #4e96ef;
}
.captcha_btn.z-gray {
	background-color: #c0c0c0;
}
.captcha_ipt {
	width: 60%;
}

/*~~~~~~~~~~~~~~~~~
	协议弹框
 ~~~~~~~~~~~~~~~~~*/
.protocol-popup {
	position:fixed;
	top:0;
	left:150%;
	z-index:105;
	width:100%;
	height:100%;
	font-size: 3rem;
	background-color:#fff;
	-webkit-transition:left .2s ease-out;
	-moz-transition:left .2s ease-out;
	transition:left .2s ease-out;
	-webkit-overflow-scrolling: touch;
}
.protocol-popup.-opened {
	left:0;
	-webkit-transition:left .2s ease-out;
	-moz-transition:left .2s ease-out;
	transition:left .2s ease-out
}
.protocol-popup_hd,.protocol-popup_ft {
	position:absolute;
	left:0;
	z-index:3;
	width:100%;
	height:2.5em;
	text-align:center;
	background-color:#fff
}
.protocol-popup_hd {
	top:0;
	line-height:2.5;
	-webkit-box-shadow:0 3px 3px rgba(102,153,255,.3);
	-moz-box-shadow:0 3px 3px rgba(102,153,255,.3);
	box-shadow:0 3px 3px rgba(102,153,255,.3)
}
.protocol-popup_ft {
	bottom:0;
	text-align:center;
	-webkit-box-shadow:0 -3px 3px rgba(102,153,255,.3);
	-moz-box-shadow:0 -3px 3px rgba(102,153,255,.3);
	box-shadow:0 -3px 3px rgba(102,153,255,.3)
}
.protocol-popup_ft .button {
	border:0;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-size: 3rem;
	background:transparent
}
.protocol-popup_bd {
	position:absolute;
	top:2.5em;
	right:0;
	bottom:2.5em;
	left:0;
	padding:0 3%;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
}


/*~~~~~~~~~~~~~~~~~
	登录/注册表单
 ~~~~~~~~~~~~~~~~~*/
.public-form {
	font-size: 3rem;
}
.public-form li {
	margin: 3% 0;
}
.public-form .form-item {
	padding-left: 3em;
}
.public-form .form-label {
	float: left;
	margin-top: .5em;
	margin-left: -3em;
}
.public-form.-label-4c .form-item {
	padding-left: 6em;
}
.public-form.-label-4c .form-label {
	margin-left: -6em;
}
.public-form .form-content .captcha .ipt {
	margin-top: 0;
}
.public-form .ipt.z-err {
	border-color: #c00;
}
.public-form label.z-err {
	color: #c00;
}
.public-form a {
	color: #4e96ef;
}

/*~~~~~~~~~~~~~~~~~
	登录注册弹框
 ~~~~~~~~~~~~~~~~~*/
.ui-dialog {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(79, 150, 240, 0.3);
}
.lt-ie9 .ui-dialog {
  border: 1px solid #c4dcfa;
}
.ui-dialog-grid {
  border-collapse: collapse;
}
.ui-dialog-header {
  padding: 3% 0;
  color: #fff;
  background-color: #f87382;
}
.ui-dialog-close {
  display: block;
  position: absolute;
  top: 1.5%;
  right: 2%;
  font-size: 5rem;
  line-height: 1;
  color: #fff;
}
.ui-dialog-close:hover {
  color: rgba(255, 255, 255, 0.7);
}
.ui-dialog-close:active {
  color: rgba(255, 255, 255, 0.4);
}
.lt-ie7 .ui-dialog-close .ui-dialog-close {
  position: absolute;
  height: 26px;
  background: #FFF;
}
.ui-dialog-title {
  text-align: center;
  font-size: 3rem;
}
.ui-dialog-content {
  box-sizing: border-box;
  padding: 5%;
  overflow: auto;
  font-size: 3rem;
}

.m-pppMsg {
  position: fixed;
  left: 0;
  top: 70%;
  z-index: 200;
  width: 100%;
  font-size: 2.4rem;
}
.m-pppMsg-inn {
  position: absolute;
  top: 10px;
  padding: 5px 8px;
  max-width: 360px;
  border-radius: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.z-show .m-pppMsg-inn {
  opacity: 1;
  top: 0;
  -webkit-transition: opacity, top .2s ease-out;
  -moz-transition: opacity, top .2s ease-out;
  transition: opacity, top .2s ease-out;
}