<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzg.entitys.kff.transactionpair.TransactionPairMapper">
	<resultMap id="BaseResultMap" type="com.tzg.entitys.kff.transactionpair.TransactionPair">
		<id column="transaction_pair_id" property="transactionPairId" jdbcType="INTEGER" />
		<result column="exchange_id" property="exchangeId" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="main_code" property="mainCode" jdbcType="VARCHAR" />
		<result column="coinpair" property="coinpair" jdbcType="VARCHAR" />
		<result column="exchange_name" property="exchangeName" jdbcType="VARCHAR" />
		<result column="exchange_logo" property="exchangeLogo" jdbcType="VARCHAR" />
		<result column="exchange_display_name" property="exchangeDisplayName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="vaild" property="vaild" jdbcType="INTEGER" />
		<result column="last" property="last" jdbcType="DOUBLE" />
		<result column="high" property="high" jdbcType="DOUBLE" />
		<result column="low" property="low" jdbcType="DOUBLE" />
		<result column="base_volume" property="baseVolume" jdbcType="DOUBLE" />
		<result column="vol" property="vol" jdbcType="DOUBLE" />
		<result column="change_daily" property="changeDaily" jdbcType="DOUBLE" />
		<result column="usd_rate" property="usdRate" jdbcType="DOUBLE" />
	</resultMap>
	<sql id="columns">
		transaction_pair_id, exchange_id, status, main_code, coinpair, exchange_name, create_time,update_time,exchange_display_name,vaild
		, last, high, low, base_volume, vol,
		change_daily,exchange_logo,
		usd_rate
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="columns" />
		from tbtransactionpair
		where transaction_pair_id = #{transactionPairId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tbtransactionpair
		where transaction_pair_id = #{transactionPairId,jdbcType=INTEGER}
	</delete>
	<insert id="save" parameterType="com.tzg.entitys.kff.transactionpair.TransactionPair">
		insert into tbtransactionpair (transaction_pair_id, exchange_id, status,
		main_code, coinpair, exchange_name, create_time,update_time,exchange_display_name,vaild,
		last, high, low,
		base_volume, vol, change_daily,exchange_logo,
		usd_rate
		)
		values
		(#{transactionPairId,jdbcType=INTEGER}, #{exchangeId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
		#{mainCode,jdbcType=VARCHAR},
		#{coinpair,jdbcType=VARCHAR},
		#{exchangeName,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{exchangeDisplayName,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP},#{vaild,jdbcType=INTEGER},
		#{last,jdbcType=DOUBLE}, #{high,jdbcType=DOUBLE}, #{low,jdbcType=DOUBLE},
		#{baseVolume,jdbcType=DOUBLE}, #{vol,jdbcType=DOUBLE},
		#{changeDaily,jdbcType=DOUBLE},#{exchangeLogo,jdbcType=VARCHAR},
		#{usdRate,jdbcType=DOUBLE}}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.tzg.entitys.kff.transactionpair.TransactionPair">
		insert into tbtransactionpair
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="transactionPairId != null">
				transaction_pair_id,
			</if>
			<if test="exchangeId != null">
				exchange_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="mainCode != null">
				main_code,
			</if>
			<if test="coinpair != null">
				coinpair,
			</if>
			<if test="exchangeName != null">
				exchange_name,
			</if>
			<if test="exchangeLogo != null">
				exchange_logo,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="vaild != null">
				vaild,
			</if>
			<if test="high != null">
				high,
			</if>
			<if test="low != null">
				low,
			</if>
			<if test="baseVolume != null">
				base_volume,
			</if>
			<if test="vol != null">
				vol,
			</if>
			<if test="changeDaily != null">
				change_daily,
			</if>
			<if test="usdRate != null">
				usd_rate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="transactionPairId != null">
				#{transactionPairId,jdbcType=INTEGER},
			</if>
			<if test="exchangeId != null">
				#{exchangeId,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="mainCode != null">
				#{mainCode,jdbcType=VARCHAR},
			</if>
			<if test="coinpair != null">
				#{coinpair,jdbcType=VARCHAR},
			</if>
			<if test="exchangeName != null">
				#{exchangeName,jdbcType=VARCHAR},
			</if>
			<if test="exchangeLogo != null">
				#{exchangeLogo,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="vaild != null">
				#{vaild,jdbcType=INTEGER},
			</if>
			<if test="last != null">
				#{last,jdbcType=DOUBLE},
			</if>
			<if test="high != null">
				#{high,jdbcType=DOUBLE},
			</if>
			<if test="low != null">
				#{low,jdbcType=DOUBLE},
			</if>
			<if test="baseVolume != null">
				#{baseVolume,jdbcType=DOUBLE},
			</if>
			<if test="vol != null">
				#{vol,jdbcType=DOUBLE},
			</if>
			<if test="changeDaily != null">
				#{changeDaily,jdbcType=DOUBLE},
			</if>
			<if test="usdRate != null">
				#{usdRate,jdbcType=DOUBLE},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.tzg.entitys.kff.transactionpair.TransactionPair">
		update tbtransactionpair
		<set>
			<if test="exchangeId != null">
				exchange_id = #{exchangeId,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="mainCode != null">
				main_code = #{mainCode,jdbcType=VARCHAR},
			</if>
			<if test="coinpair != null">
				coinpair = #{coinpair,jdbcType=VARCHAR},
			</if>
			<if test="exchangeName != null">
				exchange_name = #{exchangeName,jdbcType=VARCHAR},
			</if>
			<if test="exchangeLogo != null">
				exchange_logo = #{exchangeLogo,jdbcType=VARCHAR},
			</if>
			<if test="exchangeDisplayName != null">
				exchange_display_name = #{exchangeDisplayName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="vaild != null">
				vaild = #{vaild,jdbcType=INTEGER},
			</if>
			<if test="last != null">
				last = #{last,jdbcType=DOUBLE},
			</if>
			<if test="high != null">
				high = #{high,jdbcType=DOUBLE},
			</if>
			<if test="low != null">
				low = #{low,jdbcType=DOUBLE},
			</if>
			<if test="baseVolume != null">
				base_volume = #{baseVolume,jdbcType=DOUBLE},
			</if>
			<if test="vol != null">
				vol = #{vol,jdbcType=DOUBLE},
			</if>
			<if test="changeDaily != null">
				change_daily = #{changeDaily,jdbcType=DOUBLE},
			</if>
			<if test="usdRate != null">
				usd_rate = #{usdRate,jdbcType=DOUBLE},
			</if>
		</set>
		where transaction_pair_id = #{transactionPairId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tzg.entitys.kff.transactionpair.TransactionPair">
		update tbtransactionpair
		set exchange_id = #{exchangeId,jdbcType=INTEGER},
		status = #{status,jdbcType=INTEGER},
		main_code =
		#{mainCode,jdbcType=VARCHAR},
		coinpair = #{coinpair,jdbcType=VARCHAR},
		exchange_name = #{exchangeName,jdbcType=VARCHAR},
		exchange_logo = #{exchangeLogo,jdbcType=VARCHAR},
		exchange_display_name =
		#{exchangeDisplayName,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP},
		vaild =
		#{vaild,jdbcType=INTEGER},
		last = #{last,jdbcType=DOUBLE},
		high = #{high,jdbcType=DOUBLE},
		low =
		#{low,jdbcType=DOUBLE},
		base_volume = #{baseVolume,jdbcType=DOUBLE},
		vol = #{vol,jdbcType=DOUBLE},
		change_daily = #{changeDaily,jdbcType=DOUBLE},
		usd_rate =
		#{usdRate,jdbcType=DOUBLE}
		where
		transaction_pair_id = #{transactionPairId,jdbcType=INTEGER}
	</update>

	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select
		count(*)
		from
		tbtransactionpair
		where 1=1
		<include refid="queryWhere" />
		<choose>
			<when test="sortField != null and sortField != ''">
				ORDER BY ${sortField} ${sortSequence}
			</when>
			<otherwise>
	    <![CDATA[ ORDER BY exchange_id DESC ]]>
			</otherwise>
		</choose>
	</select>

	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="columns" />
		from tbtransactionpair where 1=1
		<include refid="queryWhere" />

		<choose>
			<when test="sortField != null and sortField != ''">
				ORDER BY ${sortField} ${sortSequence}
			</when>
			<otherwise>
	    <![CDATA[ ORDER BY exchange_id DESC ]]>
			</otherwise>
		</choose>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>

	<sql id="queryWhere">
		<if test="exchangeId != null">
			and transaction_pair_id = #{transactionPairId,jdbcType=INTEGER}
		</if>
		<if test="exchangeId != null">
			and exchange_id = #{exchangeId,jdbcType=INTEGER}
		</if>
		<if test="status != null">
			and status = #{status,jdbcType=INTEGER}
		</if>
		<if test="mainCode != null">
			and main_code = #{mainCode,jdbcType=VARCHAR}
		</if>
		<if test="coinpair != null">
			and coinpair = #{coinpair,jdbcType=VARCHAR}
		</if>
		<if test="exchangeName != null">
			and exchange_name = #{exchangeName,jdbcType=VARCHAR}
		</if>
		<if test="exchangeLogo != null">
			and exchange_logo = #{exchangeLogo,jdbcType=VARCHAR}
		</if>
		<if test="exchangeDisplayName != null">
			and exchange_display_name = #{exchangeDisplayName,jdbcType=VARCHAR}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		<if test="updateTime != null">
			and update_time = #{updateTime,jdbcType=TIMESTAMP}
		</if>
		<if test="vaild != null">
			and vaild = #{vaild,jdbcType=INTEGER}
		</if>
		<if test="last != null">
			and last = #{last,jdbcType=DOUBLE}
		</if>
		<if test="high != null">
			and high = #{high,jdbcType=DOUBLE}
		</if>
		<if test="low != null">
			and low = #{low,jdbcType=DOUBLE}
		</if>
		<if test="baseVolume != null">
			and base_volume = #{baseVolume,jdbcType=DOUBLE}
		</if>
		<if test="vol != null">
			and vol = #{vol,jdbcType=DOUBLE}
		</if>
		<if test="changeDaily != null">
			and change_daily = #{changeDaily,jdbcType=DOUBLE}
		</if>
		<if test="usdRate != null">
			and usd_rate = #{usdRate,jdbcType=DOUBLE}
		</if>

	</sql>


	<sql id="queryWhereList">
		<if test="item.exchangeId != null">
			and transaction_pair_id = #{transactionPairId,jdbcType=INTEGER}
		</if>
		<if test="item.exchangeId != null">
			and exchange_id = #{exchangeId,jdbcType=INTEGER}
		</if>
		<if test="item.status != null">
			and status = #{status,jdbcType=INTEGER}
		</if>
		<if test="item.mainCode != null">
			and main_code = #{mainCode,jdbcType=VARCHAR}
		</if>
		<if test="item.coinpair != null">
			and coinpair = #{coinpair,jdbcType=VARCHAR}
		</if>
		<if test="item.exchangeName != null">
			and exchange_name = #{exchangeName,jdbcType=VARCHAR}
		</if>
		<if test="item.exchangeLogo != null">
			and exchange_logo = #{exchangeLogo,jdbcType=VARCHAR}
		</if>
		<if test="item.exchangeDisplayName != null">
			and exchange_display_name = #{exchangeDisplayName,jdbcType=VARCHAR}
		</if>
		<if test="item.createTime != null">
			and create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		<if test="item.updateTime != null">
			and update_time = #{updateTime,jdbcType=TIMESTAMP}
		</if>
		<if test="item.vaild != null">
			and vaild = #{vaild,jdbcType=INTEGER}
		</if>
		<if test="item.last != null">
			and last = #{last,jdbcType=DOUBLE}
		</if>
		<if test="item.high != null">
			and high = #{high,jdbcType=DOUBLE}
		</if>
		<if test="item.low != null">
			and low = #{low,jdbcType=DOUBLE}
		</if>
		<if test="item.baseVolume != null">
			and base_volume = #{baseVolume,jdbcType=DOUBLE}
		</if>
		<if test="item.vol != null">
			and vol = #{vol,jdbcType=DOUBLE}
		</if>
		<if test="item.changeDaily != null">
			and change_daily = #{changeDaily,jdbcType=DOUBLE}
		</if>
		<if test="item.usdRate != null">
			and usd_rate = #{usdRate,jdbcType=DOUBLE}
		</if>

	</sql>

	<update id="updataList" parameterType="java.util.List">
		update
		tbtransactionpair
		<trim prefix="set" suffixOverrides=",">
			<trim prefix=" balance = case" suffix="end,">
				<foreach collection="list" item="item" index="index">

					<include refid="queryWhereList" />

				</foreach>
			</trim>
		</trim>
		where 1=1
		<foreach collection="list" item="item" index="index">

			<include refid="queryWhereList" />

		</foreach>

	</update>

	<update id="updateByMainCode" parameterType="com.tzg.entitys.kff.transactionpair.TransactionPair">
		update
		tbtransactionpair
		<set>
			<if test="exchangeId != null">
				exchange_id = #{exchangeId,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="mainCode != null">
				main_code = #{mainCode,jdbcType=VARCHAR},
			</if>
			<if test="coinpair != null">
				coinpair = #{coinpair,jdbcType=VARCHAR},
			</if>
			<if test="exchangeName != null">
				exchange_name = #{exchangeName,jdbcType=VARCHAR},
			</if>
			<if test="exchangeLogo != null">
				exchange_logo = #{exchangelogo,jdbcType=VARCHAR},
			</if>
			<if test="exchangeDisplayName != null">
				exchange_display_name = #{exchangeDisplayName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="vaild != null">
				vaild = #{vaild,jdbcType=INTEGER},
			</if>
			<if test="last != null">
				last = #{last,jdbcType=DOUBLE},
			</if>
			<if test="high != null">
				high = #{high,jdbcType=DOUBLE},
			</if>
			<if test="low != null">
				low = #{low,jdbcType=DOUBLE},
			</if>
			<if test="baseVolume != null">
				base_volume = #{baseVolume,jdbcType=DOUBLE},
			</if>
			<if test="vol != null">
				vol = #{vol,jdbcType=DOUBLE},
			</if>
			<if test="changeDaily != null">
				change_daily = #{changeDaily,jdbcType=DOUBLE},
			</if>
			<if test="usdRate != null">
				usd_rate = #{usdRate,jdbcType=DOUBLE},
			</if>
		</set>
		where
		main_code = #{mainCode,jdbcType=VARCHAR} and exchange_name = #{exchangeName,jdbcType=VARCHAR} and coinpair = #{coinpair,jdbcType=VARCHAR}



	</update>



	<update id="updateBatch" parameterType="java.util.List">


		update tbtransactionpair
		<trim prefix="set" suffixOverrides=",">

			<trim prefix="base_volume =case" suffix="end,">
				<foreach collection="list" item="cus">
					<if test="cus.baseVolume!=null and cus.baseVolume!=''">
						when main_code = #{cus.mainCode} and exchange_name = #{cus.exchangeName} and coinpair = #{cus.coinpair}
						then #{cus.baseVolume}
					</if>
				</foreach>
			</trim>
			<trim prefix="change_daily =case" suffix="end,">
				<foreach collection="list" item="cus">
					<if test="cus.changeDaily!=null and cus.changeDaily!=''">
						when main_code = #{cus.mainCode} and exchange_name = #{cus.exchangeName} and coinpair = #{cus.coinpair}
						then #{cus.changeDaily}
					</if>
				</foreach>
			</trim>
			<trim prefix="vol =case" suffix="end,">
				<foreach collection="list" item="cus">
					<if test="cus.vol!=null and cus.vol!=''">
						when main_code = #{cus.mainCode} and exchange_name = #{cus.exchangeName} and coinpair = #{cus.coinpair}
						then #{cus.vol}
					</if>
				</foreach>
			</trim>
			<trim prefix="usd_rate =case" suffix="end,">
				<foreach collection="list" item="cus">
					<if test="cus.usdRate!=null and cus.usdRate!=''">
						when main_code = #{cus.mainCode} and exchange_name = #{cus.exchangeName} and coinpair = #{cus.coinpair}
						then #{cus.usdRate}
					</if>
				</foreach>
			</trim>
			<trim prefix="low =case" suffix="end,">
				<foreach collection="list" item="cus">
					<if test="cus.low!=null and cus.low!=''">
						when main_code = #{cus.mainCode} and exchange_name = #{cus.exchangeName} and coinpair = #{cus.coinpair}
						then #{cus.low}
					</if>
				</foreach>
			</trim>
			<trim prefix="high =case" suffix="end,">
				<foreach collection="list" item="cus">
					<if test="cus.high!=null and cus.high!=''">
						when main_code = #{cus.mainCode} and exchange_name = #{cus.exchangeName} and coinpair = #{cus.coinpair}
						then #{cus.high}
					</if>
				</foreach>
			</trim>

			<trim prefix="last =case" suffix="end,">
				<foreach collection="list" item="cus">
					<if test="cus.last!=null and cus.last!=''">
						when main_code = #{cus.mainCode} and exchange_name = #{cus.exchangeName} and coinpair = #{cus.coinpair}
						then #{cus.last}
					</if>
				</foreach>
			</trim>
			<trim prefix="vaild =case" suffix="end,">
				<foreach collection="list" item="cus">
					<if test="cus.vaild!=null and cus.vaild!=''">
						when main_code = #{cus.mainCode} and exchange_name = #{cus.exchangeName} and coinpair = #{cus.coinpair}
						then #{cus.vaild}
					</if>
				</foreach>
			</trim>
			<trim prefix="update_time =case" suffix="end,">
				<foreach collection="list" item="cus">
					<if test="cus.updateTime!=null and cus.updateTime!=''">
						when main_code = #{cus.mainCode} and exchange_name = #{cus.exchangeName} and coinpair = #{cus.coinpair}
						then #{cus.updateTime}
					</if>
				</foreach>
			</trim>

		</trim>
		<where>
			<foreach collection="list" separator="or" item="cus">
				main_code = #{cus.mainCode} and exchange_name = #{cus.exchangeName} and coinpair = #{cus.coinpair}
			</foreach>
		</where>


	</update>

</mapper>