<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzg.entitys.kff.transactionpair.TransactionPairMapper">
	<resultMap id="BaseResultMap" type="com.tzg.entitys.kff.transactionpair.TransactionPair">
		<id column="transaction_pair_id" property="transactionPairId" jdbcType="INTEGER" />
		<result column="exchange_id" property="exchangeId" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="main_code" property="mainCode" jdbcType="VARCHAR" />
		<result column="coinpair" property="coinpair" jdbcType="VARCHAR" />
		<result column="exchange_name" property="exchangeName" jdbcType="VARCHAR" />
		<result column="exchange_display_name" property="exchangeDisplayName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="vaild" property="vaild" jdbcType="INTEGER" />
	</resultMap>
	<sql id="columns">
		transaction_pair_id, exchange_id, status, main_code, coinpair, exchange_name, create_time,update_time,exchange_display_name,vaild
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="columns" />
		from tbtransactionpair
		where transaction_pair_id = #{transactionPairId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tbtransactionpair
		where transaction_pair_id = #{transactionPairId,jdbcType=INTEGER}
	</delete>
	<insert id="save" parameterType="com.tzg.entitys.kff.transactionpair.TransactionPair">
		insert into tbtransactionpair (transaction_pair_id, exchange_id, status,
		main_code, coinpair, exchange_name, create_time,update_time,exchange_display_name,vaild
		)
		values
		(#{transactionPairId,jdbcType=INTEGER}, #{exchangeId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
		#{mainCode,jdbcType=VARCHAR}, #{coinpair,jdbcType=VARCHAR},
		#{exchangeName,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{exchangeDisplayName,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP},#{vaild,jdbcType=INTEGER}}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.tzg.entitys.kff.transactionpair.TransactionPair">
		insert into tbtransactionpair
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="transactionPairId != null">
				transaction_pair_id,
			</if>
			<if test="exchangeId != null">
				exchange_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="mainCode != null">
				main_code,
			</if>
			<if test="coinpair != null">
				coinpair,
			</if>
			<if test="exchangeName != null">
				exchange_name,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="vaild != null">
				vaild,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="transactionPairId != null">
				#{transactionPairId,jdbcType=INTEGER},
			</if>
			<if test="exchangeId != null">
				#{exchangeId,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="mainCode != null">
				#{mainCode,jdbcType=VARCHAR},
			</if>
			<if test="coinpair != null">
				#{coinpair,jdbcType=VARCHAR},
			</if>
			<if test="exchangeName != null">
				#{exchangeName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="vaild != null">
				#{vaild,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tzg.entitys.kff.transactionpair.TransactionPair">
		update tbtransactionpair
		<set>
			<if test="exchangeId != null">
				exchange_id = #{exchangeId,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="mainCode != null">
				main_code = #{mainCode,jdbcType=VARCHAR},
			</if>
			<if test="coinpair != null">
				coinpair = #{coinpair,jdbcType=VARCHAR},
			</if>
			<if test="exchangeName != null">
				exchange_name = #{exchangeName,jdbcType=VARCHAR},
			</if>
			<if test="exchangeDisplayName != null">
				exchange_display_name = #{exchangeDisplayName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="vaild != null">
				vaild = #{vaild,jdbcType=INTEGER},
			</if>
		</set>
		where transaction_pair_id = #{transactionPairId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tzg.entitys.kff.transactionpair.TransactionPair">
		update tbtransactionpair
		set exchange_id = #{exchangeId,jdbcType=INTEGER},
		status = #{status,jdbcType=INTEGER},
		main_code =
		#{mainCode,jdbcType=VARCHAR},
		coinpair = #{coinpair,jdbcType=VARCHAR},
		exchange_name = #{exchangeName,jdbcType=VARCHAR},
		exchange_display_name = #{exchangeDisplayName,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP},
		vaild =
		#{vaild,jdbcType=INTEGER}
		where transaction_pair_id = #{transactionPairId,jdbcType=INTEGER}
	</update>

	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select
		count(*)
		from
		tbtransactionpair
		where 1=1
		<include refid="queryWhere" />
		<choose>
			<when test="sortField != null and sortField != ''">
				ORDER BY ${sortField} ${sortSequence}
			</when>
			<otherwise>
	    <![CDATA[ ORDER BY exchange_id DESC ]]>
			</otherwise>
		</choose>
	</select>

	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="columns" />
		from tbtransactionpair where 1=1
		<include refid="queryWhere" />

		<choose>
			<when test="sortField != null and sortField != ''">
				ORDER BY ${sortField} ${sortSequence}
			</when>
			<otherwise>
	    <![CDATA[ ORDER BY exchange_id DESC ]]>
			</otherwise>
		</choose>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>

	<sql id="queryWhere">
		<if test="exchangeId != null">
			and transaction_pair_id = #{transactionPairId,jdbcType=INTEGER}
		</if>
		<if test="exchangeId != null">
			and exchange_id = #{exchangeId,jdbcType=INTEGER}
		</if>
		<if test="status != null">
			and status = #{status,jdbcType=INTEGER}
		</if>
		<if test="mainCode != null">
			and main_code = #{mainCode,jdbcType=VARCHAR}
		</if>
		<if test="coinpair != null">
			and coinpair = #{coinpair,jdbcType=VARCHAR}
		</if>
		<if test="exchangeName != null">
			and exchange_name = #{exchangeName,jdbcType=VARCHAR}
		</if>
		<if test="exchangeDisplayName != null">
			and exchange_display_name = #{exchangeDisplayName,jdbcType=VARCHAR}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		<if test="updateTime != null">
			and update_time = #{updateTime,jdbcType=TIMESTAMP}
		</if>
		<if test="vaild != null">
			and vaild = #{vaild,jdbcType=INTEGER}
		</if>

	</sql>

</mapper>