#set($pageTitle = "安全中心_我的账户_投资人")
#set($topbar = {
	"title": '安全中心',
	"backLink": "$!{basePath}/user/home"
})

<div class="m-prflLst">
	<div class="g-2c--n m-prflLst-itm">
		<div class="g-2c-col u-fsH">$!{vcPhone}</div>
		<div class="g-2c-col m-safetyIcons">
			##是否实名认证
			#if($verifyIdcard)
			<i class="u-fntIco m-safetyIcons-ico1">&#xe60c;</i>
			#else
			<i class="u-fntIco">&#xe60c;</i>
			#end
			##是否已设置交易密码
			#if($payPassword)
			<i class="u-fntIco m-safetyIcons-ico2">&#xe6021;</i>
			#else
			<i class="u-fntIco">&#xe6021;</i>
			#end
			##是否手机认证
			<i class="u-fntIco m-safetyIcons-ico3">&#xe600;</i>
			##是否邮箱认证
			#if($verifyEmail)
			<i class="u-fntIco m-safetyIcons-ico4">&#xe602;</i>
			#else
			<i class="u-fntIco">&#xe602;</i>
			#end
		</div>
	</div>
	<div class="g-2c--n m-prflLst-itm m-safetyLevel">
		<div class="g-2c-col">
			安全等级：
			#if($level==1)低
			#elseif($level==2||$level==3)中
			#elseif($level==4)高
			#end
		</div>
		<div class="g-2c-col">
#*
			#if(!$verifyIdcard)
			<a href="$!{basePath}/user/realNameAuthen/page" class="u-fsH u-clPrm m-safetyLevel-btn">提升</a>
			#elseif(!$payPassword)
			<a href="$!{basePath}/user/payPassword/page" class="u-fsH u-clPrm m-safetyLevel-btn">提升</a>
			#elseif(!$verifyEmail)
			<a href="$!{basePath}/user/emailAuthen/page" class="u-fsH u-clPrm m-safetyLevel-btn">提升</a>
			#end
*#
			<ul class="m-prgr2 z-l$!{level}">
				<li></li><li></li><li></li><li></li>
			</ul>
		</div>
	</div>
</div>

<h3 class="u-ttl1">密码管理</h3>

<div class="m-prflLst">
	<a href="$!{basePath}/user/modifyPassword/page" class="g-2c--n m-prflLst-itm">
		<span class="g-2c-col">登录密码修改</span>
		<span class="g-2c-col"><i class="u-icoArrPrv"></i></span>
	</a>
	#if($payPassword)
	<a href="$!{basePath}/user/payPassword/modifyPayPassword/page" class="g-2c--n m-prflLst-itm">
		<span class="g-2c-col">交易密码修改</span>
		<span class="g-2c-col"><i class="u-icoArrPrv"></i></span>
	</a>
	#else
	<a href="$!{basePath}/user/payPassword/page" class="g-2c--n m-prflLst-itm">
		<span class="g-2c-col">交易密码设置</span>
		<span class="g-2c-col"><i class="u-icoArrPrv"></i></span>
	</a>
	#end
</div>

<h3 class="u-ttl1">认证管理</h3>

<div class="m-prflLst">
	<a href="$!{basePath}/user/phoneChange/page" class="g-2c--n m-prflLst-itm">
		<span class="g-2c-col">手机认证</span>
		<span class="g-2c-col"><span class="u-clPrm">已认证</span> <i class="u-icoArrPrv"></i></span>
	</a>
	
	#if($verifyEmail)
	<div class="g-2c--n m-prflLst-itm">
		<span class="g-2c-col">邮箱认证：$!{vcEmail}</span>
		<span class="g-2c-col"><span class="u-clPrm">已认证</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	</div>
	#else
	<a href="$!{basePath}/user/emailAuthen/page" class="g-2c--n m-prflLst-itm">
		<span class="g-2c-col">邮箱认证：</span>
		<span class="g-2c-col"><span class="u-clWrn">未认证</span> <i class="u-icoArrPrv"></i></span>
	</a>
	#end
	
	#if($verifyIdcard)
	<div class="g-2c--n m-prflLst-itm">
		<span class="g-2c-col">实名认证：$!{vcName}</span>
		<span class="g-2c-col"><span class="u-clPrm">已认证</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	</div>
	#else
	<div class="g-2c--n m-prflLst-itm">
		<span class="g-2c-col">实名认证：</span>
		<span class="g-2c-col"><span class="u-clWrn">未认证</span> <i class="u-icoArrPrv"></i></span>
	</div>
	#end
	<a></a>
</div>
