#set($pageName = "修改密码")
#set($pageFootCode = '<script>seajs.use("page/modify-password")</script>')
#set($topbar = { "title": $pageName })

<form method="post" action="$!{basePath}/user/modifyPassword/modifyPassword" id="j_modif_password">
	#tokenCode
	<ul class="m-frm">
		<li class="m-frm-itm">
			<label class="m-frm-lbl">原登录密码：</label>
			<div class="m-frm-cnt">
				<input type="password" name="oldPassword" class="u-ipt" placeholder="密码为8-20位" maxlength="20" required>
			</div>
		</li>
		<li class="m-frm-itm">
			<label class="m-frm-lbl">新密码：</label>
			<div class="m-frm-cnt">
				<input type="password" name="newPassword" class="u-ipt" placeholder="密码为8-20位" maxlength="20" required>
			</div>
		</li>
		<li class="m-frm-itm">
			<label class="m-frm-lbl">确认新密码：</label>
			<div class="m-frm-cnt">
				<input type="password" name="confirmNewPassword" class="u-ipt" placeholder="请再次输入密码" maxlength="20" required>
			</div>
		</li>
		<li class="m-frm-itm--btn">
			<button class="u-btn z-prm z-fll z-ldg" type="submit">确定</button>
		</li>
	</ul>
</form>

