/* 弹框样式 */
.ui-dialog{
	background:#fff;
	box-shadow:0 5px 10px rgba(0,0,0,0.3);
}
.ui-dialog-grid {
	border-collapse:collapse;
}
.ui-dialog-body, .ui-dialog-footer {
	border-left:1px solid #9dbddd;
	border-right:1px solid #9dbddd;
}
.ui-dialog-header {
	height:30px;
	background:#669dcd;
}
.ui-dialog-title {
	float:left;
	margin-left:20px;
	height:30px;
	overflow:hidden;
	line-height:28px;
	font-size:18px;
	color:#fff;
}
.ui-dialog-close {
	position:absolute;
	top:0;
	right:0;
	margin:0;
	padding:0;
	width:30px;
	height:30px;
	border:0;
	font-size:34px;
	font-family:arial;
	line-height:1;
	color:#fff;
	cursor:pointer;
	background:none;
}
.ui-dialog-footer {
	padding:0 20px 20px;
	border-bottom:1px solid #9dbddd;
}
.ui-dialog-button {
	text-align:center;
}
.ui-dialog-content {
	padding:20px;
	min-width:200px;
	overflow:auto;
}

.alert-content {
	text-align:center;
}

.dialog-text-content {
	padding:30px 100px;
}

.dialog-tab {
	position:absolute;
	left:20px;
	top:2px;
}
.dialog-tab li {
	float:left;
	padding:0 10px;
	height:30px;
	font-size:18px;
	line-height:28px;
	color:#fff;
	cursor:pointer;
	background:#669dcd;
}
.dialog-tab .current {
	color:#669dcd;
	background:#fff;
}

.contract-download {
	position:absolute;
	top:3px;
	right:40px;
	display:block;
	padding:0 10px;
	height:26px;
	overflow:hidden;
	line-height:26px;
	color:#fff;
	background:#f8b62c;
}
.contract-download:hover {
	color:#fff;
}
