html {
	height: 100%;
	font-size: 62.5%;
	background: #fff;
}
@media screen and (max-width: 640px) {
	html {
		font-size: 53.33333333%
	}
}
@media screen and (max-width: 560px) {
	html {
		font-size: 46.66666667%
	}
}
@media screen and (max-width: 480px) {
	html {
		font-size: 40%
	}
}
@media screen and (max-width: 400px) {
	html {
		font-size: 33.33333333%
	}
}
@media screen and (max-width: 320px) {
	html {
		font-size: 26.66666667%
	}
}
body {
	margin: 0 auto;
	max-width: 750px;
	min-width: 320px;
	min-height: 100%;
	background: #bd2727;
}
.form-items, input, button {
	font: 3rem/1.4286 arial,Helvetica,sans-serif;
}

.topic-container img {
	vertical-align: top;
	width: 100%;
}

.form-items {
	list-style: none;

	margin: 5.33% auto 0;
	padding: 0;
	width: 80%;
}
.form-item {
	margin: 3.77% 0;
}
.form-item-inner {
	position: relative;
	padding: 4%;
	border-radius: .8rem;
	background: #fff;
}
.form-label {
}
.form-content {
	position: absolute;
	top: 0;
	right: 2%;

	width: 70%;
	height: 100%;
}
.form-content input,
.captcha input {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.captcha {
	position: absolute;
	top: 7.5%;
	right: 1.7%;
	width: 76%;
	height: 85%;
}
.captcha input {
	float: left;
	width: 60%;
}
.captcha .btn {
	box-sizing: border-box;
	float: right;
	width: 40%;
	height: 100%;
	padding: 3.38% 0;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	color: #fff;
	background: #ff5161;
}
.captcha .btn.z-gray {
	background:#999;
}

.submit-btn {
	margin: 3.77% 0;
	text-align:center;
}
.submit-btn_btn {
	width: 74.34%;
	margin:0;
	padding: 0;
}

.form-item--protocol {
	color:#333;
}
.form-item--protocol a {
	text-decoration: none;
	color: #333;
}


label.form-error {
	display: block;
	margin-top: 1%;
	color: #ffdf00;
}

.down-layer {
	position:fixed;
	top:0;
	left:-200%;
	z-index:20;
	width:100%;
	height:100%;
	overflow:hidden;
	background:rgba(0,0,0,.75);
}
.down-layer.show {
	left:0;
}
.down-layer .images {
	position:relative;
	margin: 5% auto;
	max-width: 697px;
	min-width: 297.39px;
	height:80%;
	max-height:952px;
	text-align:center;
	font-size:1rem;
}
.down-layer .images img {
	vertical-align:top;
	display:block;
	margin:auto;
	height:33.33333333333%;
}
.down-layer .close {
	position:absolute;
	top:0;
	right:3.5%;
	height:9.52%;
}
.down-layer .close img {
	width:auto;
	height:100%;
}


.fixed-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
.fixed-footer_inner {
	position: relative;
	display: block;
	margin: auto;
	min-width: 320px;
	max-width: 750px;
}
.fixed-footer_inner img {
	vertical-align: top;
	width: 100%;
}
.fixed-footer_inner .close {
	position: absolute;
	top: 0;
	right: 0;

	display: block;
	width: 7.33%;
	height: 34.375%;
}
.fixed-footer-placeholder {
	height: 20rem;
}

.hint-layer{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
	background-color: rgba(0,0,0,0.5);
}
.hint-layer .inner{
	padding: 20px 30px;
	min-height: 50px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	line-height: 1.5;
	font-size: 14px;
	background: #fff;
}
.hint-layer .inner em {
	font-style: normal;
	color: #f87482;
}
.hint-layer .inner .content{
	position: relative;
	z-index: 2;
}
.hint-layer .inner img {
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 1;
	width:80px;
}

.m-ppp {
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: top 0.2s ease-out;
  -moz-transition: top 0.2s ease-out;
  transition: top 0.2s ease-out;
}
.m-ppp.z-opened {
  top: 0;
  -webkit-transition: top 0.2s ease-out;
  -moz-transition: top 0.2s ease-out;
  transition: top 0.2s ease-out;
}
.m-ppp-hd,
.m-ppp-ft {
  position: absolute;
  left: 0;
  width: 100%;
  height: 44px;
  text-align: center;
  background-color: #fff;
}
.m-ppp-hd {
  top: 0;
  line-height: 44px;
  font-size: 16px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 91, 172, 0.15);
  -moz-box-shadow: 0 3px 3px rgba(0, 91, 172, 0.15);
  box-shadow: 0 3px 3px rgba(0, 91, 172, 0.15);
}
.m-ppp-ft {
  bottom: 0;
  -webkit-box-shadow: 0 -3px 3px rgba(0, 91, 172, 0.15);
  -moz-box-shadow: 0 -3px 3px rgba(0, 91, 172, 0.15);
  box-shadow: 0 -3px 3px rgba(0, 91, 172, 0.15);
}
.m-ppp-bd {
  margin: 44px 0;
  height: 100%;
}
.m-ppp-bd-cnt {
  box-sizing: border-box;
  padding: 10px 3% 100px;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.u-btn,
.u-btn--lnk {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 3%;
  height: 44px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  line-height: 44px;
  color: #666;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  background: none;
}
.u-btn.z-fll,
.u-btn--lnk.z-fll {
  width: 100%;
}