#set($pageName = "找回密码")
#set($pageFootCode = '<script>seajs.use("page/forget-password2")</script>')
#set($topbar = { "title": $pageName })

<div class="l-mn f-mt2">
	<ul class="m-prgr">
		<li>手机短信验证</li>
		<li class="z-atv">输入新密码</li>
		<li>密码重置成功</li>
	</ul>
</div>

<form method="post" action="$!{basePath}/forgetPasswordSecond" id="j_forget_password_2_form">
	<ul class="m-frm">
		<li class="m-frm-itm">
			<label class="m-frm-lbl">请输入新密码：</label>
			<div class="m-frm-cnt">
				<input type="password" name="password" class="u-ipt" placeholder="密码为8-20位" maxlength="20" required>
			</div>
		</li>
		<li class="m-frm-itm">
			<label class="m-frm-lbl">请再次确认密码：</label>
			<div class="m-frm-cnt">
				<input type="password" name="confirmPassword" class="u-ipt" placeholder="请再次输入密码" maxlength="20" required>
			</div>
		</li>
		<li class="m-frm-itm--btn">
			<button class="u-btn z-prm z-fll z-ldg" type="submit">确定重置</button>
		</li>
	</ul>
	<input type="hidden" name="token" value="$!{forgetPassword_token}">
</form>

