#set($bodyClass = "body--gray")
#set($pageFootCode = '<script>seajs.use("page/subject-detail")</script>')


## =================================================================

## 还款方式
#if($subject.irepayMode==1)#set($repayMode = "到期还本付息")
#elseif($subject.irepayMode==2)#set($repayMode = "每日付息 到期还本")
#elseif($subject.irepayMode==3)#set($repayMode = "每月付息 到期还本")
#elseif($subject.irepayMode==4)#set($repayMode = "等额本息")
#elseif($subject.irepayMode==5)#set($repayMode = "按季付息 到期还本")
#end

#set($pageTitle = "$!{subject.projectName} $!{subject.vcName},年化利率$!{subject.numInterestRate}%+$!{subject.numRewardRate}% 网络理财投资产品 - 铜掌柜")
#set($pageKeywords = "年化利率$!{subject.numInterestRate}%+$!{subject.numRewardRate}%金融理财产品,网络理财,网络投资理财")
#set($pageDescription = "铜掌柜$!{subject.projectName} $!{subject.vcName}理财投资产品，年化利率$!{subject.numInterestRate}%+$!{subject.numRewardRate}%，起投金额$numbers.toCurrency($!{subject.numMinInvest})元，$!{repayMode}还款日期$!{subject.dtRepaymentStr}")

#set($topbar = {"title": "$!{subject.projectName} $!{subject.vcName}", "backLink": "$!{basePath}/subject/page"})

#if($subject.itype==2)
	#set($subjectClassExtra = " -new")
#elseif($subject.itype==3)
	#set($subjectClassExtra = " -activity")
#elseif($subject.itype==4)
	#set($subjectClassExtra = " -activity-new")
#elseif($subject.itype==5)
	#set($subjectClassExtra = " -seckill")
#elseif($subject.itype==6)
	#set($subjectClassExtra = " -hot-sales")
#end

#if ($subject.istate != 10 && $subject.istate != 11)
	#set($subjectClassExtra = "$!{subjectClassExtra}-gray")
#end


<div class="subject-detail-base m1 $!{subjectClassExtra}">
	<div class="sdb_earning">
	## 多财
	#if ($subject.itype == 7)
		#set($baseRate = $subject.numInterestRate)
		#if ($subject.numRewardRate != "0.00")
			#set($baseRate = $subject.numInterestRate + $subject.numRewardRate)
		#end
		#set($addRate = $baseRate + $subject.extraInterestRate)
		<div class="sdb_earning_value">$!{baseRate}<sub>%</sub>~$!{addRate}<sub>%</sub></div>
	#else
		<div class="sdb_earning_value">$!{subject.numInterestRate}<sub>%</sub>#if($!subject.numRewardRate > 0)<sub>+$!{subject.numRewardRate}%</sub>#end</div>
	#end
		##<div class="sdb_earning_value">$!{subject.numInterestRate}<sub>%</sub>#if($!subject.numRewardRate > 0)<sub>+$!{subject.numRewardRate}%</sub>#end</div>
		#*
		<div class="sdb_earning_tags">
			#if($subject.istate ==10 || $subject.istate ==11)
				#if($subject.projectType.indexOf("00")>=0 || $subject.projectType.indexOf("02")>=0)
				<i class="fi-mortgage"></i>
				#end
				#if($subject.projectType.indexOf("01")>=0)
				<i class="fi-guarantee"></i>
				#end
			#elseif($subject.istate ==12 || $subject.istate ==13)
				#if($subject.projectType.indexOf("00")>=0 || $subject.projectType.indexOf("02")>=0)
				<i class="fi-mortgage -gray"></i>
				#end
				#if($subject.projectType.indexOf("01")>=0)
				<i class="fi-guarantee -gray"></i>
				#end
			#end
		</div>
		*#
		<div class="sdb_earning_name">
			年化收益
			#if ($subject.itype == 7)
				<span class="icon-tag3">多财</span>
			#end
			#if ($subject.iUseInterestTicket == 1)
				<span class="icon-tag3">加息</span>
			#end
			#if ($subject.isUseRed == 1)
				<span class="icon-tag3">红包</span>
			#end
		</div>
	</div>
	<div class="sdb_line"></div>
	<ul class="sdb_properties">
		<li>
			<div class="pr-content">$!{subject.numTotalFinancingStr} 万元</div>
			<div class="pr-label">项目规模</div>
		</li>
		<li>
			<div class="pr-content">$!{subject.numPeriod} 天</div>
			<div class="pr-label">投资期限</div>
		</li>
		<li>
			<div class="pr-content">$numbers.toCurrency($!{investmentIncome}) 元</div>
			<div class="pr-label">万元收益</div>
		</li>
	</ul>
</div>## .subject-detail-base

<div class="m1 b1 subject-detail-second">
	#if($subject.idisplayState==1)
		<div class="sds_progress m-prgr2"><span class="m-prgr2-bar" style="width:100%"></span></div>
		<div class="sds_progress-title">已售出100%</div>
	#else
		<div class="sds_progress m-prgr2"><span class="m-prgr2-bar" style="width:$!{subject.percent}%"></span></div>
		<div class="sds_progress-title">已售出$!{subject.percent}%#if ($subject.percent < 100) 剩余可投资$!{numActualAmt}元#end</div>
	#end

	<ul class="sds_tags">
		<li>上市背景</li>
		<li>本息保障</li>
		<li>银行监管</li>
		<li>超高收益</li>
	</ul>
</div>## .subject-detail-second

#if ($subject.itype == 7)
<div class="m1 b1 dt-r-r-support"><a href="$!{basePath}/subject/investmentIncomeList?subjectId=$!{subject.id}"><span class="detail-r-r-support-icon">i</span>了解多财</a></div>
#end

#if ("" != $subject.vcAwardsDesp)
<div class="m1 b1 sd-new-customer"><i class="fi-1">&#xe612;</i>$!{subject.vcAwardsDesp}</div>
#end

<div class="m1 b1 sd-properties-wrap">
	<ul class="sd-properties u-fsH">
		#if($subject.numMinInvest && $subject.numMinInvest > 0.00)
			<li>
				<div class="property-label">起投金额</div>
				<div class="property-content">$numbers.toCurrency($!{subject.numMinInvest})元</div>
			</li>
		#end
		#if($subject.numDelivery && $subject.numDelivery > 0.00)
			<li>
				<div class="property-label">递投金额</div>
				<div class="property-content">$!{subject.numDelivery}元</div>
			</li>
		#end
		#if($subject.numMaxInvest && $subject.numMaxInvest > 0.00)
			<li>
				<div class="property-label">最高可投金额</div>
				<div class="property-content">$!{subject.numMaxInvest}元</div>
			</li>
		#end
		<li>
			<div class="property-label">还款方式</div>
			<div class="property-content">$!{repayMode}</div>
		</li>
		<li>
			<div class="property-label">起息日</div>
			<div class="property-content">
				#if($subject.ivalueDateType==1)T(成交日)+0
				#elseif($subject.ivalueDateType==2)T(成交日)+1
				#elseif($subject.ivalueDateType==3)T(成交日)+2
				#elseif($subject.ivalueDateType==4)T(成交日)+3
				#elseif($subject.ivalueDateType==5)结束时计息
				#elseif($subject.ivalueDateType==6)满标计息
				#end
			</div>
		</li>
	</ul>
	#if ($guaranteeName && $guaranteeName!="")
		<div class="sdpw_guarantee">本项目由$!{guaranteeName}全额本息担保</div>
	#end
</div>## .sd-properties

<div class="m1 f-tlc u-clScd"><img src="$!{basePath}/assets3/build/statics/images/safeguard-icon.png" style="width:16px;vertical-align:middle" alt="安全保障"> 账户资金盗转盗用由人保财险承保</div>

<div class="m1 b1">
	<div class="box-view-group">
		<a href="$!{basePath}/subject/projectInfo/page?isubjectId=$!{subject.id}"><i class="ii-project-info"></i>项目信息</a>
		##<a href="$!{basePath}/subject/safety/page?isubjectId=$!{subject.id}"><i class="ii-project-guarantee"></i>安全保障</a>
		<a href="$!{basePath}/subject/investRecord/page?isubjectId=$!{subject.id}"><i class="ii-invest-record"></i>投资记录</a>
		<a href="$!{basePath}/subject/repayPlan/page?isubjectId=$!{subject.id}"><i class="ii-repay-plan"></i>还款计划</a>
	</div>
</div>

<div class="fixed-foot">
	<div class="fixed-foot_inner#if ($bottomState.subjectStatus == 1) -investable#end#if(!$bottomState.status) -gray#end" id="j_footbar">
		<div class="invest-form">
		## 一元秒杀
		#if($subject.itype==5)
			<form action="$!{basePath}/user/invest/invest" method="post" id="j_invest_form">
				<input type="hidden" name="subjectId" value="$!{subject.id}">
				<input type="hidden" name="investAmt" value="$!{bottomState.defaultInvestAmt}">
				<button type="submit" class="u-btn z-prm z-fll">1元秒杀</button>
			</form>
		#else
			<div class="earning-calc">预计收益：<span class="u-clScd" id="j_earning"></span></div>
			<form action="$!{basePath}/user/invest/invest" method="post" class="fixed-foot_form f-mt" id="j_invest_form">
				<input type="hidden" name="subjectId" value="$!{subject.id}">
				#if ($bottomState.errorinvestAmt)
					<input type="number" name="investAmt" value="$!{bottomState.errorinvestAmt}" data-value="$!{bottomState.defaultInvestAmt}" class="u-ipt z-err" required>
				#else
					<input type="number" name="investAmt" value="$!{bottomState.defaultInvestAmt}" data-value="$!{bottomState.defaultInvestAmt}" class="u-ipt" required>
				#end
				<button type="submit" class="u-btn z-prm">投资</button>
				#if ($bottomState.errorinvestAmt)
					<label id="investAmt-error" class="z-err" for="investAmt">$!{bottomState.errormsg}</label>
				#end
			</form>
		#end
		</div>
		<div class="invest-msg">
			#if($bottomState.redirect_url)
				<a href="$!{basePath}${bottomState.redirect_url}" class="u-btn z-prm z-fll">$!{bottomState.msg}</a>
			#else
				#if($subject.istate == 10)
					<span class="u-btn z-prm z-fll" data-target-timestamp="$!{subject.dtCollectStart.time}" data-current-timestamp="$!{now.time}" id="j_subject_countdown">0 天 00 小时 00 分 00 秒后开标</span>
				#else
					<span class="u-btn z-fll">$!{bottomState.msg}</span>
				#end
			#end
		</div>
	</div>
</div>
<div class="fixed-foot-placeholder#if ($subject.istate == 11) -high#end"></div>
