#set($layout = "/layout/v3/default.vm")
#set($noPrimaryNav = true)
#set($pageScript = "project-detail")


## =================================================================

## 还款方式
#if ($subject.irepayMode == 1)#set($repayMode = "到期还本付息")
#elseif ($subject.irepayMode == 2)#set($repayMode = "每日付息 到期还本")
#elseif ($subject.irepayMode == 3)#set($repayMode = "每月付息 到期还本")
#elseif ($subject.irepayMode == 4)#set($repayMode = "等额本息")
#elseif ($subject.irepayMode == 5)#set($repayMode = "按季付息 到期还本")
#end

#set($pageTitle = "$!{subject.projectName} $!{subject.vcName},年化利率$!{subject.numInterestRate}%+$!{subject.numRewardRate}% P2P网贷理财产品 - 铜掌柜")
#set($pageKeywords = "年化利率$!{subject.numInterestRate}%+$!{subject.numRewardRate}%金融理财产品,网络贷款,网络贷款投资理财")
#set($pageDescription = "铜掌柜$!{subject.projectName} $!{subject.vcName}贷款投资产品，年化利率$!{subject.numInterestRate}%+$!{subject.numRewardRate}%，起投金额$numbers.toCurrency($!{subject.numMinInvest})元，$!{repayMode}还款日期$!{subject.dtRepaymentStr}")

#set($topbar = {"title": "$!{subject.projectName} $!{subject.vcName}", "backLink": "$!{basePath}/subject/page"})

#if ($subject.itype == 2)
	#set($subjectClassExtra = "subject-tag -new")
#elseif($subject.itype == 3)
	#set($subjectClassExtra = "subject-tag -activity")
#elseif($subject.itype == 4)
	#set($subjectClassExtra = "subject-tag -activity-new")
#elseif($subject.itype == 5)
	#set($subjectClassExtra = "subject-tag -seckill")
#elseif($subject.itype == 6)
	#set($subjectClassExtra = "subject-tag -hotsales")
#end

#if ($subject.istate != 10 && $subject.istate != 11 && $subjectClassExtra)
	#set($subjectClassExtra = "$!{subjectClassExtra}-gray")
#end

##是否多财
#set($isRaiseRate = "1")
##是否优惠券
#set($isCoupon = "1")


<div class="project-detail-base#if ($subjectClassExtra) $subjectClassExtra#end">
	<div class="project-detail-base_primary-interest percent">$!{subject.numInterestRate}<sub>%</sub></div>
#if($!subject.numRewardRate > 0)
	<div class="project-detail-base_second-interest">+$!{subject.numRewardRate}%</div>
#end
	<div class="project-detail-base_title">
		年化收益率
		<i class="tag-interest-interval"></i>
		<i class="tag-add-interest"></i>
		<i class="tag-redpacket"></i>
		<i class="tag-discount"></i>
	</div>
</div>

<div class="project-detail-props1">
	<div class="project-detail-props1_cols1">
		<div class="prop-item">
			<div class="prop-item_content">$!{subject.numTotalFinancingStr}万</div>
			<div class="prop-item_label">项目总额</div>
		</div>
		<div class="prop-item">
			<div class="prop-item_content">$!{subject.numPeriod}天</div>
			<div class="prop-item_label">投资期限</div>
		</div>
		<div class="prop-item">
			<div class="prop-item_content">$numbers.toCurrency($!{investmentIncome})元</div>
			<div class="prop-item_label">万元收益</div>
		</div>
	</div>

	<div class="pillar-progress">
	#if ($subject.idisplayState == 1)
		<span style="width:100%" class="pillar-progress_bar"></span>
	#else
		<span style="width:$!{subject.percent}%" class="pillar-progress_bar"></span>
	#end
	</div>

#if ($subject.idisplayState == 1)
	<div class="project-detail-props1_cols2">
		<div class="prop-item">
			<div class="prop-item_label">已投资</div>
			<div class="prop-item_content">100%</div>
		</div>
	</div>
#else
	<div class="project-detail-props1_cols2">
		<div class="prop-item">
			<div class="prop-item_label">已投资</div>
			<div class="prop-item_content">$!{subject.percent}%</div>
		</div>
	#if ($subject.percent < 100)
		<div class="prop-item">
			<div class="prop-item_label">剩余可投</div>
			<div class="prop-item_content">$!{numActualAmt}元</div>
		</div>
	#end
	</div>
#end
</div>

<div class="project-detail-props2">
	<ul class="project-detail-props2_group">
	#if($subject.numMinInvest >0.00)
		<li class="prop-item">
			<div class="prop-item_label">起投金额</div>
			<div class="prop-item_content">$numbers.toCurrency($!{subject.numMinInvest})元</div>
		</li>
	#end
	#if($subject.numDelivery > 0.00)
		<li class="prop-item">
			<div class="prop-item_label">递投金额</div>
			<div class="prop-item_content">$!{subject.numDelivery}元</div>
		</li>
	#end
	#if($subject.numMaxInvest > 0.00)
		<li class="prop-item">
			<div class="prop-item_label">最高可投金额</div>
			<div class="prop-item_content">$!{subject.numMaxInvest}元</div>
		</li>
	#end
		<li class="prop-item">
			<div class="prop-item_label">还款方式</div>
			<div class="prop-item_content">$!{repayMode}</div>
		</li>
		<li class="prop-item">
			<div class="prop-item_label">起 息 日</div>
			<div class="prop-item_content">
				#if ($subject.ivalueDateType == 1)T(成交日)+0
				#elseif ($subject.ivalueDateType == 2)T(成交日)+1
				#elseif ($subject.ivalueDateType == 3)T(成交日)+2
				#elseif ($subject.ivalueDateType == 4)T(成交日)+3
				#elseif ($subject.ivalueDateType == 5)结束时计息
				#elseif ($subject.ivalueDateType == 6)满标计息
				#end
			</div>
		</li>
	</ul>
#if ($guaranteeName && $guaranteeName!="")
	<div class="project-detail-props2_guarantee">
		本项目由$!{guaranteeName}全额本息担保
	</div>
#end
</div>
	
<div class="project-detail-insurance">账户资金盗转盗用由人保财险承保</div>

<ul class="project-detail-links">
	<li><a href="$!{basePath}/subject/projectInfo/page?isubjectId=$!{subject.id}" sign="&#xea1a;">项目介绍</a></li>
	##<li><a href="$!{basePath}/subject/safety/page?isubjectId=$!{subject.id}" sign="&#xea1b;">安全保障</a></li>
	<li><a href="$!{basePath}/subject/investRecord/page?isubjectId=$!{subject.id}" sign="&#xea1c;">投资记录</a></li>
	<li><a href="$!{basePath}/subject/repayPlan/page?isubjectId=$!{subject.id}" sign="&#xea1d;">还款计划</a></li>
</ul>

<div class="invest-box">
	<div class="invest-box_inner">
	#if ($bottomState.subjectStatus == 1)
		## 一元秒杀
		#if ($subject.itype == 5)
			<form action="$!{basePath}/user/invest/invest" method="post" class="invest-box_form">
				<input type="hidden" name="subjectId" value="$!{subject.id}">
				<input type="hidden" name="investAmt" value="$!{bottomState.defaultInvestAmt}">
				<button type="submit" name="submity" class="invest-box_form_2col-btn btn -primary">1元秒杀</button>
			</form>
		#else
			<div class="invest-box_meta">预计收益 <em><span id="projected_proceeds" data-earning-per-ten-thousand-yuan="$!{investmentIncome}">0.00</span>元</em></div>
			<form action="$!{basePath}/user/invest/invest" method="post" class="invest-box_form" id="invest_form">
				<input type="hidden" name="subjectId" value="$!{subject.id}">
				<input type="number" name="investAmt" class="invest-box_form_2col-ipt ipt#if ($bottomState.errorinvestAmt) -invalid#end" value="$!{bottomState.defaultInvestAmt}" data-value="$!{bottomState.defaultInvestAmt}" required>
				<button type="submit" name="submity" class="invest-box_form_2col-btn btn -primary">立即投资</button>
			#if ($bottomState.errorinvestAmt)
				<label id="investAmt-error" class="-invalid" for="investAmt">$!{bottomState.errormsg}</label>
			#end
			</form>
		#end
	#else
		<div class="invest-box_state">
		#if ($bottomState.redirect_url)
			<a href="$!{basePath}${bottomState.redirect_url}" class="btn -primary">$!{bottomState.msg}</a>
		#else
			#if ($subject.istate == 10)
				<span class="btn" id="subject_countdown" data-target-timestamp="$!{subject.dtCollectStart.time}" data-current-timestamp="$!{now.time}">0 天 00 小时 00 分 00 秒后开标</span>
			#else
				<span class="btn">$!{bottomState.msg}</span>
			#end
		#end
		</div>
	#end
	</div>
</div>
<div class="invest-box-placeholder"></div>

#*
<div class="ft-popup">
	<div class="ft-popup_window">
		<div class="ft-popup_window_hd">
			<h4 class="ft-popup_window_hd_title">设置成功</h4>
			<a href="#" class="ft-popup_window_hd_back"></a>
		</div>

		<div class="popup-sign-success"></div>
	</div>
</div>
*#
