#set($bodyClass = "body--gray")
#set($pageFootCode = '<script>seajs.use("page/subject-expdetail")</script>')


## =================================================================

## 还款方式
#if($subject.irepayMode==1)#set($repayMode = "到期还本付息")
#elseif($subject.irepayMode==2)#set($repayMode = "每日付息 到期还本")
#elseif($subject.irepayMode==3)#set($repayMode = "每月付息 到期还本")
#elseif($subject.irepayMode==4)#set($repayMode = "等额本息")
#elseif($subject.irepayMode==5)#set($repayMode = "到期返还收益")
#end

#set($pageTitle = "体验标  $!{subject.vcName},年化利率$!{subject.numInterestRate}%+$!{subject.numRewardRate}% P2P网贷理财产品 - 铜掌柜")
#set($pageKeywords = "年化利率$!{subject.numInterestRate}%+$!{subject.numRewardRate}%金融理财产品,网络贷款,网络贷款投资理财")
#set($pageDescription = "铜掌柜体验标  $!{subject.vcName}贷款投资产品，年化利率$!{subject.numInterestRate}%+$!{subject.numRewardRate}%，起投金额$numbers.toCurrency($!{subject.numInvest})元，$!{repayMode}还款日期$!{subject.dtRepaymentStr}")

#set($topbar = {"title": "#if($subject.iaccountType==1)新手体验标#elseif($subject.iaccountType==2)老客体验标#else体验标#end $!{subject.vcName}", "backLink": "$!{basePath}/subject/page"})

#set($subjectClassExtra = " -experience")


#if ($subject.istate != 10 && $subject.istate != 11)
	#set($subjectClassExtra = "$!{subjectClassExtra}-gray")
#end

<div class="subject-detail-base m1 $!{subjectClassExtra}">
	<div class="sdb_earning">
		<div class="sdb_earning_value">$!{subject.numInterestRate}<sub>%</sub>#if($!subject.numRewardRate > 0)<sub>+$!{subject.numRewardRate}%</sub>#end</div>
		<div class="sdb_earning_name">年化收益</div>
	</div>
	<div class="sdb_line"></div>
	<ul class="sdb_properties">
		<li>
			<div class="pr-content">$!{subject.iquota} 名</div>
			<div class="pr-label">体验名额</div>
		</li>
		<li>
			<div class="pr-content">$!{subject.numPeriod} 天</div>
			<div class="pr-label">投资期限</div>
		</li>
		<li>
			<div class="pr-content">$!{investmentIncome} 元</div>
			<div class="pr-label">万元收益</div>
		</li>
	</ul>
</div>## .subject-detail-base

<div class="m1 b1 subject-detail-second">
	<div class="sds_progress m-prgr2"><span class="m-prgr2-bar" style="width:$!{subject.percent}%"></span></div>
	<div class="sds_progress-title">已有#if(!$subject.iactualNum || $subject.iactualNum=="")0#else$!{subject.iactualNum}#end人体验#if ($subject.percent < 100) 剩余体验名额$!{surplusNum}人#end</div>
</div>## .subject-detail-second

#if ("" != $subject.vcAwardsDesp)
<div class="m1 b1 sd-new-customer"><i class="fi-1">&#xe612;</i>$!{subject.vcAwardsDesp}</div>
#end

<div class="m1 b1 sd-properties-wrap">
	<ul class="sd-properties u-fsH">
		<li>
			<div class="property-label">起投金额</div>
			<div class="property-content">$numbers.toCurrency($!{subject.numInvest})元</div>
		</li>
		<li>
			<div class="property-label">还款方式</div>
			<div class="property-content">
			$!{repayMode}
			</div>
		</li>
	</ul>
</div>## .sd-properties

<div class="m1 f-tlc u-clScd"><img src="$!{basePath}/assets3/build/statics/images/safeguard-icon.png" style="width:16px;vertical-align:middle" alt="安全保障"> 账户资金盗转盗用由人保财险承保</div>
<div class="m1 b1">
    <div class="box-view-group">
        <a href="$!{basePath}/subject/experienceDesc?subjectId=$!{subject.id}"><i class="ii-project-experience-info"></i>体验标介绍</a>
    </div>
</div>
<div class="fixed-foot">
	<div class="fixed-foot_inner#if ($bottomState.subjectStatus == 1) -investable#end#if(!$bottomState.status) -gray#end" id="j_footbar">
		<div class="invest-form">	
			<div class="earning-calc">预计收益：$!{investmentExperienceIncome}元</div>
			<form action="$!{basePath}/user/invest/investExperience" method="post" class="fixed-foot_form f-mt" id="j_invest_form">
				<input type="hidden" name="subjectId" value="$!{subject.id}">
				<input type="text" name="investAmt" value="体验金:$!{subject.numInvest}元" disabled="true"   class="u-ipt" required>
				<button type="submit" class="u-btn z-prm">投资</button>
			</form>
		</div>
		<div class="invest-msg">
			#if($bottomState.redirect_url)
				<a href="$!{basePath}${bottomState.redirect_url}" class="u-btn z-prm z-fll">$!{bottomState.msg}</a>
			#else
				#if($subject.istate == 10)
					<span class="u-btn z-prm z-fll" data-target-timestamp="$!{subject.dtCollectStart.time}" data-current-timestamp="$!{now.time}" id="j_subject_countdown">0 天 00 小时 00 分 00 秒后开标</span>
				#else
					<span class="u-btn z-fll">$!{bottomState.msg}</span>
				#end
			#end
			
			
		</div>
	</div>
</div>
<div class="fixed-foot-placeholder#if ($subject.istate == 11) -high#end"></div>

<input type="hidden" value="$!{bottomState.errormsg}" id="j_error_msg">
