## 定期宝加入记录
## =======================================
#set($pageName = "加入记录")
#set($pageFootCode = '<script>seajs.use("page/dqb-invest-record")</script>')
#set($topbar = { "title": $pageName })



<table class="m-tblLst">
	<thead>
		<tr>
			<th>投资人</th>
			<th>投资时间</th>
			<th>投资金额</th>
		</tr>
	</thead>
	<tbody id="j_list_container" data-request-url="fixedBaoTodayinvestRecord?projectId=$!{projectId}"></tbody>
</table>

<div class="m-loadMr" id="j_load_more" style="display:none">
	<a href="#" class="u-loadMr">点击查看更多</a>
	<i class="u-fntIco--ldg"></i>
</div>

<script type="text/tpl" id="j_list_template">
[@each rows as item]
<tr>
	<td>$[item.vcPhone]</td>
	<td>$[item.dtInvestStr]</td>
	<td>$[item.numInvest|toCurrency]元</td>
</tr>
[@/each]
</script>
