#set($layout = "/layout/v3/default.vm")
#set($pageTitle = "投资确认")
#set($bodyClass = 'bg-gray')
#set($noPrimaryNav = true)
#set($topbar = {"title": "投资确认"})
#set($pageScript = "invest-confirm")


<ul class="props bg-white">
	<li>
		<div class="props_label">投资金额</div>
		<div class="props_content">$!{investAmtStr}</div>
	</li>
	<li>
		<label>
			<div class="props_label">
				<input type="checkbox" name="rewardType" class="checkbox"> <span class="c-gray-light">红包</span>
			</div>
			<div class="props_content">100.00元</div>
		</label>
	</li>
	<li>
		<label>
			<div class="props_label">
				<input type="checkbox" name="rewardType" class="checkbox"> <span class="c-gray-light">加息券</span>
			</div>
			<div class="props_content">10.00% <i class="fi vam c-gray-light">&#xea19;</i></div>
		</label>
	</li>
</ul>
<ul class="props">
	<li>
		<div class="props_label">实际支付</div>
		<div class="props_content c-second">100.00元</div>
	</li>
</ul>
<ul class="props"><li><button type="button" class="btn -primary">确认支付</button></li></ul>

<div class="ft-popup">
	<div class="ft-popup_window">
		<div class="ft-popup_window_hd">
			<h4 class="ft-popup_window_hd_title">设置成功</h4>
			<a href="#" class="ft-popup_window_hd_close"></a>
		</div>

		<div style="height:300px"></div>
	</div>
</div>

