#set($pageName = "输入投资金额")
#set($topbar = {"title": $pageName})

#set($pageFootCode = '<script>seajs.use("page/invest")</script>')

<div class="l-mn2 f-mtb2">
	<h3 class="u-sctTtl f-mtb0"><strong>标的信息</strong></h3>
	<ul class="m-txtKVLst2 z-brd">
		#if($numMinInvest)
		<li>
			<span class="m-txtKVLst2-lbl">起投金额：</span>
			<span class="m-txtKVLst2-val">$!{numMinInvest}元</span>
		</li>
		#end
		#if($numDelivery)
		<li>
			<span class="m-txtKVLst2-lbl">投资递增金额：</span>
			<span class="m-txtKVLst2-val">$!{numDelivery}元</span>
		</li>
		#end
		<li>
			<span class="m-txtKVLst2-lbl">剩余可投金额：</span>
			<span class="m-txtKVLst2-val">$!{numActualAmt}元</span>
		</li>
		#if($numMaxInvest)
		<li>
			<span class="m-txtKVLst2-lbl">最高投资金额：</span>
			<span class="m-txtKVLst2-val">$!{numMaxInvest}元</span>
		</li>
		#end
	</ul>
</div>

<div class="l-mn2 f-mtb2">
	<h3 class="u-sctTtl f-mtb0"><strong>账户信息</strong></h3>
	<ul class="m-txtKVLst2 z-brd">
		<li>
			<span class="m-txtKVLst2-lbl">账户可用金额：</span>
			<span class="m-txtKVLst2-val"><span class="u-cl3 u-fsH">$!{numAvailable}元</span></span>
		</li>
	</ul>
</div>

<form action="$!{basePath}/user/invest/invest" method="post" class="l-mn2" id="j_invest_form">
	<input type="hidden" name="subjectId" value="$!{subjectId}">
	
	<ul class="m-frm3">
		<li class="m-frm3-itm">
			<label class="m-frm3-lbl">投资金额：</label>
			<div class="m-frm3-cnt" id="j_form_item_content_amount">
				<input type="number" name="investAmt" #if(!$request.getParameter("msg")) value="$!{defaultInvestAmt}"#end class="u-ipt#if($request.getParameter("msg")) z-err#end z-nearSingleTxt" required #if($subjectType == 5) readonly #end> 元
			</div>
			#if($request.getParameter("msg"))
			<label id="investAmt-error" class="z-err z-frm-vld" for="investAmt">$!{request.getParameter("msg")}</label>
			#end
			<div class="f-mt u-clScd">预期收益：<span id="j_expect_income">0</span>元</div>
		</li>
#* 
		<li class="m-frm3-itm">
			<label><input type="checkbox" name="useRed" value="true"> 使用红包：<span class="u-clScd">$!{redAmount}元</span></label>
		</li>
*#
		<li class="m-frm3-itm--btn">
			<span class="m-F3IB-sd"><a href="$!{basePath}/user/charge/page" class="u-btn z-scs">充值</a></span>
			<span class="m-F3IB-mn"><button class="u-btn z-prm">确认投资</button></span>
		</li>
	</ul>
</form>

<input type="hidden" value="$!{numActualAmt}" id="j_max_invest_amount">
