#set($pageTitle = "铜掌柜手机移动端理财投资产品推荐_项目列表_热门理财投资项目")
#set($pageKeywords = "项目列表,小额投资理财,投资理财,理财投资产品,热门投资项目")
#set($pageDescription = "铜掌柜移动端理财投资推荐项目频道提供最为全面热门的最新投资理财项目，提供全面规范化的个人及企业投资理财规划，各类最新的小额投资理财及热门投资理财项目产品推荐敬请关注本栏目最新动态。")

#set($bodyClass = "body--gray")
#set($topbar = {"title": "投资", "backLink": "no"})

#set($pageFootCode = '<script>seajs.use("page/subject-list")</script>')

#*
标的状态 class:
z-new/z-newGray: 新客专享
z-activity/z-activityGray: 活动
z-activityNew/z-activityNewGray: 新客活动
z-hotSales/z-hotSalesGray: 爆款 6
z-seckill/z-seckillGray: 秒杀 5
[@if item.istate ==12 || item.istate ==13] z-newGray[@/if][@/if]
*#

##是否多财
#set($isRaiseRate = "1")
##是否优惠券
#set($isCoupon = "1")

<script type="text/template" id="j_list_template">
[@if currentbaoresult != null]
<a href="$!{basePath}/currentBao/project/detail" class="m-sbjItm z-hqb">
	<div class="m-sbjItm-ttl">铜钱宝</div>
	<div class="m-sbjItm-prps f-mt">
		<span class="g-3c-n_left t-icon"></span>
		<span class="g-3c-n_middle"><span class="u-clScd">$[currentbaoresult.numIntetrestRate|toCurrency]%</span><span class="u-fsSml u-clGrayLgt">年化收益率</span></span>
		<span class="g-3c-n_right"><span class="u-fsH">$[currentbaoresult.numMinAmount|toCurrency]元</span><span class="u-fsSml u-clGrayLgt">起购金额</span></span>
	</div>
	<div class="m-sbjItm-sd">
		<span class="u-btn z-prm">随存随取</span>
	</div>
</a>
[@/if]

[@if fixedbaoresult != null]
[@each fixedbaoresult as item]
    [@if item.numTotal != null && item.numTotal > 0]
	 #parse("include/fixedbaoLoopTpl.vm")
	[@/if]
[@/each]
[@/if]

[@if expresult != null]
[@each expresult.rows as item]
<a href="$!{basePath}/subject/experiencedetail?subjectId=$[item.id]" class="m-sbjItm z-experience">
	<div class="m-sbjItm-ttl">[@if item.iaccountType==1]新手体验标[@else if item.iaccountType==2 ]老客体验标[@else]体验标[@/if]</div>
	<div class="m-sbjItm-n">$[item.vcName]</div>
	<div class="m-sbjItm-prgr">
		<div class="m-SP-hnt">
			[@if item.irepayMode==1]到期还本付息
			[@else if item.irepayMode==2]每日付息到期还本
			[@else if item.irepayMode==3]每月付息到期还本
			[@else if item.irepayMode==4]等额本息
			[@else if item.irepayMode==5]到期返还收益
			[@/if]
		</div>
		<div class="m-prgr2"><span class="m-prgr2-bar" style="width:$[item.percent]%"></span></div>
	</div>
	
	<div class="m-sbjItm-prps g-3c-n">
		<span class="g-3c-n_left">
			<span class="u-clScd">$[item.totalRate]%</span>
		</span>
		<span class="g-3c-n_middle">$[item.numPeriod] <span class="u-fsSml u-clGrayLgt">天</span></span>
		<span class="g-3c-n_right">$[item.numTotalFinancingStr] </span>
	</div>

	<div class="m-sbjItm-sd">
		[@if item.istate ==11]
		<span class="u-btn z-prm z-sml">立即投资</span>
		[@else if item.istate ==10]
		<div class="m-IS-date">$[item.dtCollectStartStr|substr,0,10]</div>
		<span class="u-btn z-prm z-sml">$[item.dtCollectStartStr|substr,11,5]开标</span>
		[@else if item.istate ==12]
		<span class="u-btn z-sml">还款中</span>
		[@else if item.istate ==13]
		<span class="u-btn z-sml">已结束</span>
		[@/if]
	</div>
</a>
[@/each]
[@/if]

[@if result != null]
[@each result.rows as item]
[@if item.istate ==10 || item.istate ==11]
	[@if item.itype==0]
	<a href="$!{basePath}/subject/fixedbaodetail?projectId=$[item.id]" class="m-sbjItm z-dqb">
	[@else if item.itype==2]
	<a href="$!{basePath}/subject/detail?subjectId=$[item.id]" class="m-sbjItm z-new">
	[@else if item.itype==3]
	<a href="$!{basePath}/subject/detail?subjectId=$[item.id]" class="m-sbjItm z-activity">
	[@else if item.itype==4]
	<a href="$!{basePath}/subject/detail?subjectId=$[item.id]" class="m-sbjItm z-activityNew">
	[@else if item.itype==5]
	<a href="$!{basePath}/subject/detail?subjectId=$[item.id]" class="m-sbjItm z-seckill">
	[@else if item.itype==6]
	<a href="$!{basePath}/subject/detail?subjectId=$[item.id]" class="m-sbjItm z-hotSales">
	[@else]
	<a href="$!{basePath}/subject/detail?subjectId=$[item.id]" class="m-sbjItm">
	[@/if]
[@else]
	[@if item.itype==0]
	<a href="$!{basePath}/subject/fixedbaodetail?projectId=$[item.id]" class="m-sbjItm z-dqb">
	[@else if item.itype==2]
	<a href="$!{basePath}/subject/detail?subjectId=$[item.id]" class="m-sbjItm z-newGray">
	[@else if item.itype==3]
	<a href="$!{basePath}/subject/detail?subjectId=$[item.id]" class="m-sbjItm z-activityGray">
	[@else if item.itype==4]
	<a href="$!{basePath}/subject/detail?subjectId=$[item.id]" class="m-sbjItm z-activityNewGray">
	[@else if item.itype==5]
	<a href="$!{basePath}/subject/detail?subjectId=$[item.id]" class="m-sbjItm z-seckillGray">
	[@else if item.itype==6]
	<a href="$!{basePath}/subject/detail?subjectId=$[item.id]" class="m-sbjItm z-hotSalesGray">
	[@else]
	<a href="$!{basePath}/subject/detail?subjectId=$[item.id]" class="m-sbjItm">
	[@/if]
[@/if]

	<div class="m-sbjItm-ttl">$[item.projectName]</div>
	<div class="m-sbjItm-n">$[item.vcName]</div>
	<div class="m-sbjItm-tag">
		[@if item.itype == 7]
			<span class="icon-tag2 -dc">多财</span>
		[@/if]
		[@if item.iUseInterestTicket == 1]
			<span class="icon-tag2 -jx">加息</span>
		[@/if]
		[@if item.isUseRed == 1]
			<span class="icon-tag2 rp">红包</span>
		[@/if]
	</div>
#*
	<div class="m-sbjItm-icos">
		[@if item.istate ==10 || item.istate ==11]
			[@if item.projectType.indexOf("00")>=0 || item.projectType.indexOf("02")>=0]
			<i class="u-icoMortgage">押</i>
			[@/if]
			[@if item.projectType.indexOf("01")>=0]
			<i class="u-icoGuarantee">保</i>
			[@/if]
		[@else if item.istate ==12 || item.istate ==13]
			[@if item.projectType.indexOf("00")>=0 || item.projectType.indexOf("02")>=0]
			<i class="u-icoMortgage--gray">押</i>
			[@/if]
			[@if item.projectType.indexOf("01")>=0]
			<i class="u-icoMortgage--gray">保</i>
			[@/if]
		[@/if]
	</div>
*#
	<div class="m-sbjItm-prgr">
		<div class="m-SP-hnt">
			[@if item.irepayMode==1]到期还本付息
			[@else if item.irepayMode==2]每日付息到期还本
			[@else if item.irepayMode==3]每月付息到期还本
			[@else if item.irepayMode==4]等额本息
			[@else if item.irepayMode==5]按季付息到期还本
			[@/if]
		</div>
		[@if item.idisplayState==1]
		<div class="m-prgr2"><span class="m-prgr2-bar" style="width:100%"></span></div>
		[@else]
		<div class="m-prgr2"><span class="m-prgr2-bar" style="width:$[item.percent]%"></span></div>
		[@/if]
	</div>

	<div class="m-sbjItm-prps g-3c-n">
		<span class="g-3c-n_left">
			<span class="u-clScd">$[item.totalRate]%</span>
		</span>
		<span class="g-3c-n_middle">$[item.numPeriod] <span class="u-fsSml u-clGrayLgt">天</span></span>
		<span class="g-3c-n_right">$[item.numTotalFinancingStr] </span>
	</div>

	<div class="m-sbjItm-sd">
		[@if item.istate ==11]
		<span class="u-btn z-prm z-sml">立即投资</span>
		[@else if item.istate ==10]
		<div class="m-IS-date">$[item.dtCollectStartStr|substr,0,10]</div>
		<span class="u-btn z-prm z-sml">$[item.dtCollectStartStr|substr,11,5]开标</span>
		[@else if item.istate ==12]
		<span class="u-btn z-sml">还款中</span>
		[@else if item.istate ==13]
		<span class="u-btn z-sml">已结束</span>
		[@/if]
	</div>
</a>
[@/each]
[@/if]
</script>

<div class="m-sbjLst" id="j_list_container"></div>

<div class="m-lst z-lne l-mn" id="j_list_container"></div>
<div class="m-loadMr" id="j_load_more" style="display:none">
	<a href="#" class="u-loadMr">点击查看更多</a>
	<i class="u-fntIco--ldg"></i>
</div>


## 底部导航
## =============================
#set($primaryNavCurrent = "invest")
#parse("/components/primary-nav/primary-nav-v2.vm")
