#set($pageName = "资金转入")
#set($bodyClass = "body--gray")
#set($topbar = { "title": $pageName, "backLink": "$!{basePath}/user/home" })
#set($pageFootCode = '<script>seajs.use("page/hqb-inves-ation")</script>')

<form method="post" action="$!{basePath}/currentBao/chargein" id="j_enter-form" novalidate="novalidate">
	#tokenCode
	<div class="m1 m-movable-form">
		<div><span class="u-clGrayLgt u-fsH">账户余额</span><br><span class="u-clScd u-fsH1">$numbers.toCurrency($!{numCurrentBaoBalance})元</span></div>
		<div class="f-mt u-2c-box"><span class="u-fsH1">转入金额</span><input class="u-ipt" name="investAmt" placeholder="转入金额" type="text" required></div>
		<div class="u-clGrayLgt f-mth">当前可转入金额&nbsp;<span class="u-clScd">$numbers.toCurrency($!{maxAbleInvest})元</span></div>
		<div class="f-mtb2"><input class="u-ipt" name="payPassword" placeholder="请输入交易密码" type="password" required></div>
		<input data-value="$!{maxAbleInvest}" name="entertAmt" type="hidden">
	</div>
	<p class="m1 u-clGrayLgt">收益发放&nbsp;&nbsp;$!{incomeDate}</p>
	<p class="m1 u-clGrayLgt">起息方式&nbsp;&nbsp;T+1</p>
	<p class="m1 u-clGrayLgt">起购金额&nbsp;&nbsp;$!{currentbaoproject.numMinAmount}元</p>
	<p class="m1">同意<a href="#" class="u-clPrm" id="j-protocol-btn">《转入合同》</a><input type="checkbox" name="enterProtocol" style="float:left; margin:4px 10px 0 0" checked required></p>
	<div class="fixed-foot">
		<div class="fixed-foot_inner f-clrFix" id="j_footbar">
			<button class="u-btn z-prm z-fll z-ldg" type="submit" defaultvalue="确定转入">确定转入</button>
		</div>
	</div>
</form>
<div class="m-ppp" id="j_protocol_popup">
	<div class="m-ppp-hd">《转入合同》</div>
	<div class="m-ppp-bd">
		<div class="m-ppp-bd-cnt" id="pro-content">
			<iframe src="$!{basePath}/currentBao/currentBaoContract?icontractId=$!{currentbaoproject.icontractId}" frameborder="0" width="100%" height="100%" scrolling="yes"></iframe>
		</div>
	</div>
	<div class="m-ppp-ft">
		<button type="button" class="u-btn--lnk z-fll" pppclosebtn>确 定</button>
	</div>
</div>