## 活期宝详情
## =======================================
#set($pageName = "铜钱宝$!{fixedbaoproject.vcName}")
#set($bodyClass = "body--gray")
#set($pageFootCode = '<script>seajs.use("page/hqb-detail")</script>')
#set($topbar = { "title": $pageName })

#set($topbar = { "title": $!{pageName}, "backLink": "$!{basePath}/subject/page" })

<div class="subject-detail-base m1">
	<div class="sdb_movable">
		<div class="sdb_movable_value">$numbers.toCurrency($!{numCurrentBaoBalance})</div>
		<div class="sdb_movable_name">总金额(元)</div>
	</div>
	<div class="sdb_line"></div>
	<ul class="sdb_properties -col2">
		<li>
			<div class="pr-content">$!{investmentIncome}</div>
			<div class="pr-label">万份收益(元)</div>
		</li>
		<li>
			<div class="pr-content">$numbers.toCurrency($!{numTotalCurrentBaoInvest})</div>
			<div class="pr-label">累计收益(元)</div>
		</li>
	</ul>
</div>
<div class="m1 b1" id="j_main_block">
	<ul class="movable-tab f-clrFix" id="j_chart_tab">
		<li class="z-atv"><a href="javascript:;"><span class="u-clScd">$numbers.toCurrency($!{currentbaoproject.numIntetrestRate})%</span><span class="u-fsSml u-clGrayLgt">今日年化收益率(%)</span></a></li>
		<li><a href="javascript:;"><span class="u-clScd">$numbers.toCurrency($!{numCurrentYesterdayIncome})</span><span class="u-fsSml u-clGrayLgt">昨日收益(元)</span></a></li>
	</ul>
	
	<div class="f-mtb2 f-mlr2" j-tab-content>
		<canvas width="400" height="260"></canvas>
	</div>
	
	<div class="f-mtb2 f-mlr2" j-tab-content style="display:none">
		<canvas width="400" height="260"></canvas>
	</div>
</div>

<div class="m1 b1 record-section">
	<ul class="box-movable-group">
		<li>
			<a href="$!{basePath}/currentBao/project/projectinfo">
				<i class="u-fntIco z-cl1">&#xe902</i>
				<span class="other f-mt">铜钱宝介绍</span>
			</a>
		</li>
		<li>
			<a href="$!{basePath}/currentBao/project/projecthelp">
				<i class="u-fntIco z-cl2">&#xe903</i>
				<span class="other f-mt">问题解答</span>
			</a>
		</li>
		<li>
			<a href="$!{basePath}/currentBao/funddetails/invest">
				<i class="u-fntIco z-cl3">&#xe904</i>
				<span class="other f-mt">资金明细</span>
			</a>
		</li>
	</ul>
</div>

<div class="fixed-foot">
	<div class="fixed-foot_inner f-clrFix" id="j_footbar">
	#if($iProjectState == 1)
		<a href="javascript:;" class="u-btn z-dabo u-fsH1">清算中</a>
	#elseif($iProjectState == 2)
		<a href="javascript:;" class="u-btn z-dabo u-fsH1" data-verify="$!{basePath}/currentBao/tochargein">转入</a>
	#elseif($iProjectState == 3)
		<a href="javascript:;" class="u-btn z-dabo u-fsH1">已募满</a>
	#end
		<a href="$!{basePath}/currentBao/tochargeout" class="u-btn z-dabo u-fsH1" data-verify="$!{basePath}/currentBao/tochargeout">转出</a>
	</div>
</div>

<div class="fixed-foot-placeholder"></div>
<script>
try{
window.chartDatasets = [$!{daysFor7IncomeRate}, $!{daysFor7Income}];
}catch(e){}
</script>
