#set($layout = "/layout/azalea.vm")
#set($pageHeadCode = '<link type="text/css" rel="stylesheet" href="'+$!{basePath}+'/assets2/components/magnific-popup/magnific-popup.css">')
#set($bodyClass = "body-gray")
#set($pageScript = "'pages/project-info'")

## 还款方式
#if($project.iRepayMode==1)#set($repayMode = "到期还本付息")
#elseif($project.iRepayMode==2)#set($repayMode = "每日付息 到期还本")
#elseif($project.iRepayMode==3)#set($repayMode = "每月付息 到期还本")
#elseif($project.iRepayMode==4)#set($repayMode = "等额本息")
#elseif($project.iRepayMode==5)#set($repayMode = "到期返还收益")
#end

#set($pageTitle = "项目信息-当前$!{project.vcName}$!{repayMode}网贷理财产品项目信息 - 铜掌柜")
#set($pageKeywords = "")
#set($pageDescription = "")

#set($topbar = { "title": "$!{project.vcName} $!{subject.vcName}", "backLink": "$!{basePath}/subject/detail?subjectId=$!{subject.id}" })
#parse("/include/titleBar.vm")

<ul class="tab2 -col3">
	<li class="-on"><span class="item-inner">项目信息</span></li>
	##<li><a href="$!{basePath}/subject/safety/page?isubjectId=$!{subject.id}" class="item-inner">安全保障</a></li>
	<li><a href="$!{basePath}/subject/investRecord/page?isubjectId=$!{subject.id}" class="item-inner">投资记录</a></li>
	<li><a href="$!{basePath}/subject/repayPlan/page?isubjectId=$!{subject.id}" class="item-inner">还款计划</a></li></li>
</ul>


<div class="subject-section">
#if ($project.vcPurpose && $project.vcPurpose != "")
	<h3 class="title-1">项目介绍</h3>
	<div class="section-1">$!{project.vcPurpose}</div>
#end
#if ($project.partnersIntroduce && $project.partnersIntroduce != "")
	<h3 class="title-1">机构介绍</h3>
	<div class="section-1">$!{project.partnersIntroduce}</div>
#end
#if ($project.vcRepaymentSource && $project.vcRepaymentSource != "")
	<h3 class="title-1">保障措施</h3>
	<div class="section-1">$!{project.vcRepaymentSource}</div>
#end
#if($projectsuggestions.vcOpinionLawyer && $projectsuggestions.vcOpinionLawyer!="")
	<h3 class="title-1">法律意见</h3>
	<div class="section-1">$!{projectsuggestions.vcOpinionLawyer}</div>
#end
#if ($projectattachList.size() > 0)
<h3 class="title-1">相关材料</h3>
<ul class="file-list" id="j_file_list"#if ($wapLoginSessionInfo) data-show-img="true"#end>
#set($index = 0)
#foreach($item in $projectattachList)
	#set($index = $index + 1)
	#if ($index > 2)
	<li class="j-hide" style="display:none">
	#else
	<li>
	#end
	#if ($wapLoginSessionInfo)
		<a href="$!{staticUploadUrl}$!{item.vcFilePath}" class="j-img" rel="fancybox-button">
	#else
		<a href="$!{basePath}/login/page">
	#end
		#if ($index > 2)
			<div class="img"><img data-original-src="$!{staticUploadUrl}$!{item.vcFilePath}"></div>
		#else
			<div class="img"><img src="$!{staticUploadUrl}$!{item.vcFilePath}" alt="$!{item.vcAttachName}"></div>
		#end
			<div class="name">$!{item.vcAttachName}</div>
		</a>
	</li>
#end
</ul>
	#if ($projectattachList.size() > 2)
	<a href="#" class="load-more2" id="j_load_more"></a>
	#end
#end
</div>

##parse("/include/investToolbar.vm")

