#set($layout = "/layout/azalea.vm")
#set($bodyClass = "body-gray")
##set($pageScript = "'modules/invest-toolbar'")

## 还款方式
#if($project.iRepayMode==1)#set($repayMode = "到期还本付息")
#elseif($project.iRepayMode==2)#set($repayMode = "每日付息 到期还本")
#elseif($project.iRepayMode==3)#set($repayMode = "每月付息 到期还本")
#elseif($project.iRepayMode==4)#set($repayMode = "等额本息")
#end

#set($pageTitle = "安全保障-当前$!{project.vcName}$!{repayMode}网贷理财产品保障措施及风控意见 - 铜掌柜")
#set($pageKeywords = "")
#set($pageDescription = "")

#set($topbar = { "title": "$!{project.vcName} $!{subject.vcName}", "backLink": "$!{basePath}/subject/detail?subjectId=$!{subject.id}" })
#parse("/include/titleBar.vm")

<ul class="tab2">
	<li><a href="$!{basePath}/subject/projectInfo/page?isubjectId=$!{subject.id}" class="item-inner">项目信息</a></li>
	<li class="-on"><span class="item-inner">安全保障</span></li>
	<li><a href="$!{basePath}/subject/investRecord/page?isubjectId=$!{subject.id}" class="item-inner">投资记录</a></li>
	<li><a href="$!{basePath}/subject/repayPlan/page?isubjectId=$!{subject.id}" class="item-inner">还款计划</a></li></li>
</ul>

<div class="subject-section">
	#if ($safeguardList.size() > 0)
	<h3 class="title-1">保障措施</h3>
	<ul class="imgtag-list2">
		#foreach($item in $safeguardList)
		<li>
			<img src="$!{staticUploadUrl}$!{item.vcUrl}">
			<span class="name">$!{item.vcName}</span>
		</li>
		#end
	</ul>
	#end

	#if($projectsuggestions.vcOpinionGuarantee && $projectsuggestions.vcOpinionGuarantee!="")
	<h3 class="title-1 -mt">担保方意见</h3>
	<div class="section-1">$!{projectsuggestions.vcOpinionGuarantee}</div>
	#end
	
	#if($projectsuggestions.vcOpinionControl && $projectsuggestions.vcOpinionControl!="")
	<h3 class="title-1 -mt">风控意见</h3>
	<div class="section-1">$!{projectsuggestions.vcOpinionControl}</div>
	#end
</div>

##parse("/include/investToolbar.vm")
