<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>

            <li class="active">评论列表</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>
	<div class="page-content">
		<div class="page-header">
		    <h1>评论列表</h1>
		</div>
		<div class="container-fluid">
		    <div class="dataTables_wrapper">
		        <div class="row">
		            <div class="col-sm-11">
		                <form class="form-inline" role="form">
		                     <div class="form-group">
		                        <label>项目：</label>
		                        <input type="text" name="projectCode" value="">
		                    </div>
							 <div class="form-group">
		                        <label>用户：</label>
		                        <input type="text" name="createUserName" value="">
		                    </div>
							 <div class="form-group">
		                        <label>评论：</label>
		                        <input type="text" name="commentContent" value="">
		                    </div>
							 <div class="form-group">
		                        <label>状态：</label>
		                       <!-- <input type="text" name="status" value=""> -->
								<select name="status" id="status" class="form-control">  
                                   <option value="">全部</option> 
                                   <option value="0">隐藏</option>  
                                   <option value="1">显示</option>  
                                </select>  
		                    </div>
		                    <div class="form-group">
		                        <button class="btn btn-xs btn-primary" type="submit">查询</button>
		                    </div>
		                </form>
		            </div>
                    <div class="col-sm-1">
                        <a href="$!{www}/comments/new" class="btn btn-success btn-xs">添加</a>
                    </div>
		        </div>
		        <table class="table table-striped table-bordered table-hover dataTable">
		            <thead>
		            <tr>
		                <th>项目</th>
		                <th>用户</th>
		                <th>评论</th>
		                <th>内容</th>
						<th>类型</th>
		                <th>发表时间</th>
		                <th>状态</th>        		             
		                <th>操作</th>
		               
		            </tr>
		            </thead>
		            <tbody>
		                #foreach($row in $result.rows)
		                <tr>								
							<td> $!{row.projectCode}($!{row.projectEnglishName}) </td>
		                	<td> $!{row.commentUserName} </td>	
							<td> $!{row.commentContent} </td>
		                	<td> $!{row.postTitle} </td>
							#if($!{row.postType}==1)
								<td>评测</td>
							#elseif($!{row.postType}==2)
								<td>讨论</td>
							#elseif($!{row.postType}==3)
								<td>文章</td>
							#else
								<td>未识别类型</td>
							#end	
							<td> $!{row.createTimeStr} </td>
							#if($!{row.status}==0)
								<td>隐藏</td>
							#else
								<td>显示</td>
							#end	
		                    <td><a href="$!{www}/comments/find?id=$!{row.commentsId}">详情</a>   ｜
								#if($!{row.status}==0)
		                          <a  href="$!{www}/comments/active?id=$!{row.commentsId}">显示</a>
								#else
								  <a  href="$!{www}/comments/delete?id=$!{row.commentsId}">隐藏</a>
								#end	
		                    </td>
		                </tr>
		                #end
		            </tbody>
		        </table>
		        <div class="row">
		            <div class="col-sm-12">
		                <div class="dataTables_paginate paging_bootstrap">
		                    <ul class="pagination">
		                    	#set($pageRequestURL="$!{www}/comments?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
		                    	#paginationHelper($result $pageRequestURL)
		                    </ul>
		                </div>
		            </div>
		       </div>
		       
		    </div>
		</div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->