#set($layout = "/app/layout/default.vm")
#set($pageName="好友")

<ul class="tab py-friends-tab">
	<li>好友</li>
	<li class="ter">贡献金额</li>
</ul>
<div class="container-spacing">
	<table class="dataset">
		<tbody id="j_list_container"></tbody>
	</table>
	<div class="load-more" id="j_load_more" style="display:none">点击查看更多</div>
</div>

<script src="$!{staticPath}/js/lib/sea.js?v=$!{staticVersion}" id="seajsnode"></script>
<script type="text/template" id="j_list_template">
[@each rows as item]
	<tr>
		<td>$[item.vcPhone]</td>
		<td>$[item.friendsProfit|toCurrency]元</td>
	</tr>
[@/each]
</script>

<script>
	seajs.use(["$", "module/list-loader"], function($, ListLoader) {
		var loader = new ListLoader({
			requestURL: basePath + '/user/pyramid/friendsPage'
		});
		loader.load();
	});
</script>