#set($layout = "/app/layout/default.vm")
#set($pageName="明细")


<div class="container-spacing">
	<ul class="swiper-pagination tab py-friends-tab">
		<li class="-active"><a href="javascript:;">收入</a></li>
		<li><a href="javascript:;">支出</a></li>
	</ul>
	<div class="swiper-container">		
		
		<div class="swiper-wrapper">
	        <div class="swiper-slide p-rel" title="收入">
	        	<table class="dataset">
					<tbody id="j_list_container"></tbody>
				</table>
				<div class="load-more" id="j_load_more" style="display:none">点击查看更多</div>
	        </div>
	        <div class="swiper-slide p-rel" title="支出">
	        	<table class="dataset">
					<tbody id="j_out_container"></tbody>
				</table>
				<div class="load-more" id="j_out_load_more" style="display:none">点击查看更多</div>
	        </div>
	    </div>
	</div>
</div>
<script src="$!{staticPath}/js/lib/sea.js?v=$!{staticVersion}" id="seajsnode"></script>
<script src="$!{basePath}/assets/js/modules/swiper.min.js"></script>

<script type="text/template" id="j_list_template">
[@each rows as item]
	<tr>
		<td class="-datetime">$[item.dtCreateStr]</td>
		<td width="25%">$[item.vcSourcePhone]</td>
		<td>
			[@if item.iRewardType==2]达人奖
			[@else if item.iRewardType==11]一级勤奋奖
			[@else if item.iRewardType==13]一级返利奖
			[@else if item.iRewardType==21]二级勤奋奖
			[@else if item.iRewardType==23]二级返利奖
			[@/if]
		</td>
		<td>$[item.numAmount|toCurrency]元</td>
	</tr>
[@/each]
</script>

<script type="text/template" id="j_out_list_template">
[@each rows as item]
	<tr>
		<td class="-datetime">$[item.dtCashStr]</td>
		<td class="u-txt-c">
			[@if item.istate==1]审核中
			[@else if item.istate==2]余额转出
			[@/if]
		</td>
		<td>$[item.numCash|toCurrency]元</td>		
	</tr>
[@/each]
</script>

<script>
	seajs.use(["$", "module/list-loader"], function($, ListLoader) {
		var loader = new ListLoader({
			requestURL: basePath + '/user/pyramid/profitPage'
		});
		loader.load();

		var out_loader = new ListLoader({
			requestURL: basePath + '/user/pyramid/reflectPage',
			template: "#j_out_list_template",		// 模板容器
			container: "#j_out_container",		// 列表容器
			loadMoreBtn: "#j_out_load_more",
		});
		out_loader.load();
	});

	(function(){
		var swiper = new Swiper('.swiper-container', {
	        pagination: '.swiper-pagination',
	        paginationClickable: true,
	        paddingTop: 45
	    });
	})();
</script>