#set($layout = "/app/layout/default.vm")
#set($pageName="铜掌柜")

<div class="act-box">
	<img alt="" src="/assets/images/act/m_02.jpg" width="100%">
	<form method="post" action="" id="j_pack-form">
		<div class="-form">
			<div class="container-r-spacing u-txt-c"><span class="u-clScd">$!{phone}</span>向你推荐ta正在使用的理财平台</div>
			<div class="act-2c-box container-r-spacing mtb">
				<input type="number" name="phoneNumber" class="u-ipt" placeholder="请输入手机号码">
				<label id='phoneNumber-error' class='z-err z-frm-vld' for='phoneNumber' style="display:none">手机号码不正确</label>
				<input type="hidden" name="inviteCode" value= "$!{key}" class="u-ipt" placeholder="">
			</div>
		</div>
		<div class="container-r-spacing">
			<a class="u-btn z-prm z-fll" href="javascript:;" id="j-newpack_btn">立即领取</a>
		</div>
	</form>
	<div class="u-txt-c act-fix u-clGrayLgt">中来股份&nbsp;战略入股<br><span class="picc">PICC</span>&nbsp;账户资金盗转盗用由人保财险承保</div>
</div>
<script src="$!{staticPath}/js/modules/jquery-2.1.3.min.js?v=1208"></script>
<script>
(function(){
	var $newPack_form = $("#j_pack-form");
	$("#j-newpack_btn").on("click",function(e){
		var mobileNumber = $newPack_form.find("[name=phoneNumber]")[0].value;
		var telReg = !!mobileNumber.match(/^((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)$/);
		if(telReg){
			$.getJSON("$!{basePath}/register/validPhone?phoneNumber="+ mobileNumber, function (data) {
				if(data.success){
					$newPack_form.find("#phoneNumber-error").hide();
					$newPack_form.attr("action","/app/pyramid/actLogin")
					$newPack_form.submit();
				}else{
					e.preventDefault();
					$newPack_form.find("#phoneNumber-error").show().html("手机号码已存在");
				}
			})
		}else{
			e.preventDefault();
			$newPack_form.find("#phoneNumber-error").show();
		}
	});

})()
</script>