<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="velocityConfigurer"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath">
            <value>/WEB-INF/templates</value>
        </property>
        <property name="configLocation">
            <value>classpath:conf/velocity.properties</value>
        </property>
        <property name="velocityProperties">
            <props>
                <prop key="foreach.count">loopCounter</prop>
                <prop key="foreach.index">0</prop>
                <prop key="foreach.hasNext">loopHasNext</prop>
                
	            <prop key="input.encoding">utf-8</prop>
	            <prop key="output.encoding">utf-8</prop>
	            <!--启用 fis 提供的自定义 diretives 启动-->
	            <prop key="userdirective">com.baidu.fis.velocity.directive.Html, com.baidu.fis.velocity.directive.Head, com.baidu.fis.velocity.directive.Body, com.baidu.fis.velocity.directive.Require, com.baidu.fis.velocity.directive.Script, com.baidu.fis.velocity.directive.Style, com.baidu.fis.velocity.directive.Uri, com.baidu.fis.velocity.directive.Widget, com.baidu.fis.velocity.directive.Block, com.baidu.fis.velocity.directive.Extends,com.tzg.wap.velocity.directive.TokenCodeDirective</prop>
                
            </props>
        </property>
    </bean>
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
        <property name="suffix">
           <value>.vm</value> 
            <!-- <value>.html</value> -->
        </property>

        <property name="layoutUrl">
            <value>/layout/default.vm</value>
        </property>

        <property name="contentType" value="application/json;charset=UTF-8" />

        <property name="exposeSpringMacroHelpers">
            <value>true</value>
        </property>
        <property name="dateToolAttribute">
            <value>dateTool</value>
        </property>
        <property name="numberToolAttribute">
            <value>numberTool</value>
        </property>
		
        <property name="allowRequestOverride" value="true" />
        <property name="allowSessionOverride" value="true" />
        <property name="exposeRequestAttributes" value="true" />
        <property name="exposeSessionAttributes" value="true" />
    </bean>
    <bean class="com.tzg.common.utils.SpringUtils"/>
</beans>