<style type="text/css">
.topic-tips {
	overflow:hidden;
	text-align:center;
	background:#d28eef;
}
.topic-tips img {
	margin-top:8.6%;
	width:45%;
}
.topic-tips_ul {
	list-style: outside decimal;
	margin: 5% 0 5% 10%;
	text-align: left;
	font-size: 18px;
	line-height: 30px;
	color: #651462;
}
.topic-tips_ul a {
	color: #651462;
}
</style>

<div class="topic-container">
<img src="$!{staticPath}/pics/topics/down-app-get-red/i_01.png" alt="下铜掌柜APP送红包">
<a href="$!{basePath}/down/app?from=wap"><img src="$!{staticPath}/pics/topics/down-app-get-red/i_02.png" alt="下铜掌柜APP送红包"></a>
<img src="$!{staticPath}/pics/topics/down-app-get-red/i_03.png" alt="下铜掌柜APP送红包">
<img src="$!{staticPath}/pics/topics/down-app-get-red/i_04.png" alt="下铜掌柜APP送红包">
<img src="$!{staticPath}/pics/topics/down-app-get-red/i_05.png" alt="下铜掌柜APP送红包">
<img src="$!{staticPath}/pics/topics/down-app-get-red/i_06.png" alt="下铜掌柜APP送红包">
<img src="$!{staticPath}/pics/topics/down-app-get-red/i_07.png" alt="下铜掌柜APP送红包">
<img src="$!{staticPath}/pics/topics/down-app-get-red/i_08.png" alt="下铜掌柜APP送红包">
<img src="$!{staticPath}/pics/topics/down-app-get-red/i_09.png" alt="下铜掌柜APP送红包">
<img src="$!{staticPath}/pics/topics/down-app-get-red/i_10.png" alt="下铜掌柜APP送红包">
<img src="$!{staticPath}/pics/topics/down-app-get-red/i_11.png" alt="下铜掌柜APP送红包">
<img src="$!{staticPath}/pics/topics/down-app-get-red/i_12.png" alt="下铜掌柜APP送红包">
<img src="$!{staticPath}/pics/topics/down-app-get-red/i_13.png" alt="下铜掌柜APP送红包">
</div>
<div class="topic-tips">
<img src="$!{staticPath}/pics/topics/down-app-get-red/i_16.png" alt="下铜掌柜APP送红包">
<ul class="topic-tips_ul">
<li>本次活动仅限于2015.4.21—5.31参与投标的用户；</li>
<li>每个账户限领一次；</li>
<li>系统将在工作日24小时内自动将红包发送到您的铜掌柜个人账户；</li>
<li>本次活动投资红包有效期为2个月，首次投资奖励30元红包适用于30天以上标的；<br>
	红包使用比例为100：1，<br>
	即投资满3000元即可使用30元红包，<br>
	满4000元即可使用40元红包，以此类推；</li>
<li>所有现金红包均为系统自动发放，满足使用条件系统则自动抵用；</li>
<li>红包不可提现，买卖，转送他人，仅限铜掌柜平台投资使用；</li>
<li>自动投标不参与红包使用活动；</li>
<li>如有任何疑问请咨询在线客服或拨打平台服务电话<a href="tel:4006082233">400-0311-798</a>；</li>
<li>本次活动最终解释权归铜掌柜所有。</li>
</ul>
</div>
