#set($layout = "/layout/blank.vm")
#set($activityCode = "20150602")
#set($activityTitle = "注册铜掌柜就送60元红包")
#set($imagePath = "$!{staticPath}/pics/topics/$!{activityCode}")
<!doctype html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>$!{activityTitle}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="basepath" content="$!{basePath}" id="j_basepath">
<meta name="staticpath" content="$!{staticPath}" id="j_staticpath">
<link rel="icon" href="$!{staticPath}/images/favicon.ico">
<link rel="shortcut icon" href="$!{staticPath}/images/favicon.ico">
<script src="$!{staticPath}/js/modules/pages/topic-$!{activityCode}.js"></script>
<link type="text/css" rel="stylesheet" href="$imagePath/style.css">
</head>
<body>

	<div class="topic-container">
		<img src="$imagePath/images/m_01.png" alt="$!{activityTitle}">
		<img src="$imagePath/images/m_02.png" alt="$!{activityTitle}">
		<img src="$imagePath/images/m_03.png" alt="$!{activityTitle}">
	</div>

	<form method="post" action="$!{basePath}/register" novalidate id="j_register_form">
		<ul class="form-items">
			<li class="form-item">
				<div class="form-item-inner">
					<div class="form-label">手机号码:</div>
					<div class="form-content"><input type="number" name="phoneNumber" placeholder="11位手机号码" maxlength="11"></div>
				</div>
			</li>
			<li class="form-item">
				<div style="position:absolute;left:-1000px;width:500px"><input type="text" name="pppppppp"></div>
				<div class="form-item-inner">
					<div class="form-label">验证码:</div>
					<div class="captcha">
						<a href="javascript:;" class="btn" id="j_send_captcha">获取验证码</a>
						<input type="number" name="dynamicVerifyCode" placeholder="请输入验证码" maxlength="6">
					</div>
				</div>
			</li>
			<li class="form-item">
				<div class="form-item-inner">
					<div class="form-label">登录密码:</div>
					<div class="form-content"><input type="password" name="password" maxlength="20" placeholder="请设置登录密码" maxlength="20"></div>
				</div>
			</li>
			<li class="form-item--protocol">
				<label>
					<input type="checkbox" name="agreeProtocol" checked value="true" id="j_agree_protocol">
					已阅读并同意<a href="javascript:;" class="u-clPrm" id="j_protocol_btn">《融佰通注册协议》</a>
				</label>
			</li>
			<li class="submit-btn"><input type="image" name="submity" src="$imagePath/images/btn.png" alt="马上领取" class="submit-btn_btn"></li>
		</ul>
	</form>

	<div class="m-ppp" id="j_protocol_popup">
		<div class="m-ppp-hd">《融佰通注册协议》</div>
		<div class="m-ppp-bd">
			<div class="m-ppp-bd-cnt">
				<iframe src="https://upload.tzg.cn/upload/201505/RegisteregProtocol.html" frameborder="0" width="100%" height="100%" scrolling="yes"></iframe>
			</div>
		</div>
		<div class="m-ppp-ft">
			<button type="button" class="u-btn--lnk z-fll" pppclosebtn>确 定</button>
		</div>
	</div>
	
	<div class="down-layer" id="j_down_layer">
		<div class="images">
			<a href="javascript:void(0)"><img src="$imagePath/images/l_01.png" alt="$!{activityTitle}">
			<img src="$imagePath/images/l_02.png" alt="$!{activityTitle}"></a>
			<a href="https://down.tzg.cn/apk/tzg.apk" j-wx-prompt><img src="$imagePath/images/l_03.png" alt="$!{activityTitle}"></a>
			<a href="#" class="close"><img src="$imagePath/images/close.png" alt="x"></a>
		</div>
	</div>
	
	<div class="fixed-footer" id="j_downapp">
		<div class="fixed-footer_inner">
			<a href="https://down.tzg.cn/apk/tzg.apk" j-wx-prompt><img src="$imagePath/images/f.png" alt=""></a>
			<a href="javascript:void(0)" class="close"></a>
		</div>
	</div>
	<div class="fixed-footer-placeholder"></div>

	<div class="hint-layer" id="hint_layer">
		<div class="inner">
			<div class="content">
				哎呀！微信不让跳。<br>
				烦请抬眼，点击右上角选择<em>在浏览器(或Safari)打开</em><br>
				该怎么下，还怎么下
			</div>
			<img src="$imagePath/images/arr.png" alt="下载铜掌柜APP">
		</div>
	</div>


</body>
</html>
