#set($pageName = "股东背景")
#set($topbar = { "title": $pageName })

<div class="l-mn2">
	<div class="f-mtb4 f-tlc"><img src="$!{staticPath}/images/jolywood-logo.png" width="130" alt="铜掌柜"></div>
	<div class="m-sct">
		<p>　　苏州中来光伏新材股份有限公司（股票代码：300393，以下简称中来股份）是一家全球先进的太阳能电池背膜供应商，一直专注于太阳能电池封装解决方案、含氟高分子材料的设计合成与产业化应用研究，在晶体硅太阳能电池背膜、封装材料解决方案等领域构筑了可靠运行和安全保障的领先优势。中来股份致力于为全球太阳能组件供应商、电站运营商、电站投资方等提供有竞争力的解决方案和增值服务。</p>
		<p>　　中来股份是国家高新技术企业、国家火炬计划重点高新技术企业、中国光伏行业协会会员单位、江苏省可再生能源行业协会常务理事单位、江苏省光伏产业协会理事单位、江苏省创新型企业、江苏省高成长型企业、苏州创新先锋企业，以及国家科技型中小企业技术创新基金项目、国家火炬计划项目、江苏省科技支撑项目和江苏省科技成果转化专项资金项目的承担单位，太阳能电池背膜国家标准的主要起草单位。</p>
	</div>
</div>


