#set($pageName = "更多")
#set($topbar = { "title": $pageName, "backLink": "no"})
#set($pageHeadCode = "<style>
.more-list-v2{
    background-color: #fff;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    margin: 0 0 15px 0;
    overflow: hidden;
}
.more-list-v2 a{
    display: block;
    float: left;
    width: 100%;
}
.more-list-v2 li{
    float: left;
    height: 55px;
    width: 100%;
}
.list-icon{
    float: left;
    width: 25px;
    height: 25px;
    margin: 15px 0 0 20px;
}
.more-list-v2 span{
    display: block;
    margin-left: 60px;
    font-size: 16px;
    color: #222222;
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #d6d6d6;
}
.more-list-v2 li:last-child span{
    border-bottom: none;
 }
.first-more-list{
    margin-top: 20px;
}
.u-icoArr-right{
    float: right;
    width: 12px;
    height: 12px;
    border-top: 2px solid #b3b3b3;
    border-left: 2px solid #b3b3b3;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    margin: 20px 15px -3px 3px;
}
</style>")

<div class="f-bd f-clrMgn">
    <ul class="more-list-v2 first-more-list">
        <li>
            <a target="_self" href="$!{basePath}/aboutUs">
                <img class="list-icon" src="$!{staticPath}/images/v2/icon-more-aboutUs.png" alt="关于我们"/>
                <span>关于我们<i class="u-icoArr-right"></i></span>
            </a>
        </li>
        <li>
            <a target="_self" href="$!{basePath}/topics/aboutShareholder">
                <img  class="list-icon"  src="$!{staticPath}/images/v2/icon-more-bg.png" alt="股东背景"/>
                <span>股东背景<i class="u-icoArr-right"></i></span>
            </a>
        </li>
    </ul>
    <ul class="more-list-v2">
        <li>
            <a target="_self" href="https://app.tzg.cn/down">
                <img class="list-icon" src="$!{staticPath}/images/v2/icon-more-down.png" alt="下载客户端"/>
                <span>下载客户端<i class="u-icoArr-right"></i></span>
            </a>
        </li>
    </ul>
</div>

<div class="f-mt2 f-mlr4">
    #if(!$wapLoginSessionInfo)
    <a href="$!{basePath}/register/page" class="u-btn z-prm z-fll">登录或注册</a>
    #else
    <a href="$!{basePath}/logout" class="u-btn z-prm z-fll">退出</a>
    #end
</div>


## 底部导航
## =============================
#set($primaryNavCurrent = "more")
#parse("/components/primary-nav/primary-nav-v2.vm")
