<style type="text/css">
.topic-container {

}
.topic-container img {
	width: 100%;
	vertical-align: top;
}
</style>
<div class="topic-container" style="background:#e85160">
	<img src="$!{staticPath}/pics/topics/red/w_01.jpg"alt="">
	<a href="$!{basePath}/user/redRecord/page"><img src="$!{staticPath}/pics/topics/red/w_02.jpg"alt=""></a>
	<img src="$!{staticPath}/pics/topics/red/w_03.jpg"alt=""><img src="$!{staticPath}/pics/topics/red/w_04.png"alt=""><img src="$!{staticPath}/pics/topics/red/w_05.png"alt=""><img src="$!{staticPath}/pics/topics/red/w_06.png"alt="">
    <div style="height:74px;"></div>
</div>
