<script src="${www}/js/my97DatePicker/WdatePicker.js"></script>
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>

            <li class="active">加息券统计</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>
	<div class="page-content">
		<div class="page-header">
		    <h1>加息券详情</h1>
		</div>
		<div class="container-fluid">
		    <div class="dataTables_wrapper">
		        <div class="row">
		            <div class="col-sm-11">
		                <form class="form-inline" role="form">
		                   <div class="form-group">
		                        <label>统计时间：</label>
		                        <input type="text" name="dtCreateBegin" id="dtCreateBegin" onFocus="WdatePicker({lang:'zh-cn'})" value="$!{query.dtCreateBegin}" class="input-date">
								-
								<input type="text" name="dtCreateEnd"  id="dtCreateEnd" onFocus="WdatePicker({lang:'zh-cn'})" value="$!{query.dtCreateEnd}" class="input-date">
								<input type="hidden" name="accountid" value="#if($!{accountid})$!{accountid}#else$!{query.iinterestTicketAccountId}#end">
		                    </div>
		                    <div class="form-group">
		                        <button class="btn btn-xs btn-primary" type="submit">查询</button>
		                    </div>
		                </form>
		            </div>
                    <div class="col-sm-1">
                        <a href="$!{www}/interestticketapply/reportlist" class="btn btn-success btn-xs">返回</a>
                    </div>
		        </div>
		        <table class="table table-striped table-bordered table-hover dataTable">
		            <thead>
		            <tr>
		                <th>日期</th>
		                <th>加息券发放金额(按最大预算)</th>
		                <th>加息券使用金额</th>
		                <th>加息券未使用金额(按最大预算)</th>
		             	<th>加息券过期金额(按最大预算)</th>
		               
		            </tr>
		            </thead>
		            <tbody>
		            	<tr>
		            		<td>汇总</td>
		                	<td> $!{numAllTotal} </td>
		                	<td> $!{numUseTotal} </td>
		                	<td> $!{numNotUseTotal} </td>
		                	<td> $!{numExpireTotal} </td>
		                <tr>	
		                #foreach($row in $result.rows)
		                <tr>
		                	<td> $!{row.dtDayStr} </td>
		                	<td> $!{row.numAll} </td>
		                	<td> $!{row.numUse} </td>
		                	<td> $!{row.numNotUse} </td>
		                	<td> $!{row.numExpire} </td>
		                </tr>
		                #end
		            </tbody>
		        </table>
		        <div class="row">
		            <div class="col-sm-12">
		                <div class="dataTables_paginate paging_bootstrap">
		                    <ul class="pagination">
		                    	#set($pageRequestURL="$!{www}/interestticketapply/settlementlist?accountid=$!{query.accountid}&pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
		                    	#paginationHelper($result $pageRequestURL)
		                    </ul>
		                </div>
		            </div>
		       </div>
		       
		    </div>
		</div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->