<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.platformaccount.PlatformaccountMapper">	
	<resultMap id="BaseResultMap" type="com.tzg.entitys.platformaccount.Platformaccount">
		<result property="id" jdbcType="INTEGER" column="id"/>
		<result property="iloginAccountID" jdbcType="INTEGER" column="iLoginAccountID"/>
		<result property="numAvailable" jdbcType="DECIMAL" column="numAvailable"/>
		<result property="numTotalCash" jdbcType="DECIMAL" column="numTotalCash"/>
		<result property="numTotalRecharge" jdbcType="DECIMAL" column="numTotalRecharge"/>
		<result property="numBackTotalCash" jdbcType="DECIMAL" column="numBackTotalCash"/>
		<result property="numBackTotalRecharge" jdbcType="DECIMAL" column="numBackTotalRecharge"/>
		<result property="numBackAvailable" jdbcType="DECIMAL" column="numBackAvailable"/>
		<result property="numTotalFeeCast" jdbcType="DECIMAL" column="numTotalFeeCast"/>
		<result property="numTotalRedCast" jdbcType="DECIMAL" column="numTotalRedCast"/>
		<result property="numExperienceSubjectFee" jdbcType="DECIMAL" column="numExperienceSubjectFee"/>
		<result property="numTotalCouponCast" jdbcType="DECIMAL" column="numTotalCouponCast"/>
		<result property="numTotalServiceFee" jdbcType="DECIMAL" column="numTotalServiceFee"/>
		<result property="numTotalExpenseIncome" jdbcType="DECIMAL" column="numTotalExpenseIncome"/>
		<result property="numTotalFeeIncome" jdbcType="DECIMAL" column="numTotalFeeIncome"/>
		<result property="numTotalBondIncome" jdbcType="DECIMAL" column="numTotalBondIncome"/>
		<result property="numTotalBondRepaid" jdbcType="DECIMAL" column="numTotalBondRepaid"/>
		<result property="numTotalBondCast" jdbcType="DECIMAL" column="numTotalBondCast"/>
		<result property="istatus" jdbcType="INTEGER" column="iStatus"/>
		<result property="numTotalFeeCash" jdbcType="DECIMAL" column="numTotalFeeCash"/>
		<result property="numTotalDiscount" jdbcType="DECIMAL" column="numTotalDiscount"/>
		<result property="numInterestIntervalAmtEarn" jdbcType="DECIMAL" column="numInterestIntervalAmtEarn"/>
		<result property="numInterestIntervalAmtLose" jdbcType="DECIMAL" column="numInterestIntervalAmtLose"/>
		
		
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        id ,iLoginAccountID,numAvailable ,numTotalCash ,numTotalRecharge ,
        numTotalFeeCast ,numTotalRedCast,numExperienceSubjectFee ,numTotalCouponCast ,
        numTotalServiceFee ,numTotalExpenseIncome ,numTotalFeeIncome ,numTotalBondIncome ,
        numTotalBondRepaid ,numTotalBondCast ,iStatus,numBackTotalCash,numBackTotalRecharge,
        numBackAvailable,numTotalFeeCash,numTotalDiscount,numInterestIntervalAmtEarn,numInterestIntervalAmtLose 
	    ]]>
	</sql>
	
	<select id="findMaxOne" resultMap="BaseResultMap">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM tbplatformaccount 
		ORDER BY id LIMIT 0,1
	]]>
	</select>
    
    <select id="findByLoginAccountId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/> 
		<![CDATA[
			FROM tbplatformaccount 
			where iLoginAccountID = #{iloginAccountID,jdbcType=INTEGER}
		]]>
	</select>
	
    <!-- 借款人提现 -->
    <update id="updateCash" parameterType="java.util.Map">
        update tbplatformaccount
        set numAvailable = IFNULL(numAvailable,0) + #{cashFeeAmt,jdbcType=DECIMAL} - #{cashAmt,jdbcType=DECIMAL},
        	numBackAvailable= IFNULL(numBackAvailable,0) + #{cashFeeAmt,jdbcType=DECIMAL},
        	numTotalCash = IFNULL(numTotalCash,0) +  #{cashAmt,jdbcType=DECIMAL},
        	numTotalFeeIncome = IFNULL(numTotalFeeIncome,0) + #{cashFeeAmt,jdbcType=DECIMAL}
        where iLoginAccountID = #{iloginAccountID,jdbcType=INTEGER}
    </update>
    
    <!-- 投资人提现  -->
    <update id="updateCashFeeAmt" parameterType="java.util.Map">
        update tbplatformaccount
        set numAvailable = IFNULL(numAvailable,0) - #{numCash,jdbcType=DECIMAL} + #{cashFeeAmt,jdbcType=DECIMAL},
        	numBackAvailable= IFNULL(numBackAvailable,0) + #{cashFeeAmt,jdbcType=DECIMAL},
        	numTotalCash = IFNULL(numTotalCash,0) + #{numCash,jdbcType=DECIMAL}, 
        	numTotalFeeIncome = IFNULL(numTotalFeeIncome,0) + #{cashFeeAmt,jdbcType=DECIMAL}
        where iLoginAccountID = #{iloginAccountID,jdbcType=INTEGER}
    </update>
    
    <!-- 投资人提现失败 退款  -->
    <update id="updateCashFailedAmt" parameterType="java.util.Map">
        update tbplatformaccount
        set numAvailable = IFNULL(numAvailable,0) + #{numCash,jdbcType=DECIMAL} - #{cashFeeAmt,jdbcType=DECIMAL},
        	numBackAvailable= IFNULL(numBackAvailable,0) - #{cashFeeAmt,jdbcType=DECIMAL},
        	numTotalCash = IFNULL(numTotalCash,0) - #{numCash,jdbcType=DECIMAL}, 
        	numTotalFeeIncome = IFNULL(numTotalFeeIncome,0) - #{cashFeeAmt,jdbcType=DECIMAL}
        where iLoginAccountID = #{iloginAccountID,jdbcType=INTEGER}
    </update>
    
    <!-- 用户充值  -->
    <update id="updateChargeAmt" parameterType="java.util.Map">
        update tbplatformaccount
        set numAvailable = IFNULL(numAvailable,0) + #{actualChargeAmt,jdbcType=DECIMAL},
        	numBackAvailable= IFNULL(numBackAvailable,0) - #{chargeFeeAmt,jdbcType=DECIMAL},
        	numTotalRecharge = IFNULL(numTotalRecharge,0) + #{actualChargeAmt,jdbcType=DECIMAL} + #{chargeFeeAmt,jdbcType=DECIMAL},
        	numTotalFeeCast = IFNULL(numTotalFeeCast,0) + #{chargeFeeAmt,jdbcType=DECIMAL}
        where iLoginAccountID = #{iloginAccountID,jdbcType=INTEGER}
    </update>
    
    <!-- 投资- 红包支出  -->
    <update id="updateRedAmt" parameterType="java.util.Map">
        update tbplatformaccount
        set numAvailable = IFNULL(numAvailable,0) - #{redAmt,jdbcType=DECIMAL},
        	numBackAvailable= IFNULL(numBackAvailable,0) - #{redAmt,jdbcType=DECIMAL},
        	numTotalRedCast = IFNULL(numTotalRedCast,0) + #{redAmt,jdbcType=DECIMAL}
        where iLoginAccountID = #{iloginAccountID,jdbcType=INTEGER}
    </update>
        
    <!-- 募集结束之后划款产生的服务费、保证金、红包支出  -->
    <update id="updateTransfer" parameterType="java.util.Map">
        update tbplatformaccount
        set numAvailable = IFNULL(numAvailable,0) + #{numAvailable,jdbcType=DECIMAL},
        	numBackAvailable= IFNULL(numBackAvailable,0) + #{numAvailable,jdbcType=DECIMAL} - #{bondAmt,jdbcType=DECIMAL} ,
        	numTotalDiscount= IFNULL(numTotalDiscount,0) + #{numTotalDiscount,jdbcType=DECIMAL} ,
        	numTotalRedCast = IFNULL(numTotalRedCast,0) + #{totalRedAmt,jdbcType=DECIMAL},
         	numTotalServiceFee = IFNULL(numTotalServiceFee,0) + #{platFormFee,jdbcType=DECIMAL} ,
         	numTotalBondIncome = IFNULL(numTotalBondIncome,0) + #{bondAmt,jdbcType=DECIMAL}  	
        where iLoginAccountID = #{iloginAccountID,jdbcType=INTEGER}
    </update>    
    
    <!-- 还款人 还款  -->
    <update id="updateRepayAmt" parameterType="java.util.Map">
        update tbplatformaccount
        set numAvailable = IFNULL(numAvailable,0) + #{rechargeAmt,jdbcType=DECIMAL},
        numTotalRecharge = IFNULL(numTotalRecharge,0) +  #{rechargeAmt,jdbcType=DECIMAL},
        numBackAvailable= IFNULL(numBackAvailable,0) + #{platformAmt,jdbcType=DECIMAL},
        numTotalExpenseIncome = IFNULL(numTotalExpenseIncome,0) + #{platformAmt,jdbcType=DECIMAL}
        where iLoginAccountID = #{iLoginAccountID,jdbcType=INTEGER}
    </update>    
    
    <!-- 归还保证金  -->
    <update id="updateBondAmt" parameterType="java.util.Map">
        update tbplatformaccount
        set numTotalBondCast = IFNULL(numTotalBondCast,0) + #{bondAmt,jdbcType=DECIMAL}
        where iLoginAccountID = #{iLoginAccountID,jdbcType=INTEGER}
    </update>         
    
    <!-- 还款人-补还  -->
    <update id="updateMakeupAmt" parameterType="java.util.Map">
        update tbplatformaccount
        set numAvailable = IFNULL(numAvailable,0) + #{makeupAmt,jdbcType=DECIMAL},
            numTotalRecharge = IFNULL(numTotalRecharge,0) +  #{makeupAmt,jdbcType=DECIMAL}
        where iLoginAccountID = #{iLoginAccountID,jdbcType=INTEGER}
    </update>     
    
    <!-- 备用金 还款  -->
    <update id="updateReserveAmt" parameterType="java.util.Map">
        update tbplatformaccount set 
        numTotalExpenseIncome = IFNULL(numTotalExpenseIncome,0) + #{platformAmt,jdbcType=DECIMAL}
        where iLoginAccountID = #{iLoginAccountID,jdbcType=INTEGER}
    </update>           
	
    <!-- 体验金支出  -->
    <update id="updateExperienceSubjectFee" parameterType="java.util.Map">
        update tbplatformaccount set 
        numAvailable = IFNULL(numAvailable,0) - #{numExperienceSubjectFee,jdbcType=DECIMAL},
        numBackAvailable= IFNULL(numBackAvailable,0) - #{numExperienceSubjectFee,jdbcType=DECIMAL},
        numExperienceSubjectFee =  IFNULL(numExperienceSubjectFee,0) + #{numExperienceSubjectFee,jdbcType=DECIMAL}
        where iLoginAccountID = #{iLoginAccountID,jdbcType=INTEGER}
    </update> 
    
    <!-- 向第三方支出提现手续费  -->
    <update id="updatePlatformCashFeeAmt" parameterType="java.util.Map">
        update tbplatformaccount
        set numAvailable = IFNULL(numAvailable,0) - #{cashFeeAmt,jdbcType=DECIMAL},
        	numBackAvailable= IFNULL(numBackAvailable,0) - #{cashFeeAmt,jdbcType=DECIMAL},
        	numTotalFeeCash = IFNULL(numTotalFeeCash,0) + #{cashFeeAmt,jdbcType=DECIMAL}
        where iLoginAccountID = #{iloginAccountID,jdbcType=INTEGER}
    </update>

    <!-- 平台后台充值 -->
    <update id="updateBackTotalRecharge" parameterType="java.util.Map">
        update tbplatformaccount
        set numAvailable = IFNULL(numAvailable,0) + #{numAmount,jdbcType=DECIMAL},
        	numBackAvailable= IFNULL(numBackAvailable,0) + #{numAmount,jdbcType=DECIMAL},
        	numBackTotalRecharge = IFNULL(numBackTotalRecharge,0) + #{numAmount,jdbcType=DECIMAL},
        	numTotalRecharge = IFNULL(numTotalRecharge,0) +  #{numAmount,jdbcType=DECIMAL}
        where iLoginAccountID = #{iloginAccountID,jdbcType=INTEGER}
    </update>
    
    <!-- 平台后台提现 -->
    <update id="updateBackTotalCash" parameterType="java.util.Map">
        update tbplatformaccount
        set numAvailable = IFNULL(numAvailable,0) - #{numAmount,jdbcType=DECIMAL},
        	numBackAvailable= IFNULL(numBackAvailable,0) - #{numAmount,jdbcType=DECIMAL},
        	numBackTotalCash = IFNULL(numBackTotalCash,0) + #{numAmount,jdbcType=DECIMAL},
        	numTotalCash = IFNULL(numTotalCash,0) + #{numAmount,jdbcType=DECIMAL}
        where iLoginAccountID = #{iloginAccountID,jdbcType=INTEGER}
    </update>
    
     <!-- 平台后台备用金充值 -->
    <update id="updateReserveRecharge" parameterType="java.util.Map">
        update tbplatformaccount
        set numAvailable = IFNULL(numAvailable,0) + #{numAmount,jdbcType=DECIMAL},
        	numTotalRecharge = IFNULL(numTotalRecharge,0) +  #{numAmount,jdbcType=DECIMAL}
        where iLoginAccountID = #{iloginAccountID,jdbcType=INTEGER}
    </update>
    
    <!-- 平台后台备用金提现 -->
    <update id="updateReserveCash" parameterType="java.util.Map">
        update tbplatformaccount
        set numAvailable = IFNULL(numAvailable,0) - #{numAmount,jdbcType=DECIMAL},
        	numTotalCash = IFNULL(numTotalCash,0) + #{numAmount,jdbcType=DECIMAL}
        where iLoginAccountID = #{iloginAccountID,jdbcType=INTEGER}
    </update>
    
    <!-- 平台管理费 收入增加 -->
   <update id="updateExpenseIncome" parameterType="java.util.Map">
		update tbplatformaccount
        set numTotalExpenseIncome = IFNULL(numTotalExpenseIncome,0) + #{numExpenseIncome,jdbcType=DECIMAL},
          	numAvailable = IFNULL(numAvailable,0) + #{numExpenseIncome,jdbcType=DECIMAL}
        where iLoginAccountID = #{iloginAccountID,jdbcType=INTEGER}
	</update>
    
    
</mapper>


