<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>
		<script type="text/javascript">
		function tijiao(){
    		var vcPhone = document.getElementById("vcPhone");
    		if(vcPhone.value==""){
				alert("手机号码不能为空");
				return false;
				}
			var reason = document.getElementById("reason");
    		var inputForm_subject = document.getElementById("inputForm_subject");
    		inputForm_subject.submit();
		}
		</script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>
            <li>
                <a href="${www}/investor">投资人</a>
            </li>
             <li>
                <a href="$!{www}/investor/accountInfo?iloginAccountId=$!{param.id}">账户信息</a>
            </li>
            <li class="active">更换号码</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>更换号码</h1>
        #if(${msg})
        	<div>
			#if(${success})
        		<li class="text-success">$!{msg}</li>
   			 #else
        		<li class="text-danger">$!{msg}</li>
   			 #end    	
   			</div>
   		#end
        </div>
        <form action="${www}/changephoneaudit/save" method="post" class="form-horizontal" id="inputForm_subject">
            <input type="hidden" name="id" value="$!{param.id}"/>
            <div class="row">
                     <div class="form-group">
                        <label class="col-sm-2 control-label">姓名：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" value="$!{param.vcName}" disabled/>
                        </div>
                    </div>
                   <!-- <div class="form-group">
                        <label class="col-sm-2 control-label">旧手机号：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" value="$!{param.vcPhone}" disabled/>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机号：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" id="vcPhone" name="vcPhone" value="$!{vcPhone}"/>
                        </div>
                    </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">执行：</label>
                        <div class="col-md-8 col-sm-8">
                            	<input type="text" value="更换号码" disabled>
                            	<input type="hidden" name="iType" value="3">
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">理由：</label>
                        <div class="col-md-8 col-sm-12">
                            <textarea class="col-sm-12" name="vcReason"  id="reason" style="margin: 0px; width: 400px; height: 127px;">$!{vcReason}</textarea>
                        </div>
                    </div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-sm-offset-2 col-md-9">
                    <button class="btn btn-info" type="button" onclick="tijiao()">
                        <i class="icon-ok bigger-110"></i> 提交
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		            <button class="btn btn-info" type="button" onclick="javascript:history.go(-1);">
		                <i class="icon-arrow-left bigger-110"></i>返回
		            </button>
                </div>
            </div>
</form>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->