<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>

            <li>
                <a href="${www}/emailmanage">邮件列表</a>
            </li>
            <li class="active">邮件发布</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>邮件发布</h1>
        </div>
        
         #if(${msg})
        	<div>
			#if(${success})
        		<li class="text-success">$!{msg}</li>
   			 #else
        		<li class="text-danger">$!{msg}</li>
   			 #end    	
   			</div>
   		#end    
        
        <form action="${www}/emailmanage/doPublish" method="post" class="form-horizontal">
        <input type="hidden" name="id" id="id" value="$!{emailmanage.id}"/>
           <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">标题：</label>
                        <div class="col-md-8 col-sm-8">
                        	$!{emailmanage.vcTitle}
                        </div>
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">接收对象：</label>
                        <div class="col-md-8 col-sm-8">
                           #if($emailmanage.itype && $emailmanage.itype ==1)
                           		 所有人
                           #elseif($emailmanage.itype && $emailmanage.itype ==2)	
                           		投资者
                           #elseif($emailmanage.itype && $emailmanage.itype ==3)	 
                           		 借款人
                           #end
                        </div>
                    </div>
                </div>
            </div>
              <div class="row">
                <div class="col-xs-12 col-md-8">
                  <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">注册时间：</label>
                        <div class="col-md-8 col-sm-8">
                             $!{emailmanage.dtRegisterStartStr} - $!{emailmanage.dtRegisterEndStr}
                        </div>
                    </div>    
                    </div>
            </div>
              <div class="row">
                <div class="col-xs-12 col-md-8">
                   <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">最后登录时间：</label>
                        <div class="col-md-8 col-sm-8">
                           $!{emailmanage.dtLastLoginStartStr}
								-
						   $!{emailmanage.dtLastLoginEndStr}
                        </div>
                    </div>    
                    </div>
            </div>
              <div class="row">
                <div class="col-xs-12 col-md-8">
                   <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">最后充值时间：</label>
                        <div class="col-md-8 col-sm-8">
                            $!{emailmanage.dtLastRechargeStartStr}
								-
						    $!{emailmanage.dtLastRechargeEndStr}
                        </div>
                    </div>   
                     </div>
            </div>
              <div class="row">
                <div class="col-xs-12 col-md-8">
                   <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">最后投资时间：</label>
                        <div class="col-md-8 col-sm-8">
                            $!{emailmanage.dtLastInvestStartStr}
								-
						    $!{emailmanage.dtLastInvestEndStr}
                        </div>
                    </div>    
                    </div>
            </div>
              <div class="row">
                <div class="col-xs-12 col-md-8">
                   <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">累计充值金额：</label>
                        <div class="col-md-8 col-sm-8">
                            $!{emailmanage.minTotalRecharge}
								-
						     $!{emailmanage.maxTotalRecharge}
                        </div>
                    </div>   
                     </div>
            </div>
              <div class="row">
                <div class="col-xs-12 col-md-8">
                   <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">累计投资金额：</label>
                        <div class="col-md-8 col-sm-8">
                            $!{emailmanage.minTotalInvest}
								-
						    $!{emailmanage.maxTotalInvest}
                        </div>
                    </div>    
                    </div>
            </div>
              <div class="row">
                <div class="col-xs-12 col-md-8">
                   <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">账户余额：</label>
                        <div class="col-md-8 col-sm-8">
                            $!{emailmanage.minTotalBalance}
								-
						    $!{emailmanage.maxTotalBalance}
                        </div>
                    </div>    
                    </div>
            </div>
              <div class="row">
                <div class="col-xs-12 col-md-8">
                   <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">发送时间：</label>
                        <div class="col-md-8 col-sm-8">
                               #if($!{emailmanage.sType} == 1)
                                                                                                立即
                               #elseif($!{emailmanage.sType} == 2)
                                                                                                定时 $!{emailmanage.dtSendStr}
                               #end
                        </div>
                    </div>      
                    </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">内容：</label>
                        <div class="col-md-8 col-sm-8">
                        	$!{emailmanage.vcContent}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">状态：</label>
                        <div class="col-md-8 col-sm-8">
                           #if($emailmanage.istate && $emailmanage.istate ==1)
                           		 刚录入
                           #elseif($emailmanage.istate && $emailmanage.istate ==2)	
                           		发布中
                           #elseif($emailmanage.istate && $emailmanage.istate ==3)	 
                           		 已发布
                           #end
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">创建时间：</label>
                        <div class="col-md-8 col-sm-8">
                          $!{emailmanage.dtCreateStr}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">发布时间：</label>
                        <div class="col-md-8 col-sm-8">
                          $!{emailmanage.dtPublishStr}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">最大数据ID：</label>
                        <div class="col-md-8 col-sm-8">
                          $!{emailmanage.imaxId}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">当前已发布登陆账号ID：</label>
                        <div class="col-md-8 col-sm-8">
                          $!{emailmanage.iCurrentID}
                        </div>
                    </div>
                </div>
            </div> 
            <div class="clearfix form-actions">
                <div class="col-sm-offset-2 col-md-9">
                    <button class="btn" type="button" onclick="javascript:history.go(-1);">
		                <i class="icon-arrow-left bigger-110"></i>返回
		            </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		            <button class="btn btn-info" type="submit">
                        <i class="icon-ok bigger-110"></i> 发布
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
