<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>

            <li>
                <a href="${www}/post">Post列表</a>
            </li>
            <li class="active">新增Post</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>新增Post</h1>
        </div>
        <form action="${www}/post/save" method="post" class="form-horizontal">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">postId：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="postId" value="$!{param.postId}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">项目ID：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="projectId" value="$!{param.projectId}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">projectIcon：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="projectIcon" value="$!{param.projectIcon}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">projectCode：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="projectCode" value="$!{param.projectCode}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">projectEnglishName：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="projectEnglishName" value="$!{param.projectEnglishName}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">帖子标题：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="postTitle" value="$!{param.postTitle}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">帖子类型：1-评测；2-讨论；3-文章：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="postType" value="$!{param.postType}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">剪短描述：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="postShortDesc" value="$!{param.postShortDesc}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">缩略图json，目前最多三张图的url等信息：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="postSmallImages" value="$!{param.postSmallImages}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">评论数量：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="commentsNum" value="$!{param.commentsNum}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">点赞数：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="praiseNum" value="$!{param.praiseNum}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">浏览量：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="pageviewNum" value="$!{param.pageviewNum}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">捐赠人数：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="donateNum" value="$!{param.donateNum}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">收藏人数：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="collectNum" value="$!{param.collectNum}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">用户ID：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="createUserId" value="$!{param.createUserId}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">用户头像：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="createUserIcon" value="$!{param.createUserIcon}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">用户签名：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="createUserSignature" value="$!{param.createUserSignature}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">用户昵称：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="createUserName" value="$!{param.createUserName}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">createTime：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="createTime" value="$!{param.createTime}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">updateTime：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="updateTime" value="$!{param.updateTime}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">uuid：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="uuid" value="$!{param.uuid}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">状态：0-删除；1-有效：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="status" value="$!{param.status}"/>
                        </div>
                    </div>
                    <div class="red">$!{msg}</div>
               	</div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-sm-offset-2 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="icon-ok bigger-110"></i> 提交
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		            <button class="btn btn-info" type="button" onclick="javascript:history.go(-1);">
		                <i class="icon-arrow-left bigger-110"></i>返回
		            </button>
                </div>
            </div>
</form>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->