<script src="${www}/js/my97DatePicker/WdatePicker.js"></script>
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
    	<style>
        	.tab-w{
        		float:left;
				display: block;
			  	margin: 1px;
			  	border: 1px solid #ddd;
			  	width: 100px;
			  	height: 40px;
			  	line-height: 40px;
			  	text-align: center;
			  	cursor: pointer;
			  	background-color: white;
        	}
        	.tab-w-selected{
        		background-color: #eff3f8;
				border-bottom: 0;
        	}
        	.title_w{
        		margin-left: 20px;
				width: 200px;
				color: blue;
				height: 50px;
				line-height: 50px;
        	}
        	.seperate_w{
				height: 1px;
				border-bottom: 2px solid #ddd;
				width: 97%;
				margin: auto;
        	}
        	.table_w{
        		width: 97%;
				margin: auto;
        	}
        	.table_w table{
        		width:100%;
        		margin-top: 10px;
				border-collapse: collapse;
				text-align: center;
				background-color: white;
        	}
        	.table_w table tr td{
        		border:1px solid #ddd;
        		height:35px;
        	}
        </style>
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            
            function changeIstate(id){
            	var className = $("#"+id).attr("class");
            	if(className.indexOf("tab-w-selected")==-1){
            		if(id=="tab1"){
            			window.open("$!{www}/investor/investRepayRecord?istate=1","_self");
            		}else if(id=="tab2"){
            			window.open("$!{www}/investor/investRepayRecord?istate=2","_self");
            		}
            	}
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>
			<li>
                <a href="${www}/investor">投资人</a>
            </li>
            <li class="active">回款信息</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>
	<div class="page-content">
		<div class="page-header">
		    <h1>回款信息</h1>
		</div>
		<div class="container-fluid">
		    <div class="dataTables_wrapper">
		        <div class="row">
		        	<div style="border-bottom: 1px solid #ddd;height: 41px;">
		        	 	<div class="tab-w"><a href="${www}/investor/accountInfo?iloginAccountId=$!{query.iloginAccountId}">账户信息</a></div>
			            <div class="tab-w"><a href="${www}/investor/investrecord?iloginAccountId=$!{query.iloginAccountId}">投资记录</a></div>
			            <div class="tab-w tab-w-selected"><a>回款信息</a></div>
			            <div class="tab-w"><a href="${www}/investor/cashRecord?iloginAccountId=$!{query.iloginAccountId}">资金记录</a></div>
		        		<div class="tab-w"><a href="${www}/investor/redRecord?iloginAccountId=$!{query.iloginAccountId}">红包记录</a></div>
		        	</div>
		        	<div class="col-sm-12" style="margin-top: 10px;border-bottom: 1px solid #ddd;height: 41px;">
		                <div class="tab-w #if($query.istate && $query.istate=='1') tab-w-selected #end" onclick="changeIstate(this.id)" id="tab1">待回款</div>
			            <div class="tab-w #if($query.istate && $query.istate=='2') tab-w-selected #end" onclick="changeIstate(this.id)" id="tab2">已回款</div>
		            </div>
		        </div>
				<table class="table table-striped table-bordered table-hover dataTable">
			    	<thead>
			            <tr>
			                <th>回款时间</th>
			                <th>项目名称</th>
			                <th>回款期数</th>
			                <th>应收本金</th>
			                <th>应收利息</th>
			                <th>应收本息</th>
			            </tr>
			      	</thead>
			       	<tbody>
			        	#foreach($row in $result.rows)
			           	<tr>
			            	<td>$!{row.dtRepayStr}</td>
			            	<td>$!{row.projectName}-$!{row.vcName}</td>
			            	<td>#if($row.numCurrentPeriod==0) 募集期利息
			            		#else $!{row.numCurrentPeriod}/$!{row.numTotalPeriod}
			            		#end
			            	</td>
			            	<td>$!{row.numRepayCorpus}</td>
			            	<td>$!{row.numRepayInterest}</td>
			            	<td>$!{row.numRepayAmount}</td>
			          	</tr>
			            #end
			       	</tbody>
			   	</table>
			   	<div class="row">
			       	<div class="col-sm-12">
			        	<div class="dataTables_paginate paging_bootstrap">
			           		<ul class="pagination">
			               		#set($pageRequestURL="$!{www}/investor/investRepayRecord?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
			               		#paginationHelper($result $pageRequestURL)
			              	</ul>
			           	</div>
			       	</div>
		        </div>
		    </div>
		</div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->