<script src="${www}/js/my97DatePicker/WdatePicker.js"></script>
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>

            <li class="active">投资人</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>
	<div class="page-content">
		<div class="page-header">
		    <h1>投资人列表</h1>
		</div>
		<div class="container-fluid">
		    <div class="dataTables_wrapper">
		        <div class="row">
		            <div class="col-sm-12">
		                <form class="form-inline" role="form">
		                    <div class="form-group">
		                        <label>注册设备：</label>
								<select  name="vcRegisterDevice" id="vcRegisterDevice">
                                    <option value="">请选择</option>
                                    <option value="pc" #if($query.vcRegisterDevice && $query.vcRegisterDevice =='pc') selected #end>PC</option>
                                    <option value="wap" #if($query.vcRegisterDevice && $query.vcRegisterDevice =='wap') selected #end>WAP</option>
    								<option value="ios" #if($query.vcRegisterDevice && $query.vcRegisterDevice =='ios') selected #end>IOS</option>
    								<option value="android" #if($query.vcRegisterDevice && $query.vcRegisterDevice =='android') selected #end>安卓</option>
                                </select>
		                    </div>
		                    <div class="form-group">
								<select  name="timeType" id="timeType">
                                    <option value="dtCreateFuzzy" #if($query.timeType && $query.timeType =='dtCreateFuzzy') selected #end>注册时间</option>
                                    <option value="dtLastLoginFuzzy" #if($query.timeType && $query.timeType =='dtLastLoginFuzzy') selected #end>登录时间</option>
                                </select>
		                    </div>
		                    <div class="form-group">
		                    	<input type="text" name="dtTimeFuzzy" id="dtTimeFuzzy"  style="width:120px;"  onFocus="WdatePicker({lang:'zh-cn'})" value="$!{query.dtTimeFuzzy}" class="input-date">
		                    </div>
		                    <div class="form-group">
								<select  name="personInfoType" id="personInfoType">
									<option value="vcPhone" #if($query.personInfoType && $query.personInfoType =='vcPhone') selected #end>手机号码</option>
                                    <option value="vcName" #if($query.personInfoType && $query.personInfoType =='vcName') selected #end>姓名</option>
                                </select>
		                    </div>
		                    <div class="form-group">
		                    	<input type="text" name="personInfoValue" id="personInfoValue"  style="width:120px;"  value="$!{query.personInfoValue}">
		                    </div>
		                    <div class="form-group">
		                        <button class="btn btn-xs btn-primary" type="submit">搜索</button>
		                    </div>
		                </form>
		            </div>
		        </div>
		        <table class="table table-striped table-bordered table-hover dataTable">
		            <thead>
		            <tr>
		                <th>id</th>
		                <th>姓名</th>
		                <th>手机号码</th>
		                <th>注册时间</th>
		                <th>注册设备</th>
		                <th>最后一次登陆时间</th>
		                <th>实名认证</th>
		                <th>账户状态</th>
		                <th>操作</th>
		            </tr>
		            </thead>
		            <tbody>
		                #foreach($row in $result.rows)
		                #set($temp=($pageIndex - 1)*15+$loopCounter+1)
		                <tr>
		                	<td> $!{row.id} </td>
		                	<td> $!{row.vcName} </td>
		                	<td> $!{row.vcPhone_secret} </td>
		                	<td> $!{row.dtCreateStr} </td>
		                	<td> $!{row.vcRegisterDeviceStr} </td>
		                	<td> $!{row.dtLastLoginStr} </td>
		                	<td> $!{row.iverifyIdcardStr} </td>
		                	<td> $!{row.ivalidStr} </td>
		                    <td><a href="$!{www}/investor/accountInfo?iloginAccountId=$!{row.id}">查看</a>
		                    </td>
		                </tr>
		                #end
		            </tbody>
		        </table>
		        <div class="row">
		            <div class="col-sm-12">
		                <div class="dataTables_paginate paging_bootstrap">
		                    <ul class="pagination">
		                    	#set($pageRequestURL="$!{www}/investor?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
		                    	#paginationHelper($result $pageRequestURL)
		                    </ul>
		                </div>
		            </div>
		       </div>
		       
		    </div>
		</div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->