<script src="${www}/js/my97DatePicker/WdatePicker.js"></script>
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
    	<style>
        	.tab-w{
        		float:left;
				display: block;
			  	margin: 1px;
			  	border: 1px solid #ddd;
			  	width: 100px;
			  	height: 40px;
			  	line-height: 40px;
			  	text-align: center;
			  	cursor: pointer;
			  	background-color: white;
        	}
        	.tab-w-selected{
        		background-color: #eff3f8;
				border-bottom: 0;
        	}
        	.title_w{
        		margin-left: 20px;
				width: 200px;
				color: blue;
				height: 50px;
				line-height: 50px;
        	}
        	.seperate_w{
				height: 1px;
				border-bottom: 2px solid #ddd;
				width: 97%;
				margin: auto;
        	}
        	.table_w{
        		width: 97%;
				margin: auto;
        	}
        	.table_w table{
        		width:100%;
        		margin-top: 10px;
				border-collapse: collapse;
				text-align: center;
				background-color: white;
        	}
        	.table_w table tr td{
        		border:1px solid #ddd;
        		height:35px;
        	}
        </style>
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>
			<li>
                <a href="${www}/investor">投资人</a>
            </li>
            <li class="active">资金流水</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>
	<div class="page-content">
		<div class="page-header">
		    <h1>资金流水</h1>
		</div>
		<div class="container-fluid">
		    <div class="dataTables_wrapper">
		        <div class="row">
		        	<div style="border-bottom: 1px solid #ddd;height: 41px;">
		        	 	<div class="tab-w"><a href="${www}/investor/accountInfo?iloginAccountId=$!{query.iloginAccountId}">账户信息</a></div>
			            <div class="tab-w"><a href="${www}/investor/investrecord?iloginAccountId=$!{query.iloginAccountId}">投资记录</a></div>
			            <div class="tab-w"><a href="${www}/investor/investRepayRecord?iloginAccountId=$!{query.iloginAccountId}">回款信息</a></div>
			            <div class="tab-w"><a href="${www}/investor/cashRecord?iloginAccountId=$!{query.iloginAccountId}">资金记录</a></div>
		        		<div class="tab-w tab-w-selected">红包记录</div>
		        	</div>
		        	<table class="table table-striped table-bordered table-hover dataTable col-sm-10">
			        	<thead>
				            <tr>
				                <th>领取总额</th>
				                <th>已用红包</th>
				                <th>过期红包</th>
				                <th>可用红包</th>
				            </tr>
				      	</thead>
				       	<tbody>
				           	<tr>
				           		<td>$!{red.numTotalEnvelopes}</td>
				           		<td>$!{red.numTotalEnvelopesUsed}</td>
				           		<td>$!{red.numOutDateRed}</td>
				           		<td>$!{red.numEnvelopes}</td>
				          	</tr>
				       	</tbody>
				    </table>
		        	<div class="col-sm-12" style="margin-top: 10px;">
		                <form class="form-inline" role="form">
		                    <div class="form-group">
		                        <label>状态：</label>
								<select  name="itypeP" id="itypeP">
                                    <option value="">全部</option>
                                    <option value="1" #if($query.itypeP && $query.itypeP =='1') selected #end>收入</option>
                                    <option value="2" #if($query.itypeP && $query.itypeP =='2') selected #end>支出</option>
                                </select>
		                    </div>
		                    <div class="form-group">
		                    	<label>操作时间：</label>
		                    	<input type="text" name="dtTimeBeginFuzzy" id="dtTimeBeginFuzzy"  style="width:120px;"  onFocus="WdatePicker({lang:'zh-cn'})" value="$!{query.dtTimeBeginFuzzy}" class="input-date">
		                    </div>
		                    <div class="form-group">——</div>
		                    <div class="form-group">
		                    	<input type="text" name="dtTimeEndFuzzy" id="dtTimeEndFuzzy"  style="width:120px;"  onFocus="WdatePicker({lang:'zh-cn'})" value="$!{query.dtTimeEndFuzzy}" class="input-date">
		                    </div>
		                    <div class="form-group">
		                        <button class="btn btn-xs btn-primary" type="submit">搜索</button>
		                    </div>
		                </form>
		            </div>
		        </div>
				<table class="table table-striped table-bordered table-hover dataTable">
			    	<thead>
			            <tr>
			                <th>时间</th>
			                <th>类型</th>
			                <th>有效期</th>
			                <th>面额</th>
			                <th>状态</th>
			            </tr>
			      	</thead>
			       	<tbody>
			        	#foreach($row in $result.rows)
			           	<tr>
			           		<td>$!{row.dtTimeStr}</td>
			           		<td>$!{row.vcDesp}</td>
			           		<td>$!{row.dtExpiredStr}</td>
			           		<td>$!{row.numAmt}</td>
			           		<td>#if($row.itype==1)收入
			                	#else 支出
			                	#end
			                </td>
			          	</tr>
			            #end
			       	</tbody>
			   	</table>
			   	<div class="row">
			       	<div class="col-sm-12">
			        	<div class="dataTables_paginate paging_bootstrap">
			           		<ul class="pagination">
			               		#set($pageRequestURL="$!{www}/investor/redRecord?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
			               		#paginationHelper($result $pageRequestURL)
			              	</ul>
			           	</div>
			       	</div>
		        </div>
		    </div>
		</div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->