<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.active.ActiveMapper">	
	<resultMap id="BaseResultMap" type="com.tzg.entitys.active.Active">
		<result property="id" jdbcType="INTEGER" column="ID"/>
		<result property="vcName" jdbcType="VARCHAR" column="vcName"/>
		<result property="dtbegin" jdbcType="TIMESTAMP" column="dtbegin"/>
		<result property="dtend" jdbcType="TIMESTAMP" column="dtend"/>
		<result property="vcDesc" jdbcType="VARCHAR" column="vcDesc"/>
		<result property="numBase" jdbcType="INTEGER" column="numBase"/>
		<result property="istate" jdbcType="INTEGER" column="iState"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        ID ,vcName ,dtbegin ,dtend ,vcDesc ,numBase ,iState 
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.tzg.entitys.active.Active" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
	      SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	<![CDATA[
		INSERT INTO tbactive (
        	vcName ,
        	dtbegin ,
        	dtend ,
        	vcDesc ,
        	numBase ,
        	iState 
		) VALUES (
        	#{vcName,jdbcType=VARCHAR} ,
        	#{dtbegin,jdbcType=TIMESTAMP} ,
        	#{dtend,jdbcType=TIMESTAMP} ,
        	#{vcDesc,jdbcType=VARCHAR} ,
        	#{numBase,jdbcType=INTEGER} ,
        	#{istate,jdbcType=INTEGER} 
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.active.Active">
		UPDATE tbactive
		<set>
			<if test="vcName != null">
	        vcName = #{vcName,jdbcType=VARCHAR} ,
	        </if>
			<if test="dtbegin != null">
	        dtbegin = #{dtbegin,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="dtend != null">
	        dtend = #{dtend,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="vcDesc != null">
	        vcDesc = #{vcDesc,jdbcType=VARCHAR} ,
	        </if>
			<if test="numBase != null">
	        numBase = #{numBase,jdbcType=INTEGER} ,
	        </if>
			<if test="istate != null">
	        iState = #{istate,jdbcType=INTEGER} 
	        </if>
	    </set>
		WHERE 
	        ID = #{id,jdbcType=INTEGER} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM tbactive WHERE
        ID = #{id} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM tbactive 
		WHERE 
        ID = #{id} 
	]]>
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from tbactive where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from tbactive where 1=1
		<include refid="queryWhere"/> 
	    <![CDATA[ ORDER BY id DESC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
	
	<sql id="queryWhere">
		<if test="id != null and id.trim() != ''">
		and ID = #{id}
		</if>
		<if test="vcName != null and vcName.trim() != ''">
		and vcName like "%"#{vcName}"%"
		</if>
		<if test="dtbeginBegin != null and dtbeginBegin.trim() != ''">
		and dtbegin >= #{dtbeginBegin}
		</if>
		<if test="dtbeginEnd != null and dtbeginEnd.trim() != ''">
		and dtbegin &lt;= #{dtbeginEnd}
		</if>
		<if test="dtendBegin != null and dtendBegin.trim() != ''">
		and dtend >= #{dtendBegin}
		</if>
		<if test="dtendEnd != null and dtendEnd.trim() != ''">
		and dtend &lt;= #{dtendEnd}
		</if>
		<if test="vcDesc != null and vcDesc.trim() != ''">
		and vcDesc = #{vcDesc}
		</if>
		<if test="numBase != null and numBase.trim() != ''">
		and numBase = #{numBase}
		</if>
		<if test="istate != null and istate.trim() != ''">
		and iState = #{istate}
		</if>
		
		<if test="dtbeginStr != null and dtbeginStr.trim() != ''">
		and DATE_FORMAT(dtend,'%Y-%m-%d') &gt;= #{dtbeginStr}
		</if>
		
			<if test="dtendStr != null and dtendStr.trim() != ''">
			and DATE_FORMAT(dtbegin,'%Y-%m-%d') &lt;= #{dtendStr}
		</if>
		
	</sql>
</mapper>


