#set($layout = "/layout/blank.vm")
#set($version = 1)
<!doctype html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>邀请好友</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telphone=no,email=no">
<style type="text/css">
html {
	height:100%;
	font-size:62.5%;
}
@media screen and (max-width:640px) {
	html {
		font-size:53.33333333%
	}
}
@media screen and (max-width:560px) {
	html {
		font-size:46.66666667%
	}
}
@media screen and (max-width:480px) {
	html {
		font-size:40%
	}
}
@media screen and (max-width:400px) {
	html {
		font-size:33.33333333%
	}
}
@media screen and (max-width:320px) {
	html {
		font-size:26.66666667%
	}
}
body {
	position:relative;
	margin:0 auto;
	max-width:750px;
	min-width:320px;
	min-height:100%;
	color: #222;
	font:2.4rem/1.6666667 Helvetica,"Microsoft Yahei",sans-serif;
	background-color: #fff;
}

.container {
	overflow: hidden;
}
.qrcode-wrapper {
	margin: 12% auto 0;
	width: 56.67%;
}
.cat {
	position: relative;
	z-index: 5;
	display: block;
	margin: 0 auto -5%;
	width: 38.82%;
}
.qrcode-box {
	overflow:hidden;
	border: 1px solid #d5d5d5;
	border-radius: 0.54em;
}
.invite-code {
	padding-top: 3%;
	text-align: center;
	font-size: 2.8rem;
	line-height: 2.5;
	background-color: #f2f2f2;
}
.invite-code em {
	padding-left: .5em;
	color: #f94a47;
	font-style: normal;
}

.qrcode {
	text-align:center
}
.qrcode img {
	width: 100%;
	vertical-align: top;
}

.invite-word {
	margin-top: 18%;
	text-align: center;
	font-size: 3rem;
}
.invite-word .red-packet {
	color: #f94a47;
}
.invite-word .red-packet em {
	line-height: 1;
	font-style: normal;
	font-size: 120%;
}

.invite-btn {
	display: block;
	margin: 3% auto 0;
	width: 85.33%;
	text-align: center;
	text-decoration: none;
	line-height: 2.1;
	font-size: 4.2rem;
	color: #fff;
	border-radius: .14em;
	background-color: #1992f5;
}
</style>
</head>

<body>

	<div class="container">
		<div class="qrcode-wrapper">
			<img src="$!{basePath}/app/images/invite-friends-cat.png" alt="铜猫" class="cat">
			<div class="qrcode-box">
				<div class="invite-code">您的邀请码<em id="j_qrcode"></em></div>
				<div class="qrcode"><img data-original-src="$!{basePath}/app/subject/inviteFriendsQRcode" src="" alt="铜掌柜二维码" id="j_qrcode_img"></div>
			</div>
		</div>

		<div class="invite-word">邀请好友扫描二维码，奖励<span class="red-packet"><em>$!{amount}</em>元</span>红包</div>
		<a href="#" class="invite-btn" id="j_share_btn">邀请好友</a>
	</div>
<script src="$!{basePath}/assets/js/modules/zepto.min.js"></script>
<script type="text/javascript">
try{window.loginKey=window.android.getSecret()}catch(e){}
var basePath = '$!{basePath}';
(function(loginKey) {
	if (!loginKey) {
		return;
	}
	$.getJSON(basePath + "/app/subject/inviteFriendsLoginKey", { loginKey: loginKey }, function(data) {
		if (data.success) {
			var loginKey = data.key;
			document.getElementById("j_qrcode").innerHTML = loginKey;
			var qrcodeImg = document.getElementById("j_qrcode_img");
			var originalURL = qrcodeImg.getAttribute("data-original-src");
			qrcodeImg.src = originalURL + "?key=" + loginKey;

			var shareLink = [];
			shareLink.push(basePath);
			shareLink.push("/register/invite?key=");
			shareLink.push(loginKey);
			shareLink.push("@app:sharetitle=这回狠赚了一笔&sharecontent=我正在使用收益率最高的理财app铜掌柜，注册就送60元，你来投资就知道了。");
			$("#j_share_btn").attr("href", shareLink.join(""));
		} else {
			self.locatio.href = basePath + "/";
		}
	});
})(window.loginKey);
</script>

<div style="position:fixed;left:-150px;width:100px;">
##百度统计
<img src="$sc.getBaidu($request,$response,'b274beec7e93e435fc242fc634bb5c73')" width="0" height="0" />
##cnzz统计
<img src="$sc.getCnzz($request,$response,1254699603)" width="0" height="0" />
</div>

##<div style="position:absolute;left:-200px;width:100px;">#parse("/layout/wap/statistic.vm")</div>
</body>
</html>
