#set($layout = "/app/layout/default.vm")
#set($pageName="问题解答")

<ul class="qa-list container-spacing" id="j_qa_list">
	<li><div class="qa-list_title">1.&nbsp;什么是铜钱宝？</div>
		<div class="qa-list_content">铜钱宝是铜掌柜推出的一款活期理财产品，该产品是由多种理财产品组合而成，兼顾安全性和高收益的特点。铜钱宝每日收益率不固定，由组合内各产品收益共同决定，投资者可以随时转入，随时转出，在持有期内，享受产品收益。</div>
	</li>
	<li><div class="qa-list_title">2.&nbsp;铜钱宝最低转入金额是多少？</div>
		<div class="qa-list_content">最低转入金额为$!{currentbaoproject.numMinAmount}元。</div>
	</li>
	<li><div class="qa-list_title">3.&nbsp;铜钱宝最高转入金额是多少？</div>
		<div class="qa-list_content">最高转入金额为$!{currentbaoproject.numMaxAmount}元。</div>
	</li>
	<li><div class="qa-list_title">4.&nbsp;转入铜钱宝后，什么时候开始计息？</div>
		<div class="qa-list_content">次日开始计息，第3天显示收益。</div>
	</li>
	<li><div class="qa-list_title">5.&nbsp;转出铜钱宝当天的利息是否有利息？</div>
		<div class="qa-list_content">转出当日，投资者享有当日收益。</div>
	</li>
	<li><div class="qa-list_title">6.&nbsp;铜钱宝利息如何结算？</div>
		<div class="qa-list_content">利息每日0点结算前一天收益，收益直接结算到投资者的铜掌柜账户内。</div>
	</li>
	<li><div class="qa-list_title">7.&nbsp;转入转出铜钱宝手续费是否收取？</div>
		<div class="qa-list_content">铜钱宝转入转出均不收取任何手续费。</div>
	</li>
	<li><div class="qa-list_title">8.&nbsp;铜钱宝年化利率如何计算？</div>
		<div class="qa-list_content">铜钱宝的每日年化收益率是根据组合内的各产品的加权平均收益率计算出来的。</div>
	</li>
	<li><div class="qa-list_title">9.&nbsp;转出铜钱宝有没有次数和金额限制？</div>
		<div class="qa-list_content">铜钱宝转出和金额没有限制。</div>
	</li>
	<li><div class="qa-list_title">10.&nbsp;转出铜钱宝后，资金什么时候到账？</div>
		<div class="qa-list_content">转出后夜间0点结算到投资者的铜掌柜账户。</div>
	</li>
	<li><div class="qa-list_title">11.&nbsp;铜钱宝安全么？</div>
		<div class="qa-list_content">铜钱宝是由多种组合理财产品组合而成，有效分散风险，投资者转出时，由投资单位无条件回购，所以铜钱宝是安全的。</div>
	</li>
	<li><div class="qa-list_title">12.&nbsp;转入铜钱宝有哪些方式？</div>
		<div class="qa-list_content">转入铜钱宝有两种方式：1. 手动转入；2. 自动转入，需投资者开通此功能。</div>
	</li>
</ul>
<script type="text/javascript">
(function() {
	var listContainer = document.getElementById("j_qa_list");
	var items = listContainer.getElementsByTagName("li");
	for (var i=0,l=items.length; i<l; i++) {
		items[i].addEventListener("click", function (e) {
			this.className = ( this.className.indexOf("-open") > -1 ? "" : "-open" );
		}, false);
	}
})();
</script>