#set($layout = "/app/layout/default.vm")
#set($pageName="项目信息")

<div class="swiper-container">
	<ul class="swiper-pagination tab">
		<li class="-active"><a href="javascript:;">项目信息</a></li>
		## <li><a href="javascript:;">安全保障</a></li>
		<li><a href="javascript:;">投资记录</a></li>
		<li><a href="javascript:;">还款计划</a></li>		
	</ul>
	<div class="swiper-wrapper">
        <div class="swiper-slide" title="项目信息">
        	<div class="container-spacing container-r-spacing ptb20" j-tab-content>
				## <div class="titleA">项目简介</div>
				## <div class="text-contentA ptb30 pt15">$!{subject.vcShortDesp}</div>

				#if($project.vcPurpose && $project.vcPurpose != "")
				<div class="titleA">项目简介</div>
				<div class="text-contentA ptb30 pt15">$!{project.vcPurpose}</div>
				#end

				#if ($project.partnersIntroduce && $project.partnersIntroduce != "")
				<div class="titleA">机构简介</div>
				<div class="text-contentA ptb30 pt15">$!{project.partnersIntroduce}</div>
				#end
				
				#if ($project.vcRepaymentSource && $project.vcRepaymentSource != "")
				<div class="titleA">保障措施</div>
				<div class="text-contentA ptb30 pt15">$!{project.vcRepaymentSource}</div>
				#end

				#if($projectsuggestions.vcOpinionLawyer && $projectsuggestions.vcOpinionLawyer!="")
				<div class="titleA">法律意见</div>
				<div class="text-contentA ptb30 pt15">$!{projectsuggestions.vcOpinionLawyer}</div>
				#end

				#if ($projectattachList.size() > 0)
				<div class="titleA">相关材料</div>
				<div class="file-box ptb30 pt15">
					<ul class="file-list" id="j_relative_files">
						#set($index = 0)
			    		#foreach($item in $projectattachList)
			        		<li>
			        			<div class="title-graybg">$!{item.vcAttachName}</div>
			    				<img alt="$!{item.vcAttachName}" src="$!{staticUploadUrl}$!{item.vcFilePath}">
			    			</li>
			    		#end
			    	</ul>
				</div>
				#end
			</div>
        </div>
   ##      <div class="swiper-slide" title="安全保障">
			## <div j-tab-content class="container-spacing container-r-spacing ptb20">
			
			## 	<div class="titleA">保障措施</div>
			## 	<div class="text-contentA ptb30 pt15">$!{project.vcRepaymentSource}</div>
				## <div class="file-box ptb30 pt15">
				## 	<ul class="imgtag-list2">
				## 	#foreach($item in $safeguardList)
				## 		<li>
				## 			<img src="$!{staticUploadUrl}$!{item.vcUrl}" alt="">
				## 			<span class="name">$!{item.vcName}</span>
				## 		</li>
				## 	#end
				## 	</ul>
			 ##    </div>
			## </div>
   ##      </div>
        <div class="swiper-slide" title="投资记录">
			<div j-tab-content class="container-spacing container-r-spacing mb20">
				<table class="dataset">
					<thead>
						<tr>
							<th>投资人</th>
							<th>投资金额(元)</th>
							<th class="-datetime">投资时间</th>
						</tr>
					</thead>
					<tbody id="j_list_container"></tbody>
				</table>
				<div class="load-more" id="j_load_more" style="display:none">点击查看更多</div>
			</div>
        </div>
        
        <div class="swiper-slide" title="还款计划">
			<div j-tab-content class="container-spacing container-r-spacing mb20">
				<ul class="prop-list" id="j_record_list_container">
				</ul>
				<div class="load-more" id="j_record_load_more" style="display:none">点击查看更多</div>
			</div>
        </div>
	</div>
</div>

<script src="$!{staticPath}/js/lib/sea.js?v=$!{staticVersion}" id="seajsnode"></script>
<script src="$!{basePath}/assets/js/modules/swiper.min.js"></script>

<script type="text/template" id="j_list_template">
[@each rows as item]
	<tr>
		<td>$[item.loginAccountName]</td>
		<td>$[item.numInvest]元</td>
		<td class="-datetime">$[item.dtInvestStr]</td>
	</tr>
[@/each]
</script>

<script type="text/template" id="j_record_list_template">
[@each rows as item]
	<li>
		<p><span class="prop-list_label">还款金额：</span>$[item.numRepayAmount|toCurrency]元</p>
		<p><span class="prop-list_label">还款日期：</span>$[item.dtRepayStr]</p>
		<p><span class="prop-list_label">还款类型：</span>
			[@if item.itype==1]本息
			[@else if item.itype==2]本金
			[@else if item.itype==3]利息
			[@/if]
		</p>
		<p><span class="prop-list_label">期　　次：</span>$[item.numCurrentPeriod]</p>
	</li>
[@/each]
</script>

<script>
	seajs.use(["$", "module/list-loader"], function($, ListLoader) {
		var loader = new ListLoader({
			requestURL: basePath + '/subject/investRecord/list'
		});
		loader.load();

		var record_loader = new ListLoader({
			requestURL: basePath + '/subject/repayPlan/list',
			template: "#j_record_list_template",		// 模板容器
			container: "#j_record_list_container",		// 列表容器
			loadMoreBtn: "#j_record_load_more",
		});
		record_loader.load();
	});

	(function(){
		var swiper = new Swiper('.swiper-container', {
	        pagination: '.swiper-pagination',
	        paginationClickable: true
	    });

		var locationHash = self.location.hash;
		if (locationHash && /^#tab\-\d+$/g.test(locationHash)) {
			var lhTabIndex = parseInt(locationHash.substr(5));
			if (!isNaN(lhTabIndex) && lhTabIndex >= 0) {
				swiper.slideTo(lhTabIndex);
			}
		}
	})();
</script>
