<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>

            <li>
                <a href="${www}/investcompanywithdrawalsaudit">充值申请记录</a>
            </li>
            <li class="active">审批</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>申请单详情</h1>
        </div>
        <form class="form-horizontal">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">申请单id：</label>
                        <div class="col-md-8 col-sm-8">
                            $!{param.id}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">资金来源</label>
                        <div class="col-md-8 col-sm-8">
                            #if($param.isourcetype==1) 平台
		                	#elseif($param.isourcetype==2) 备用金
							#elseif($param.isourcetype==3) 投资公司
		                	#end
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">操作类型</label>
                        <div class="col-md-8 col-sm-8">
                            #if($param.ioperatetype==1) 充值
		                	#elseif($param.ioperatetype==2) 提现
		                	#end
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">金额：</label>
                        <div class="col-md-8 col-sm-8">
                        	$!{param.numamount}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">后台登陆人员的账号主键：</label>
                        <div class="col-md-8 col-sm-8">
                        	$!{param.vcRealName}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">当前审批流程：</label>
                        <div class="col-md-8 col-sm-8">
                        	#if($param.vcCurrentFlow==1) 总经理
		                	#elseif($param.vcCurrentFlow==2) 部门经理
		                	#elseif($param.vcCurrentFlow==3) 主管
		                	#elseif($param.vcCurrentFlow==4) 员工
		                	#end
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">状态</label>
                        <div class="col-md-8 col-sm-8">
                        	#if($param.istate==1) 刚录入
		                	#elseif($param.istate==2) 已提交
		                	#elseif($param.istate==3) 审核通过
		                	#elseif($param.istate==4) 审核未通过
		                	#end
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">创建时间：</label>
                        <div class="col-md-8 col-sm-8">
                        	$!{param.dtCreateStr}
                        </div>
                    </div>
                    
                 </div>
            </div>
        </form>
        #if($!{auditFlow.rows})
        	<div class="page-header">
			    <h1>历史审核记录</h1>
			</div>
			<div class="container-fluid">
			    <div class="dataTables_wrapper">
        			<table class="table table-striped table-bordered table-hover dataTable">
			            <thead>
			            <tr>
			                <th width="90px">审核等级</th>
			                <th width="90px">审核人</th>
			                <th width="90px">审核状态</th>
			                <th>审核意见</th>
			                <th width="150px">审核时间</th>
			            </tr>
			            </thead>
			            <tbody>
			                #foreach($row in $auditFlow.rows)
			                <tr>
			                	<td>#if($row.vcApproveLevel==1) 总经理
			                		#elseif($row.vcApproveLevel==2) 部门经理
			                		#elseif($row.vcApproveLevel==3) 主管
			                		#elseif($row.vcApproveLevel==4) 员工
			                		#end
			                	</td>
			                	<td> $!{row.vcApproverName} </td>
			                	<td>
			                		#if($row.istate==1) 审核通过 #end
			                	  	#if($row.istate==2) 终止 #end
			                	  	#if($row.istate==3) 退回 #end
			                	</td>
			                	<td> $!{row.vcApproveIdea} </td>
			                	<td> $!{row.dtApproveStr} </td>
			                </tr>
			                #end
			            </tbody>
			        </table>
			   	</div>
			</div>
		#end
		
		#if($!{token})
        <div class="page-header">
            <h1>审批意见</h1>
        </div>
        <form action="${www}/investcompanywithdrawalsaudit/approval" class="form-horizontal" method="post" id="auditForm">
        	<input type="hidden" id="token" name="token" value="$!{token}"/>
        	<input type="hidden" id="sourceId" name="sourceId" value="$!{param.id}"/>
        	<div class="row">
        		<div class="col-xs-12 col-md-8">
        			<div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">审批结果：</label>
                        <div class="col-md-8 col-sm-8">
                            <select name="iState" id="iState">
                            	<option value="">请选择</option>
	                            <option value="1">通过</option>
	                            <option value="3">退回</option>
	                            <option value="2">终止</option>
	                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">审核意见：</label>
                        <div class="col-md-8 col-sm-8">
                        	<textarea name="vcApproveIdea" id="vcApproveIdea" style="margin: 0px; width: 587px; height: 127px;"></textarea>
                        </div>
                    </div>
        		</div>
        	</div>
        	<div class="clearfix form-actions">
		        <div class="row">
		            <div class="col-md-8">
		                <div class="col-sm-offset-4 col-md-9">
		                	#if($!{token})
		    					<input type= "hidden" name="lastFlow"  id="lastFlow" value="${lastFlow}"/>
		    					#if($!lastFlow == "1")  
		    						<input type="button" value="获取验证码" id="getVerifyCode" style="margin-left:10px;margin-right:10px;"/> 
		    						验证码：<input type="text" style="width:80px" name="code" id="code"  style="margin-left:10px;"/>
		    				    #end 	
		                    <button class="btn btn-info" type="button" onclick="checkForm()">
		                        <i class="icon-ok bigger-110"></i>完成审核
		                    </button>
		                    #end
		                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                    <button class="btn" type="button" onclick="javascript:history.go(-1);">
		                        <i class="icon-arrow-left bigger-110"></i>返回
		                    </button>
		                </div>
		            </div>
		        </div>
		    </div>
        </form>
        #end
    </div>
</div>
#if($request.getParameter("msg"))
	<script type="text/javascript">
		$(function(){
			alert('$!{request.getParameter("msg")}');
		})
	</script>
#end
<script>
function checkForm(){
	 	var vcApproveIdea = document.getElementById("vcApproveIdea");
	 	var auditForm = document.getElementById("auditForm");
	 	var iState = document.getElementById("iState");
	 	
	 	if(iState.value==""){
	 		alert("审核结果不能为空");
    		iState.focus();
    		return false;
	 	}
	 	if(vcApproveIdea.value == ""){
    		alert("审核意见不能为空");
    		vcApproveIdea.focus();
    		return false;
	    }
		if($("#lastFlow").val()=='1'){
			if($("#code").val()==""){
    			alert("短信验证码不能为空");
        		$("#code").focus();
        		return false;
    		}
    		jQuery.post("${www}/dynamicValidateCode/companyfinancialaudit/verifyCode",{code:$("#code").val(),id:${param.id}},
        		function(r){
    				if(r.success){
    					auditForm.submit();
    				}else{
    					alert("验证码错误");
						return false;
    				}
    		});
		}else{
			auditForm.submit();
		}
}
$(function(){
	if($("#lastFlow").val()=='1'){
   		$("#code").blur(function(){
    		jQuery.post("${www}/dynamicValidateCode/companyfinancialaudit/verifyCode",{"code":$("#code").val(),id:${param.id}},
    			function(r){
    				if(r.success){
    					 
    				}else{
    					alert("验证码错误");
    				}
    			
    			});
    		});
    	$("#getVerifyCode").click(function(){
    		jQuery.post("${www}/dynamicValidateCode/companyfinancialaudit/send",{"id":${param.id}},function(){alert("发送成功，请注意接收短信。");});
    	});
	} 	
});
</script>
