<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.approvalrating.ApprovalRatingMapper">
    <resultMap id="BaseResultMap" type="com.tzg.entitys.approvalrating.ApprovalRating">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="vcApprovalName" jdbcType="VARCHAR" property="vcApprovalName" />
    </resultMap>
    
       <sql id="Base_Column_List" >
	    	id, vcApprovalName
	   </sql>
    
    <insert id="save" parameterType="com.tzg.entitys.approvalrating.ApprovalRating"
            useGeneratedKeys="true" keyProperty="id">
        insert into tbapprovalrating(vcApprovalName)
        values (#{vcApprovalName,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.tzg.entitys.approvalrating.ApprovalRating">
        update tbapprovalrating set
         vcApprovalName = #{vcApprovalName,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER};
    </update>

    <select id="queryApprovalRatingCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(*) from  tbapprovalrating a where 1=1
        <if test="vcApprovalName != null">
            and  vcApprovalName like "%"#{vcApprovalName}"%"
        </if>
        ORDER BY a.id DESC
    </select>

    <select id="queryApprovalRatings" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * from  tbapprovalrating a where 1=1
        <if test="vcApprovalName != null">
            and  vcApprovalName like "%"#{vcApprovalNames}"%"
        </if>
        ORDER BY a.id DESC
        <![CDATA[ limit ${startRecord},${endRecord} ]]>
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * from  tbapprovalrating a where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from tbapprovalrating where id = #{id,jdbcType=INTEGER}
    </delete>
    
    <select id="queryApprovalratingAll" resultMap="BaseResultMap">
    	select * from tbapprovalrating
    </select>
    
    <select id = "queryByApprovalName"  parameterType="java.lang.String"  resultMap="BaseResultMap">
    	select * from tbapprovalrating where vcApprovalName = #{vcApprovalName,jdbcType=VARCHAR}
    </select>
    
    
    <select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from tbapprovalrating
    	<include refid="pageCondition"/>
	</select>
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 
		<include refid="Base_Column_List"/>  
		from tbapprovalrating 
		<include refid="pageCondition"/>
		ORDER BY id DESC
       <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
  	<!-- 分页查询条件 -->
	<sql id="pageCondition">
		<where>
			<if test="vcApprovalName != null">
			 vcApprovalName like "%"#{vcApprovalName}"%"
			</if>
		</where>
	</sql>
    
    
</mapper>