#**
 * 主标题栏
 * Author: 吴岸林
 *#
<header class="v3-topbar">
	<h1 class="v3-topbar_title">$!topbar.title</h1>
	#if ($topbar.backLink != "no")
		#if ($topbar.backLink)
			<a href="$!topbar.backLink" class="v3-topbar_back"></a>
		#else
			<a href="javascript:self.history.go(-1)" class="v3-topbar_back"></a>
		#end
	#end
</header>
