<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            
             //删除确认框
            function delFun(id){
            	var flag = confirm("确认把该记录置为无效吗？")
            	if (flag == true){
            		window.location.href="${www}/uploadfile/delete?id=" + id;
            	}   
            }
            
            //同步所有未同步文件
            function syncFun(){
            	var flag = confirm("确认同步所有未同步文件吗？")
            	if (flag == true){
            		window.location.href="${www}/uploadfile/sync";
            	}
            }
            
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>

            <li>
                <a href="${www}/uploadfile">上传资料列表</a>
            </li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>上传资料列表</h1>
        </div>
        <div class="container-fluid">
        
       #if(${msg})
        	<div>
			#if(${success})
        		<li class="text-success">$!{msg}</li>
   			 #else
        		<li class="text-danger">$!{msg}</li>
   			 #end    	
   			</div>
   		#end	         
        
            <div class="dataTables_wrapper">
                <div class="row">
                    <div class="col-sm-10">
                        <form class="form-inline" role="form">
                               <div class="form-group">
                                <label>名称：</label>
                                <input type="text" name="vcName" value="$!{query.vcName}">
                            </div>
                            <div class="form-group">
	                            <label>类型：</label>
	                            	<select name="itype" id="itype">
		                                <option value="">全部</option>
		                               <!-- <option value="1" #if($query.itype && $query.itype ==1) selected #end>合同模板</option>-->
		                                <!--  <option value="2" #if($query.itype && $query.itype ==2) selected #end>风控附件（PC适用）</option>-->
		                                <option value="3" #if($query.itype && $query.itype ==3) selected #end>焦点图</option>
		                                <option value="4" #if($query.itype && $query.itype ==4) selected #end>保障措施图片</option>
		                                 <!-- <option value="5" #if($query.itype && $query.itype==5) selected #end>风控附件（非PC适用）</option>-->
		                                 <!-- <option value="6" #if($query.itype && $query.itype ==6) selected #end>风控审核清单</option>-->
		                                <option value="7" #if($query.itype && $query.itype ==7) selected #end>合作机构LOGO</option>
		                                <option value="8" #if($query.itype && $query.itype ==8) selected #end>媒体报告LOGO</option>	
		                                <option value="9" #if($query.itype && $query.itype ==9) selected #end>新闻动态副图</option>		
		                                <option value="13" #if($query.itype && $query.itype ==13) selected #end>原理图</option>
		                                <option value="14" #if($query.itype && $query.itype ==14) selected #end>App欢迎页</option>	
		                                <option value="15" #if($query.itype && $query.itype ==15) selected #end>SEO推荐管理</option> 		                                                        
		                            </select>
                                </div>
                              <div class="form-group">  
                                <label>状态：</label>
                                <select name="istate">
                                	<option value="">全部</option>
	                                <option value="1" #if($query.istate && $query.istate ==1) selected #end>未同步</option>
	                                <option value="2" #if($query.istate && $query.istate ==2) selected #end>已同步</option>
	                            </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-xs btn-primary" type="submit">查询</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-1 text-right">
                        <a href="${www}/uploadfile/new" class="btn btn-success btn-xs">添加</a>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                    <tr>
                    	<th>类型</th>
                        <th>名称</th>
                        <th>服务器存放路径</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($row in $result.rows)
                        <tr>
                        	<td>
                        		#if(${row.itype} == "1")
                        			合同模板
                        		#elseif(${row.itype} == "2")
                        			风控附件（PC适用）
                        		#elseif(${row.itype} == "3")
                        			焦点图
                        		#elseif(${row.itype} == "4")
                        			保障措施图片
                        		#elseif(${row.itype} == "5")
                        			风控附件（非PC适用）
                    			#elseif(${row.itype} == "6")
                    				风控审核清单
                        		#elseif(${row.itype} ==7)
                        			合作机构LOGO
                        		#elseif(${row.itype} ==8)
                        			媒体报告LOGO         
                        		#elseif(${row.itype} ==9)
                        			新闻动态副图       
                        		#elseif(${row.itype} ==13)
                        			原理图             
                        		#elseif(${row.itype} ==14)
                        			App欢迎页      
                        		#elseif(${row.itype} ==15)
                        			SEO推荐管理
                        		#end
                        	</td>
                        	<td>         
                        		<a href="${www}/uploadfile/detail?id=${row.id}">${row.vcName}</a>
                        	</td>
                        	<td> 
                        		${row.vcUrl}
                        	</td>
                        	<td> 
                        		#if(${row.istate} == "1")
                        			未同步
                        		#elseif(${row.istate} == "2")
                        			已同步
                        		#end
                        	</td>
                        	<td> 
                        		#if($!{row.dtCreate})
                            		$dateTool.format("yyyy-MM-dd HH:mm:ss", $!{row.dtCreate}) 
                            	#end
                        	</td>
                            <td>
                            	#if(${row.istate} == "1")
                            		<a href="${www}/uploadfile/find?id=${row.id}">修改</a>
                            	#end
                            </td>
                        </tr>
                        #end
                    </tbody></table>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="dataTables_paginate paging_bootstrap">
                            <ul class="pagination">
                                #set($pageRequestURL="${www}/uploadfile?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
                                #paginationHelper($result $pageRequestURL)
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->
