<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
    	<script src="${www}/js/my97DatePicker/WdatePicker.js"></script>
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            
            //...
           
            
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>

            <li class="active">项目风控审核目录详情</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>项目风控审核目录详情</h1>
        </div>
    		<div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">项目：</label>
                        <div class="col-md-8 col-sm-8">
                        	$!{iProjectName}
                        </div>
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">目录类型名称：</label>
                        <div class="col-md-8 col-sm-8">
                        	$!{projectcataloglist.vcCatalogTypeName}
                        </div>
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">目录类型名称排序：</label>
                        <div class="col-md-8 col-sm-8">
                        	$!{projectcataloglist.iCatalogTypeSort}
                        </div>
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">目录名称：</label>
                        <div class="col-md-8 col-sm-8">
                        	$!{projectcataloglist.vcCatalogName}
                        </div>
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">目录名称排序：</label>
                        <div class="col-md-8 col-sm-8">
                        	$!{projectcataloglist.iCatalogSort}
                        </div>
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">图标文件路径：</label>
                        <div class="col-md-8 col-sm-8">
                        	$!{projectcataloglist.vcCatalogIconURL}
                        </div>
                    </div>
                </div>
             </div> 
              
    </div>

            <div class="clearfix form-actions">
                <div class="row">
                    <div class="col-md-8">
                        <div class="col-sm-offset-4 col-md-9">
                            <button class="btn" type="button" onclick="javascript:history.go(-1);">
                                <i class="icon-arrow-left bigger-110"></i>返回
                            </button>
                        </div>
                    </div>
                </div>
            </div>
</div><!-- /.page-content -->
</div><!-- /.main-content -->
