#set($pageName = "设置交易密码")
#set($bodyClass = "body--gray")
#set($pageFootCode = '<script>seajs.use("page/setup-pay-password")</script>')
#set($topbar = { "title": $pageName })

<form method="post" action="$!{basePath}/user/payPassword/setupPayPassword" id="j_setup-pay-password">
	<ul class="m-frm">
		<li class="m-frm-itm">
			<label class="m-frm-lbl">交易密码 <sub>密码由8-20位数字、字母或常用字符组成</sub></label>
			<div class="icon-input">
				<input type="password" name="password" class="u-ipt" placeholder="请输入交易密码" maxlength="20" required>
				<i>&#xe615;</i>
			</div>
		</li>
		<li class="m-frm-itm">
			<label class="m-frm-lbl">确认密码</label>
			<div class="icon-input">
				<input type="password" name="confirmPassword" class="u-ipt" placeholder="再次输入交易密码" maxlength="20" required>
				<i>&#xe615;</i>
			</div>
		</li>
		<li class="m-frm-itm--btn">
			<button class="u-btn z-scs z-fll z-ldg" type="submit">确定</button>
		</li>
	</ul>
	<input type="hidden" name="token" value="$!{forget_pay_password_token}">
</form>
