<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.kffproject.ProjectMapper">	
	<resultMap id="BaseResultMap" type="com.tzg.entitys.kffproject.Project">
		<result property="projectId" jdbcType="INTEGER" column="project_id"/>
		<result property="projectIcon" jdbcType="VARCHAR" column="project_icon"/>
		<result property="state" jdbcType="INTEGER" column="state"/>
		<result property="projectCode" jdbcType="VARCHAR" column="project_code"/>
		<result property="projectEnglishName" jdbcType="VARCHAR" column="project_english_name"/>
		<result property="projectChineseName" jdbcType="VARCHAR" column="project_chinese_name"/>
		<result property="projectSignature" jdbcType="VARCHAR" column="project_signature"/>
		<result property="websiteUrl" jdbcType="VARCHAR" column="website_url"/>
		<result property="listed" jdbcType="INTEGER" column="listed"/>
		<result property="issueDate" jdbcType="DATE" column="issue_date"/>
		<result property="issueNum" jdbcType="INTEGER" column="issue_num"/>
		<result property="whitepaperUrl" jdbcType="VARCHAR" column="whitepaper_url"/>
		<result property="projectTypeName" jdbcType="VARCHAR" column="project_type_name"/>
		<result property="projectTypeId" jdbcType="INTEGER" column="project_type_id"/>
		<result property="projectDesc" jdbcType="LONGVARCHAR" column="project_desc"/>
		<result property="submitUserId" jdbcType="INTEGER" column="submit_user_id"/>
		<result property="submitUserContactInfo" jdbcType="VARCHAR" column="submit_user_contact_info"/>
		<result property="submitUserType" jdbcType="INTEGER" column="submit_user_type"/>
		<result property="submitReason" jdbcType="LONGVARCHAR" column="submit_reason"/>
		<result property="status" jdbcType="INTEGER" column="status"/>
		<result property="createTime" jdbcType="TIMESTAMP" column="createTime"/>
		<result property="publishTime" jdbcType="TIMESTAMP" column="publishTime"/>
		<result property="updateTime" jdbcType="TIMESTAMP" column="updateTime"/>
		<result property="totalScore" jdbcType="DECIMAL" column="total_score"/>
		<result property="raterNum" jdbcType="INTEGER" column="rater_num"/>
		<result property="followerNum" jdbcType="INTEGER" column="follower_num"/>
		<result property="commentsNum" jdbcType="INTEGER" column="comments_num"/>
		<result property="collectNum" jdbcType="INTEGER" column="collect_num"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        project_id ,project_icon ,state ,project_code ,project_english_name ,project_chinese_name ,project_signature ,website_url ,listed ,issue_date ,issue_num ,whitepaper_url ,project_type_name ,project_type_id ,project_desc ,submit_user_id ,submit_user_contact_info ,submit_user_type ,submit_reason ,status ,createTime ,publishTime ,updateTime ,total_score ,rater_num ,follower_num ,comments_num ,collect_num 
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.tzg.entitys.kffproject.Project" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
	      SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	<![CDATA[
		INSERT INTO tbproject (
        	project_icon ,
        	state ,
        	project_code ,
        	project_english_name ,
        	project_chinese_name ,
        	project_signature ,
        	website_url ,
        	listed ,
        	issue_date ,
        	issue_num ,
        	whitepaper_url ,
        	project_type_name ,
        	project_type_id ,
        	project_desc ,
        	submit_user_id ,
        	submit_user_contact_info ,
        	submit_user_type ,
        	submit_reason ,
        	status ,
        	createTime ,
        	publishTime ,
        	updateTime ,
        	total_score ,
        	rater_num ,
        	follower_num ,
        	comments_num ,
        	collect_num 
		) VALUES (
        	#{projectIcon,jdbcType=VARCHAR} ,
        	#{state,jdbcType=INTEGER} ,
        	#{projectCode,jdbcType=VARCHAR} ,
        	#{projectEnglishName,jdbcType=VARCHAR} ,
        	#{projectChineseName,jdbcType=VARCHAR} ,
        	#{projectSignature,jdbcType=VARCHAR} ,
        	#{websiteUrl,jdbcType=VARCHAR} ,
        	#{listed,jdbcType=INTEGER} ,
        	#{issueDate,jdbcType=DATE} ,
        	#{issueNum,jdbcType=INTEGER} ,
        	#{whitepaperUrl,jdbcType=VARCHAR} ,
        	#{projectTypeName,jdbcType=VARCHAR} ,
        	#{projectTypeId,jdbcType=INTEGER} ,
        	#{projectDesc,jdbcType=LONGVARCHAR} ,
        	#{submitUserId,jdbcType=INTEGER} ,
        	#{submitUserContactInfo,jdbcType=VARCHAR} ,
        	#{submitUserType,jdbcType=INTEGER} ,
        	#{submitReason,jdbcType=LONGVARCHAR} ,
        	#{status,jdbcType=INTEGER} ,
        	#{createTime,jdbcType=TIMESTAMP} ,
        	#{publishTime,jdbcType=TIMESTAMP} ,
        	#{updateTime,jdbcType=TIMESTAMP} ,
        	#{totalScore,jdbcType=DECIMAL} ,
        	#{raterNum,jdbcType=INTEGER} ,
        	#{followerNum,jdbcType=INTEGER} ,
        	#{commentsNum,jdbcType=INTEGER} ,
        	#{collectNum,jdbcType=INTEGER} 
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.kffproject.Project">
		UPDATE tbproject
		<set>
			<if test="projectIcon != null">
	        project_icon = #{projectIcon,jdbcType=VARCHAR} ,
	        </if>
			<if test="state != null">
	        state = #{state,jdbcType=INTEGER} ,
	        </if>
			<if test="projectCode != null">
	        project_code = #{projectCode,jdbcType=VARCHAR} ,
	        </if>
			<if test="projectEnglishName != null">
	        project_english_name = #{projectEnglishName,jdbcType=VARCHAR} ,
	        </if>
			<if test="projectChineseName != null">
	        project_chinese_name = #{projectChineseName,jdbcType=VARCHAR} ,
	        </if>
			<if test="projectSignature != null">
	        project_signature = #{projectSignature,jdbcType=VARCHAR} ,
	        </if>
			<if test="websiteUrl != null">
	        website_url = #{websiteUrl,jdbcType=VARCHAR} ,
	        </if>
			<if test="listed != null">
	        listed = #{listed,jdbcType=INTEGER} ,
	        </if>
			<if test="issueDate != null">
	        issue_date = #{issueDate,jdbcType=DATE} ,
	        </if>
			<if test="issueNum != null">
	        issue_num = #{issueNum,jdbcType=INTEGER} ,
	        </if>
			<if test="whitepaperUrl != null">
	        whitepaper_url = #{whitepaperUrl,jdbcType=VARCHAR} ,
	        </if>
			<if test="projectTypeName != null">
	        project_type_name = #{projectTypeName,jdbcType=VARCHAR} ,
	        </if>
			<if test="projectTypeId != null">
	        project_type_id = #{projectTypeId,jdbcType=INTEGER} ,
	        </if>
			<if test="projectDesc != null">
	        project_desc = #{projectDesc,jdbcType=LONGVARCHAR} ,
	        </if>
			<if test="submitUserId != null">
	        submit_user_id = #{submitUserId,jdbcType=INTEGER} ,
	        </if>
			<if test="submitUserContactInfo != null">
	        submit_user_contact_info = #{submitUserContactInfo,jdbcType=VARCHAR} ,
	        </if>
			<if test="submitUserType != null">
	        submit_user_type = #{submitUserType,jdbcType=INTEGER} ,
	        </if>
			<if test="submitReason != null">
	        submit_reason = #{submitReason,jdbcType=LONGVARCHAR} ,
	        </if>
			<if test="status != null">
	        status = #{status,jdbcType=INTEGER} ,
	        </if>
			<if test="createTime != null">
	        createTime = #{createTime,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="publishTime != null">
	        publishTime = #{publishTime,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="updateTime != null">
	        updateTime = #{updateTime,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="totalScore != null">
	        total_score = #{totalScore,jdbcType=DECIMAL} ,
	        </if>
			<if test="raterNum != null">
	        rater_num = #{raterNum,jdbcType=INTEGER} ,
	        </if>
			<if test="followerNum != null">
	        follower_num = #{followerNum,jdbcType=INTEGER} ,
	        </if>
			<if test="commentsNum != null">
	        comments_num = #{commentsNum,jdbcType=INTEGER} ,
	        </if>
			<if test="collectNum != null">
	        collect_num = #{collectNum,jdbcType=INTEGER} 
	        </if>
	    </set>
		WHERE 
	        project_id = #{projectId,jdbcType=INTEGER} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM tbproject WHERE
        project_id = #{projectId} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM tbproject 
		WHERE 
        project_id = #{projectId} 
	]]>
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from tbproject where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from tbproject where 1=1
		<include refid="queryWhere"/> 
	    <![CDATA[ ORDER BY project_id DESC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
	
	<sql id="queryWhere">
		<if test="projectId != null and projectId.trim() != ''">
		and project_id = #{projectId}
		</if>
		<if test="projectIcon != null and projectIcon.trim() != ''">
		and project_icon = #{projectIcon}
		</if>
		<if test="state != null and state.trim() != ''">
		and state = #{state}
		</if>
		<if test="projectCode != null and projectCode.trim() != ''">
		and project_code = #{projectCode}
		</if>
		<if test="projectEnglishName != null and projectEnglishName.trim() != ''">
		and project_english_name = #{projectEnglishName}
		</if>
		<if test="projectChineseName != null and projectChineseName.trim() != ''">
		and project_chinese_name = #{projectChineseName}
		</if>
		<if test="projectSignature != null and projectSignature.trim() != ''">
		and project_signature = #{projectSignature}
		</if>
		<if test="websiteUrl != null and websiteUrl.trim() != ''">
		and website_url = #{websiteUrl}
		</if>
		<if test="listed != null and listed.trim() != ''">
		and listed = #{listed}
		</if>
		<if test="issueDateBegin != null and issueDateBegin.trim() != ''">
		and issue_date >= #{issueDateBegin}
		</if>
		<if test="issueDateEnd != null and issueDateEnd.trim() != ''">
		and issue_date &lt;= #{issueDateEnd}
		</if>
		<if test="issueNum != null and issueNum.trim() != ''">
		and issue_num = #{issueNum}
		</if>
		<if test="whitepaperUrl != null and whitepaperUrl.trim() != ''">
		and whitepaper_url = #{whitepaperUrl}
		</if>
		<if test="projectTypeName != null and projectTypeName.trim() != ''">
		and project_type_name = #{projectTypeName}
		</if>
		<if test="projectTypeId != null and projectTypeId.trim() != ''">
		and project_type_id = #{projectTypeId}
		</if>
		<if test="projectDesc != null and projectDesc.trim() != ''">
		and project_desc = #{projectDesc}
		</if>
		<if test="submitUserId != null and submitUserId.trim() != ''">
		and submit_user_id = #{submitUserId}
		</if>
		<if test="submitUserContactInfo != null and submitUserContactInfo.trim() != ''">
		and submit_user_contact_info = #{submitUserContactInfo}
		</if>
		<if test="submitUserType != null and submitUserType.trim() != ''">
		and submit_user_type = #{submitUserType}
		</if>
		<if test="submitReason != null and submitReason.trim() != ''">
		and submit_reason = #{submitReason}
		</if>
		<if test="status != null and status.trim() != ''">
		and status = #{status}
		</if>
		<if test="createTimeBegin != null and createTimeBegin.trim() != ''">
		and createTime >= #{createTimeBegin}
		</if>
		<if test="createTimeEnd != null and createTimeEnd.trim() != ''">
		and createTime &lt;= #{createTimeEnd}
		</if>
		<if test="publishTimeBegin != null and publishTimeBegin.trim() != ''">
		and publishTime >= #{publishTimeBegin}
		</if>
		<if test="publishTimeEnd != null and publishTimeEnd.trim() != ''">
		and publishTime &lt;= #{publishTimeEnd}
		</if>
		<if test="updateTimeBegin != null and updateTimeBegin.trim() != ''">
		and updateTime >= #{updateTimeBegin}
		</if>
		<if test="updateTimeEnd != null and updateTimeEnd.trim() != ''">
		and updateTime &lt;= #{updateTimeEnd}
		</if>
		<if test="totalScore != null and totalScore.trim() != ''">
		and total_score = #{totalScore}
		</if>
		<if test="raterNum != null and raterNum.trim() != ''">
		and rater_num = #{raterNum}
		</if>
		<if test="followerNum != null and followerNum.trim() != ''">
		and follower_num = #{followerNum}
		</if>
		<if test="commentsNum != null and commentsNum.trim() != ''">
		and comments_num = #{commentsNum}
		</if>
		<if test="collectNum != null and collectNum.trim() != ''">
		and collect_num = #{collectNum}
		</if>
	</sql>
</mapper>


