<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.kff.devaluationModel.DevaluationModelMapper">
	<resultMap id="BaseResultMap" type="com.tzg.entitys.kff.devaluationModel.DevaluationModel">
		<result property="modelId" jdbcType="INTEGER" column="model_id" />
		<result property="modelName" jdbcType="VARCHAR" column="model_name" />
		<result property="modelDesc" jdbcType="VARCHAR" column="model_desc" />
		<result property="modelWeight" jdbcType="INTEGER" column="model_weight" />
		<result property="createTime" jdbcType="TIMESTAMP" column="createTime" />
		<result property="updateTime" jdbcType="TIMESTAMP" column="updateTime" />
		<result property="createUserId" jdbcType="INTEGER" column="create_user_id" />
		<result property="status" jdbcType="INTEGER" column="status" />
		<result property="modelType" jdbcType="INTEGER" column="model_type" />
		<result property="batchId" jdbcType="INTEGER" column="batch_id" />
	</resultMap>

	<sql id="columns">
	    <![CDATA[
        model_id ,model_name ,model_desc ,model_weight ,createTime ,updateTime ,create_user_id ,status ,model_type ,batch_id 
	    ]]>
	</sql>

	<insert id="save" parameterType="com.tzg.entitys.kff.devaluationModel.DevaluationModel" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
	<![CDATA[
		INSERT INTO d_evaluation_model (
        	model_name ,
        	model_desc ,
        	model_weight ,
        	createTime ,
        	updateTime ,
        	create_user_id ,
        	status ,
        	model_type ,
        	batch_id 
		) VALUES (
        	#{modelName,jdbcType=VARCHAR} ,
        	#{modelDesc,jdbcType=VARCHAR} ,
        	#{modelWeight,jdbcType=INTEGER} ,
        	#{createTime,jdbcType=TIMESTAMP} ,
        	#{updateTime,jdbcType=TIMESTAMP} ,
        	#{createUserId,jdbcType=INTEGER} ,
        	#{status,jdbcType=INTEGER} ,
        	#{modelType,jdbcType=INTEGER} ,
        	#{batchId,jdbcType=INTEGER} 
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.kff.devaluationModel.DevaluationModel">
		UPDATE d_evaluation_model
		<set>
			<if test="modelName != null">
				model_name = #{modelName,jdbcType=VARCHAR} ,
			</if>
			<if test="modelDesc != null">
				model_desc = #{modelDesc,jdbcType=VARCHAR} ,
			</if>
			<if test="modelWeight != null">
				model_weight = #{modelWeight,jdbcType=INTEGER} ,
			</if>
			<if test="createTime != null">
				createTime = #{createTime,jdbcType=TIMESTAMP} ,
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime,jdbcType=TIMESTAMP} ,
			</if>
			<if test="createUserId != null">
				create_user_id = #{createUserId,jdbcType=INTEGER} ,
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER} ,
			</if>
			<if test="modelType != null">
				model_type = #{modelType,jdbcType=INTEGER} ,
			</if>
			<if test="batchId != null">
				batch_id = #{batchId,jdbcType=INTEGER}
			</if>
		</set>
		WHERE
		model_id = #{modelId,jdbcType=INTEGER}
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM d_evaluation_model WHERE
        model_id = #{modelId} 
	]]>
	</delete>

	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT
		<include refid="columns" /> 
	<![CDATA[
		FROM d_evaluation_model 
		WHERE 
        model_id = #{modelId} 
	]]>
	</select>

	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(*) from d_evaluation_model where 1=1
		<include refid="queryWhere" />
	</select>

	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="columns" />
		from d_evaluation_model where 1=1
		<include refid="queryWhere" /> 
	    <![CDATA[ ORDER BY id DESC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>

	<sql id="queryWhere">
		<if test="modelId != null and modelId.trim() != ''">
			and model_id = #{modelId}
		</if>
		<if test="modelName != null and modelName.trim() != ''">
			and model_name = #{modelName}
		</if>
		<if test="modelDesc != null and modelDesc.trim() != ''">
			and model_desc = #{modelDesc}
		</if>
		<if test="modelWeight != null and modelWeight.trim() != ''">
			and model_weight = #{modelWeight}
		</if>
		<if test="createTimeBegin != null and createTimeBegin.trim() != ''">
			and createTime >= #{createTimeBegin}
		</if>
		<if test="createTimeEnd != null and createTimeEnd.trim() != ''">
			and createTime &lt;= #{createTimeEnd}
		</if>
		<if test="updateTimeBegin != null and updateTimeBegin.trim() != ''">
			and updateTime >= #{updateTimeBegin}
		</if>
		<if test="updateTimeEnd != null and updateTimeEnd.trim() != ''">
			and updateTime &lt;= #{updateTimeEnd}
		</if>
		<if test="createUserId != null and createUserId.trim() != ''">
			and create_user_id = #{createUserId}
		</if>
		<if test="status != null and status.trim() != ''">
			and status = #{status}
		</if>
		<if test="modelType != null and modelType.trim() != ''">
			and model_type = #{modelType}
		</if>
		<if test="batchId != null and batchId.trim() != ''">
			and batch_id = #{batchId}
		</if>
	</sql>

	<select id="selectEvaluationModelByModelType" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT
		<include refid="columns" /> 
	<![CDATA[
		FROM d_evaluation_model 
		WHERE 
        model_type = #{modelType} and status =1
	]]>
	</select>

	<select id="findAll" resultMap="BaseResultMap">
		SELECT
		<include refid="columns" /> 
	<![CDATA[
		FROM d_evaluation_model 
		WHERE 
       status = 1
	]]>
	</select>

</mapper>


