<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>

            <li class="active">新闻动态列表</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>
	<div class="page-content">
		<div class="page-header">
		    <h1>新闻动态列表</h1>
		</div>
		
		#if(${msg})
        	<div>
			#if(${success})
        		<li class="text-success">$!{msg}</li>
   			 #else
        		<li class="text-danger">$!{msg}</li>
   			 #end    	
   			</div>
   		 #end 
		
		<div class="container-fluid">
		    <div class="dataTables_wrapper">
		        <div class="row">
		            <div class="col-sm-11">
		                <form class="form-inline" role="form">
		                    <div class="form-group">
		                        <label>标题：</label>
		                        <input type="text" name="vcTitle" value="$!{query.vcTitle}">
		                    </div>
		                    <div class="form-group">
		                        <label>类型：</label>
		                        <select name="itype">
		                        	<option value="">全部</option>
	                                <option value="1" #if($query.itype && $query.itype ==1) selected #end>最新动态</option>
	                                <option value="2" #if($query.itype && $query.itype ==2) selected #end>媒体报道</option>
	                            </select>
		                    </div>
		                    <div class="form-group">
		                        <label>状态：</label>
		                        <select name="istate">
		                        	<option value="">全部</option>
	                                <option value="1" #if($query.istate && $query.istate ==1) selected #end>未发布</option>
	                                <option value="2" #if($query.istate && $query.istate ==2) selected #end>已发布</option>
	                            </select>
		                    </div>
		                    <div class="form-group">
		                        <label>是否首页显示：</label>
		                        <select name="ihomedisplay">
		                        	<option value="">全部</option>
	                                <option value="1" #if($query.ihomedisplay && $query.ihomedisplay ==1) selected #end>不显示</option>
	                                <option value="2" #if($query.ihomedisplay && $query.ihomedisplay ==2) selected #end>显示</option>
	                            </select>
		                    </div>
		                    
		                    
		                    
		                    <div class="form-group">
		                        <button class="btn btn-xs btn-primary" type="submit">查询</button>
		                    </div>
		                </form>
		            </div>
                    <div class="col-sm-1">
                        <a href="$!{www}/news/new" class="btn btn-success btn-xs">添加</a>
                    </div>
		        </div>
		        <table class="table table-striped table-bordered table-hover dataTable">
		            <thead>
		            <tr>
		                <th>标题</th>
		                <th>类型</th>
		                <th>状态</th>
		                <th>是否首页显示</th>
		                <th>顺序</th>
		                <th>创建时间</th>
		                <th>发布时间</th>
		                <th>操作</th>
		            </tr>
		            </thead>
		            <tbody>
		                #foreach($row in $result.rows)
		                <tr>
		                	<td> <a href="$!{www}/news/detail?id=$!{row.id}">$!{row.vcTitle}</a> </td>
		                	
		                	<td> 
		                		#if($row.itype == 1)
		                			最新动态
		                		#elseif($row.itype == 2)
		                			媒体报道
		                		#end
		                	</td>
		                	<td> 
		                		#if($row.istate == 1)
		                			未发布
		                		#elseif($row.istate == 2)
		                			已发布
		                		#end
		                	</td>
		                	<td> 
		                		#if($row.ihomedisplay == 1)
		                			不显示
		                		#elseif($row.ihomedisplay == 2)
		                			显示
		                		#end
		                	</td>
		                	<td>
		                		#if($row.ihomesort == 2147483647)
		                		#else
		                		 $!{row.ihomesort} 
		                		#end
		                	</td>
		                	<td> $!{row.dtCreateStr} </td>
		                	<td> $!{row.dtPublishStr} </td>
		                	<td>
		                		#if($row.istate == 1)
		                			<a href="$!{www}/news/find?id=$!{row.id}">修改</a> ｜
		                			<a href="$!{www}/news/publish?id=$!{row.id}">发布</a>
								#end
								#if($row.istate == 2)
									<a href="$!{www}/news/undopublish?id=$!{row.id}">撤销发布</a>
								#end
		                	</td>
		                </tr>
		                #end
		            </tbody>
		        </table>
		        <div class="row">
		            <div class="col-sm-12">
		                <div class="dataTables_paginate paging_bootstrap">
		                    <ul class="pagination">
		                    	#set($pageRequestURL="$!{www}/news?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
		                    	#paginationHelper($result $pageRequestURL)
		                    </ul>
		                </div>
		            </div>
		       </div>
		       
		    </div>
		</div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->