<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.dtags.DtagsMapper">	
	<resultMap id="BaseResultMap" type="com.tzg.entitys.dtags.Dtags">
		<result property="tagId" jdbcType="INTEGER" column="tag_id"/>
		<result property="tagName" jdbcType="VARCHAR" column="tag_name"/>
		<result property="createUserId" jdbcType="INTEGER" column="create_user_id"/>
		<result property="createTime" jdbcType="TIMESTAMP" column="createTime"/>
		<result property="updateTime" jdbcType="TIMESTAMP" column="updateTime"/>
		<result property="status" jdbcType="INTEGER" column="status"/>
		<result property="memo" jdbcType="VARCHAR" column="memo"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        tag_id ,tag_name ,create_user_id ,createTime ,updateTime ,status ,memo
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.tzg.entitys.dtags.Dtags" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
	      SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	<![CDATA[
		INSERT INTO d_tags (
        	tag_name ,
        	create_user_id ,
        	createTime ,
        	updateTime ,
        	status ,
        	memo
		) VALUES (
        	#{tagName,jdbcType=VARCHAR} ,
        	#{createUserId,jdbcType=INTEGER} ,
        	#{createTime,jdbcType=TIMESTAMP} ,
        	#{updateTime,jdbcType=TIMESTAMP} ,
        	#{status,jdbcType=INTEGER} ,
        	#{memo,jdbcType=VARCHAR}
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.dtags.Dtags">
		UPDATE d_tags
		<set>
			<if test="tagName != null">
	        tag_name = #{tagName,jdbcType=VARCHAR} ,
	        </if>
			<if test="createUserId != null">
	        create_user_id = #{createUserId,jdbcType=INTEGER} ,
	        </if>
			<if test="createTime != null">
	        createTime = #{createTime,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="updateTime != null">
	        updateTime = #{updateTime,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="status != null">
	        status = #{status,jdbcType=INTEGER} ,
	        </if>
	        <if test="memo != null">
	        memo = #{memo,jdbcType=VARCHAR} 
	        </if>
	    </set>
		WHERE 
	        tag_id = #{tagId,jdbcType=INTEGER} 
	</update>

	<update id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		update d_tags set status = 0 WHERE
        tag_id = #{tagId} 
	]]>
	</update>
    
    <update id="activeById" parameterType="java.lang.Integer">
	<![CDATA[
		update d_tags set status = 1 WHERE
        tag_id = #{tagId} 
	]]>
	</update>
	
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM d_tags 
		WHERE 
        tag_id = #{tagId} 
	]]>
	</select>
	
	<select id="findByTagName" resultMap="BaseResultMap" parameterType="java.lang.String">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM d_tags 
		WHERE 
        tag_name = #{tagName} 
	]]>
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from d_tags where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from d_tags where 1=1
		<include refid="queryWhere"/> 
	    <![CDATA[ ORDER BY tag_id DESC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
	
	<sql id="queryWhere">
		<if test="tagId != null and tagId.trim() != ''">
		and tag_id = #{tagId}
		</if>
		<if test="tagName != null and tagName.trim() != ''">
		and tag_name = #{tagName}
		</if>
		<if test="createUserId != null and createUserId.trim() != ''">
		and create_user_id = #{createUserId}
		</if>
		<if test="createTimeBegin != null and createTimeBegin.trim() != ''">
		and createTime >= #{createTimeBegin}
		</if>
		<if test="createTimeEnd != null and createTimeEnd.trim() != ''">
		and createTime &lt;= #{createTimeEnd}
		</if>
		<if test="updateTimeBegin != null and updateTimeBegin.trim() != ''">
		and updateTime >= #{updateTimeBegin}
		</if>
		<if test="updateTimeEnd != null and updateTimeEnd.trim() != ''">
		and updateTime &lt;= #{updateTimeEnd}
		</if>
		<if test="status != null and status.trim() != ''">
		and status = #{status}
		</if>
		<if test="memo != null and memo.trim() != ''">
		and memo = #{memo}
		</if>
	</sql>
</mapper>


