#set($pageTitle = "账户充值_我的账户_投资人")
#set($bodyClass = "body--gray")
#set($topbar = {"title": '认证支付'})
#set($pageFootCode = '<script>seajs.use("page/charge-confirm")</script>')

<ul class="properties bg-white">
	<li>
		<div class="properties_label">铜掌柜充值</div>
		<div class="properties_content"><span class="u-clScd u-fsH1">$!{amount}</span>元</div>
	</li>
	<li>
		<div class="properties_label">收 款 账 户</div>
		<div class="properties_content">河北融佰通金融服务有限公司</div>
	</li>
</ul>

<form method="post" action="$!{basePath}/user/charge/chargeSubmit" id="j_charge_confirm_form">
	<ul class="form2 f-mtb3">
		<li>认证支付</li>
		<li class="form2_item">
			<div class="input-box">
				<div class="input-box_label">卡　号</div>
				<span class="input-box_input">$!{cardNumber}</span>
				<input type="hidden" name="cardNo" value="$!{cardNo}">
			</div>
			<div class="form2_hint">$!{bankinfo.vcName} 借记卡</div>
			<input type="hidden" name="ibankId" value="$!{bankinfo.id}">
		</li>

		<li class="form2_item">
			<div class="input-box f-mt2">
				<div class="input-box_label">姓　名</div>
				<span class="input-box_input">$!{vcName}</span>
			</div>
		</li>

		<li class="form2_item">
			<div class="input-box">
				<div class="input-box_label">身份证</div>
				<span class="input-box_input">$!{vcCardCode}</span>
			</div>
		</li>

		<li class="form2_item">
			<div class="input-box">
				<div class="input-box_label">手机号</div>
				<input type="text" name="phone" class="input-box_input" value="$!{phone}">
			</div>
		</li>

		<li class="form2_item">
			<div class="captcha">
				<div class="input-box captcha_input">
					<div class="input-box_label">验证码</div>
					<input type="text" name="code" class="input-box_input">
				</div>
				<button type="button" class="u-btn z-scs captcha_button" id="j_send_captcha">获取</button>
				<input type="text" name="captchaSend" class="u-iptHdn" value="" required>
			</div>
		</li>

		<li class="form2_item">
			<div><label><input type="checkbox" name="agreeProtocol" checked> 同意<a href="#" class="u-clPrm" id="j_protocol_btn">《支付服务协议》</a></label></div>
		</li>

		<li class="form2_item">
			<div class="f-mt2"><button class="u-btn z-prm z-fll z-ldg" type="submit">下一步</button></div>
		</li>
	</ul>
	<input type="hidden" name="amount" value="$!{amount}">
	<input type="hidden" name="requestid" value="">
	<input type="hidden" name="orderid" value="">
</form>

<div class="m-ppp" id="j_protocol_popup">
	<div class="m-ppp-hd">《支付服务协议》</div>
	<div class="m-ppp-bd">
		<div class="m-ppp-bd-cnt">
			<iframe src="$!{bankCardPaymentProtocol}" frameborder="0" width="100%" height="100%" scrolling="yes"></iframe>
		</div>
	</div>
	<div class="m-ppp-ft">
		<button type="button" class="u-btn--lnk z-fll" pppclosebtn>确 定</button>
	</div>
</div>

