#set($pageName = "充值成功")
#set($bodyClass = "body--gray")
#set($topbar = { "title": $pageName })

<div class="msg-sign -success">充值成功</div>

<ul class="properties bg-white">
	<li>
		<div class="properties_label">充值金额</div>
		<div class="properties_content u-fsH">$!{amount}元</div>
	</li>
	<li>
		<div class="properties_label">资金流水号</div>
		<div class="properties_content">$!{orderid}</div>
	</li>
	<li>
		<div class="properties_label">充值时间</div>
		<div class="properties_content">$!{chargetime}</div>
	</li>
</ul>
#if($paySuccess)
<div class="f-mtb3 f-mlr4">
	<a href="$!{basePath}/user/payPassword/page" class="u-btn z-prm z-fll">设置交易密码</a>
	<div class="f-mt u-clGrayLgt">投资、提现需交易密码，建议您立即设置</div>
</div>
#else
<div class="f-mtb3 f-mlr4">
	<a href="$!{basePath}/user/home" class="u-btn z-prm z-fll">确定</a>
</div>
#end