
#set($layout = "layout/simple.vm")
    <div class="page-content">
        <div class="container-fluid">
            <div class="dataTables_wrapper">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                    <tr>
                    	<th></th>
                        <th>名称</th>
                        <th>图片</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($row in $result.rows)
                        <tr>
                        	<td> <input type="radio" name="selectedPicUrl" value="${row.vcUrl}" /></td>
                        	<td> ${row.vcOrnName} <br/>
                        			创建于: ${row.dtCreateStr}
                        	
                        	</td>
                            <td> <img style="width:250px;height:150px;" src="$!{staticUploadUrl}$!{row.vcUrl}" /></td>
                        </tr>
                        #end
                    </tbody></table>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="dataTables_paginate paging_bootstrap">
                            <ul class="pagination">
                                #set($pageRequestURL="${www}/projects?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
                                #paginationHelper($result $pageRequestURL)
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- /.page-content -->
<!-- /.main-content -->


