<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.kff.praise.PraiseMapper">	
	<resultMap id="BaseResultMap" type="com.tzg.entitys.kff.praise.Praise">
		<result property="praiseId" jdbcType="INTEGER" column="praise_id"/>
		<result property="praiseUserId" jdbcType="INTEGER" column="praise_user_id"/>
		<result property="projectId" jdbcType="INTEGER" column="project_id"/>		
		<result property="praiseType" jdbcType="INTEGER" column="praise_type"/>
		<result property="postId" jdbcType="INTEGER" column="post_id"/>
		<result property="postType" jdbcType="INTEGER" column="post_type"/>
		<result property="bepraiseUserId" jdbcType="INTEGER" column="bepraise_user_id"/>
		<result property="status" jdbcType="INTEGER" column="status"/>
		<result property="createTime" jdbcType="TIMESTAMP" column="createTime"/>
		<result property="updateTime" jdbcType="TIMESTAMP" column="updateTime"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        praise_id ,praise_user_id ,project_id ,praise_type,post_id ,post_type ,bepraise_user_id ,status ,createTime ,updateTime 
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.tzg.entitys.kff.praise.Praise" useGeneratedKeys="true" keyProperty="praiseId">
		<selectKey resultType="java.lang.Integer" keyProperty="praiseId" order="AFTER" >
	      SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	<![CDATA[
		INSERT INTO tbpraise (
        	praise_user_id ,
        	project_id ,
        	praise_type,
        	post_id ,
        	post_type ,
        	bepraise_user_id ,
        	status ,
        	createTime ,
        	updateTime 
		) VALUES (
        	#{praiseUserId,jdbcType=INTEGER} ,
        	#{projectId,jdbcType=INTEGER} ,
        	#{praiseType,jdbcType=INTEGER} ,
        	#{postId,jdbcType=INTEGER} ,
        	#{postType,jdbcType=INTEGER} ,
        	#{bepraiseUserId,jdbcType=INTEGER} ,
        	#{status,jdbcType=INTEGER} ,
        	#{createTime,jdbcType=TIMESTAMP} ,
        	#{updateTime,jdbcType=TIMESTAMP} 
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.kff.praise.Praise">
		UPDATE tbpraise
		<set>
			<if test="praiseUserId != null">
	        praise_user_id = #{praiseUserId,jdbcType=INTEGER} ,
	        </if>
			<if test="projectId != null">
	        project_id = #{projectId,jdbcType=INTEGER} ,
	        </if>
			<if test="praiseType != null">
	        praise_type = #{praiseType,jdbcType=INTEGER} ,
	        </if>	        
			<if test="postId != null">
	        post_id = #{postId,jdbcType=INTEGER} ,
	        </if>
			<if test="postType != null">
	        post_type = #{postType,jdbcType=INTEGER} ,
	        </if>
			<if test="bepraiseUserId != null">
	        bepraise_user_id = #{bepraiseUserId,jdbcType=INTEGER} ,
	        </if>
			<if test="status != null">
	        status = #{status,jdbcType=INTEGER} ,
	        </if>
			<if test="createTime != null">
	        createTime = #{createTime,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="updateTime != null">
	        updateTime = #{updateTime,jdbcType=TIMESTAMP} 
	        </if>
	    </set>
		WHERE 
	        praise_id = #{praiseId,jdbcType=INTEGER} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM tbpraise WHERE
        praise_id = #{praiseId} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM tbpraise 
		WHERE 
        praise_id = #{praiseId} 
	]]>
	</select>
	
	<select id="findByPostId" resultMap="BaseResultMap" parameterType="java.util.Map">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM tbpraise 
		WHERE 
		  praise_type = #{praiseType}
		  and
          post_id = #{postId}
          and  
          praise_user_id = #{praiseUserId}
          limit 1
	]]>
	</select>
	
	<select id="findByPraiseId" resultMap="BaseResultMap" parameterType="java.util.Map">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM tbpraise 
		WHERE 
		  bepraise_user_id = #{bepraiseUserId}
		  and
          praise_type = #{praiseType}
          and  
          praise_user_id = #{praiseUserId}
          limit 1
	]]>
	</select>	
	
	 
	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from tbpraise where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from tbpraise where 1=1
		<include refid="queryWhere"/> 
	    <![CDATA[ ORDER BY praise_id DESC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
	<!-- 根据传入的参数查询Parise的数量 -->
	<select id="countPraiseByParam" resultType="java.lang.Integer" parameterType="java.util.Map">
	select count(*) from tbpraise where 1=1
	<include refid="queryWhere"></include>
	</select>
	
	<sql id="queryWhere">
		<if test="praiseId != null and praiseId.trim() != ''">
		and praise_id = #{praiseId}
		</if>
		<if test="praiseUserId != null and praiseUserId.trim() != ''">
		and praise_user_id = #{praiseUserId}
		</if>
		<if test="projectId != null and projectId.trim() != ''">
		and project_id = #{projectId}
		</if>
		<if test="praiseType != null and praiseType.trim() != ''">
		and praise_type = #{praiseType}
		</if>		
		<if test="postId != null and postId.trim() != ''">
		and post_id = #{postId}
		</if>
		<if test="postType != null and postType.trim() != ''">
		and post_type = #{postType}
		</if>
		<if test="bepraiseUserId != null and bepraiseUserId.trim() != ''">
		and bepraise_user_id = #{bepraiseUserId}
		</if>
		<if test="status != null and status.trim() != ''">
		and status = #{status}
		</if>
		<if test="createTimeBegin != null and createTimeBegin.trim() != ''">
		and createTime >= #{createTimeBegin}
		</if>
		<if test="createTimeEnd != null and createTimeEnd.trim() != ''">
		and createTime &lt;= #{createTimeEnd}
		</if>
		<if test="updateTimeBegin != null and updateTimeBegin.trim() != ''">
		and updateTime >= #{updateTimeBegin}
		</if>
		<if test="updateTimeEnd != null and updateTimeEnd.trim() != ''">
		and updateTime &lt;= #{updateTimeEnd}
		</if>
	</sql>
</mapper>


