<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.kff.suggest.SuggestMapper">	
	<resultMap id="BaseResultMap" type="com.tzg.entitys.kff.suggest.Suggest">
		<result property="suggestId" jdbcType="INTEGER" column="suggest_id"/>
		<result property="content" jdbcType="VARCHAR" column="content"/>
		<result property="contactInfo" jdbcType="VARCHAR" column="contact_info"/>
		<result property="createTime" jdbcType="TIMESTAMP" column="createTime"/>
		<result property="updateTime" jdbcType="TIMESTAMP" column="updateTime"/>
		<result property="createUserId" jdbcType="INTEGER" column="create_user_id"/>
		<result property="status" jdbcType="INTEGER" column="status"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        suggest_id ,content ,contact_info ,createTime ,updateTime ,create_user_id ,status 
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.tzg.entitys.kff.suggest.Suggest" useGeneratedKeys="true" keyProperty="suggestId">
		<selectKey resultType="java.lang.Integer" keyProperty="suggestId" order="AFTER" >
	      SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	<![CDATA[
		INSERT INTO tbsuggest (
        	content ,
        	contact_info ,
        	createTime ,
        	updateTime ,
        	create_user_id ,
        	status 
		) VALUES (
        	#{content,jdbcType=VARCHAR} ,
        	#{contactInfo,jdbcType=VARCHAR} ,
        	NOW() ,
        	NOW() ,
        	#{createUserId,jdbcType=INTEGER} ,
        	#{status,jdbcType=INTEGER} 
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.kff.suggest.Suggest">
		UPDATE tbsuggest
		<set>
			<if test="content != null">
	        content = #{content,jdbcType=VARCHAR} ,
	        </if>
			<if test="contactInfo != null">
	        contact_info = #{contactInfo,jdbcType=VARCHAR} ,
	        </if>
			
			<if test="updateTime != null">
	        updateTime = NOW() ,
	        </if>
			<if test="createUserId != null">
	        create_user_id = #{createUserId,jdbcType=INTEGER} ,
	        </if>
			<if test="status != null">
	        status = #{status,jdbcType=INTEGER} 
	        </if>
	    </set>
		WHERE 
	        suggest_id = #{suggestId,jdbcType=INTEGER} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM tbsuggest WHERE
        suggest_id = #{suggestId} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM tbsuggest 
		WHERE 
        suggest_id = #{suggestId} 
	]]>
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from tbsuggest where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from tbsuggest where 1=1
		<include refid="queryWhere"/> 
	    <![CDATA[ ORDER BY suggest_id DESC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
	
	<sql id="queryWhere">
		<if test="suggestId != null and suggestId.trim() != ''">
		and suggest_id = #{suggestId}
		</if>
		<if test="content != null and content.trim() != ''">
		and content = #{content}
		</if>
		<if test="contactInfo != null and contactInfo.trim() != ''">
		and contact_info = #{contactInfo}
		</if>
		<if test="createTimeBegin != null and createTimeBegin.trim() != ''">
		and createTime >= #{createTimeBegin}
		</if>
		<if test="createTimeEnd != null and createTimeEnd.trim() != ''">
		and createTime &lt;= #{createTimeEnd}
		</if>
		<if test="updateTimeBegin != null and updateTimeBegin.trim() != ''">
		and updateTime >= #{updateTimeBegin}
		</if>
		<if test="updateTimeEnd != null and updateTimeEnd.trim() != ''">
		and updateTime &lt;= #{updateTimeEnd}
		</if>
		<if test="createUserId != null and createUserId.trim() != ''">
		and create_user_id = #{createUserId}
		</if>
		<if test="status != null and status.trim() != ''">
		and status = #{status}
		</if>
	</sql>
</mapper>


