#*-----------------------
 * 新架构 layout 文件
 *-----------------------*#
#set($staticPath2 = "/assets2")
#set($staticSourceVersion = "201505201")
#set($pageTitlePart = "铜掌柜，小理财大生活_互联网金融服务平台_网络投资理财首选")
<!doctype html>
<html lang="zh">
<head>
<meta charset="utf-8">
#if ($pageTitle)
<title>$!{pageTitle}</title>
#else
#if ($pageName)
<title>$!{pageName}_$!{pageTitlePart}</title>
#else
<title>$!{pageTitlePart}</title>
#end
#end
#if ($pageKeywords != "")
#if ($pageKeywords)
<meta name="keywords" content="$!{pageKeywords}">
#else
<meta name="keywords" content="投资理财, 铜掌柜,理财,互联网金融服务平台,p2p,网贷平台,铜掌柜">
#end
#end
#if ($pageDescription != "")
#if ($pageDescription)
<meta name="description" content="$!{pageDescription}">
#else
<meta name="description" content="铜掌柜，让理财更放心！-提供安全、高收益的网络理财服务。铜掌柜有严格的风险控制体系，给投资者100%本息担保，第三方资金托管，保障资金安全。">
#end
#end
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="basepath" content="$!{basePath}" id="j_basepath">
<meta name="staticpath" content="$!{staticPath2}" id="j_staticpath">
<link rel="icon" href="$!{staticPath2}/images/favicon.ico">
<link rel="shortcut icon" href="$!{staticPath2}/images/favicon.ico">
<link rel="stylesheet" href="$!{staticPath2}/css/common.css?v=$!{staticSourceVersion}">
<!--[if lt IE 9]>
<script src="$!{staticPath2}/js/html5shiv.js"></script>
<![endif]-->
<script src="$!{staticPath2}/js/sea.js"></script>
## 其他代码
#if ($pageHeadCode)
$!{pageHeadCode}
#end
</head>
#if ($bodyClass)
<body class="$!{bodyClass}">
#else
<body>
#end

<div class="pg">
##parse("/layout/azalea/header.vm")
<div class="bd">
$screen_content
</div>
</div>

#if ($pageFootCode)
$!{pageFootCode}
#end

#parse("/include/statistics.vm")

#if ($pageScript)
<script>seajs.use(["pages/common", $pageScript]);</script>
#else
<script>seajs.use(["pages/common"]);</script>
#end
</body>
</html>
