<div class="m-lnkBox m-lnkBox-v2">
    <div class="m-lnkBox-inn-v2">
        <a class="active" href="$!{basePath}"><s class="icon icon1"></s><span>推荐</span></a>
        <a href="$!{basePath}/subject/page"><s class="icon icon2"></s><span>投资</span></a>
        <a href="$!{basePath}/user/home"><s class="icon icon3"></s><span>资产</span></a>
        <a href="#"><s class="icon icon4"></s><span>更多</span></a>
    </div>
    <div class="m-downBox-v2" id="j_downBox_v2">
        <s id="j_btn_close" class="btn-close">
        </s>
        <a target="_self" href="$!{basePath}/down/app?from=wap">
            <img class="down-left" src="$!{staticPath}/images/v2/ad-down.png" alt="下载铜掌柜移动客户端"/>
            <img class="down-right" src="$!{staticPath}/images/v2/icon_down_gif.png" alt="下载铜掌柜移动客户端"/>
        </a>
    </div>
</div>