<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="${www}/css/easyui-default/easyui.css">
	<link rel="stylesheet" type="text/css" href="${www}/css/easyui-default/icon.css">
	<link rel="stylesheet" type="text/css" href="${www}/css/easyui-default/color.css">
	<script type="text/javascript" src="${www}/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="${www}/js/jquery.easyui.min.js"></script>
    <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            //删除确认框
            function delFun(id){
            	var flag = confirm("确认删除该记录？")
            	if (flag == true){
            		window.location.href="${www}/resources/delete?id=" + id;
            	}   
            }
            
            function getQueryParams(){
				var obj ={};
				obj["vcName"]=document.getElementById("vcName").value;
				obj["iType"]= $("#iType").val();
				obj["iParentId"]=$("#iParentId").val();
             	return obj;
             }
			
			function selectResource(){
             $.post('${www}/resources/jsondata.json',getQueryParams(),function(data){
             			$('#tg').treegrid('loadData',data);
        			},'json');
        	}
        	
            function formatType(value, row, index) {
				switch (value) {
					case 1:
						return '菜单资源';
					case 2:
						return '按钮';	
				}
			}
			
			function formatAction(value, row, index) {
				var str = '';
				str += '<a href="${www}/resources/find?id='+row.id+'" >修改</a>';
				if (row.iValid==1) {
					str += '| <a href="javascript:delFun('+row.id+');">删除</a>';
				}
				if (row.iType==1 && row.iValid==1) {
					str += '| <a href="${www}/resources/new?iParentId='+row.id+'" >添加下级资源</a>';
				}
				return str;
			}
			
			
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>

            <li>
                <a href="${www}/resources">资源列表</a>
            </li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>资源列表</h1>
        </div>
        <div class="container-fluid">
            <div class="dataTables_wrapper">
                <div class="row">
                    <div class="col-sm-10">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label>资源名称：</label>
                                <input type="text" name="vcName" id="vcName" value="$!{vcName}">
                            </div>
                            <div class="form-group">
                                <label>资源类型：</label>
                                <select name="iType" id="iType">
                                	<option value="">全部</option>
	                                <option value="1" #if($iType ==1) selected #end>菜单资源</option>
	                                <!--<option value="2" #if($iType ==2) selected #end>按钮</option>-->
	                            </select>
	                        </div>
                            <div class="form-group">
		                        <label>顶级菜单选择：</label>
		                        <select name="iParentId" id="iParentId">
                                    <option value="" #if(!$iParentId  || $iParentId =='') selected #end>全部</option>
                                    #foreach($firstLevelList in $firstLevelLists)
                                    	<option value="$!{firstLevelList.id}" #if($iParentId && $firstLevelList.id ==$iParentId)
                                    		 selected #end>$!{firstLevelList.vcName}</option>
                                    #end
		                        </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-xs btn-primary" type="button" onclick="javascript:selectResource()">查询</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-2 text-right">
                        <a href="${www}/resources/new" class="btn btn-success btn-xs">添加顶级资源</a>
                    </div>
                </div>
                
           <table id="tg" class="easyui-treegrid dataTable" 
           	data-options="
           	 	iconCls: 'icon-ok',
	           	url: '${www}/resources/jsondata.json',
	           	queryParams:getQueryParams(),
	           	method: 'get',
	           	rownumbers: true,
	           	animate: true,
	           	collapsible: true,
				fitColumns: true,
	           	pagination: true,
	           	lines: true,
				pageSize: 5,
				showFooter:true,
				pageList: [5,10,20,50,100],
	           	idField: 'id',
	           	treeField: 'vcName'
           	">
			<thead>
			<tr>
				<th data-options="field:'vcName',width:150">资源名称</th>
				<th data-options="field:'iType',width:100,formatter:formatType">资源类型</th>
				<th data-options="field:'vcUrl',width:400">资源URL</th>
				<th data-options="field:'isort',width:50">排序</th>
				<th data-options="field:'action',width:150,formatter:formatAction">操作</th>
			</tr>
			</thead>
		  </table>
	<!--
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                    <tr>
                        <th>资源名称</th>
                        <th>上一级资源名称</th>
                        <th>资源类型</th>
                        <th>资源URL</th>
                        <th>排序</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($row in $result.rows)
                        <tr>
                            <td> $!{row.vcName} </td>
                            #if($row.iParentId==0)
                        		<td></td>
                        	#else
	                        	 #foreach($parentList in $parentLists)
	                        	 	#if($row.iParentId == $parentList.id)
	                        	 		<td> $parentList.vcName </td>
	                        	 	#end
	                        	 #end	
                        	#end
                            <td> #if($row.iType==1) 菜单资源 #else 按钮 #end </td>
                            <td> $!{row.vcUrl} </td>
                            <td> $!{row.isort} </td>
                            <td><a href="${www}/resources/find?id=${row.id}">修改</a>
                              	 #if($row.iValid==1)	
                              		｜   <a href="javascript:delFun(${row.id});">删除</a>
                              	 #end
                                 #if($row.iType==1 and $row.iValid==1)
                                   	 ｜  <a href="${www}/resources/new?iParentId=$row.id">添加下级资源</a>
                                #end
                            </td>
                        </tr>
                        #end
                    </tbody></table>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="dataTables_paginate paging_bootstrap">
                            <ul class="pagination">
                                #set($pageRequestURL="${www}/resources?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
                                #paginationHelper($result $pageRequestURL)
                            </ul>
                        </div>
                    </div>
                </div>
 -->
            </div>
        </div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->
#if($request.getParameter("msg"))
	<script type="text/javascript">
		$(function(){
			alert('$!{request.getParameter("msg")}');
		})
	</script>
#end
<script type="text/javascript">
		(function($){
			function pagerFilter(data){
		        if ($.isArray(data)){    // is array  
		            data = {  
		                total: data.length,  
		                rows: data  
		            }  
		        }
		        var dg = $(this);  
				var state = dg.data('treegrid');
		        var opts = dg.treegrid('options');  
		        var pager = dg.treegrid('getPager');  
		        pager.pagination({  
		            onSelectPage:function(pageNum, pageSize){  
		                opts.pageNumber = pageNum;  
		                opts.pageSize = pageSize;  
		                pager.pagination('refresh',{  
		                    pageNumber:pageNum,  
		                    pageSize:pageSize  
		                });  
		                dg.treegrid('loadData',state.allRows);  
		            }  
		        });  
		        opts.pageNumber = pager.pagination('options').pageNumber || 1;
		        if (!state.allRows){
		        	state.allRows = data.rows;
		        }
		        var topRows = [];
		        var childRows = [];
		        $.map(state.allRows, function(row){
		        	row._parentId ? childRows.push(row) : topRows.push(row);
		        });
		        data.total = topRows.length;
		        var start = (opts.pageNumber-1)*parseInt(opts.pageSize);  
		        var end = start + parseInt(opts.pageSize);  
				data.rows = $.extend(true,[],topRows.slice(start, end).concat(childRows));
				return data;
			}

			var appendMethod = $.fn.treegrid.methods.append;
			var removeMethod = $.fn.treegrid.methods.remove;
			var loadDataMethod = $.fn.treegrid.methods.loadData;
			$.extend($.fn.treegrid.methods, {
				clientPaging: function(jq){
					return jq.each(function(){
						var state = $(this).data('treegrid');
						var opts = state.options;
						opts.loadFilter = pagerFilter;
						var onBeforeLoad = opts.onBeforeLoad;
						opts.onBeforeLoad = function(row,param){
							state.allRows = null;
							return onBeforeLoad.call(this, row, param);
						}
						$(this).treegrid('loadData', state.data);
						if (opts.url){
							$(this).treegrid('reload');
						}
					});
				},
				loadData: function(jq, data){
					jq.each(function(){
						$(this).data('treegrid').allRows = null;
					});
					return loadDataMethod.call($.fn.treegrid.methods, jq, data);
				},
				append: function(jq, param){
					return jq.each(function(){
						var state = $(this).data('treegrid');
						if (state.options.loadFilter == pagerFilter){
							$.map(param.data, function(row){
								row._parentId = row._parentId || param.parent;
								state.allRows.push(row);
							});
							$(this).treegrid('loadData', state.allRows);
						} else {
							appendMethod.call($.fn.treegrid.methods, $(this), param);
						}
					})
				},
				remove: function(jq, id){
					return jq.each(function(){
						if ($(this).treegrid('find', id)){
							removeMethod.call($.fn.treegrid.methods, $(this), id);
						}
						var state = $(this).data('treegrid');
						if (state.options.loadFilter == pagerFilter){
							for(var i=0; i<state.allRows.length; i++){
								if (state.allRows[i][state.options.idField] == id){
									state.allRows.splice(i,1);
									break;
								}
							}
							$(this).treegrid('loadData', state.allRows);
						}
					})
				},
				getAllRows: function(jq){
					return jq.data('treegrid').allRows;
				}
			});

		})(jQuery);

		function formatProgress(value){
	    	if (value){
		    	var s = '<div style="width:100%;border:1px solid #ccc">' +
		    			'<div style="width:' + value + '%;background:#cc0000;color:#fff">' + value + '%' + '</div>'
		    			'</div>';
		    	return s;
	    	} else {
		    	return '';
	    	}
		}
		
		$(function(){
			$('#tg').treegrid().treegrid('clientPaging');
		})
	</script>

