<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.mediareports.MediareportsMapper">	
	<resultMap id="BaseResultMap" type="com.tzg.entitys.mediareports.Mediareports">
		<result property="id" jdbcType="INTEGER" column="id"/>
		<result property="vcLogoUrl" jdbcType="VARCHAR" column="vcLogoUrl"/>
		<result property="vcUrl" jdbcType="VARCHAR" column="vcUrl"/>
		<result property="isort" jdbcType="INTEGER" column="iSort"/>
		<result property="istate" jdbcType="INTEGER" column="iState"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        id ,vcLogoUrl ,vcUrl ,iSort ,iState 
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.tzg.entitys.mediareports.Mediareports" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
	      SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	<![CDATA[
		INSERT INTO tbmediareports (
        	vcLogoUrl ,
        	vcUrl ,
        	iSort ,
        	iState 
		) VALUES (
        	#{vcLogoUrl,jdbcType=VARCHAR} ,
        	#{vcUrl,jdbcType=VARCHAR} ,
        	#{isort,jdbcType=INTEGER} ,
        	#{istate,jdbcType=INTEGER} 
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.mediareports.Mediareports">
		UPDATE tbmediareports
		<set>
			<if test="vcLogoUrl != null">
	        vcLogoUrl = #{vcLogoUrl,jdbcType=VARCHAR} ,
	        </if>
			<if test="vcUrl != null">
	        vcUrl = #{vcUrl,jdbcType=VARCHAR} ,
	        </if>
			<if test="isort != null">
	        iSort = #{isort,jdbcType=INTEGER} ,
	        </if>
			<if test="istate != null">
	        iState = #{istate,jdbcType=INTEGER} 
	        </if>
	    </set>
		WHERE 
	        id = #{id,jdbcType=INTEGER} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM tbmediareports WHERE
        id = #{id} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM tbmediareports 
		WHERE 
        id = #{id} 
	]]>
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from tbmediareports where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from tbmediareports where 1=1
		<include refid="queryWhere"/> 
	    <![CDATA[ ORDER BY iSort ASC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
	
	<sql id="queryWhere">
		<if test="id != null and id.trim() != ''">
		and id = #{id}
		</if>
		<if test="vcLogoUrl != null and vcLogoUrl.trim() != ''">
		and vcLogoUrl = #{vcLogoUrl}
		</if>
		<if test="vcUrl != null and vcUrl.trim() != ''">
		and vcUrl = #{vcUrl}
		</if>
		<if test="isort != null and isort.trim() != ''">
		and iSort = #{isort}
		</if>
		<if test="istate != null and istate.trim() != ''">
		and iState = #{istate}
		</if>
	</sql>
</mapper>


