#set($layout = "/layout/v3/default.vm")
#set($noPrimaryNav = true)
#set($topbar = {"title": "人人赚", "backLink": "$!{basePath}/user/home"})
#set($pageScript = "associate")

<a href="$!{basePath}/subject/pyramid/20151208" class="v3-topbar-side">攻略</a>

<div class="associate-earning mtb4"><em>$numbers.toCurrency($!{indexMap.sumProfit})</em>今日佣金(元)</div>

<ul class="props2">
	<li><a href="$!{basePath}/user/redRecord/page"><div class="props2_label">累计红包</div>$numbers.toCurrency($!{indexMap.redRecordAll})元</a></li>
	<li><a href="$!{basePath}/user/pyramid/wap/investOut"><div class="props2_label">累计佣金</div>$numbers.toCurrency($!{indexMap.numTotalProfit})元</a></li>
	<li class="-arrow"><a href="$!{basePath}/user/redRecord/page"><div class="props2_label">今日红包</div>$numbers.toCurrency($!{indexMap.redRecordToday})元</a></li>
	<li class="-arrow"><a href="$!{basePath}/user/pyramid/wap/investOut"><div class="props2_label">可转佣金</div>$numbers.toCurrency($!{indexMap.numProfit})元</a></li>
</ul>

<div class="block-links">
	<a href="$!{basePath}/user/pyramid/wap/investRecord">佣金明细</a>
	<a href="$!{basePath}/user/pyramid/wap/friendsList">邀友记录</a>
</div>

<div class="action-links">
	<a href="$!{actPath}/newawardsfission/getShareUrl?vcPhone=$!{indexMap.vcPhone}" class="-redpacket">
		<span class="action-links_label">红包邀友</span>
		<span class="action-links_hint">庆新春 掌柜狂送2000万红包</span>
	</a>
	<a href="#" class="-face2face" id="open_qrcode_popup">
		<span class="action-links_label">当面邀友</span>
		<span class="action-links_hint">您的私人邀请码$!{indexMap.recommendCode}</span>
	</a>
</div>

<div class="ft-popup" id="qrcode_popup">
	<div class="ft-popup_window">
		<div class="qrcode-popup-content">
			<div class="qrcode-popup-content_title">你的邀请码$!{indexMap.recommendCode}</div>
			<img src="$!{basePath}/app/subject/inviteFriendsQRcode?key=$!{indexMap.recommendCode}" alt="邀请码">
		</div>
	</div>
</div>
