#set($layout = "/layout/default.vm")
#set($pageName="余额转出")
#set($bodyClass="gray-body")
#set($topbar = {"title": $pageName})
<link rel="stylesheet" href="$!{basePath}/app/css/style.css?v=20151205">
<script src="$!{staticPath}/js/lib/sea.js?v=$!{staticVersion}" id="seajsnode"></script>

<form method="post" action="$!{basePath}/user/pyramid/confirmCash" id="j_out-form">
	<div class="py-out-form">
		<div class="container-r-spacing"><span class="u-clGrayLgt u-fsH">可转出余额</span>&nbsp;<span class="u-clScd u-fsH1">$numbers.toCurrency($!{numProfit})元</span></div>
		<input name="maxOutAmt" data-value="$!{numProfit}" type="hidden">
		<div class="u-2c-box  mtb">
			<span class="u-fsH1">转出金额</span>
			<input type="number" name="numCash" class="u-ipt container-r-spacing" placeholder="请输入转出金额" required>
		</div>
		<div class="u-clGrayLgt container-r-spacing pb30">预计明日到账户余额中</div>
	</div>
	<div class="container-r-spacing mt">
		<button class="u-btn z-blue z-fll" type="submit" defaultvalue="确定">确定</button>
	</div>
</form>


## 弹出框
## -------------------------------------
<div class="xm-dialog" id="j_xm_dialog" style="display:none">
    <div class="xm-dialog_inner">
        <div class="xm-dialog_win">
            <div class="xm-dialog_content"></div>
            <div class="container-r-spacing"><a href="javascript:;" class="xm-dialog_btn u-btn z-blue z-fll">确 定</a></div>
        </div>
    </div>
</div>
<script>seajs.use("page/rrz-inves-ation")</script>