<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzg.entitys.leopard.contracttemplate.ContracttemplateMapper" >
	<resultMap id="BaseResultMap" type="com.tzg.entitys.leopard.contracttemplate.Contracttemplate" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="vcName" property="vcName" jdbcType="VARCHAR" />
	    <result column="vcURL" property="vcURL" jdbcType="VARCHAR" />
	    <result column="iValid" property="iValid" jdbcType="INTEGER" />
	    <result column="dtModify" property="dtModify" jdbcType="TIMESTAMP" />
	    <result column="dtCreate" property="dtCreate" jdbcType="TIMESTAMP" />
    </resultMap>

   <sql id="Base_Column_List" >
    id, vcName, vcURL, iValid, dtModify, dtCreate
   </sql>
	  
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
	    select 
	    <include refid="Base_Column_List" />
	    from tbcontracttemplate
	    where id = #{id,jdbcType=INTEGER}
  </select>  
	  
	  <insert id="save" parameterType="com.tzg.entitys.leopard.contracttemplate.Contracttemplate" >
	  	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
	    insert into tbcontracttemplate (id, vcName, vcURL, 
	      iValid, dtModify, dtCreate
	      )
	    values (#{id,jdbcType=INTEGER}, 
	            #{vcName,jdbcType=VARCHAR}, 
	            #{vcURL,jdbcType=VARCHAR}, 
		        #{iValid,jdbcType=INTEGER}, 
		        #{dtModify,jdbcType=TIMESTAMP}, 
		        #{dtCreate,jdbcType=TIMESTAMP}
	      )
   </insert>
	  
	  
	<update id="update" parameterType="com.tzg.entitys.leopard.contracttemplate.Contracttemplate" >
	    update tbcontracttemplate
	    <set >
	      <if test="vcName != null" >
	        vcName = #{vcName,jdbcType=VARCHAR},
	      </if>
	      <if test="vcURL != null" >
	        vcURL = #{vcURL,jdbcType=VARCHAR},
	      </if>
	      <if test="iValid != null" >
	        iValid = #{iValid,jdbcType=INTEGER},
	      </if>
	      <if test="dtModify != null" >
	        dtModify = #{dtModify,jdbcType=TIMESTAMP},
	      </if>
	      <if test="dtCreate != null" >
	        dtCreate = #{dtCreate,jdbcType=TIMESTAMP},
	      </if>
	    </set>
	    where id = #{id,jdbcType=INTEGER}
  </update>  
  
  
  	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from tbcontracttemplate
    	<include refid="pageCondition"/>
	</select>
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 
		<include refid="Base_Column_List"/>  
		from tbcontracttemplate 
		<include refid="pageCondition"/>
		 ORDER BY id DESC
       <![CDATA[ LIMIT #{startRecord,jdbcType=INTEGER},#{endRecord,jdbcType=INTEGER} ]]>
	</select>
  	<!-- 分页查询条件 -->
	<sql id="pageCondition">
		<where>
			1=1
			<if test="vcName != null and vcName.trim()!='' ">
				and vcName like concat('%',#{vcName},'%') 
			</if>
			<if test="iValid != null" >
	        	and iValid = #{iValid,jdbcType=INTEGER}
	      </if>
		</where>
	</sql>
	
	<select id="queryTbContractTemplateAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from tbContractTemplate
		where iValid=1
	</select>
	  
</mapper>