<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="${www}/main">主页</a>
            </li>
            <li class="active">新增借款人</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>新增借款人</h1>
        </div>
        
       #if(${msg})
        	<div>
			#if(${success})
        		<li class="text-success">$!{msg}</li>
   			 #else
        		<li class="text-danger">$!{msg}</li>
   			 #end    	
   			</div>
   		#end	
  		<div class="container-fluid">   
  		<div class="row">   
        <form action="${www}/loginaccount/borrower/save" method="post" class="form-horizontal">
        	<input type="hidden" name="itype" value="1"/>
            <div class="row">
               <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label"><span class="red">*</span>手机号：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="vcPhone" value="$!{param.vcPhone}"/>
                        </div>
                    </div>
             </div>
           </div>
            <div class="row">
               <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label"><span class="red">*</span>姓名/企业名称：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="vcName" value="$!{param.vcName}"/>
                        </div>
                    </div>
             </div>
           </div>
            <div class="row">
               <div class="col-xs-12 col-md-8">                   
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label"><span class="red">*</span>身份证号码/营业执照：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="vcCardCode" value="$!{param.vcCardCode}"/>
                        </div>
                    </div>
              </div>
           </div>
            <div class="row">
               <div class="col-xs-12 col-md-8">                   
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">登陆账号：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="vcLoginName" value="$!{param.vcLoginName}"/>
                        </div>
                    </div>
             </div>
           </div>
            <div class="row">
               <div class="col-xs-12 col-md-8">                    
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">邮箱账号：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" name="vcEmail" value="$!{param.vcEmail}"/>
                        </div>
                    </div>
               	</div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-sm-offset-2 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="icon-ok bigger-110"></i> 提交
                    </button>
                </div>
            </div>
		</form>
	</div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->