html{height:100%;font-size:10px;background-color:#fff;}
@media screen and (max-width:640px){html{font-size:8.533333333px}}
@media screen and (max-width:560px){html{font-size:7.466666667px}}
@media screen and (max-width:480px){html{font-size:6.4px}}
@media screen and (max-width:400px){html{font-size:5.333333333px}}
@media screen and (max-width:320px){html{font-size:4.266666667px}}
body {
    margin:0 auto;
    max-width:750px;
    min-width:320px;
    min-height:100%;
    font-size: 1rem;
    /*background-color: #26c5ef;*/
    -webkit-text-size-adjust: none;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topic-container {
    position: relative;
}

.floor {
    position: absolute;
    z-index: 20;
}

/* 图片
 ------------------------------------------- */
.topic-images img {
    width: 100%;
    vertical-align: top;
}
.logo-flag{
    position: absolute;
    top: 1.21%;
    left: 50%;
    margin-left: -26%;
    width: 28%;
}
.logo-flag img{
    width: 100%;
}
.btn-share{
    position: absolute;
    right: 4%;
    top: 0;
    width: 18%;
}
.btn-rule{
    position: fixed;
    right: 0%;
    top: 200px;
    width: 8%;
    max-width: 50px;
    z-index: 11;
}
.btn-cj{
    position: absolute;
    left: 50%;
    top: 19%;
    width: 25%;
    margin-left: 15%;
    outline: none;
}
.ship-ct{
    position: relative;
}
.amount .d{
    margin: 0px 2px 2px 2px;
    position: relative;
    float: left;
    padding: 2px 3px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    color: #0f2963;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    /*background-color: #fff;*/

    background-color: #fff;
    border-radius: 5px;
}

.amount span
{
    margin-top: 0px;
    position: relative;
    float: left;
    padding: 5px 0px;
    overflow: hidden;

    color: #0f2963;
    font-size: 3rem;
    font-weight: bold;
    /*background-color: #fff;*/

}
.amount .d ul {
    position: relative;
}

.rule-detail{
    position: fixed;
    left: 150%;
    margin-left: -48%;
    top:6%;
    width: 90%;
    max-width: 600px;
    z-index: 101;
    transition:left 0.2s ease-out;
}

.rule-open{
    left: 50%;
    transition:left 0.2s ease-out;
}
.rule-detail img{
    width: 100%;
}
.rule-close{
    position: absolute;
    right: 12%;
    top: 2%;
    background: url('images/icon_close_rule.png') no-repeat;
    background-size: cover;
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    z-index: 102;
}
.mask{
    opacity: 0.7;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    z-index: 100;
    background: #000;
    display: none;
}

.floor-subjects{
    position: absolute;
    left: 50%;
    top:58%;
    color: #f87482;
    margin-left: -42%;
    font-weight: bold;
    font-size: 3rem;
    width: 85%;
}
.floor-subjects li{
    float: left;
    width: 33%;

    text-align: center;
}
.floor-subjects .sub2{
    margin-left: 0px;
    position: relative;
    left: -1%;
}
.floor-subjects .sub3{
    margin-left: 0px;
    position: relative;
    left: -5%;

}
.floor-subjects .past{
    color:#888888 ;
}

.btn-share{
    display: none;
}
.btn-share img{

}
.topic-container img{width:100%;vertical-align:top}


/*活动样式*/
.star-box .btn-get-gray{
    display: none;
}
.active-ct{
    position: relative;
}
.star-box{
    position: absolute;
    width: 42%;
    /*height: 150px;*/
    z-index: 11;
    /*background-color: #fff;*/
    /*opacity: 0.3;*/
}
.qd-box{
    position: relative;
}
.topic-images .cloud-left{
    width: 40%;
}
.topic-images .cloud-right{
    width: 80%;
}
.star-box1{
    left: 50%;
    margin-left: -45%;
    top: 10%;
}
.star-box2{
    left: 50%;
    margin-left: 1%;
    top: 15%;
}
.star-box3{
    left: 50%;
    margin-left: -39%;
    top: 27%;
}
.star-box4{
    left: 50%;
    margin-left: 3%;
    top: 36%;
}
.star-box5{
    left: 50%;
    margin-left: -31%;
    top: 47%;
}
.star-box6{
    left: 50%;
    margin-left: -14%;
    top: 61%;
}
.star-box7{
    left: 50%;
    margin-left: -42%;
    top: 75%;
}
.star-box8{
    left: 50%;
    margin-left: 5%;
    top: 84%;
}
.star-box9{
    left: 50%;
    margin-left: -32%;
    top: 95.5%;
}
.btn-get{
    display: block;
    width: 58%;
    margin: 0 auto;
    position: relative;
    outline: none;
}
.star-open .btn-get:active{
    left: 1px;
    top:1px;
}

.cloud-left{
    position: absolute;
    left: 5%;
    top:-10%;
    opacity: 1;
    transition:all 0.8s ease-out;
    z-index: 1;
}
.cloud-right{
    position: absolute;
    right: 10%;
    top:-21%;
    transition:all 0.8s ease-out;
    z-index: 2;
}
.star-box:hover .cloud-left{
    left: -20%;
    opacity: 0;
    filter:alpha(opacity=0);
    transition:all 0.8s ease-out;

}
.star-box:hover .cloud-right{
    right: -50%;
    opacity: 0;
    filter:alpha(opacity=0);
    transition:all 0.8s ease-out;
}
.star-gray-open .btn-get-active{
    display: none;
}
.star-gray-open .btn-get-gray{
    display: block;
    cursor: default;
}
.star-open .cloud-left,.star-open .cloud-right{
    display: none;
}
.star-gray-open .cloud-left,.star-gray-open .cloud-right{
    display: none;
}
.banner-movie{
    position: relative;
}
img.out-ship{
    position: absolute;
    left: 50%;
    margin-left: -50%;
    top: 20%;
    width: 54%;
    -webkit-animation:outship 1s forwards 0.1s;
    animation:outship 1s forwards 0.1s;
}
img.out-word{
    position: absolute;
    left: 5%;
    top: 38%;
    width: 90%;
    -webkit-animation:outword 0.4s forwards 0.9s;
    animation:outword 0.4s forwards 0.9s;
    opacity: 0;
}
@-webkit-keyframes outword {
    0%{
        opacity: 0;
        -webkit-transform:translate(0,20%);
        transform:translate(0,20%);
    }
    100%{
        opacity: 1;
        -webkit-transform:translate(0,0);
        transform:translate(0,0);
    }
}
@keyframes outword {
    0%{
        opacity: 0;
        -webkit-transform:translate(0,20%);
        transform:translate(0,20%);
    }
    100%{
        opacity: 1;
        -webkit-transform:translate(0,0);
        transform:translate(0,0);
    }
}

@-webkit-keyframes outship{
    0%{
        opacity: 0;
        -webkit-transform:translate(-300px,200px);
        transform:translate(-300px,200px);
    }
    100%{
        opacity: 1;
        transform:translate(0,0);
    }
}
@keyframes outship{
    0%{
        opacity: 0;
        -webkit-transform:translate(-300px,200px);
        transform:translate(-300px,200px);
    }
    100%{
        opacity: 1;
        -webkit-transform:translate(0,0);
        transform:translate(0,0);
    }
}





/* 模拟弹框
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.xm-dialog {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 200%;
    background-color: rgba(0,0,0,.46);
}
.xm-dialog_inner {
    position: relative;
    top: 15%;
    margin: auto;
    max-width: 750px;
    min-width: 320px;
}
.xm-dialog_win {
    box-sizing: border-box;
    margin: auto;
    width: 72.67%;
    font-size: 2.4rem;
    padding: 110px 8% 3.33%;
}
.xm-dialog_win_alert{
    position: relative;
    padding: 0;
    width: 90%;
}
.xm-dialog_win_alert .alert_bg_img{
    width: 100%;
}
.xm-dialog_win_alert .dialog-ct{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    margin: 0 auto;
}
.xm-dialog_win_alert .xm-dialog_content{
    margin-top: 14%;
    padding: 0% 5%;
    text-align: center;
}
.xm-dialog_win_alert .xm-dialog_btn{
    /*height: 4%;*/
    line-height: 1;
    width: 30%;
    padding: 2% 0;
}
.xm-dialog_content {
    margin-bottom: 5%;
    font-size: 3rem;
    color: #8b00e4;
    text-align: center;
}
.xm-dialog_btn {
    display: block;
    padding: 5% 0;
    width: 20%;

    margin: 0 auto;
    border: none;
    font-size: 2.4rem;
    border-radius: .2em;
    text-align: center;
    color: #fff;
    background: #003755;
}
.xm-dialog_close {
    position: absolute;
    top: 3%;
    right: 7%;
    width: 0.9em;
    height: 0.9em;
    font-size: 4rem;
    color: #fff;
    line-height: 1;
    text-align: center;
    background-color: #003755;
    border-radius: 5px;
}


.btn {
    box-sizing: border-box;
    display:inline-block;
    padding:0 3%;
    overflow:visible;
    border:0;
    font-size:4.2rem;
    line-height:2;
    font-family: "micrsoft yahei";
    border-radius:1rem;
    background-color:#b9b9b9
}
.btn.-primary {
    color:#fff;
    background-color:#f87382
}
.btn.-c3 {
    color:#fff;
    background-color:#4dd2bb
}
.btn.-gray,.btn.-loading,.btn[disabled],.btn:disabled {
    background:#c3c3c3
}
.btn.-full {
    padding:0;
    width:100%;
    text-align:center
}
.btn.-small {
    font-size: 3.2rem;
    border-radius:.5rem;
}
.btn.-hollow {
    border: 1px solid #f87382;
    color: #f87382;
    background-color: #fff;
}
.btn.-loading {
    font-size:0
}
.btn.-loading:after {
    content:"\e60c";
    display:inline-block;
    font-family:tzg-icon;
    font-size:4.2rem;
    -webkit-animation:icon-spin 1.5s infinite linear;
    -moz-animation:icon-spin 1.5s infinite linear;
    animation:icon-spin 1.5s infinite linear
}
.btn.-small.-loading:after {
    font-size:3.2rem;
}


.ipt {
    display: inline-block;
    padding: .5em;
    border: 1px solid #e6e6e6;
    font-size: 3rem;
    font-family: "micrsoft yahei";
    line-height: 1.5;
}
.ipt:focus {
    border-color: #70abf1;
}
.ipt.-full {
    box-sizing: border-box;
    width: 100%;
}

.captcha {
    position: relative;
}
.captcha_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    color: #fff !important;
    font-size: 2rem;
    line-height: 3.8;
    text-align: center;
    background-color: #4e96ef;
}
.captcha_btn.z-gray {
    background-color: #c0c0c0;
}
.captcha_ipt {
    width: 60%;
}

/*~~~~~~~~~~~~~~~~~
	协议弹框
 ~~~~~~~~~~~~~~~~~*/
.protocol-popup {
    position:fixed;
    top:0;
    left:150%;
    z-index:105;
    width:100%;
    height:100%;
    font-size: 3rem;
    background-color:#fff;
    -webkit-transition:left .2s ease-out;
    -moz-transition:left .2s ease-out;
    transition:left .2s ease-out;
    -webkit-overflow-scrolling: touch;
}
.protocol-popup.-opened {
    left:0;
    -webkit-transition:left .2s ease-out;
    -moz-transition:left .2s ease-out;
    transition:left .2s ease-out
}
.protocol-popup_hd,.protocol-popup_ft {
    position:absolute;
    left:0;
    z-index:3;
    width:100%;
    height:2.5em;
    text-align:center;
    background-color:#fff
}
.protocol-popup_hd {
    top:0;
    line-height:2.5;
    -webkit-box-shadow:0 3px 3px rgba(102,153,255,.3);
    -moz-box-shadow:0 3px 3px rgba(102,153,255,.3);
    box-shadow:0 3px 3px rgba(102,153,255,.3)
}
.protocol-popup_ft {
    bottom:0;
    text-align:center;
    -webkit-box-shadow:0 -3px 3px rgba(102,153,255,.3);
    -moz-box-shadow:0 -3px 3px rgba(102,153,255,.3);
    box-shadow:0 -3px 3px rgba(102,153,255,.3)
}
.protocol-popup_ft .button {
    border:0;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-size: 3rem;
    background:transparent
}
.protocol-popup_bd {
    position:absolute;
    top:2.5em;
    right:0;
    bottom:2.5em;
    left:0;
    padding:0 3%;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
}

/*~~~~~~~~~~~~~~~~~
	登录/注册表单
 ~~~~~~~~~~~~~~~~~*/
.public-form {
    font-size: 3rem;
}
.public-form li {
    margin: 3% 0;
}
.public-form .form-item {
    padding-left: 3em;
}
.public-form .form-label {
    float: left;
    margin-top: .5em;
    margin-left: -3em;
}
.public-form.-label-4c .form-item {
    padding-left: 6em;
}
.public-form.-label-4c .form-label {
    margin-left: -6em;
}
.public-form .form-content .captcha .ipt {
    margin-top: 0;
}
.public-form .ipt.z-err {
    border-color: #c00;
}
.public-form label.z-err {
    color: #c00;
}
.public-form a {
    color: #4e96ef;
}

/*~~~~~~~~~~~~~~~~~
	登录注册弹框
 ~~~~~~~~~~~~~~~~~*/
.ui-dialog {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(79, 150, 240, 0.3);
}
.lt-ie9 .ui-dialog {
    border: 1px solid #c4dcfa;
}
.ui-dialog-grid {
    border-collapse: collapse;
}
.ui-dialog-header {
    padding: 3% 0;
    color: #fff;
    background-color: #f87382;
}
.ui-dialog-close {
    display: block;
    position: absolute;
    top: 1.5%;
    right: 2%;
    font-size: 5rem;
    line-height: 1;
    color: #fff;
}
.ui-dialog-close:hover {
    color: rgba(255, 255, 255, 0.7);
}
.ui-dialog-close:active {
    color: rgba(255, 255, 255, 0.4);
}
.lt-ie7 .ui-dialog-close .ui-dialog-close {
    position: absolute;
    height: 26px;
    background: #FFF;
}
.ui-dialog-title {
    text-align: center;
    font-size: 3rem;
}
.ui-dialog-content {
    box-sizing: border-box;
    padding: 5%;
    overflow: auto;
    font-size: 3rem;
}

.m-pppMsg {
    position: fixed;
    left: 0;
    top: 70%;
    z-index: 200;
    width: 100%;
    font-size: 2.4rem;
}
.m-pppMsg-inn {
    position: absolute;
    top: 10px;
    padding: 5px 8px;
    max-width: 360px;
    border-radius: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.z-show .m-pppMsg-inn {
    opacity: 1;
    top: 0;
    -webkit-transition: opacity, top .2s ease-out;
    -moz-transition: opacity, top .2s ease-out;
    transition: opacity, top .2s ease-out;
}
