#set($layout = "/layout/default2.vm")
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>《铜掌柜》注册协议</title>
<style>html,body{margin:0; padding:0; font:14px/1.42857 'Microsoft Yahei',arial; color:#606060; background:#fff;}h3.protocol-title-1{margin:15px 0 10px; padding:0; font-weight:700; font-size:18px;}p{margin:10px 0; text-indent:2em; line-height:1.8;}strong{color:#000;font-weight: bold;}.normal{font-weight: normal;font-size: 16px;}</style>
</head>

<body>

<p>铜钱宝自动转入服务协议（以下简称“本协议”）是河北融佰通金融服务有限公司（以下简称“本公司”或“铜米金服”）与铜掌柜投资用户( 以下简称“您”或“投资者”)就开启铜钱宝自动转入服务相关事项所订立的有效合约。投资者通过网络页面点击确认或以其他方式选择接受本协议，即表示投资者与铜米金服已达成协议并同意接受本协议的全部约定内容以及与本协议有关的各项规则及铜掌柜网站所包含的其他与本协议或本协议项下各项规则的条款和条件有关的各项规定。</p>
<p>在接受本协议之前，请您仔细阅读本协议的全部内容（特别是以粗体字标注的内容）。如果您不同意本协议的任何内容，或者无法准确理解铜米金服对条款的解释，请不要进行后续操作。</p>
<h3 class="protocol-title-1">第一条 释义</h3>
<p>铜钱宝自动转入服务：是指投资者开启铜钱宝自动转入功能后，根据投资者账户内实际大于等于1的倍数的总金额为标准，向铜米金服发出扣款指令，为投资者完成购买铜钱宝项目的理财服务。</p>
<h3 class="protocol-title-1">第二条 特别约定</h3>
<p><strong>1、您授权铜米金服根据本协议从您的铜掌柜投资账户中进行扣款，铜米金服会于本服务开启后每日0:00自动扣款，扣款成功后由铜米金服将相应款项为您购买铜钱宝项目。您通过铜米金服扣款成功后购买的铜钱宝项目自购买之时立即生效，次日计息。</strong></p>
<p><strong>2、您理解并同意，铜米金服只是被授权指令的执行方，除非铜米金服没有根据本协议的指令进行操作，或者操作指令错误，否则铜米金服不对因开启铜钱宝自动转入服务产生的损失和责任负责。</strong></p>
<p><strong>3、您理解并同意，您需保证指定账户在扣款日全天的账户余额足额且账户状态正常。若因您指定账户的余额不足、账户状态不正常或网络故障、系统故障等不可抗力的原因导致铜米金服无法扣款成功的情况下，您理解并同意该笔开启可能被顺延或终止,铜米金服不承担任何责任，投资者须自行承担可能发生的任何风险及损失。</strong></p>
<p><strong>4、您理解并同意，应预测并留存足够的资金余额以保障您后续通过指定账户完成相关交易。铜米金服会根据您账户内实际大于等于1的倍数的总金额一次全部执行扣款指令，低于1元部分不转入铜钱宝。 </strong></p>
<p><strong>5、您理解并同意，铜米金服有权视情形单方中止/终止向您提供本协议约定的铜钱宝自动转入服务。铜米金服开展前述行动时将以本协议约定的方式通知，而无需另行单独通知您，也不就该等行动给您造成的损失（包括但不限于丧失投资机会而未能取得投资收益）承担责任。</strong></p>
<p><strong>6、您理解并同意，铜米金服仅向您提供资金划转等服务，您开启铜钱宝自动转入服务投资到铜钱宝项目的资金收益，以铜掌柜平台的相关协议约定为准。</strong></p>
<p><strong>7、您理解并同意，您向铜米金服发出的授权不可撤回或撤销，且为铜米金服根据本协议约定方式为您提供铜钱宝自动转入服务的唯一指令。该指令视为您本人的指令， 您应当对铜米金服忠实执行上述指令产生的任何结果承担责任。</strong></p>
<p><strong>8、您理解并同意，系统会根据开启自动转入铜钱宝功能的时间先后顺序执行，如果执行到您的指令时铜钱宝资产不足以匹配您的转入资金时，系统将部分资金转入铜钱宝。</strong></p>
<p><strong>9、您理解并同意，您转入铜钱宝的资金总金额不能超过系统限定的$!{numMaxAmount}元，当您的铜钱宝总金额达到限定值时，自动转入将不会或部分执行。 </strong></p>
<h3 class="protocol-title-1">第三条 通知</h3>
<p>关于本协议条款和其他协议、告示或其他有关您使用铜钱宝服务的通知，铜米金服将以电子形式或纸张形式通知您，包括但不限于依据您提供的电子邮件地址发送电子邮件的方式、依据投资者提供的联系地址寄送挂号信的方式、于本网站或合作伙伴网站上公布、或发送手机短信和电话通知等方式。您应当确保上述电子邮件地址、联系地址、手机、电话等联系方式始终处于有效使用状态；若发生变化，您应当按照铜掌柜网站指定的方式进行变更。上述通知一旦发送将视为有效送达。</p>
<h3 class="protocol-title-1">第四条 协议修改</h3>
<p>铜米金服保留修改或增补本协议内容的权利。本协议的修改文本将公告于铜掌柜网站或以其他铜米金服认为可行的方式公告。修改文本一旦公布则立即生效，且对生效前的用户同样适用。</p>
<h3 class="protocol-title-1">第五条 风险</h3>
<p>因发生不可抗力事件导致铜钱宝自动转入服务无法正常提供，铜米金服应及时通知其他协议当事人及相关方并积极采取措施予以解决，但是不承担赔偿责任。不可抗力包括但不限于战争、火灾、地震、水灾、罢工、网络故障、系统故障等不能合理预见、不可避免和不能克服的自然灾害、社会异常事件及技术风险等。</p>
<h3 class="protocol-title-1">第六条 法律适用</h3>
<p>1、因本协议引起的或与本协议有关的争议，均适用中华人民共和国法律。</p>
<p>2、因本协议引起的或与本协议有关的争议，铜米金服与用户协商解决。协商不成的，任何一方均有权向铜米金服所在地法院提起诉讼解决。</p>
<h3 class="protocol-title-1">第七条 本协议作为《铜钱宝服务协议》的有效补充，本协议未约定的内容，双方需按照《铜钱宝服务协议》执行相关约定。</h3>
</body>
</html>
