#set($pageName = "邮箱已认证")

<div class="m-msg f-mt3">
	<div class="m-msg-img f-mb2"><i class="u-fntIco--msg">&#xe610;</i></div>
	<div class="m-msg-ttl">$!{msg}</div>
	<div class="m-msg-cnt">
		 <span class="u-clScd" id="j_second">5</span> 秒钟后，系统将带您进入到首页
	</div>
</div>

<script>
seajs.use(["jquery"], function (__) {
	var __elem = __("#j_second");
	var start = parseInt(__elem.text());
	var homePath = basePath + "/user/home";
	if (isNaN(start) || start < 1) {
		self.location.replace(homePath);
		return;
	}
	var timer = setInterval(function () {
		if (start === 1) {
			clearInterval(timer);
			self.location.replace(homePath);
		}
		else {
			__elem.text(--start);
		}
	}, 1000);
});
</script>
