#set($pageName = "注册")
#set($bodyClass = "body--gray")
#set($pageFootCode = '<script>seajs.use("page/register-valid")</script>')
#set($topbar = { "title": "注 册" })

#set($phone = $session.getAttribute("phone_number"))

<div class="f-mtb2 f-tlc">
	<div class="u-clGrayLgt">已发送验证码至</div>
	<div class="u-clPrm">$!{phone}</div>
</div>
<form method="post" action="$!{basePath}/registervalidcode" id="j_register_2_form">
	<ul class="m-frm4">
		<li class="m-frm4-itm -icon-label">
			<div class="g-6a4 z-captcha">
				<a href="javascript:;" class="g-6a4-sd u-btn z-scs z-noBrdRds" id="j_send_captcha">短信验证码</a>
				<input type="number" name="dynamicVerifyCode" class="g-6a4-mn u-ipt" placeholder="输入短信验证码" maxlength="6" data-captcha-token="$!{token}" required id="j_captcha_ipt">
				<span class="m-frm4-lbl">&#xe613;</span>
			</div>
		</li>
		<li class="m-frm4-itm" id="j_pic_captcha" style="display:none">
			<div class="m-frm4-cnt">
				<div class="m-picCpt">
					<input type="text" name="validcode" class="u-ipt m-picCpt_ipt" placeholder="输入验证码" maxlength="4" required>
					<img src="$!{basePath}/dynamicValidateCode/showCaptchPic" alt="加载中" class="m-picCpt_pic">
				</div>
			</div>
		</li>
		<li class="m-frm4-itm">
			<button type="submit" name="submity" class="u-btn z-prm z-fll z-ldg">下一步</button>
		</li>
	</ul>
	<input type="hidden" name="phoneNumber" value="$!{phone}">
</form>
#* 
<form method="post" action="$!{basePath}/registervalidcode" id="j_register_form">
	<ul class="m-frm2">
		<li>
			<label>已发送验证码至</label>
			<div>$session.getAttribute("phone_number")</div>
		</li>
		<li class="m-frm2-itm" style="display:none">
			<div class="m-frm2-cnt">
				<input type="number" name="phoneNumber"  value="$session.getAttribute("phone_number")" class="u-ipt" placeholder="请输入手机号码" maxlength="11" required>
			</div>
		</li>
		
		<li class="m-frm2-itm" id="j_pic_captcha" style="display:none">
			<div class="m-frm2-cnt">
				<div class="m-picCpt">
					<input type="text" name="validcode" class="u-ipt m-picCpt_ipt" placeholder="输入验证码" maxlength="4" required>
					<img src="$!{basePath}/dynamicValidateCode/showCaptchPic" alt="加载中" class="m-picCpt_pic">
				</div>
			</div>
		</li>
		<li class="m-frm2-itm">
			<div class="g-6a4 z-captcha">
				<a href="javascript:;" class="g-6a4-sd u-btn z-scs z-noBrdRds" id="j_send_captcha">短信验证码</a>
				<input type="number" name="dynamicVerifyCode" class="g-6a4-mn u-ipt" placeholder="输入短信验证码" maxlength="6" data-captcha-token="$!{token}" required id="j_captcha_ipt">
			</div>
		</li>
		<li class="m-frm2-itm">
			<button class="u-btn z-prm z-fll z-ldg" type="submit">下一步</button>
		</li>
		<li class="form-item">
				<div class="form-content tlr cl-gray">
					已有账户？<a href="$!{basePath}/login/page" class="lc-primary">登录</a>
				</div>
		</li>
	</ul>
</form>
 *#

