#set($layout = "/app/layout/default.vm")
#set($pageName="帮助中心")

<style>body{background: #f5f5f5;}</style>
<ul class="block-nav container-spacing mtb2">
	#foreach($item in $result.rows)
		#if($item.id==1)
			<li class="-register-login"><a href="$!{basePath}/app/article/helpDetail?id=$!{item.id}">$!{item.vcName} </a></li>
        #elseif($item.id==2)
			<li class="-charge-cash"><a href="$!{basePath}/app/article/helpDetail?id=$!{item.id}">$!{item.vcName} </a></li>
        #elseif($item.id==3)
			<li class="-repayment"><a href="$!{basePath}/app/article/helpDetail?id=$!{item.id}">$!{item.vcName} </a></li>
		#elseif($item.id==4)
			<li class="-account-safety"><a href="$!{basePath}/app/article/helpDetail?id=$!{item.id}">$!{item.vcName} </a></li>
		#elseif($item.id==5)
			<li class="-words"><a href="$!{basePath}/app/article/helpDetail?id=$!{item.id}">$!{item.vcName} </a></li>
		#elseif($item.id==6)
			## <li class="-words"><a href="$!{basePath}/app/article/helpDetail?id=$!{item.id}">$!{item.vcName} </a></li>
		#else 
			<li class="-words"><a href="$!{basePath}/app/article/helpDetail?id=$!{item.id}">$!{item.vcName} </a></li>
		#end
	#end
</ul>
