#set($staticVersion = "20160121")
<!doctype html>
<html lang="zh">
<head>
<meta charset="utf-8">
#if ($pageTitle)
<title>$!{pageTitle}</title>
#else
#if ($pageName)
<title>$!{pageName}_铜掌柜，小理财大生活_互联网金融服务平台_网络投资理财首选</title>
#else
<title>铜掌柜，小理财大生活_互联网金融服务平台_网络投资理财首选</title>
#end
#end
#if ($pageKeywords != "")
#if ($pageKeywords)
<meta name="keywords" content="$!{pageKeywords}">
#else
<meta name="keywords" content="投资理财, 铜掌柜,理财,互联网金融服务平台,p2p,网贷平台,铜掌柜">
#end
#end
#if ($pageDescription != "")
#if ($pageDescription)
<meta name="description" content="$!{pageDescription}">
#else
<meta name="description" content="铜掌柜，让理财更放心！-提供安全、高收益的网络理财服务。铜掌柜有严格的风险控制体系，给投资者100%本息担保，第三方资金托管，保障资金安全。">
#end
#end
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="basepath" content="$!{basePath}" id="j_basepath">
<meta name="staticpath" content="$!{staticPath}" id="j_staticpath">
<meta name="staticversion" content="$!{staticVersion}" id="j_staticversion">
<link rel="icon" href="$!{staticPath}/images/favicon.ico">
<link rel="shortcut icon" href="$!{staticPath}/images/favicon.ico">
#if ($baseCSS != "")
#if ($baseCSS)
<link rel="stylesheet" href="$!{staticPath}/css/$!{baseCSS}.css?v=$!{staticVersion}">
#else
<link rel="stylesheet" href="$!{staticPath}/css/style.css?v=$!{staticVersion}">
#end
#end
#if ($appCSS)
<link rel="stylesheet" href="$!{staticPath}/css/$!{appCSS}.css?v=$!{staticVersion}">
#end
<!--[if lt IE 9]>
<script src="$!{staticPath}/js/lib/html5shiv.js"></script>
<![endif]-->
#if ($pageHeadCode)
$!{pageHeadCode}
#end
<script src="$!{staticPath}/js/lib/sea.js?v=$!{staticVersion}" id="seajsnode"></script>
</head>
#if ($bodyClass)
#if ($hasFoot == "no")
<body class="$!{bodyClass} body-noFt">
#else
<body class="$!{bodyClass}">
#end
#else
#if ($hasFoot == "no")
<body class="body-noFt">
#else
<body>
#end
#end

<div class="f-doc">
#parse("/layout/header.vm")
<div class="f-bd f-clrMgn">
$screen_content
</div>
## $hasFoot: 是否输出footer
#if ($hasFoot == "yes")
#parse("/layout/footer2.vm")
#end
</div>

<div style="position:fixed;left:-150px;width:100px;">
##百度统计
<img src="$sc.getBaidu($request,$response,'b274beec7e93e435fc242fc634bb5c73')" width="0" height="0" />
##cnzz统计
<img src="$sc.getCnzz($request,$response,1254699603)" width="0" height="0" />
</div>

<script>seajs.use("module/common");</script>
#if ($pageFootCode)
$!{pageFootCode}
#end
</body>
</html>
