<!--账户安全等级-->
<ul class="icon2_ul1">
#if(${starYellow} && ${starGray})
	#if(${starYellow} > 0)
		#foreach($!{i} in [1..$!{starYellow}])
		<li class="certified"></li>
		#end
	#end
	#if(${starGray} > 0)
		#foreach($!{i} in [1..$!{starGray}])
		<li class="noimg"></li>
		#end
	#end
#else
	#foreach($!{i} in [1..5])
		<li class="noimg"></li>
	#end
#end
</ul>