<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.emailmanage.EmailmanageMapper">
	<resultMap id="BaseResultMap" type="com.tzg.entitys.emailmanage.Emailmanage">
		<result property="id" jdbcType="INTEGER" column="id" />
		<result property="vcTitle" jdbcType="VARCHAR" column="vcTitle" />
		<result property="vcContent" jdbcType="LONGVARCHAR" column="vcContent" />
		<result property="itype" jdbcType="INTEGER" column="iType" />
		<result property="istate" jdbcType="INTEGER" column="iState" />
		<result property="dtCreate" jdbcType="TIMESTAMP" column="dtCreate" />
		<result property="dtPublish" jdbcType="TIMESTAMP" column="dtPublish" />
		<result property="imaxId" jdbcType="INTEGER" column="iMaxID" />
		<result property="icurrentId" jdbcType="INTEGER" column="iCurrentID" />
		<result property="dtRegisterStart" jdbcType="TIMESTAMP" column="dtRegisterStart" />
		<result property="dtRegisterEnd" jdbcType="TIMESTAMP" column="dtRegisterEnd" />
		<result property="dtLastLoginStart" jdbcType="TIMESTAMP"
			column="dtLastLoginStart" />
		<result property="dtLastLoginEnd" jdbcType="TIMESTAMP" column="dtLastLoginEnd" />
		<result property="dtLastRechargeStart" jdbcType="TIMESTAMP"
			column="dtLastRechargeStart" />
		<result property="dtLastRechargeEnd" jdbcType="TIMESTAMP"
			column="dtLastRechargeEnd" />
		<result property="dtLastInvestStart" jdbcType="TIMESTAMP"
			column="dtLastInvestStart" />
		<result property="dtLastInvestEnd" jdbcType="TIMESTAMP" column="dtLastInvestEnd" />
		<result property="minTotalRecharge" jdbcType="DECIMAL" column="minTotalRecharge" />
		<result property="maxTotalRecharge" jdbcType="DECIMAL" column="maxTotalRecharge" />
		<result property="minTotalInvest" jdbcType="DECIMAL" column="minTotalInvest" />
		<result property="maxTotalInvest" jdbcType="DECIMAL" column="maxTotalInvest" />
		<result property="minTotalBalance" jdbcType="DECIMAL" column="minTotalBalance" />
		<result property="maxTotalBalance" jdbcType="DECIMAL" column="maxTotalBalance" />
		<result property="sType" jdbcType="INTEGER" column="sType" />
		<result property="dtSend" jdbcType="TIMESTAMP" column="dtSend" />
	</resultMap>

	<sql id="columns">
	    <![CDATA[
        id ,vcTitle ,vcContent ,iType ,iState ,dtCreate ,dtPublish ,iMaxID ,iCurrentID,dtRegisterStart,dtRegisterEnd,dtLastLoginStart,
         dtLastLoginEnd,dtLastRechargeStart,dtLastRechargeEnd,dtLastInvestStart,dtLastInvestEnd,minTotalRecharge,maxTotalRecharge,minTotalInvest,
         maxTotalInvest,minTotalBalance,maxTotalBalance,sType,dtSend
	    ]]>
	</sql>

	<insert id="save" parameterType="com.tzg.entitys.emailmanage.Emailmanage"
		useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
	<![CDATA[
		INSERT INTO tbemailmanage (
        	vcTitle ,
        	vcContent ,
        	iType ,
        	iState ,
        	dtCreate ,
        	dtPublish ,
        	iMaxID ,
        	iCurrentID,
        	dtRegisterStart,
        	dtRegisterEnd,
        	dtLastLoginStart,
            dtLastLoginEnd,
            dtLastRechargeStart,
            dtLastRechargeEnd,
            dtLastInvestStart,
            dtLastInvestEnd,
            minTotalRecharge,
            maxTotalRecharge,
            minTotalInvest,
            maxTotalInvest,
            minTotalBalance,
            maxTotalBalance,
            sType,
            dtSend 
		) VALUES (
        	#{vcTitle,jdbcType=VARCHAR} ,
        	#{vcContent,jdbcType=LONGVARCHAR} ,
        	#{itype,jdbcType=INTEGER} ,
        	#{istate,jdbcType=INTEGER} ,
        	#{dtCreate,jdbcType=TIMESTAMP} ,
        	#{dtPublish,jdbcType=TIMESTAMP} ,
        	#{imaxId,jdbcType=INTEGER} ,
        	#{icurrentId,jdbcType=INTEGER}, 
        	#{dtRegisterStart,jdbcType=TIMESTAMP}, 
        	#{dtRegisterEnd,jdbcType=TIMESTAMP}, 
        	#{dtLastLoginStart,jdbcType=TIMESTAMP}, 
        	#{dtLastLoginEnd,jdbcType=TIMESTAMP}, 
        	#{dtLastRechargeStart,jdbcType=TIMESTAMP}, 
        	#{dtLastRechargeEnd,jdbcType=TIMESTAMP}, 
        	#{dtLastInvestStart,jdbcType=TIMESTAMP}, 
        	#{dtLastInvestEnd,jdbcType=TIMESTAMP}, 
        	#{minTotalRecharge,jdbcType=DECIMAL}, 
        	#{maxTotalRecharge,jdbcType=DECIMAL}, 
        	#{minTotalInvest,jdbcType=DECIMAL}, 
        	#{maxTotalInvest,jdbcType=DECIMAL}, 
        	#{minTotalBalance,jdbcType=DECIMAL}, 
        	#{maxTotalBalance,jdbcType=DECIMAL}, 
        	#{sType,jdbcType=INTEGER}, 
        	#{dtSend,jdbcType=TIMESTAMP}
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.emailmanage.Emailmanage">
		UPDATE tbemailmanage
		<set>
			<if test="vcTitle != null">
				vcTitle = #{vcTitle,jdbcType=VARCHAR} ,
			</if>
			<if test="vcContent != null">
				vcContent = #{vcContent,jdbcType=LONGVARCHAR} ,
			</if>
			<if test="itype != null">
				iType = #{itype,jdbcType=INTEGER} ,
			</if>
			<if test="istate != null">
				iState = #{istate,jdbcType=INTEGER} ,
			</if>
			<if test="dtCreate != null">
				dtCreate = #{dtCreate,jdbcType=TIMESTAMP} ,
			</if>
			<if test="dtPublish != null">
				dtPublish = #{dtPublish,jdbcType=TIMESTAMP} ,
			</if>
			<if test="imaxId != null">
				iMaxID = #{imaxId,jdbcType=INTEGER} ,
			</if>
			<if test="icurrentId != null">
				iCurrentID = #{icurrentId,jdbcType=INTEGER},
			</if>
			<if test="dtRegisterStart != null">
				dtRegisterStart = #{dtRegisterStart,jdbcType=TIMESTAMP},
			</if>
			<if test="dtRegisterEnd != null">
				dtRegisterEnd = #{dtRegisterEnd,jdbcType=TIMESTAMP},
			</if>
			<if test="dtLastLoginStart != null">
				dtLastLoginStart =
				#{dtLastLoginStart,jdbcType=TIMESTAMP},
			</if>
			<if test="dtLastLoginEnd !=null">
				dtLastLoginEnd = #{dtLastLoginEnd,jdbcType=TIMESTAMP},
			</if>
			<if test="dtLastRechargeStart !=null">
				dtLastRechargeStart =
				#{dtLastRechargeStart,jdbcType=TIMESTAMP},
			</if>
			<if test="dtLastRechargeEnd !=null">
				dtLastRechargeEnd =
				#{dtLastRechargeEnd,jdbcType=TIMESTAMP},
			</if>
			<if test="dtLastInvestStart !=null">
				dtLastInvestStart =
				#{dtLastInvestStart,jdbcType=TIMESTAMP},
			</if>
			<if test="dtLastInvestEnd !=null">
				dtLastInvestEnd = #{dtLastInvestEnd,jdbcType=TIMESTAMP},
			</if>
			<if test="minTotalRecharge !=null">
				minTotalRecharge = #{minTotalRecharge,jdbcType=DECIMAL},
			</if>
			<if test="maxTotalRecharge !=null">
				maxTotalRecharge = #{maxTotalRecharge,jdbcType=DECIMAL},
			</if>
			<if test="minTotalInvest !=null">
				minTotalInvest = #{minTotalInvest,jdbcType=DECIMAL},
			</if>
			<if test="maxTotalInvest !=null">
				maxTotalInvest = #{maxTotalInvest,jdbcType=DECIMAL},
			</if>
			<if test="minTotalBalance !=null">
				minTotalBalance = #{minTotalBalance,jdbcType=DECIMAL},
			</if>
			<if test="maxTotalBalance !=null">
				maxTotalBalance = #{maxTotalBalance,jdbcType=DECIMAL},
			</if>
			<if test="sType !=null">
				sType=#{sType,jdbcType=INTEGER},
			</if>
			<if test="dtSend !=null">
				dtSend = #{dtSend,jdbcType=TIMESTAMP}
			</if>
		</set>
		WHERE
		id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateAll" parameterType="com.tzg.entitys.emailmanage.Emailmanage">
		UPDATE tbemailmanage
		SET
		vcTitle = #{vcTitle,jdbcType=VARCHAR} ,
		vcContent = #{vcContent,jdbcType=LONGVARCHAR} ,
		iType = #{itype,jdbcType=INTEGER} ,
		iState = #{istate,jdbcType=INTEGER} ,
		dtCreate = #{dtCreate,jdbcType=TIMESTAMP} ,
		dtPublish = #{dtPublish,jdbcType=TIMESTAMP} ,
		iMaxID = #{imaxId,jdbcType=INTEGER} ,
		iCurrentID = #{icurrentId,jdbcType=INTEGER},
		dtRegisterStart = #{dtRegisterStart,jdbcType=TIMESTAMP},
		dtRegisterEnd = #{dtRegisterEnd,jdbcType=TIMESTAMP},
		dtLastLoginStart =
		#{dtLastLoginStart,jdbcType=TIMESTAMP},
		dtLastLoginEnd = #{dtLastLoginEnd,jdbcType=TIMESTAMP},
		dtLastRechargeStart =
		#{dtLastRechargeStart,jdbcType=TIMESTAMP},
		dtLastRechargeEnd =
		#{dtLastRechargeEnd,jdbcType=TIMESTAMP},
		dtLastInvestStart =
		#{dtLastInvestStart,jdbcType=TIMESTAMP},
		dtLastInvestEnd = #{dtLastInvestEnd,jdbcType=TIMESTAMP},
		minTotalRecharge = #{minTotalRecharge,jdbcType=DECIMAL},
		maxTotalRecharge = #{maxTotalRecharge,jdbcType=DECIMAL},
		minTotalInvest = #{minTotalInvest,jdbcType=DECIMAL},
		maxTotalInvest = #{maxTotalInvest,jdbcType=DECIMAL},
		minTotalBalance = #{minTotalBalance,jdbcType=DECIMAL},
		maxTotalBalance = #{maxTotalBalance,jdbcType=DECIMAL},
		sType=#{sType,jdbcType=INTEGER},
		dtSend = #{dtSend,jdbcType=TIMESTAMP}
		WHERE
		id = #{id,jdbcType=INTEGER}
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM tbemailmanage WHERE
        id = #{id} 
	]]>
	</delete>

	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT
		<include refid="columns" /> 
	<![CDATA[
		FROM tbemailmanage 
		WHERE 
        id = #{id} 
	]]>
	</select>

	<select id="findPageCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(*) from tbemailmanage where 1=1
		<include refid="queryWhere" />
	</select>

	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="columns" />
		from tbemailmanage where 1=1
		<include refid="queryWhere" /> 
	    <![CDATA[ ORDER BY id DESC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>

	<sql id="queryWhere">
		<if test="id != null and id.trim() != ''">
			and id = #{id}
		</if>
		<if test="vcTitle != null and vcTitle.trim() != ''">
			and vcTitle like "%"#{vcTitle}"%"
		</if>
		<if test="vcContent != null and vcContent.trim() != ''">
			and vcContent = #{vcContent}
		</if>
		<if test="itype != null and itype.trim() != ''">
			and iType = #{itype}
		</if>
		<if test="istate != null and istate.trim() != ''">
			and iState = #{istate}
		</if>
		<if test="dtCreateBegin != null and dtCreateBegin.trim() != ''">
			and dtCreate >= #{dtCreateBegin}
		</if>
		<if test="dtCreateEnd != null and dtCreateEnd.trim() != ''">
			and dtCreate &lt;= #{dtCreateEnd}
		</if>
		<if test="dtPublishBegin != null and dtPublishBegin.trim() != ''">
			and dtPublish >= #{dtPublishBegin}
		</if>
		<if test="dtPublishEnd != null and dtPublishEnd.trim() != ''">
			and dtPublish &lt;= #{dtPublishEnd}
		</if>
		<if test="imaxId != null and imaxId.trim() != ''">
			and iMaxID = #{imaxId}
		</if>
		<if test="icurrentId != null and icurrentId.trim() != ''">
			and iCurrentID = #{icurrentId}
		</if>
	</sql>
</mapper>


