<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            
            //删除确认框
            function delFun(id){
            	var flag = confirm("确认删除该记录？")
            	if (flag == true){
            		window.location.href="${www}/approvalflows/delete?id=" + id;
            	}   
            }
            
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="$!{www}/main">主页</a>
            </li>

            <li>
                <a href="${www}/approvalflows">审批流程列表</a>
            </li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>审批流程列表</h1>
        </div>
        <div class="container-fluid">
        
       #if(${msg})
        	<div>
			#if(${success})
        		<li class="text-success">$!{msg}</li>
   			 #else
        		<li class="text-danger">$!{msg}</li>
   			 #end    	
   			</div>
   		#end	
        
            <div class="dataTables_wrapper">
                <div class="row">
                    <div class="col-sm-10">
                    	<!--
                    		<form class="form-inline" role="form">
                            <div class="form-group">
                                <label>审批流程名称：</label>
                                <input type="text" name="vcName" value="$!{vcName}">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-xs btn-primary" type="submit">查询</button>
                            </div>
                        </form>
                    	-->
                    </div>
                    <div class="col-sm-2 text-right">
                        <a href="${www}/approvalflows/new" class="btn btn-success btn-xs">添加</a>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                    <tr>
                        <th>类型</th>
                        <th>审批流程</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($row in $result.rows)
                        <tr>
                        	<td>  
                        		#if($!{row.vcApprovalType} == 1)
                        			项目审核
                        		#elseif($!{row.vcApprovalType} == 2)
                        			红包审核
                        		#elseif($!{row.vcApprovalType} == 3)
                        			借款人还款
                        		#elseif($!{row.vcApprovalType} == 4)
                        			借款人补还     
                        		#elseif($!{row.vcApprovalType} == 5)
                        			借款人提现    
                        		#elseif($!{row.vcApprovalType} == 6)
                        			投资人提现退款 
                        		#elseif($!{row.vcApprovalType} == 7)
                        			用户冻结解冻  
                        		#elseif($!{row.vcApprovalType} == 8)
                        			投资人手机号码更换                           			                             			                           			                   			                        			
                        		#elseif($!{row.vcApprovalType} == 9)
                        			投资人身份认证                            			   
                        		#elseif($!{row.vcApprovalType} == 10)
                        			投资人提现金额转移                            			   
                        		#elseif($!{row.vcApprovalType} == 11)
                        			投资人绑卡删除 
                        		#elseif($!{row.vcApprovalType} == 12) 
                        			平台与备用金的充值及提现  
								#elseif($!{row.vcApprovalType} == 13) 
                        			投资公司充值   
								#elseif($!{row.vcApprovalType} == 14) 
                        			投资公司提现            
                        		#elseif($!{row.vcApprovalType} == 15) 
                        			活期宝审批                                    			   
								#elseif($!{row.vcApprovalType} == 16) 
                        			人人赚佣金
                        		#elseif($!{row.vcApprovalType} == 17) 
                        			加息券活动审核            
                        		#end
                        	</td>
                            <td> $!{row.vcApprovalFlow} </td>
                            <td>
                            	<a href="${www}/approvalflows/edit?id=${row.id}">修改</a>
                            </td>
                        </tr>
	                        #end
                    </tbody></table>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="dataTables_paginate paging_bootstrap">
                            <ul class="pagination">
                                #set($pageRequestURL="${www}/approvalflows?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end")
                                #paginationHelper($result $pageRequestURL)
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->
