<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="$!{www}/main">主页</a>
            </li>

            <li>
                <a href="${www}/approvalflows">审批流程列表</a>
            </li>
            <li class="active">新增审批流程</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="icon-search nav-search-icon"></i>
						</span>
            </form>
        </div><!-- #nav-search -->
    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>新增审批流程</h1>
        </div>
        
                           		#if(${msg})
        	<div>
			#if(${success})
        		<li class="text-success">$!{msg}</li>
   			 #else
        		<li class="text-danger">$!{msg}</li>
   			 #end    	
   			</div>
   		#end	
        
        <form id="inputForm" action="${www}/approvalflows/save" method="post" class="form-horizontal">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">类型：</label>
                        <div class="col-md-8 col-sm-8">
                            <select class="col-sm-12" name="vcApprovalType" id="vcApprovalType">
                                <option value="1" #if($approvalFlow.vcApprovalType ==1) selected #end>项目审核</option>
                                <option value="2" #if($approvalFlow.vcApprovalType ==2) selected #end>红包审核</option>
                                <option value="3" #if($approvalFlow.vcApprovalType ==3) selected #end>借款人还款</option>
                                <option value="4" #if($approvalFlow.vcApprovalType ==4) selected #end>借款人补还</option>
                                <option value="5" #if($approvalFlow.vcApprovalType ==5) selected #end>借款人提现</option>  
                                <option value="6" #if($approvalFlow.vcApprovalType ==6) selected #end>投资人提现退款</option> 
                                <option value="7" #if($approvalFlow.vcApprovalType ==7) selected #end>用户冻结解冻</option>
                                <option value="8" #if($approvalFlow.vcApprovalType ==8) selected #end>投资人手机号码更换</option>
                                <option value="9" #if($approvalFlow.vcApprovalType ==9) selected #end>投资人身份认证</option>
                                <option value="10" #if($approvalFlow.vcApprovalType ==10) selected #end>投资人提现金额转移</option>
                                <option value="11" #if($approvalFlow.vcApprovalType ==11) selected #end>投资人绑卡删除 </option>
                                <option value="12" #if($approvalFlow.vcApprovalType ==12) selected #end>平台与备用金的充值及提现</option> 
								<option value="13" #if($approvalFlow.vcApprovalType ==13) selected #end>投资公司充值</option>
								<option value="14" #if($approvalFlow.vcApprovalType ==14) selected #end>投资公司提现</option>
                                <option value="15" #if($approvalFlow.vcApprovalType ==15) selected #end>活期宝审批</option>                                               
								<option value="16" #if($approvalFlow.vcApprovalType ==16) selected #end>人人赚佣金</option>
								<option value="17" #if($approvalFlow.vcApprovalType ==17) selected #end>加息券活动审核</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">审批流程：</label>
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="col-sm-12" id="vcApprovalFlow" name="vcApprovalFlow"
                        	      value="$!{approvalFlow.vcApprovalFlow}">
                        	      &nbsp;&nbsp;说明：该输入框填写审核等级列表中主键值，多个值用英文分号分隔，如：2;3
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-2 control-label">审批等级列表：</label>
                        <div class="col-md-8 col-sm-8">
                            <table class="table table-striped table-bordered  dataTable">
                            <thead>
                            	<tr>
                            		<th>
                            			主键
	                            	</th>
                            		<th>
                            			审核等级
	                            	</th>
                            	</tr>
                            	</thead>
                            	<tbody>
                            	#foreach($!rat in $!ratList)
                            		<tr>
                            		   <td>$!rat.id</td>
	                            	   <td>$!rat.vcApprovalName</td>
	                            	</tr>
                            	#end
                            	</tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-sm-offset-2 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                提交
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn" type="button" onclick="javascript:history.go(-1);">
                <i class="icon-ok bigger-110"></i> 返回
            </button>
        </div>
    </div>
    </form>
</div><!-- /.page-content -->
</div><!-- /.main-content -->
    