<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzg.entitys.uploadfile.UploadfileMapper">	
	<resultMap id="BaseResultMap" type="com.tzg.entitys.uploadfile.Uploadfile">
		<result property="id" jdbcType="INTEGER" column="id"/>
		<result property="itype" jdbcType="INTEGER" column="iType"/>
		<result property="vcName" jdbcType="VARCHAR" column="vcName"/>
		<result property="vcOrnName" jdbcType="VARCHAR" column="vcOrnName"/>
		<result property="vcUrl" jdbcType="VARCHAR" column="vcUrl"/>
		<result property="blobSource" jdbcType="LONGVARBINARY" column="blobSource"/>
		<result property="istate" jdbcType="INTEGER" column="iState"/>
		<result property="dtCreate" jdbcType="TIMESTAMP" column="dtCreate"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        id ,iType ,vcName ,vcOrnName ,vcUrl ,blobSource ,iState ,dtCreate 
	    ]]>
	</sql>
	
		<sql id="columns_no_longblob">
	    <![CDATA[
        id ,iType ,vcName ,vcOrnName ,vcUrl ,iState ,dtCreate 
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.tzg.entitys.uploadfile.Uploadfile" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
	      SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	<![CDATA[
		INSERT INTO tbuploadfile (
        	iType ,
        	vcName ,
        	vcOrnName ,
        	vcUrl ,
        	iState ,
        	dtCreate 
		) VALUES (
        	#{itype,jdbcType=INTEGER} ,
        	#{vcName,jdbcType=VARCHAR} ,
        	#{vcOrnName,jdbcType=VARCHAR} ,
        	#{vcUrl,jdbcType=VARCHAR} ,
        	#{istate,jdbcType=INTEGER} ,
        	#{dtCreate,jdbcType=TIMESTAMP} 
		)
	]]>
	</insert>

	<update id="update" parameterType="com.tzg.entitys.uploadfile.Uploadfile">
		UPDATE tbuploadfile
		<set>
			<if test="itype != null">
	        iType = #{itype,jdbcType=INTEGER} ,
	        </if>
			<if test="vcName != null">
	        vcName = #{vcName,jdbcType=VARCHAR} ,
	        </if>
			<if test="vcOrnName != null">
	        vcOrnName = #{vcOrnName,jdbcType=VARCHAR} ,
	        </if>
			<if test="vcUrl != null">
	        vcUrl = #{vcUrl,jdbcType=VARCHAR} ,
	        </if>
			<if test="istate != null">
	        iState = #{istate,jdbcType=INTEGER} ,
	        </if>
			<if test="dtCreate != null">
	        dtCreate = #{dtCreate,jdbcType=TIMESTAMP} 
	        </if>
	    </set>
		WHERE 
	        id = #{id,jdbcType=INTEGER} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM tbuploadfile WHERE
        id = #{id} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM tbuploadfile 
		WHERE 
        id = #{id} 
	]]>
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from tbuploadfile where 1=1 and iType  not in (1,2,5,6,10,11,12)
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns_no_longblob"/>  from tbuploadfile where 1=1  and iType  not in (1,2,5,6,10,11,12)
		<include refid="queryWhere"/> 
	    <![CDATA[ ORDER BY id DESC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
	
	<sql id="queryWhere">
		<if test="id != null and id.trim() != ''">
		and id = #{id}
		</if>
		<if test="itype != null and itype.trim() != ''">
		and iType = #{itype}
		</if>
		<if test="vcName != null and vcName.trim() != ''">
		and vcName = #{vcName}
		</if>
		<if test="vcOrnName != null and vcOrnName.trim() != ''">
		and vcOrnName = #{vcOrnName}
		</if>
		<if test="vcUrl != null and vcUrl.trim() != ''">
		and vcUrl = #{vcUrl}
		</if>
		<if test="istate != null and istate.trim() != ''">
		and iState = #{istate}
		</if>
		<if test="dtCreateBegin != null and dtCreateBegin.trim() != ''">
		and dtCreate >= #{dtCreateBegin}
		</if>
		<if test="dtCreateEnd != null and dtCreateEnd.trim() != ''">
		and dtCreate &lt;= #{dtCreateEnd}
		</if>
	</sql>
	
	<select id="queryUploadFileByVcUrl" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="columns"/>
		from tbuploadfile
		where vcUrl = #{vcUrl,jdbcType=VARCHAR}
	</select>
	
	<select id="findPageNotSyncCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from tbuploadfile where 1=1
		<include refid="queryWhere"/>
	</select>
	<select id="findNotSyncPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from tbuploadfile where 1=1
		<include refid="queryWhere"/> 
	    <![CDATA[ ORDER BY id DESC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
	
	
</mapper>


